Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

Create namespaces.
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/component/TableOperationsFixtures.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/component/TableOperationsSuite.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/component/TableOperationsTestHarness.kt
Due: addlicense, spotless

fix failing pre release checks and image test
  airbyte-integrations/connectors/destination-snowflake-cortex/destination_snowflake_cortex/run.py
  airbyte-integrations/connectors/destination-snowflake-cortex/pyproject.toml
Due: addlicense

Fix namespace
  airbyte-integrations/connectors/destination-postgres/src/test-integration/kotlin/io/airbyte/integrations/destination/postgres/PostgresContainerHelper.kt
Due: addlicense, spotless

Don't forget to drop the namespaces.
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/component/TableOperationsSuite.kt
Due: addlicense, spotless

update python version constraint to satisfy pre-release checks
  airbyte-integrations/connectors/destination-pinecone/poetry.lock
  airbyte-integrations/connectors/destination-pinecone/pyproject.toml
Due: none

Empty ensure schema match instead of a failure
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/client/PostgresAirbyteClient.kt
Due: addlicense, spotless

docs: add CDC Best Practices guide (#68086)
  docs/platform/understanding-airbyte/cdc-best-practices.md
  docs/vale-styles/airbyte/casing-lists.yml
  docs/vale-styles/airbyte/casing.yml
  docusaurus/platform_versioned_docs/version-1.8/understanding-airbyte/cdc-best-practices.md
  docusaurus/platform_versioned_sidebars/version-1.8-sidebars.json
  docusaurus/sidebar-platform.js
Due: none

feat: Create source and destination biggeo connectors
  airbyte-integrations/connectors/destination-biggeo/.gitignore
  airbyte-integrations/connectors/destination-biggeo/README.md
  airbyte-integrations/connectors/destination-biggeo/acceptance-test-config.yml
  airbyte-integrations/connectors/destination-biggeo/destination_biggeo/__init__.py
  airbyte-integrations/connectors/destination-biggeo/destination_biggeo/destination.py
  airbyte-integrations/connectors/destination-biggeo/destination_biggeo/run.py
  airbyte-integrations/connectors/destination-biggeo/destination_biggeo/spec.json
  airbyte-integrations/connectors/destination-biggeo/icon.svg
  airbyte-integrations/connectors/destination-biggeo/integration_tests/config.json
  airbyte-integrations/connectors/destination-biggeo/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/destination-biggeo/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-biggeo/integration_tests/invalid_config.json
  airbyte-integrations/connectors/destination-biggeo/integration_tests/messages.jsonl
  airbyte-integrations/connectors/destination-biggeo/integration_tests/spec.json
  airbyte-integrations/connectors/destination-biggeo/main.py
  airbyte-integrations/connectors/destination-biggeo/metadata.yaml
  airbyte-integrations/connectors/destination-biggeo/pyproject.toml
  airbyte-integrations/connectors/destination-biggeo/unit_tests/unit_test.py
  airbyte-integrations/connectors/source-biggeo/.gitignore
  airbyte-integrations/connectors/source-biggeo/README.md
  airbyte-integrations/connectors/source-biggeo/acceptance-test-config.yml
  airbyte-integrations/connectors/source-biggeo/icon.svg
  airbyte-integrations/connectors/source-biggeo/integration_tests/__init__.py
  airbyte-integrations/connectors/source-biggeo/integration_tests/config.json
  airbyte-integrations/connectors/source-biggeo/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-biggeo/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-biggeo/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-biggeo/main.py
  airbyte-integrations/connectors/source-biggeo/metadata.yaml
  airbyte-integrations/connectors/source-biggeo/poetry.lock
  airbyte-integrations/connectors/source-biggeo/pyproject.toml
  airbyte-integrations/connectors/source-biggeo/source_biggeo/__init__.py
  airbyte-integrations/connectors/source-biggeo/source_biggeo/run.py
  airbyte-integrations/connectors/source-biggeo/source_biggeo/source.py
  airbyte-integrations/connectors/source-biggeo/source_biggeo/spec.json
  airbyte-integrations/connectors/source-biggeo/unit_tests/__init__.py
  airbyte-integrations/connectors/source-biggeo/unit_tests/unit_test.py
Due: addlicense

Bmoric/postgres value coercer (#68126)
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/write/transform/PostgresValueCoercer.kt
  airbyte-integrations/connectors/destination-postgres/src/test/kotlin/io/airbyte/integrations/destination/postgres/write/transform/PostgresValueCoercerTest.kt
Due: addlicense, spotless

fix: sonar operator mcp docs not appearing in sidebar
  docusaurus/sidebar-ai-agents.js
Due: none

Refactor: Separate Interface Concerns & Add Table Component Tests (#67624)
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/core/load/build.gradle
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/component/TableOperationsClient.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/component/TableSchemaEvolutionClient.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/table/ColumnNameMapping.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/table/ColumnsConstants.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/table/TableName.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/table/TableSuffixes.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/component/TableOperationsFixtures.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/component/TableOperationsSuite.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/component/TableOperationsTestHarness.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/component/config/TestConfigLoader.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/client/AirbyteClient.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/DatabaseInitialStatusGatherer.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/DestinationNames.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadSqlGenerator.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableExecutionConfig.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableOperations.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableStreamLoader.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableWriter.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/legacy_typing_deduping/TableCatalogFactory.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/legacy_typing_deduping/TypingDedupingFinalTableOperations.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/legacy_typing_deduping/TypingDedupingRawTableOperations.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/legacy_typing_deduping/TypingDedupingSqlGenerator.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/legacy_typing_deduping/TypingDedupingStreamLoader.kt
  airbyte-cdk/bulk/toolkits/load-db/src/test/kotlin/io/airbyte/cdk/load/toolkits/load/db/orchestration/DefaultTempTableNameGeneratorTest.kt
  airbyte-cdk/bulk/toolkits/load-db/src/test/kotlin/io/airbyte/cdk/load/toolkits/load/db/orchestration/TableCatalogFactoryTest.kt
  airbyte-cdk/bulk/version.properties
Due: addlicense, spotless

fix version constraint to satisfy pre-release check
  airbyte-integrations/connectors/destination-pinecone/poetry.lock
  airbyte-integrations/connectors/destination-pinecone/pyproject.toml
Due: none

fix failing pre-release check
  airbyte-integrations/connectors/destination-snowflake-cortex/poetry.lock
  airbyte-integrations/connectors/destination-snowflake-cortex/pyproject.toml
Due: none

Revert "Revert CH."
  airbyte-integrations/connectors/destination-clickhouse/metadata.yaml
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/client/ClickhouseAirbyteClient.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/client/ClickhouseSqlGenerator.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/config/ClickhouseDirectLoadDatabaseInitialStatusGatherer.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/config/ClickhouseNameGenerators.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/BinaryRowInsertBuffer.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/component/ClickhouseTableOperationsTest.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/component/config/ComponentTestConfigFactory.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test/kotlin/io/airbyte/integrations/destination/clickhouse/client/ClickhouseAirbyteClientTest.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test/kotlin/io/airbyte/integrations/destination/clickhouse/client/ClickhouseSqlGeneratorTest.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/BinaryRowInsertBufferTest.kt
Due: addlicense, spotless

Bump connectorIPCOptions to 0.0.2
  airbyte-integrations/connectors/source-mysql/metadata.yaml
Due: none

fix failing pre-release checks and image test
  airbyte-integrations/connectors/destination-weaviate/destination_weaviate/run.py
  airbyte-integrations/connectors/destination-weaviate/poetry.lock
Due: addlicense

update license in pyproject tonl
  airbyte-integrations/connectors/destination-weaviate/pyproject.toml
Due: none

Bump connectorIPCOptions to 0.0.2
  airbyte-integrations/connectors/source-mysql/gradle.properties
Due: none

Rev version fix metadata defined secret name.
  airbyte-integrations/connectors/destination-clickhouse/gradle.properties
  airbyte-integrations/connectors/destination-clickhouse/metadata.yaml
  docs/integrations/destinations/clickhouse.md
Due: none

Bmoric/postgres acceptance test fixes (#68142)
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/client/PostgresAirbyteClient.kt
  airbyte-integrations/connectors/destination-postgres/src/test-integration/kotlin/io/airbyte/integrations/destination/postgres/PostgresContainerHelper.kt
Due: addlicense, spotless

Bump CDK version
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/version.properties
Due: none

Bump CDK version
  airbyte-integrations/connectors/source-mysql/gradle.properties
Due: none

fix failing test by properly classifying transient errors
  airbyte-integrations/connectors/source-salesforce/unit_tests/integration/test_source.py
Due: addlicense

Save work.
  airbyte-integrations/connectors/destination-bigquery/gradle.properties
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadDatabaseInitialStatusGatherer.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadNativeTableOperations.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadSqlTableOperations.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryTableOperationsClient.kt
Due: addlicense, spotless

Add ldap3 dependency for LDAP support in Active Directory connector
  airbyte-integrations/connectors/source-active-directory/poetry.lock
  airbyte-integrations/connectors/source-active-directory/pyproject.toml
Due: none

add missing part of the url
  docs/ai-agents/embedded/widget/quickstart.md
Due: none

🐙 destination-pinecone: run up-to-date pipeline [2025-10-14] (#61096)
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/run.py
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/poetry.lock
  airbyte-integrations/connectors/destination-pinecone/pyproject.toml
  docs/integrations/destinations/pinecone.md
Due: addlicense

🐙 destination-snowflake-cortex: run up-to-date pipeline [2025-10-14] (#63066)
  airbyte-integrations/connectors/destination-snowflake-cortex/destination_snowflake_cortex/run.py
  airbyte-integrations/connectors/destination-snowflake-cortex/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake-cortex/poetry.lock
  airbyte-integrations/connectors/destination-snowflake-cortex/pyproject.toml
  docs/integrations/destinations/snowflake-cortex.md
Due: addlicense

🐙 destination-weaviate: run up-to-date pipeline [2025-09-16] (#61103)
  airbyte-integrations/connectors/destination-weaviate/destination_weaviate/run.py
  airbyte-integrations/connectors/destination-weaviate/metadata.yaml
  airbyte-integrations/connectors/destination-weaviate/poetry.lock
  airbyte-integrations/connectors/destination-weaviate/pyproject.toml
  docs/integrations/destinations/weaviate.md
Due: addlicense

fix url in embedded quickstart (#68145)
  docs/ai-agents/embedded/widget/quickstart.md
Due: none

upgrade to latest cdk
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/check/SnowflakeChecker.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/dataflow/SnowflakeAggregateFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/db/SnowflakeDirectLoadDatabaseInitialStatusGatherer.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/db/SnowflakeNameGenerators.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeColumnUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeSqlNameUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeDataDumper.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClientTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/dataflow/SnowflakeAggregateFactoryTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeColumnUtilsTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeSqlNameUtilsTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeWriterTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBufferTest.kt
Due: addlicense, spotless

Tmp some fixes
  airbyte-integrations/connectors/destination-postgres/src/test-integration/kotlin/io/airbyte/integrations/destination/postgres/write/PostgresAcceptanceTest.kt
Due: addlicense, spotless

logistics
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/snowflake.md
Due: none

Add truncated date format for Square connector
  airbyte-integrations/connectors/source-square/manifest.yaml
Due: none

Update metadata.yaml - increment docker image tag
  airbyte-integrations/connectors/source-square/metadata.yaml
Due: none

Update imports.
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryBeansFactory.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/formatter/BigQueryRecordFormatter.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/formatter/ProtoToBigQueryStandardInsertRecordFormatter.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/BigqueryNameGenerators.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryTableOperationsClient.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryTableSchemaEvolutionClient.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/legacy_raw_tables/BigqueryRawTableOperations.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/legacy_raw_tables/BigqueryTypingDedupingDatabaseInitialStatusGatherer.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/formatter/ProtoToBigQueryStandardInsertRecordFormatterTest.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/typing_deduping/direct_load_tables/BigqueryDirectLoadNativeTableOperationsTest.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/typing_deduping/direct_load_tables/BigqueryDirectLoadSqlGeneratorTest.kt
Due: addlicense, spotless

Destination Snowflake: upgrade to latest cdk (#68148)
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/check/SnowflakeChecker.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/dataflow/SnowflakeAggregateFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/db/SnowflakeDirectLoadDatabaseInitialStatusGatherer.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/db/SnowflakeNameGenerators.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeColumnUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeSqlNameUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeDataDumper.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClientTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/dataflow/SnowflakeAggregateFactoryTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeColumnUtilsTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeSqlNameUtilsTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeWriterTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBufferTest.kt
  docs/integrations/destinations/snowflake.md
Due: addlicense, spotless

Handle multi-socket race condition
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/CdcPartitionReader.kt
  airbyte-integrations/connectors/source-mssql/gradle.properties
Due: addlicense, spotless

Adjust timeout so tests can wake the instance.
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/config/ClickhouseBeanFactory.kt
Due: addlicense, spotless

Keep the AI agents menu separate from developers
  docusaurus/docusaurus.config.js
  docusaurus/src/data/embedded_api_spec.json
Due: none
