Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

docs: move 'How authentication works' section above Troubleshooting in MCP server docs
  docs/ai-agents/mcp-server/readme.md
Due: none

fix: Source-MySql - Handle sentinel values in GUID columns during partition
  airbyte-integrations/connectors/source-mysql/gradle.properties
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceJdbcPartitionFactory.kt
  airbyte-integrations/connectors/source-mysql/src/test/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceJdbcPartitionFactoryTest.kt
  docs/integrations/sources/mysql.md
Due: addlicense, spotless

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceJdbcPartitionFactory.kt
  airbyte-integrations/connectors/source-mysql/src/test/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceJdbcPartitionFactoryTest.kt
Due: addlicense, spotless

update changelog
  docs/integrations/sources/mysql.md
Due: none

test: add e2e test verifying API call reduction + clarify spec description for null/absent reply_count
  airbyte-integrations/connectors/source-slack/manifest.yaml
  airbyte-integrations/connectors/source-slack/unit_tests/test_streams.py
Due: addlicense

style: fix ruff-format list comprehension formatting
  airbyte-integrations/connectors/source-slack/unit_tests/test_streams.py
Due: addlicense

docs: move "How authentication works" above Troubleshooting in MCP server docs (#76049)
  docs/ai-agents/mcp-server/readme.md
Due: none

fix(source-harvest): Comment out api_budget per reviewer feedback
  airbyte-integrations/connectors/source-harvest/manifest.yaml
  airbyte-integrations/connectors/source-harvest/unit_tests/mock_server/test_api_budget_and_concurrency.py
  docs/integrations/sources/harvest.md
Due: addlicense

docs(source-slack): fix typos, incorrect FieldAnchor, wrong default, missing scope, and changelog date
  docs/integrations/sources/slack.md
Due: none

fix(source-harvest): Use RC prerelease increment 1.2.32-rc.2 instead of 1.3.0-rc.1
  airbyte-integrations/connectors/source-harvest/metadata.yaml
  docs/integrations/sources/harvest.md
Due: none

feat(source-slack): replace 'Join all channels' with separate archived/non-archived fields
  airbyte-integrations/connectors/source-slack/CONTRIBUTING.md
  airbyte-integrations/connectors/source-slack/components.py
  airbyte-integrations/connectors/source-slack/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-slack/integration_tests/invalid_oauth_config.json
  airbyte-integrations/connectors/source-slack/manifest.yaml
  airbyte-integrations/connectors/source-slack/unit_tests/configs/legacy_config.json
  airbyte-integrations/connectors/source-slack/unit_tests/configs/legacy_join_channels_config.json
  airbyte-integrations/connectors/source-slack/unit_tests/conftest.py
  airbyte-integrations/connectors/source-slack/unit_tests/test_components.py
  airbyte-integrations/connectors/source-slack/unit_tests/test_config_migrations.py
Due: addlicense

chore(source-slack): bump version to 3.2.0 and add changelog entry
  airbyte-integrations/connectors/source-slack/metadata.yaml
  docs/integrations/sources/slack.md
Due: none

fix(source-slack): set join_all_non_archived_channels default to true per review feedback
  airbyte-integrations/connectors/source-slack/manifest.yaml
Due: none

fix(source-bing-ads): fix SAS token expiry during report downloads by re-polling for fresh URL
  airbyte-integrations/connectors/source-bing-ads/components.py
  airbyte-integrations/connectors/source-bing-ads/manifest.yaml
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_components.py
  docs/integrations/sources/bing-ads.md
Due: addlicense

fix: remove unused imports (InitVar, Config)
  airbyte-integrations/connectors/source-bing-ads/components.py
Due: addlicense

clean up CDC termination clause
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/CdcPartitionReader.kt
Due: addlicense, spotless

fix(source-harvest): Set default_concurrency=25 and max_concurrency=100 per tuning formula
  airbyte-integrations/connectors/source-harvest/manifest.yaml
Due: none

fix: move test imports to top of file and update changelog PR number
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_components.py
  docs/integrations/sources/bing-ads.md
Due: addlicense

fix(source-harvest): Set default_concurrency=4 and max_concurrency=10 per corrected rate limit calculation
  airbyte-integrations/connectors/source-harvest/manifest.yaml
Due: none

querySingleValue safely
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/SelectQuerier.kt
Due: addlicense, spotless

version and changelog
  airbyte-cdk/bulk/core/extract/changelog.md
  airbyte-cdk/bulk/core/extract/version.properties
Due: none

fix(source-harvest): Update test assertions to match corrected concurrency values (default=4, max=10)
  airbyte-integrations/connectors/source-harvest/unit_tests/mock_server/test_api_budget_and_concurrency.py
Due: addlicense

fix: add timeout to re-poll, move auth inside fallback path, add send_request() tests
  airbyte-integrations/connectors/source-bing-ads/components.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_components.py
Due: addlicense

lift to latest CDK
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/SelectQuerySpec.kt
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerCdcInitialSnapshotStateValue.kt
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDebeziumOperations.kt
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerJdbcPartition.kt
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerJdbcPartitionFactory.kt
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlSourceOperations.kt
Due: addlicense, spotless

Remove the per 1000 record flush.
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBufferTest.kt
Due: addlicense, spotless

Remove explicit compression in aggregate thread. Compress via options in snowflake client from the flush thread.
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClientTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBufferTest.kt
Due: addlicense, spotless

fix exception message
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/SelectQuerier.kt
Due: addlicense, spotless

sanity
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerJdbcPartition.kt
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlSourceOperations.kt
Due: addlicense, spotless

fix(bulk cdk): cdc termination condition (#76054)
  airbyte-cdk/bulk/core/extract/changelog.md
  airbyte-cdk/bulk/core/extract/version.properties
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/CdcPartitionReader.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/SelectQuerier.kt
Due: addlicense, spotless

cut 3.8.0-rc.3 with CDK 1.1.1
  airbyte-integrations/connectors/source-postgres/gradle.properties
  airbyte-integrations/connectors/source-postgres/metadata.yaml
Due: none

changelog
  docs/integrations/sources/postgres.md
Due: none

docs(agent-engine-mcp): add ChatGPT setup steps to MCP server docs
  docs/ai-agents/mcp-server/readme.md
Due: none

refactor(source-slack): skip joining archived channels instead of splitting fields
  airbyte-integrations/connectors/source-slack/CONTRIBUTING.md
  airbyte-integrations/connectors/source-slack/components.py
  airbyte-integrations/connectors/source-slack/manifest.yaml
  airbyte-integrations/connectors/source-slack/unit_tests/configs/actual_config.json
  airbyte-integrations/connectors/source-slack/unit_tests/configs/legacy_config.json
  airbyte-integrations/connectors/source-slack/unit_tests/configs/legacy_join_channels_config.json
  airbyte-integrations/connectors/source-slack/unit_tests/conftest.py
  airbyte-integrations/connectors/source-slack/unit_tests/test_components.py
  airbyte-integrations/connectors/source-slack/unit_tests/test_config_migrations.py
Due: addlicense

fix(source-slack): revert integration test configs to use original join_channels field
  airbyte-integrations/connectors/source-slack/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-slack/integration_tests/invalid_oauth_config.json
Due: none

release(source-postgres): 3.8.0-rc.3 with CDK 1.1.1 (#76055)
  airbyte-integrations/connectors/source-postgres/gradle.properties
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  docs/integrations/sources/postgres.md
Due: none

fix(source-slack): change version bump from minor (3.2.0) to patch (3.1.16)
  airbyte-integrations/connectors/source-slack/metadata.yaml
  docs/integrations/sources/slack.md
Due: none

docs(source-postgres): fix broken test file link and update documentation
  docs/integrations/sources/postgres.md
Due: none

sanity
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/SelectQuerySpec.kt
Due: addlicense, spotless

fix(destination-s3-data-lake): produce lowercase column names for Glue catalog compatibility
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/schema/S3DataLakeTableSchemaMapper.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/write/S3DataLakeStreamLoader.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/schema/S3DataLakeTableSchemaMapperTest.kt
Due: addlicense, spotless

chore: bump destination-s3-data-lake version to 0.3.47
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
  docs/integrations/destinations/s3-data-lake.md
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

