Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

ci(kotlin-cdk-docs): upgrade vercel-action so Vercel CLI meets minimum version (#83246)
  .github/workflows/kotlin-bulk-cdk-dokka-publish.yml
Due: none

test(source-linkedin-ads): align custom report tests and docs with custom_statistics_ prefix
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/mock_server/test_custom_statistics_report.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/test_source.py
  docs/integrations/sources/linkedin-ads.md
Due: addlicense

docs: improve authored SEO hygiene
  docs/integrations/custom-connectors.md
  docs/integrations/destinations/databricks.md
  docs/integrations/destinations/duckdb.md
  docs/integrations/destinations/redshift.md
  docs/integrations/locating-files-local-destination.md
  docs/integrations/sources/apify-dataset.md
  docs/integrations/sources/facebook-pages.md
  docs/integrations/sources/low-code.md
  docs/platform/connector-development/cdk-python/migration-to-base-image.md
  docs/platform/connector-development/partner-certified-destinations.md
  docs/platform/connector-development/ux-handbook.md
  docs/platform/deploying-airbyte/abctl/index.md
  docs/platform/understanding-airbyte/airbyte-protocol.md
  docs/platform/understanding-airbyte/jobs.md
  docs/platform/using-airbyte/mappings.md
  docs/release_notes/self-managed/august_2022.md
  docusaurus/sidebar-connectors.js
  docusaurus/src/components/ConnectorRegistry.jsx
  docusaurus/src/components/EntityRelationshipDiagram.jsx
Due: none

docs: standardize connector title suffix
  docusaurus/src/remark/docMetaTags.js
Due: none

docs: refine authored SEO cleanup
  docs/integrations/destinations/databricks.md
  docs/integrations/destinations/duckdb.md
  docs/platform/connector-development/cdk-python/migration-to-base-image.md
  docs/platform/connector-development/partner-certified-destinations.md
  docusaurus/src/components/ConnectorRegistry.jsx
Due: none

fix(destination-redshift): use plain equijoin for UPDATE PK matching
  airbyte-integrations/connectors/destination-redshift/src/main/kotlin/io/airbyte/integrations/destination/redshift/sql/RedshiftSqlGenerator.kt
  airbyte-integrations/connectors/destination-redshift/src/test/kotlin/io/airbyte/integrations/destination/redshift/sql/RedshiftSqlGeneratorTest.kt
Due: addlicense, spotless

refactor
  airbyte-integrations/connectors/destination-redshift/gradle.properties
  airbyte-integrations/connectors/destination-redshift/src/test-integration/kotlin/io/airbyte/integrations/destination/redshift/write/RedshiftTestUtilities.kt
Due: addlicense, spotless

docs: preserve entities in fenced examples
  .github/workflows/agent-sdk-docs-generate.yml
  .github/workflows/pyairbyte-docs-generate.yml
  docs/developers/pyairbyte/reference/airbyte/datasets/index.md
Due: none

docs: enforce image alt text and single H1 lint
  .markdownlint.jsonc
Due: none

docs: demote duplicate generated headings
  .github/workflows/agent-sdk-docs-generate.yml
  .github/workflows/pyairbyte-docs-generate.yml
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/index.md
  docs/developers/pyairbyte/reference/airbyte/caches/snowflake.md
  docs/developers/pyairbyte/reference/airbyte/cloud/connections.md
  docs/developers/pyairbyte/reference/airbyte/cloud/index.md
  docs/developers/pyairbyte/reference/airbyte/index.md
Due: none

chore(claude): add authoritative API-source PR review skill and workflow
  .claude/scripts/annotate_diff_lines.py
  .claude/scripts/review_pr_validate_findings.py
  .claude/scripts/run_codex_structured_output.py
  .claude/skills/api-source-authoritative-review/SKILL.md
  .claude/skills/api-source-authoritative-review/references/breaking-change-criteria.md
  .claude/skills/api-source-authoritative-review/references/cdk-investigation-map.md
  .claude/workflows/api-source-authoritative-review-run.js
  .gitignore
Due: addlicense

chore(claude): satisfy repo pre-commit hooks on review scripts
  .claude/scripts/annotate_diff_lines.py
  .claude/scripts/review_pr_validate_findings.py
  .claude/scripts/run_codex_structured_output.py
Due: addlicense

refactor(claude): read GitHub CI instead of reimplementing it locally
  .claude/skills/api-source-authoritative-review/SKILL.md
  .claude/workflows/api-source-authoritative-review-run.js
Due: none

docs: point artifacthub links at the chart v2 package
  docs/platform/deploying-airbyte/abctl/index.md
  docs/platform/operator-guides/upgrading-airbyte.md
Due: none

fix(destination-redshift): use NULL-safe primary key matching in upsert (#83245)
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/kotlin/io/airbyte/integrations/destination/redshift/sql/RedshiftSqlGenerator.kt
  airbyte-integrations/connectors/destination-redshift/src/test-integration/kotlin/io/airbyte/integrations/destination/redshift/write/RedshiftTestUtilities.kt
  airbyte-integrations/connectors/destination-redshift/src/test/kotlin/io/airbyte/integrations/destination/redshift/sql/RedshiftSqlGeneratorTest.kt
  docs/integrations/destinations/redshift.md
Due: addlicense, spotless

docs(deployment): fix chart V2 storage config keys and casing (#82797)
  docs/platform/deploying-airbyte/integrations/storage.md
Due: none

docs: document supported Postgres versions for external databases (#82796)
  docs/platform/deploying-airbyte/integrations/database.md
  docs/platform/enterprise-setup/implementation-guide.md
Due: none

docs: point artifacthub links at the chart v2 package (#83252)
  docs/platform/deploying-airbyte/abctl/index.md
  docs/platform/operator-guides/upgrading-airbyte.md
Due: none

docs: stop publishing experimental agent connector SDK reference (#82257)
  .github/workflows/agent-sdk-docs-generate.yml
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/airtable/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/airtable/connector_model.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/airtable/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/airtable/models.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/airtable/types.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/ashby/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/ashby/connector_model.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/ashby/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/ashby/models.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/ashby/types.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/gmail/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/gmail/connector_model.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/gmail/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/gmail/models.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/gmail/types.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/linkedin_ads/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/linkedin_ads/connector_model.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/linkedin_ads/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/linkedin_ads/models.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/linkedin_ads/types.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/paypal_transaction/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/paypal_transaction/connector_model.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/paypal_transaction/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/paypal_transaction/models.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/paypal_transaction/types.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/snowflake/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/snowflake/connector_model.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/snowflake/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/snowflake/models.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/snowflake/types.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/zoho_crm/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/zoho_crm/connector_model.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/zoho_crm/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/zoho_crm/models.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/zoho_crm/types.md
Due: none

docs: Update airbyte-agent-sdk API reference documentation (sonar@e8d3333)
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/linkedin_ads/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/linkedin_ads/connector_model.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/linkedin_ads/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/linkedin_ads/models.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/linkedin_ads/types.md
Due: none

ci(publish): forward prerelease PR attribution
  .github/workflows/publish_connectors.yml
Due: none

ci(publish): default optional PR input
  .github/workflows/publish_connectors.yml
Due: none

ci(publish): pass PR number via env instead of inline interpolation
  .github/workflows/publish_connectors.yml
Due: none

ci(publish): validate PR number is numeric before forwarding
  .github/workflows/publish_connectors.yml
Due: none

ci(publish): treat zero PR number as absent without warning
  .github/workflows/publish_connectors.yml
Due: none

fix(source-github): handle GraphQL rate limit responses
  airbyte-integrations/connectors/source-github/source_github/errors_handlers.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
Due: addlicense

ci(publish): forward prerelease PR number to registry artifact generation (#83255)
  .github/workflows/publish_connectors.yml
Due: none

ci(publish): guard prerelease --pr-number behind a CLI capability probe
  .github/workflows/publish_connectors.yml
Due: none

ci(publish): guard prerelease --pr-number behind a CLI capability probe (#83257)
  .github/workflows/publish_connectors.yml
Due: none

Revert "ci(publish): guard prerelease --pr-number behind a CLI capability probe"
  .github/workflows/publish_connectors.yml
Due: none

Revert "ci(publish): forward prerelease PR number to registry artifact generation (#83255)"
  .github/workflows/publish_connectors.yml
Due: none

fix(source-zoom): parallelize nested stream requests
  airbyte-integrations/connectors/source-zoom/manifest.yaml
  airbyte-integrations/connectors/source-zoom/metadata.yaml
  airbyte-integrations/connectors/source-zoom/unit_tests/__init__.py
  airbyte-integrations/connectors/source-zoom/unit_tests/conftest.py
  airbyte-integrations/connectors/source-zoom/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-zoom/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-zoom/unit_tests/test_manifest.py
  docs/integrations/sources/zoom.md
Due: addlicense

docs(source-zoom): document concurrency and rate limit settings
  docs/integrations/sources/zoom.md
Due: none

docs(source-zoom): fill in changelog PR link
  docs/integrations/sources/zoom.md
Due: none

test(source-github): preserve GraphQL rate limit variants
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
Due: addlicense

test(source-github): separate GraphQL rate limit cases
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
Due: addlicense

fix(source-zoom): raise default worker count and request budget
  airbyte-integrations/connectors/source-zoom/manifest.yaml
  airbyte-integrations/connectors/source-zoom/unit_tests/test_manifest.py
  docs/integrations/sources/zoom.md
Due: addlicense

fix(destination-redshift): use anti-join for dedup inserts
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/kotlin/io/airbyte/integrations/destination/redshift/sql/RedshiftSqlGenerator.kt
  airbyte-integrations/connectors/destination-redshift/src/test/kotlin/io/airbyte/integrations/destination/redshift/sql/RedshiftSqlGeneratorTest.kt
  docs/integrations/destinations/redshift.md
Due: addlicense, spotless
