Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

update the logs & add acceptanceTests
  airbyte-integrations/connectors/source-clickhouse/metadata.yaml
  docs/integrations/sources/clickhouse.md
Due: none

Working ensure schema acceptance test
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
Due: addlicense, spotless

Rename getTable
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
Due: addlicense, spotless

(DO NOT MERGE) Google Ads - Debug - bump cdk on legacy version
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/poetry.lock
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_components.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_custom_query.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_empty_streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_errors.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_utils.py
Due: addlicense

chore: switch to thin jdbc driver (#65945)
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/build.gradle.kts
Due: spotless

feat: implement dataflow cdk artifacts (#65926)
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/cdk/WriteOperationV2.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/dataflow/SnowflakeAggregate.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/dataflow/SnowflakeAggregateFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/transform/SnowflakeRecordMunger.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/cdk/WriteOperationV2Test.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/dataflow/SnowflakeAggregateFactoryTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/dataflow/SnowflakeAggregateTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/transform/SnowflakeRecordMungerTest.kt
Due: addlicense, spotless

[Snowflake] Spec expanded (#65932)
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeSpecification.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/expected-spec-oss.json
Due: addlicense, spotless

chore: merge bean factories (#66137)
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeansFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactoryTest.kt
Due: addlicense, spotless

[Snowflake] Adding the configuration (#65951)
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeConfiguration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeSpecification.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/expected-spec-oss.json
Due: addlicense, spotless

Ensure that resources are closed on exit
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/config/DataSourceFactory.kt
Due: addlicense, spotless

[Snowflake] Add basic SQLGenerator + update client (#66005)
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeDataType.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeSqlGenerator.kt
Due: addlicense, spotless

feat: add connection pool for Snowflake data source (#65965)
  airbyte-integrations/connectors/destination-snowflake/build.gradle.kts
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeSqlNameTransformer.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/config/DataSourceFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeSqlNameTransformerTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/config/DataSourceFactoryTest.kt
Due: addlicense, spotless

[Snowflake] Adding a basic Snowflake client (#65952)
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeansFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/config/DataSourceFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/config/DataSourceFactoryTest.kt
Due: addlicense, spotless

[Snowflake] Adding the bean for the ingest client (#66168)
  airbyte-integrations/connectors/destination-snowflake/build.gradle.kts
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
Due: addlicense, spotless

Adding empty SnowflakeWriter
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeWriter.kt
Due: addlicense, spotless

[Snowflake] Update the SQLGenerator and the SnowflakeAirbyteClient to support the COPY INTO operation (#66145)
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/dataflow/SnowflakeAggregateFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/dataflow/SnowflakeAggregateFactoryTest.kt
Due: addlicense, spotless

feat: switch to new data flow interfaces (#66158)
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/transform/SnowflakeColumnNameMapper.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/transform/SnowflakeRecordMunger.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/transform/SnowflakeValueCoercer.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/transform/SnowflakeColumnNameMapperTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/transform/SnowflakeRecordMungerTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/transform/SnowflakeValueCoercerTest.kt
Due: addlicense, spotless

[Snowflake] Adding the InitialStatusGatherer (#66133)
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/config/SnowflakeDirectLoadDatabaseInitialStatusGatherer.kt
Due: addlicense, spotless

Cleanup
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeDirectLoadSqlGenerator.kt
Due: addlicense, spotless

[Snowflake] Adding Integration tests around our check (#66206)
  airbyte-integrations/connectors/destination-snowflake/build.gradle.kts
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeDestination.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeInitializer.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeSqlNameTransformer.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/cdk/SnowflakeConfigurationSupplierSpecificationFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/cdk/SnowflakeMigratingConfigurationSpecificationSupplier.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/check/SnowflakeChecker.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/dataflow/SnowflakeAggregateFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/db/SnowflakeDirectLoadDatabaseInitialStatusGatherer.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/db/SnowflakeNameGenerators.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeColumnUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDataType.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeWriter.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/application-connector.yml
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeTestUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/Utils.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/check/SnowflakeCheckTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeAcceptanceTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactoryTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeInitializerTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeSqlNameTransformerTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/cdk/SnowflakeMigratingConfigurationSpecificationSupplierTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/check/SnowflakeCheckerTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClientTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/db/SnowflakeColumnNameGeneratorTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/db/SnowflakeFinalTableNameGeneratorTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/db/SnowflakeNameGeneratorsTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeColumnUtilsTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBufferTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/resources/config_with_credentials_auth_type.json
  airbyte-integrations/connectors/destination-snowflake/src/test/resources/config_with_credentials_auth_type_key_pair.json
  airbyte-integrations/connectors/destination-snowflake/src/test/resources/config_with_top_level_password.json
  airbyte-integrations/connectors/destination-snowflake/src/test/resources/config_without_credentials_auth_type.json
  airbyte-integrations/connectors/destination-snowflake/src/test/resources/config_without_credentials_auth_type_key_pair.json
Due: addlicense, spotless

feat: implement check operation for snowflake (#66002)
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeInitializer.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/check/SnowflakeChecker.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/dataflow/SnowflakeAggregateFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeConfiguration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeInitializerTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/check/SnowflakeCheckerTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBufferTest.kt
Due: addlicense, spotless

fix: nested snowflake credentials configuration (#66195)
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeConfiguration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeSpecification.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/expected-spec-oss.json
Due: addlicense, spotless

[Snowflake] Update the spec to get in line with previous specs (#66198)
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeSpecification.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/expected-spec-oss.json
Due: addlicense, spotless

[Snowflake] Adding the SnowflakeWriter (#66174)
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeWriter.kt
Due: addlicense, spotless

Bmoric/snowflake acceptance tests (#66189)
  airbyte-integrations/connectors/destination-snowflake/build.gradle.kts
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/Utils.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeAcceptanceTest.kt
Due: addlicense, spotless

[Snowflake] Add support for `overwriteTable` (#66317)
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeAcceptanceTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeWriterTest.kt
Due: addlicense, spotless

Properly update the config (#66302)
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeAcceptanceTest.kt
Due: addlicense, spotless

fix: apply namespace to each command to avoid race condition (#66308)
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClientTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
Due: addlicense, spotless

Fix Basic write (#66293)
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeAcceptanceTest.kt
Due: addlicense, spotless

Add writer test
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeWriterTest.kt
Due: addlicense, spotless

PR feedback/documentation
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDataType.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/transform/SnowflakeValueCoercer.kt
Due: addlicense, spotless

feat: convert values to snowflake values (#66329)
  airbyte-integrations/connectors/destination-snowflake/build.gradle.kts
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeColumnUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/transform/SnowflakeValueCoercer.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeAcceptanceTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeColumnUtilsTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/transform/SnowflakeValueCoercerTest.kt
Due: addlicense, spotless

[Snowflake] Implement CDCDelete mode (#66330)
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
Due: addlicense, spotless

fix missing file
  airbyte-integrations/connectors/source-google-ads/source_google_ads/custom_query_stream.py
Due: addlicense

fix test
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
Due: addlicense, spotless

start implementing bumpVersion
  airbyte-cdk/bulk/build.gradle
Due: spotless

change to task
  airbyte-cdk/bulk/build.gradle
Due: spotless

update cdk in unit tests
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/pyproject.toml
Due: none

don't edit files until after getting all input
  airbyte-cdk/bulk/build.gradle
Due: spotless
