Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

docs: combine Builder and low-code CDK docs on sidebar (#57527)
  docs/connector-development/config-based/low-code-cdk-overview.md
  docusaurus/sidebars.js
Due: none

Filled this out some more. Still a few holes though.
  docs/enterprise-setup/multi-region.md
Due: none

Improve error: [source-oracle] add supplemental log data (#136)
  airbyte-integrations/connectors/source-oracle/src/main/resources/application.yml
Due: none

Submission for source-insightful from Connector Builder
  airbyte-integrations/connectors/source-insightful/README.md
  airbyte-integrations/connectors/source-insightful/acceptance-test-config.yml
  airbyte-integrations/connectors/source-insightful/icon.svg
  airbyte-integrations/connectors/source-insightful/manifest.yaml
  airbyte-integrations/connectors/source-insightful/metadata.yaml
  docs/integrations/sources/insightful.md
Due: none

update icon, docs
  airbyte-integrations/connectors/source-insightful/icon.svg
  docs/integrations/sources/insightful.md
Due: none

source-fastly contribution from btkcodedev (#57528)
  airbyte-integrations/connectors/source-fastly/README.md
  airbyte-integrations/connectors/source-fastly/acceptance-test-config.yml
  airbyte-integrations/connectors/source-fastly/icon.svg
  airbyte-integrations/connectors/source-fastly/manifest.yaml
  airbyte-integrations/connectors/source-fastly/metadata.yaml
  docs/integrations/sources/fastly.md
Due: none

source-insightful contribution from btkcodedev (#57529)
  airbyte-integrations/connectors/source-insightful/README.md
  airbyte-integrations/connectors/source-insightful/acceptance-test-config.yml
  airbyte-integrations/connectors/source-insightful/icon.svg
  airbyte-integrations/connectors/source-insightful/manifest.yaml
  airbyte-integrations/connectors/source-insightful/metadata.yaml
  docs/integrations/sources/insightful.md
Due: none

Submission for source-nexiopay from Connector Builder
  airbyte-integrations/connectors/source-nexiopay/README.md
  airbyte-integrations/connectors/source-nexiopay/acceptance-test-config.yml
  airbyte-integrations/connectors/source-nexiopay/icon.svg
  airbyte-integrations/connectors/source-nexiopay/manifest.yaml
  airbyte-integrations/connectors/source-nexiopay/metadata.yaml
  docs/integrations/sources/nexiopay.md
Due: none

update docs, icon
  airbyte-integrations/connectors/source-nexiopay/icon.svg
  docs/integrations/sources/nexiopay.md
Due: none

update icon
  airbyte-integrations/connectors/source-nexiopay/icon.svg
Due: none

source-nexiopay contribution from btkcodedev (#57530)
  airbyte-integrations/connectors/source-nexiopay/README.md
  airbyte-integrations/connectors/source-nexiopay/acceptance-test-config.yml
  airbyte-integrations/connectors/source-nexiopay/icon.svg
  airbyte-integrations/connectors/source-nexiopay/manifest.yaml
  airbyte-integrations/connectors/source-nexiopay/metadata.yaml
  docs/integrations/sources/nexiopay.md
Due: none

Submission for source-bamboohr from Connector Builder
  airbyte-integrations/connectors/source-bamboohr/README.md
  airbyte-integrations/connectors/source-bamboohr/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bamboohr/components.py
  airbyte-integrations/connectors/source-bamboohr/icon.svg
  airbyte-integrations/connectors/source-bamboohr/manifest.yaml
  airbyte-integrations/connectors/source-bamboohr/metadata.yaml
  docs/integrations/sources/bamboohr.md
Due: addlicense

Migrate marketing_emails and email_subscriptions to low code
  airbyte-integrations/connectors/source-hubspot/source_hubspot/manifest.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/run.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
Due: addlicense

Submission for source-recurly from Connector Builder
  airbyte-integrations/connectors/source-recurly/manifest.yaml
  airbyte-integrations/connectors/source-recurly/metadata.yaml
Due: none

(fix: Amazon Seller Partner) - Extend Minimum Date Range
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/pyproject.toml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/manifest.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
Due: addlicense

Update Doc
  docs/integrations/sources/amazon-seller-partner.md
Due: none

Add comment
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/manifest.yaml
Due: none

(fix: Amazon Seller Partner) - Extend Minimum Date Range (#57537)
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/pyproject.toml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/manifest.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
  docs/integrations/sources/amazon-seller-partner.md
Due: addlicense

sockets
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/output/UnixDomainSocketOutputConsumerProvider.kt
Due: addlicense, spotless

Unit tests for the GcsClient
  airbyte-cdk/bulk/toolkits/load-gcs/src/test/kotlin/io/airbyte/cdk/load/file/gcs/GcsClientTest.kt
Due: addlicense, spotless

Fixes?
  airbyte-cdk/bulk/toolkits/load-gcs/src/test/kotlin/io/airbyte/cdk/load/file/gcs/GcsClientTest.kt
Due: addlicense, spotless

Couple of small updates Alex asked for
  docs/enterprise-setup/multi-region.md
  docs/enterprise-setup/upgrade-service-account.md
  docusaurus/sidebars.js
Due: none

update hubspot to include record associations
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/pyproject.toml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/associations.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  docs/integrations/sources/hubspot.md
Due: addlicense

increment streams counts
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
Due: addlicense

sftp-bulk-transfer: update updated at type
  airbyte-integrations/connectors/source-sftp-bulk/poetry.lock
  airbyte-integrations/connectors/source-sftp-bulk/pyproject.toml
  airbyte-integrations/connectors/source-sftp-bulk/source_sftp_bulk/stream_reader.py
Due: addlicense

sftp-bulk-transfer: ruff format
  airbyte-integrations/connectors/source-sftp-bulk/source_sftp_bulk/stream_reader.py
Due: addlicense

revert
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
Due: none

sftp-microsoft-sharepoint: update updated_at type
  airbyte-integrations/connectors/source-microsoft-sharepoint/pyproject.toml
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/stream_reader.py
Due: addlicense

sftp-microsoft-sharepoint: ruff format
  airbyte-integrations/connectors/source-microsoft-sharepoint/poetry.lock
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/stream_reader.py
Due: addlicense

source-s3: update updated_at type
  airbyte-integrations/connectors/source-s3/poetry.lock
  airbyte-integrations/connectors/source-s3/pyproject.toml
  airbyte-integrations/connectors/source-s3/source_s3/v4/stream_reader.py
Due: addlicense

blegh
  airbyte-integrations/connectors/destination-azure-blob-storage/metadata.yaml
Due: none

also pin cdk version
  airbyte-cdk/java/airbyte-cdk/datastore-bigquery/build.gradle
  airbyte-integrations/connectors/destination-azure-blob-storage/build.gradle
Due: spotless

changelog
  docs/integrations/destinations/azure-blob-storage.md
Due: none

whoops
  airbyte-cdk/java/airbyte-cdk/datastore-bigquery/build.gradle
Due: spotless

source-google-drive: update updated_at type
  airbyte-integrations/connectors/source-google-drive/poetry.lock
  airbyte-integrations/connectors/source-google-drive/pyproject.toml
  airbyte-integrations/connectors/source-google-drive/source_google_drive/stream_reader.py
Due: addlicense

More fixes?
  airbyte-cdk/bulk/toolkits/load-gcs/src/test/kotlin/io/airbyte/cdk/load/file/gcs/GcsClientTest.kt
Due: addlicense, spotless

also this
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

