Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

move cdk version into its own file (#66175)
  airbyte-cdk/bulk/build.gradle
  airbyte-cdk/bulk/core/base/src/main/resources/version.properties
Due: spotless

Add ingest client to the snowflake client
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
Due: addlicense, spotless

Use stringData so this doesn't have to be base 64 encoded
  docs/platform/enterprise-flex/data-plane.md
Due: none

Support indented code blocks in linter
  .markdownlint.jsonc
Due: none

A mostly-complete first draft
  docs/platform/enterprise-flex/data-plane-util.md
  docs/platform/enterprise-flex/getting-started.md
Due: none

Minor clean up
  docs/platform/enterprise-flex/data-plane-util.md
Due: none

Test
  airbyte-cdk/bulk/core/extract/src/test/kotlin/io/airbyte/cdk/output/sockets/NativeRecordProtobufEncoderTest.kt
Due: addlicense, spotless

chore: auto-fix lint and format issues
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/output/NativeRecord.kt
  airbyte-cdk/bulk/core/extract/src/test/kotlin/io/airbyte/cdk/output/sockets/NativeRecordProtobufEncoderTest.kt
Due: addlicense, spotless

Test
  airbyte-cdk/bulk/build.gradle
  airbyte-cdk/bulk/changelog.md
Due: spotless

Adding the ability to use the ingest client in the SnowflakeInsertBuffer
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
Due: addlicense, spotless

formatting
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
Due: addlicense, spotless

Test
  airbyte-cdk/bulk/build.gradle
Due: spotless

Test
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/core/base/src/main/resources/version.properties
Due: none

sanity
  airbyte-cdk/bulk/changelog.md
Due: none

sanity
  airbyte-cdk/bulk/core/extract/src/test/kotlin/io/airbyte/cdk/output/sockets/NativeRecordProtobufEncoderTest.kt
Due: addlicense, spotless

sanity
  airbyte-cdk/bulk/build.gradle
Due: spotless

Revert "move cdk version into its own file (#66175)"
  airbyte-cdk/bulk/build.gradle
  airbyte-cdk/bulk/core/base/src/main/resources/version.properties
Due: spotless

revert cdk version change
  airbyte-cdk/bulk/build.gradle
Due: spotless

Tmp
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeConfiguration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeSpecification.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/expected-spec-oss.json
Due: addlicense, spotless

bump version
  airbyte-cdk/bulk/build.gradle
  airbyte-cdk/bulk/changelog.md
Due: spotless

bump cdk version
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  docs/integrations/sources/mysql.md
Due: spotless

fix test
  airbyte-cdk/bulk/core/extract/src/test/kotlin/io/airbyte/cdk/output/sockets/NativeRecordProtobufEncoderTest.kt
Due: addlicense, spotless

(DO NOT MERGE): Google-Sheets: Debug - Skip Check
  airbyte-integrations/connectors/source-google-sheets/manifest.yaml
Due: none

sanity
  docs/integrations/sources/mysql.md
Due: none

Extract CDK proto encoding (#66152)
  airbyte-cdk/bulk/build.gradle
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/output/NativeRecord.kt
  airbyte-cdk/bulk/core/extract/src/test/kotlin/io/airbyte/cdk/output/sockets/NativeRecordProtobufEncoderTest.kt
Due: addlicense, spotless

docs: Address review feedback - remove unrealistic alternative and clarify ALL permissions required
  docs/integrations/enterprise-connectors/source-sharepoint-enterprise.md
Due: none

Fix mysql proto encoding of types (#66179)
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  docs/integrations/sources/mysql.md
Due: spotless

update public docs
  docs/platform/connector-development/connector-builder-ui/async-streams.md
Due: none

delete accidentally committed files
  airbyte-integrations/connectors/source-tiktok-builder/config.json
  airbyte-integrations/connectors/source-tiktok-builder/configured_catalog.json
  airbyte-integrations/connectors/source-tiktok-builder/discover_out.json
  airbyte-integrations/connectors/source-tiktok-builder/lake_manifest.yaml
  airbyte-integrations/connectors/source-tiktok-builder/manifest.yaml
Due: none

first attempt
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/common.py
Due: addlicense

only log first 8 chars
  .github/workflows/regression_tests.yml
Due: none

sanity
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceJdbcPartitionFactory.kt
Due: addlicense, spotless

Create dispatcher per pipe.
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/pipeline/DataFlowPipeline.kt
Due: addlicense, spotless

[CSS-16733]: Develop a custom Airbyte connector for discourse (#31)
  .github/workflows/format_check.yml
  airbyte-integrations/connectors/source-discourse/README.md
  airbyte-integrations/connectors/source-discourse/acceptance-test-config.yml
  airbyte-integrations/connectors/source-discourse/icon.svg
  airbyte-integrations/connectors/source-discourse/manifest.yaml
  airbyte-integrations/connectors/source-discourse/metadata.yaml
  docs/integrations/sources/discourse.md
Due: none

updated readme file
  airbyte-integrations/connectors/source-slack/README.md
Due: none
