Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

Only set json properties on client when JSON enabled. Remove unnecessary ping code.
  airbyte-integrations/connectors/destination-clickhouse-v2/metadata.yaml
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/config/ClickhouseBeanFactory.kt
  docs/integrations/destinations/clickhouse-v2.md
Due: addlicense, spotless

Format.
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/config/ClickhouseBeanFactory.kt
Due: addlicense, spotless

ClickHouse V2: Only set json properties on client when JSON enabled. Remove unnecess… (#62883)
  airbyte-integrations/connectors/destination-clickhouse-v2/metadata.yaml
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/config/ClickhouseBeanFactory.kt
  docs/integrations/destinations/clickhouse-v2.md
Due: addlicense, spotless

refactor
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  docs/integrations/sources/mysql.md
Due: spotless

fix stuff?
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-customer-io/src/test-integration/kotlin/CustomerIoWriterTest.kt
Due: addlicense, spotless

Update the link.
  docs/integrations/destinations/clickhouse-v2.md
Due: none

ClickHouse v2: Update the CL link. (#62885)
  docs/integrations/destinations/clickhouse-v2.md
Due: none

fix(source-hubspot): handle case where declared number field contains non-numeric values (#62866)
  airbyte-integrations/connectors/source-hubspot/components.py
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_components.py
  docs/integrations/sources/hubspot.md
Due: addlicense

Add log to force change.
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/load/BinaryRowInsertBuffer.kt
Due: addlicense, spotless

refactor
  airbyte-integrations/connectors/source-snowflake/src/test/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeSourceConfigurationSpecificationTest.kt
  airbyte-integrations/connectors/source-snowflake/src/test/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeSourceFullRefreshTest.kt
  airbyte-integrations/connectors/source-snowflake/src/test/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeSqlDialect.kt
  airbyte-integrations/connectors/source-snowflake/src/test/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeTestDbExecutor.kt
Due: addlicense, spotless

Change hostname -> host.
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/spec/ClickhouseSpecification.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/load/ClickhouseDirectLoadWriter.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/resources/expected-spec-oss.json
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/resources/non_valid_connection_host.json
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/resources/non_valid_credentials_connection.json
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/resources/valid_connection.json
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/resources/valid_connection_no_json.json
Due: addlicense, spotless

The override should match the spec not the json value.
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/load/ClickhouseDirectLoadWriter.kt
Due: addlicense, spotless

migrate account performance, campaign budget
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
Due: addlicense

migrate ad_group_ad and ad_group_ad_legacy
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/utils.py
Due: addlicense

add ad group ad legacy to stream list
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
Due: none

migrate audience
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_ad.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_ad_legacy.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/audience.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/campaign_budget.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
Due: addlicense

migrate user interest stream
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
Due: addlicense

migrate ad_group_label
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
Due: addlicense

migrate labels, ad group ad label, campaign label
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/account_performance_report.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_ad_label.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_label.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/campaign_label.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/label.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/user_interest.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
Due: addlicense

chore: format code
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
Due: addlicense

add comment
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
Due: addlicense

format code
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
Due: none

review comments
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ProtoToCsvFormatter.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ProtoToJsonFormatter.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/file/object_storage/ProtoToCsvFormattingTest.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/file/object_storage/ProtoToJsonFormattingTest.kt
Due: addlicense, spotless

feat: implement proto to csv fast writer (#62880)
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/AirbyteType.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStorageFormattingWriter.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ProtoToCsvFormatter.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ProtoToCsvWriter.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ProtoToJsonFormatter.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/file/object_storage/ProtoFixtures.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/file/object_storage/ProtoToCsvFormattingTest.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/file/object_storage/ProtoToJsonFormattingTest.kt
  airbyte-integrations/connectors/destination-s3/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2WriteTest.kt
Due: addlicense, spotless

chore: rc-3 release for s3 destination
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  docs/integrations/destinations/s3.md
Due: none

update PR link
  docs/integrations/destinations/s3.md
Due: none

fix(source-mixpanel): add back python implementation of export stream (#62845)
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/pyproject.toml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/manifest.yaml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_property_transformation.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_source.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
  docs/integrations/sources/mixpanel.md
Due: addlicense

Fix errors from merge
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
Due: addlicense

feat(destination-customer-io): improve spec (#62848)
  airbyte-integrations/connectors/destination-customer-io/metadata.yaml
  airbyte-integrations/connectors/destination-customer-io/src/main/kotlin/CustomerIoSpecification.kt
  airbyte-integrations/connectors/destination-customer-io/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-customer-io/src/test-integration/resources/expected-spec-oss.json
  docs/integrations/destinations/customer-io.md
Due: addlicense, spotless

chore: rc-3 release for s3 destination (#62890)
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  docs/integrations/destinations/s3.md
Due: none

chore: add comments to StatsEmitter to explain the usage of record message
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/internal/StatsEmitter.kt
Due: addlicense, spotless

Fix partition router for incremental_stream_base
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
Due: none

chore: add comments to StatsEmitter to explain the usage of record message (#62892)
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/internal/StatsEmitter.kt
Due: addlicense, spotless

Fix partition router for incremental_non_manager_stream_base
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
Due: none

Increase maxSecondsBetweenMessages to one day
  airbyte-integrations/connectors/source-stripe/metadata.yaml
Due: none

fix(Source-Airtable): Bump Memory for Discovery to 2GB
  airbyte-integrations/connectors/source-airtable/metadata.yaml
  docs/integrations/sources/airtable.md
Due: none

update doc
  docs/integrations/sources/airtable.md
Due: none

move tests to mock test
  airbyte-cdk/bulk/core/load/src/integrationTest/kotlin/io/airbyte/cdk/load/mock_integration_test/MockBasicFunctionalityIntegrationTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
Due: addlicense, spotless

exercise normal+speed modes
  airbyte-cdk/bulk/core/load/src/integrationTest/kotlin/io/airbyte/cdk/load/mock_integration_test/MockBasicFunctionalityIntegrationTest.kt
Due: addlicense, spotless

disable broken tests
  airbyte-cdk/bulk/core/load/src/integrationTest/kotlin/io/airbyte/cdk/load/mock_integration_test/MockBasicFunctionalityIntegrationTest.kt
Due: addlicense, spotless

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

