Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

fix(destination-aws-datalake): map array<format: date|date-time> items to Glue array<date>/array<timestamp>
  airbyte-integrations/connectors/destination-aws-datalake/destination_aws_datalake/stream_writer.py
  airbyte-integrations/connectors/destination-aws-datalake/unit_tests/stream_writer_test.py
  docs/integrations/destinations/aws-datalake.md
Due: addlicense

docs(source-service-now): add 0.2.0 changelog entry
  docs/integrations/enterprise-connectors/source-service-now.md
Due: none

prevent deadlock when all file sockets errored out
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/output/sockets/SocketDataChannel.kt
Due: addlicense, spotless

fix(destination-redshift): register Kotlin module for test config deserialization (#78041)
  airbyte-integrations/connectors/destination-redshift/gradle.properties
  airbyte-integrations/connectors/destination-redshift/poe_tasks.toml
  airbyte-integrations/connectors/destination-redshift/src/main/kotlin/io/airbyte/integrations/destination/redshift/sql/RedshiftSqlGenerator.kt
  airbyte-integrations/connectors/destination-redshift/src/test-integration/kotlin/io/airbyte/integrations/destination/redshift/write/RedshiftAcceptanceTest.kt
  airbyte-integrations/connectors/destination-redshift/src/test-integration/kotlin/io/airbyte/integrations/destination/redshift/write/RedshiftRegressionTest.kt
  airbyte-integrations/connectors/destination-redshift/src/test-integration/kotlin/io/airbyte/integrations/destination/redshift/write/RedshiftTestConfigProvider.kt
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/expected-spec-oss.json
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/golden_files/RedshiftRegressionTest/schema-regression/column_names/dedup_reserved_word.json
  airbyte-integrations/connectors/destination-redshift/src/test/kotlin/io/airbyte/integrations/destination/redshift/client/RedshiftInitialStatusGathererTest.kt
  airbyte-integrations/connectors/destination-redshift/src/test/kotlin/io/airbyte/integrations/destination/redshift/sql/RedshiftSqlGeneratorTest.kt
Due: addlicense, spotless

fix(destination-snowflake): remove private key error wrapping
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClientTest.kt
Due: addlicense, spotless

fix(source-twitch): address AI review findings
  airbyte-integrations/connectors/source-twitch/integration_tests/configured_catalog_custom_reports.json
  airbyte-integrations/connectors/source-twitch/manifest.yaml
  airbyte-integrations/connectors/source-twitch/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-twitch/unit_tests/unit_test.py
  docs/integrations/sources/twitch.md
Due: addlicense

ci(source-hardcoded-records): test release block workflow
  airbyte-integrations/connectors/source-hardcoded-records/block-release.yaml
Due: none

test(source-faker): create progressive rollout rc
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/progressive-rollout-e2e/README.md
  airbyte-integrations/connectors/source-faker/pyproject.toml
  docs/integrations/sources/faker.md
Due: none

ci(source-hardcoded-records): format release block marker
  airbyte-integrations/connectors/source-hardcoded-records/block-release.yaml
Due: none

docs(ai-agents): position CLI env vars as preferred for sandbox deployments
  docs/ai-agents/interfaces/cli/authenticate.md
Due: none

ci(source-hardcoded-records): clean up release block test marker
  airbyte-integrations/connectors/source-hardcoded-records/block-release.yaml
Due: none

ci(connectors): allow prerelease publish with release block
  .github/workflows/publish_connectors.yml
Due: none

ci(source-hardcoded-records): restore release block fixture
  airbyte-integrations/connectors/source-hardcoded-records/block-release.yaml
  airbyte-integrations/connectors/source-hardcoded-records/metadata.yaml
Due: none

chore: updating metadata and change log
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/pyproject.toml
  docs/integrations/sources/s3.md
Due: none

ci(connectors): skip release block check for prereleases
  .github/workflows/publish_connectors.yml
Due: none

fix: updated numpy version
  airbyte-integrations/connectors/source-s3/poetry.lock
  airbyte-integrations/connectors/source-s3/pyproject.toml
Due: none

remove links from errors, version
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/resources/application.yml
Due: none

changelog
  docs/integrations/sources/postgres.md
Due: none

feat(source-n8n): major feature expansion and incremental sync support
  airbyte-integrations/connectors/source-n8n/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-n8n/manifest.yaml
  docs/integrations/sources/n8n.md
Due: none

test(source-faker): drop rc registry override pins
  airbyte-integrations/connectors/source-faker/metadata.yaml
Due: none

Remove unnecessary config migration and fix changelog entry
  airbyte-integrations/connectors/source-asana/source_asana/manifest.yaml
  docs/integrations/sources/asana.md
Due: none

feat(source-hibob)!: rebuild HiBob source connector
  airbyte-integrations/connectors/source-hibob/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hibob/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-hibob/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-hibob/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-hibob/manifest.yaml
  airbyte-integrations/connectors/source-hibob/metadata.yaml
  docs/integrations/sources/hibob-migrations.md
  docs/integrations/sources/hibob.md
Due: none

fix(source-hibob): apply catalog formatting
  airbyte-integrations/connectors/source-hibob/integration_tests/configured_catalog.json
Due: none

fix(source-asana): request Asana OAuth read scopes
  airbyte-integrations/connectors/source-asana/source_asana/manifest.yaml
Due: none

fix(source-hibob): remove pending time off config
  airbyte-integrations/connectors/source-hibob/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-hibob/manifest.yaml
Due: none

fix(source-posthog): improve events pagination error
  airbyte-integrations/connectors/source-posthog/metadata.yaml
  airbyte-integrations/connectors/source-posthog/pyproject.toml
  airbyte-integrations/connectors/source-posthog/source_posthog/__init__.py
  airbyte-integrations/connectors/source-posthog/source_posthog/manifest.yaml
  docs/integrations/sources/posthog.md
Due: none

fix(source-sentry): improve configuration error messages
  airbyte-integrations/connectors/source-sentry/manifest.yaml
  airbyte-integrations/connectors/source-sentry/metadata.yaml
  airbyte-integrations/connectors/source-sentry/unit_tests/integration/test_project_detail.py
  docs/integrations/sources/sentry.md
Due: addlicense

docs(source-sentry): link changelog to PR
  docs/integrations/sources/sentry.md
Due: none

fix(source-posthog): update CDK compatibility
  airbyte-integrations/connectors/source-posthog/poetry.lock
  airbyte-integrations/connectors/source-posthog/pyproject.toml
  airbyte-integrations/connectors/source-posthog/source_posthog/components.py
  airbyte-integrations/connectors/source-posthog/unit_tests/unit_test.py
Due: addlicense

test(source-sentry): apply ruff formatting
  airbyte-integrations/connectors/source-sentry/unit_tests/integration/test_project_detail.py
Due: addlicense

test(source-posthog): update acceptance config schema
  airbyte-integrations/connectors/source-posthog/acceptance-test-config.yml
Due: none

ci: add explicit permissions block (contents: read)
  .github/workflows/daily-sonar-release-notes.yml
Due: none

revert(source-asana): rollback oauth_connector_input_specification from manifest.yaml
  airbyte-integrations/connectors/source-asana/source_asana/manifest.yaml
Due: none

Revert "revert(source-asana): rollback oauth_connector_input_specification from manifest.yaml"
  airbyte-integrations/connectors/source-asana/source_asana/manifest.yaml
Due: none

docs(source-asana): update OAuth setup guidance
  docs/integrations/sources/asana.md
Due: none

docs(source-asana): refine OAuth troubleshooting wording
  docs/integrations/sources/asana.md
Due: none

fix(destination-sftp-json): escape SFTP URI components
  airbyte-integrations/connectors/destination-sftp-json/destination_sftp_json/client.py
  airbyte-integrations/connectors/destination-sftp-json/metadata.yaml
  airbyte-integrations/connectors/destination-sftp-json/pyproject.toml
  airbyte-integrations/connectors/destination-sftp-json/unit_tests/unit_test.py
  docs/integrations/destinations/sftp-json.md
Due: addlicense

docs(destination-sftp-json): link changelog to PR
  docs/integrations/destinations/sftp-json.md
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

