Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

fix(source-github): bump version to 2.1.20 with changelog entry
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/pyproject.toml
  docs/integrations/sources/github.md
Due: none

fix(source-github): update test to match CDK 7.12+ error message format
  airbyte-integrations/connectors/source-github/unit_tests/test_source.py
Due: addlicense

docs(source-stripe): fix migration guide formatting and grammar issues
  docs/integrations/sources/stripe-migrations.md
Due: none

docs(source-stripe): fix trailing whitespace in migration guide
  docs/integrations/sources/stripe-migrations.md
Due: none

fix: remove unnecessary $time fallback in Export.process_response()
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams.py
Due: addlicense

fix: use predicate-based 403 handling to distinguish permission errors from other 403s
  airbyte-integrations/connectors/source-google-analytics-data-api/manifest.yaml
  docs/integrations/sources/google-analytics-data-api.md
Due: none

chore(sources): rename "concurrent workers" to "concurrent threads" across source connectors and docs
  airbyte-integrations/connectors/source-airtable/manifest.yaml
  airbyte-integrations/connectors/source-amazon-ads/CONTRIBUTING.md
  airbyte-integrations/connectors/source-amazon-ads/manifest.yaml
  airbyte-integrations/connectors/source-asana/source_asana/manifest.yaml
  airbyte-integrations/connectors/source-chargebee/manifest.yaml
  airbyte-integrations/connectors/source-freshdesk/manifest.yaml
  airbyte-integrations/connectors/source-gitlab/manifest.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
  airbyte-integrations/connectors/source-google-search-console/manifest.yaml
  airbyte-integrations/connectors/source-harvest/manifest.yaml
  airbyte-integrations/connectors/source-hubspot/manifest.yaml
  airbyte-integrations/connectors/source-instagram/manifest.yaml
  airbyte-integrations/connectors/source-jira/manifest.yaml
  airbyte-integrations/connectors/source-klaviyo/manifest.yaml
  airbyte-integrations/connectors/source-klaviyo/unit_tests/mock_server/config.py
  airbyte-integrations/connectors/source-mailchimp/manifest.yaml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/spec.json
  airbyte-integrations/connectors/source-monday/manifest.yaml
  airbyte-integrations/connectors/source-recurly/manifest.yaml
  airbyte-integrations/connectors/source-sendgrid/manifest.yaml
  airbyte-integrations/connectors/source-slack/manifest.yaml
  airbyte-integrations/connectors/source-stripe/manifest.yaml
  airbyte-integrations/connectors/source-twilio/manifest.yaml
  airbyte-integrations/connectors/source-woocommerce/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-support/manifest.yaml
  docs/integrations/enterprise-connectors/source-sharepoint-lists-enterprise.md
  docs/integrations/sources/airtable.md
  docs/integrations/sources/amazon-ads.md
  docs/integrations/sources/chargebee.md
  docs/integrations/sources/gitlab.md
  docs/integrations/sources/google-search-console.md
  docs/integrations/sources/stripe.md
  docs/integrations/sources/woocommerce.md
  docs/integrations/sources/zendesk-support.md
Due: addlicense

fix(source-convex): add support for Convex components
  airbyte-integrations/connectors/source-convex/source_convex/source.py
Due: addlicense

fix(source-mixpanel): handle ISO datetime strings in Export stream time field
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/pyproject.toml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams.py
  docs/integrations/sources/mixpanel.md
Due: addlicense

docs(source-slack): rename API Token to Bot Token in spec and docs
  airbyte-integrations/connectors/source-slack/manifest.yaml
  docs/integrations/sources/slack.md
Due: none

Apply suggestion from @github-actions[bot]
  docs/integrations/sources/slack.md
Due: none

chore(source-slack): bump version to 3.1.18
  airbyte-integrations/connectors/source-slack/metadata.yaml
  docs/integrations/sources/slack.md
Due: none

feat(destination-doris): rewrite destination with Bulk CDK
  airbyte-integrations/connectors/destination-doris/.gitignore
  airbyte-integrations/connectors/destination-doris/README.md
  airbyte-integrations/connectors/destination-doris/build.gradle
  airbyte-integrations/connectors/destination-doris/gradle.properties
  airbyte-integrations/connectors/destination-doris/metadata.yaml
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/DorisDestination.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/check/DorisChecker.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/client/DorisAirbyteClient.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/client/DorisSqlGenerator.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/client/DorisSqlTypes.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/config/DorisBeanFactory.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/config/DorisInitialStatusGatherer.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/dataflow/DorisAggregate.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/schema/DorisNamingUtils.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/schema/DorisTableSchemaMapper.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/spec/DorisConfiguration.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/spec/DorisSpecification.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/write/DorisLabelGenerator.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/write/DorisStreamLoadClient.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/write/DorisStreamLoadResponse.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/write/DorisWriter.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/write/transform/DorisCoercer.kt
  airbyte-integrations/connectors/destination-doris/src/test-integration/kotlin/io/airbyte/integrations/destination/doris/DorisConfigUpdater.kt
  airbyte-integrations/connectors/destination-doris/src/test-integration/kotlin/io/airbyte/integrations/destination/doris/DorisContainerHelper.kt
  airbyte-integrations/connectors/destination-doris/src/test-integration/kotlin/io/airbyte/integrations/destination/doris/DorisTestUtils.kt
  airbyte-integrations/connectors/destination-doris/src/test-integration/kotlin/io/airbyte/integrations/destination/doris/fixtures/DorisExpectedRecordMapper.kt
  airbyte-integrations/connectors/destination-doris/src/test-integration/kotlin/io/airbyte/integrations/destination/doris/write/DorisAcceptanceTest.kt
  airbyte-integrations/connectors/destination-doris/src/test-integration/resources/docker/doris/be.conf
  airbyte-integrations/connectors/destination-doris/src/test-integration/resources/docker/doris/fe.conf
  airbyte-integrations/connectors/destination-doris/src/test/kotlin/io/airbyte/integrations/destination/doris/schema/DorisNamingUtilsTest.kt
  airbyte-integrations/connectors/destination-doris/src/test/kotlin/io/airbyte/integrations/destination/doris/write/DorisLabelGeneratorTest.kt
  docs/integrations/destinations/doris.md
Due: addlicense, spotless

fix(destination-doris): use DESC for schema discovery and fix type mapping
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/client/DorisAirbyteClient.kt
Due: addlicense, spotless

fix(destination-doris): fix CI failures - language tag and http protocol
  airbyte-integrations/connectors/destination-doris/metadata.yaml
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/spec/DorisConfiguration.kt
Due: addlicense, spotless

fix(source-google-search-console): add search_appearance field to keyword report streams
  airbyte-integrations/connectors/source-google-search-console/manifest.yaml
  airbyte-integrations/connectors/source-google-search-console/metadata.yaml
  airbyte-integrations/connectors/source-google-search-console/unit_tests/mock_server/test_search_analytics_keyword_page_report.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/mock_server/test_search_analytics_keyword_site_report_by_page.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/mock_server/test_search_analytics_keyword_site_report_by_site.py
  docs/integrations/sources/google-search-console.md
Due: addlicense

docs: update changelog PR number for 1.11.0
  docs/integrations/sources/google-search-console.md
Due: none

style: apply ruff format to test files
  airbyte-integrations/connectors/source-google-search-console/unit_tests/mock_server/test_search_analytics_keyword_page_report.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/mock_server/test_search_analytics_keyword_site_report_by_page.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/mock_server/test_search_analytics_keyword_site_report_by_site.py
Due: addlicense

fix(destination-doris): apply spotless formatting
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/check/DorisChecker.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/client/DorisAirbyteClient.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/client/DorisSqlGenerator.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/config/DorisBeanFactory.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/dataflow/DorisAggregate.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/spec/DorisConfiguration.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/write/DorisStreamLoadClient.kt
  airbyte-integrations/connectors/destination-doris/src/main/kotlin/io/airbyte/integrations/destination/doris/write/DorisStreamLoadResponse.kt
  airbyte-integrations/connectors/destination-doris/src/test-integration/kotlin/io/airbyte/integrations/destination/doris/DorisContainerHelper.kt
  airbyte-integrations/connectors/destination-doris/src/test-integration/kotlin/io/airbyte/integrations/destination/doris/DorisTestUtils.kt
  airbyte-integrations/connectors/destination-doris/src/test-integration/kotlin/io/airbyte/integrations/destination/doris/write/DorisAcceptanceTest.kt
Due: addlicense, spotless

fix(destination-databricks): backtick-quote Unity Catalog name in all SQL statements
  airbyte-integrations/connectors/destination-databricks/metadata.yaml
  airbyte-integrations/connectors/destination-databricks/src/main/kotlin/io/airbyte/integrations/destination/databricks/jdbc/DatabricksDestinationHandler.kt
  airbyte-integrations/connectors/destination-databricks/src/main/kotlin/io/airbyte/integrations/destination/databricks/jdbc/DatabricksSqlGenerator.kt
  airbyte-integrations/connectors/destination-databricks/src/test/kotlin/DatabricksSqlGeneratorQuotingTest.kt
  docs/integrations/destinations/databricks.md
Due: addlicense, spotless

fix: update changelog PR link to #76308
  docs/integrations/destinations/databricks.md
Due: none

fix: apply Spotless formatting to test file
  airbyte-integrations/connectors/destination-databricks/src/test/kotlin/DatabricksSqlGeneratorQuotingTest.kt
Due: addlicense, spotless

fix(source-mysql): fix timestamp microsecond truncation in JDBC cursor queries
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/jdbc/JdbcAccessor.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/test/kotlin/io/airbyte/cdk/jdbc/JdbcAccessorTest.kt
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  docs/integrations/sources/mysql.md
Due: addlicense, spotless

fix: update changelog with actual PR number
  docs/integrations/sources/mysql.md
Due: none

fix(bulk-cdk): fix timestamp and time microsecond truncation in JDBC cursor queries
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/jdbc/JdbcAccessor.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/test/kotlin/io/airbyte/cdk/jdbc/JdbcAccessorTest.kt
Due: addlicense, spotless

fix(source-mysql): bump version to 3.51.6 for timestamp microsecond truncation fix
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  docs/integrations/sources/mysql.md
Due: none

style: apply Spotless formatting to test file
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/test/kotlin/io/airbyte/cdk/jdbc/JdbcAccessorTest.kt
Due: addlicense, spotless

fix(destination-snowflake): handle ANSI reserved keywords in column names
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/schema/SnowflakeNamingUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/schema/SnowflakeNamingUtilsTest.kt
  docs/integrations/destinations/snowflake.md
Due: addlicense, spotless

docs: update changelog with actual PR number
  docs/integrations/destinations/snowflake.md
Due: none

fix(java-cdk): prevent double-dispatch of flush workers to same stream
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/destination/async/FlushWorkers.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/test/kotlin/io/airbyte/cdk/integrations/destination/async/FlushWorkersTest.kt
Due: addlicense, spotless

style: apply Spotless formatting to FlushWorkersTest.kt
  airbyte-cdk/java/airbyte-cdk/core/src/test/kotlin/io/airbyte/cdk/integrations/destination/async/FlushWorkersTest.kt
Due: addlicense, spotless

chore(source-google-ads): Update CDK to pre-release from PR #953 with heartbeat diagnostics and deadlock fix
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  docs/integrations/sources/google-ads.md
Due: none

chore: regenerate poetry.lock for CDK version update
  airbyte-integrations/connectors/source-google-ads/poetry.lock
Due: none

chore(source-intercom): promote 0.13.20-rc.1 to stable and disable progressive rollout
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  docs/integrations/sources/intercom.md
Due: none

fix(source-intercom): update changelog PR reference to #76316
  docs/integrations/sources/intercom.md
Due: none

fix(source-shopify): Add missing closing brace and comma in spec.json
  airbyte-integrations/connectors/source-shopify/source_shopify/spec.json
Due: none
