Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

refactor: move _GZIP_MAGIC to class-level declaration
  airbyte-integrations/connectors/source-gcs/source_gcs/stream_reader.py
Due: addlicense

fix(source-facebook-marketing): sync expected spec and raise config_error for deprecated dma breakdown
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ads_insights_breakdowns.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_source.py
Due: addlicense

chore(source-salesforce): update CDK to pre-release 7.23.2.post3.dev28020507330
  airbyte-integrations/connectors/source-salesforce/poetry.lock
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
Due: none

chore(source-salesforce): bump version to 2.7.24
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  docs/integrations/sources/salesforce.md
Due: none

docs(source-salesforce): fix documentation headers order for QA check
  docs/integrations/sources/salesforce.md
Due: none

fix(source-facebook-marketing): rely on CDK spec validation to reject deprecated dma breakdown
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_source.py
Due: addlicense

fix(source-xero): enable acceptance tests with GSM secret and fix markdownlint
  airbyte-integrations/connectors/source-xero/metadata.yaml
  docs/integrations/sources/xero.md
Due: none

fix(source-xero): use scopes list with scopes_param in OAuth consent URL and allow identity.xero.com host
  airbyte-integrations/connectors/source-xero/manifest.yaml
  airbyte-integrations/connectors/source-xero/metadata.yaml
Due: none

test(source-xero): add unit tests for OAuth 2.0 authorization code authenticator config
  airbyte-integrations/connectors/source-xero/unit_tests/test_oauth_config.py
Due: addlicense

style(source-xero): apply ruff-format to OAuth config unit tests
  airbyte-integrations/connectors/source-xero/unit_tests/test_oauth_config.py
Due: addlicense

docs: add stream mapping chart and custom insights section to v6.0.0 migration guide
  docs/integrations/sources/facebook-marketing-migrations.md
Due: none

fix(source-xero): avoid CodeQL URL substring check in OAuth config test
  airbyte-integrations/connectors/source-xero/unit_tests/test_oauth_config.py
Due: addlicense

docs: fix migration guide note about custom insights error message
  docs/integrations/sources/facebook-marketing-migrations.md
Due: none

test: add unit test validating actual CDK error for dma breakdown config
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_source.py
Due: addlicense

fix: extend upgradeDeadline to 2026-07-07 (CI requires at least 1 week)
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
Due: none

fix: set upgradeDeadline to 2026-06-24 (immediate upstream breakage)
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
Due: none

fix: remove scopedImpact from 6.0.0 breaking change (custom streams also affected)
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
Due: none

docs(release-notes): Agents release notes for June 23, 2026
  docs/release_notes/agents/readme.md
Due: none

docs(source-gcs): fix prerequisites, setup instructions, add limitations section, correct changelog dates
  docs/integrations/sources/gcs.md
Due: none

fix: add deadlineAction auto_upgrade to 6.0.0 breaking change
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
Due: none

Update deadlineAction for MSSQL source connector
  airbyte-integrations/connectors/source-mssql/metadata.yaml
Due: none

docs(destination-s3-data-lake): fix Glue IAM policy and changelog entries
  docs/integrations/destinations/s3-data-lake.md
Due: none

fix(source-facebook-pages): replace insights metrics deprecated by Meta
  airbyte-integrations/connectors/source-facebook-pages/metadata.yaml
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/manifest.yaml
  docs/integrations/sources/facebook-pages.md
Due: none

docs(source-facebook-pages): set changelog PR link to #80740
  docs/integrations/sources/facebook-pages.md
Due: none

docs: add comment explaining CheckDynamicStream usage for vendor account support
  airbyte-integrations/connectors/source-amazon-seller-partner/manifest.yaml
Due: none

refactor: use == 'Seller' instead of != 'Vendor' for seller stream condition
  airbyte-integrations/connectors/source-amazon-seller-partner/manifest.yaml
Due: none

docs: add stream ordering warning near streams section per reviewer feedback
  airbyte-integrations/connectors/source-amazon-seller-partner/manifest.yaml
Due: none

fix: use version 5.7.10 instead of 5.7.11 (5.7.10 was never released)
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  docs/integrations/sources/amazon-seller-partner.md
Due: none

feat(source-mssql): map NUMERIC/DECIMAL with scale 0 to Airbyte integer (#77672)
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/gradle.properties
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDebeziumOperations.kt
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlSourceOperations.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDatatypeIntegrationTest.kt
  docs/integrations/sources/mssql-migrations.md
  docs/integrations/sources/mssql.md
Due: addlicense, spotless

docs(source-mssql): fix data type mappings, add hierarchyid, correct changelog entries
  docs/integrations/sources/mssql.md
Due: none

test: add ordering-guard test asserting first stream per account type for CheckDynamicStream
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
Due: addlicense

feat(source-hubspot): Add archived streams for contacts, companies, and tickets
  airbyte-integrations/connectors/source-hubspot/manifest.yaml
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
Due: none

docs: Add changelog entry for source-hubspot 6.7.1
  docs/integrations/sources/hubspot.md
Due: none

fix: Update stream count assertions for new archived streams
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
Due: addlicense

fix(source-hubspot): follow CRM search paging cursor
  airbyte-integrations/connectors/source-hubspot/components.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_components.py
Due: addlicense

docs: rewrite stream availability section to list what each account type has access to
  docs/integrations/sources/amazon-seller-partner.md
Due: none

fix(source-hubspot): normalize CRM search cursor
  airbyte-integrations/connectors/source-hubspot/components.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_components.py
Due: addlicense

docs(release-notes): Agents release notes for June 18, 2026
  docs/release_notes/agents/readme.md
Due: none

move Gong semantic search entry from Web app to Connectors category
  docs/release_notes/agents/readme.md
Due: none
