Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

ci: move RC+disabled-rollout fixture to invalid test cases
  airbyte-ci/connectors/metadata_service/lib/tests/fixtures/metadata_validate/invalid/metadata_release_candidate_disable_progressive_rollout.yaml
Due: none

Bump CDK
  airbyte-integrations/connectors/destination-s3-data-lake/gradle.properties
  airbyte-integrations/connectors/destination-s3/gradle.properties
  docs/integrations/destinations/s3-data-lake.md
  docs/integrations/destinations/s3.md
Due: none

No s3
  airbyte-integrations/connectors/destination-s3/gradle.properties
  docs/integrations/destinations/s3.md
Due: none

ci: enable progressive rollout for source-tiktok-marketing 5.0.3-rc.1 (#74317)
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
Due: none

docs(source-tiktok-marketing): Fix stream names, improve migration guide, clean up wording
  docs/integrations/sources/tiktok-marketing-migrations.md
  docs/integrations/sources/tiktok-marketing.md
Due: none

refactor(source-slack): replace include_external_channels with include_public_channels + include_shared_channels
  airbyte-integrations/connectors/source-slack/components.py
  airbyte-integrations/connectors/source-slack/manifest.yaml
Due: addlicense

docs(source-tiktok-marketing): Fix trailing blank lines in migrations file
  docs/integrations/sources/tiktok-marketing-migrations.md
Due: none

chore(source-slack): rename 'Join all channels' to 'Join channels'
  airbyte-integrations/connectors/source-slack/manifest.yaml
Due: none

chore(source-slack): update join_channels description
  airbyte-integrations/connectors/source-slack/manifest.yaml
Due: none

chore(source-slack): simplify join_channels description
  airbyte-integrations/connectors/source-slack/manifest.yaml
Due: none

fix(iceberg): map PK NumberType to StringType instead of DecimalType
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/data/iceberg/parquet/AirbyteTypeToIcebergSchema.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/data/iceberg/parquet/AirbyteValueToIcebergRecord.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergSuperTypeFinder.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergTypesComparator.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/test/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergSuperTypeFinderTest.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/test/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergTypesComparatorTest.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/AirbyteTypeToIcebergSchemaTest.kt
Due: addlicense, spotless

refactor: use val with conditional expression instead of var
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/data/iceberg/parquet/AirbyteTypeToIcebergSchema.kt
Due: addlicense, spotless

chore: Fix unit tests, dockerImageTag, & docs
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  airbyte-integrations/connectors/source-intercom/unit_tests/poe_tasks.toml
  airbyte-integrations/connectors/source-intercom/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-intercom/unit_tests/pyproject.toml
  docs/integrations/sources/intercom.md
Due: none

Revert "feat(source-intercom): add configurable num_workers for sync concurrency"
  airbyte-integrations/connectors/source-intercom/manifest.yaml
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  airbyte-integrations/connectors/source-intercom/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-intercom/unit_tests/pyproject.toml
  docs/integrations/sources/intercom.md
Due: none

chore: bump load CDK version to 1.0.4
  airbyte-cdk/bulk/core/load/version.properties
Due: none

chore: remove duplicate file
  airbyte-integrations/connectors/source-intercom/unit_tests/poe_tasks.toml
Due: none

docs: add changelog entry for load CDK 1.0.4
  airbyte-cdk/bulk/core/load/changelog.md
Due: none

test: temporarily set destination-s3-data-lake CDK to local for integration testing
  airbyte-integrations/connectors/destination-s3-data-lake/gradle.properties
Due: none

revert: remove temporary local CDK version (CI enforces separate PRs for CDK and connector changes)
  airbyte-integrations/connectors/destination-s3-data-lake/gradle.properties
Due: none

Fix formatting of cdkVersion in gradle.properties
  airbyte-integrations/connectors/destination-s3-data-lake/gradle.properties
Due: none

fix(iceberg): map PK NumberType to StringType instead of DecimalType (#74328)
  airbyte-cdk/bulk/core/load/changelog.md
  airbyte-cdk/bulk/core/load/version.properties
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/data/iceberg/parquet/AirbyteTypeToIcebergSchema.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/data/iceberg/parquet/AirbyteValueToIcebergRecord.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergSuperTypeFinder.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergTypesComparator.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/test/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergSuperTypeFinderTest.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/test/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergTypesComparatorTest.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/AirbyteTypeToIcebergSchemaTest.kt
Due: addlicense, spotless

Bump version
  airbyte-integrations/connectors/destination-s3-data-lake/gradle.properties
Due: none

feat(source-amazon-seller-partner): use CDK backoff pattern for RDT token fetch
  airbyte-integrations/connectors/source-amazon-seller-partner/components.py
Due: addlicense

Add PR number
  docs/integrations/sources/amazon-seller-partner.md
Due: none

chore: bump-version
  airbyte-integrations/connectors/source-zendesk-chat/metadata.yaml
  docs/integrations/sources/zendesk-chat.md
Due: none

chore: pin CDK pre-release 7.10.1.post6.dev22743106257 for scopes object array support
  airbyte-integrations/connectors/source-zendesk-chat/metadata.yaml
Due: none

fix: update upgradeDeadline to 2026-05-30 per v20 sunset schedule
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
Due: none

fix(source-amazon-seller-partner): use class-level _RDT_API_VERSION constant
  airbyte-integrations/connectors/source-amazon-seller-partner/components.py
Due: addlicense

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-amazon-seller-partner/components.py
Due: addlicense

Apply suggestion from @ian-at-airbyte
  docs/platform/operating-airbyte/privatelink.md
Due: none

fix(source-hubspot): remove AddFieldsFromEndpointTransformation from campaigns stream
  airbyte-integrations/connectors/source-hubspot/components.py
  airbyte-integrations/connectors/source-hubspot/manifest.yaml
Due: addlicense

docs(source-hubspot): update BEHAVIOR.md to remove campaigns per-record enrichment
  airbyte-integrations/connectors/source-hubspot/BEHAVIOR.md
Due: none

Fix type discrepencies
  airbyte-cdk/bulk/toolkits/source-tests/src/testFixtures/kotlin/io/airbyte/cdk/test/fixtures/tests/FieldTypeMapperTest.kt
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/cdc/PostgresSourceCdcMetaFields.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/cdc/PostgresSourceDebeziumOperations.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/cdc/ReplicationSlotManager.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/PostgresSourceFieldTypeMapper.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/PostgresSourceStreamFactory.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/types/LegacyBooleanBitsFieldType.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceFieldTypeMapperTest.kt
Due: addlicense, spotless

fix(destination-bigquery): classify BigQuery quota exceeded errors as config_error
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/BigQueryDatabaseHandler.kt
Due: addlicense, spotless

test(destination-bigquery): add unit tests for quota exceeded error wrapping
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/BigQueryDatabaseHandlerTest.kt
Due: addlicense, spotless

feat(source-amazon-seller-partner): add thread-safe RDT token refresh with double-checked locking
  airbyte-integrations/connectors/source-amazon-seller-partner/components.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_rdt_authenticator.py
Due: addlicense

fix(destination-bigquery): truncate datetime/timestamp to microsecond precision
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/formatter/BigQueryRecordFormatter.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/formatter/ProtoToBigQueryStandardInsertRecordFormatter.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/bulk_loader/ProtoToBigQueryCSVRowGenerator.kt
Due: addlicense, spotless

style(destination-bigquery): fix Kotlin formatting per Spotless rules
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/formatter/BigQueryRecordFormatter.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/formatter/ProtoToBigQueryStandardInsertRecordFormatter.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/bulk_loader/ProtoToBigQueryCSVRowGenerator.kt
Due: addlicense, spotless

revert captivate_iq stream to full refresh (#54)
  airbyte-integrations/connectors/source-captivateiq/manifest.yaml
  airbyte-integrations/connectors/source-captivateiq/metadata.yaml
Due: none
