Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

remove unused functio
  poe-tasks/lib/util.sh
Due: none

better comment
  poe-tasks/lib/util.sh
Due: none

Fix unit tests
  airbyte-integrations/connectors/source-google-ads/poetry.lock
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/utils.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/common.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_empty_streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_google_ads.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_migrations/custom_query/test_config.json
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_utils.py
  docs/integrations/sources/google-ads-migrations.md
  docs/integrations/sources/google-ads.md
Due: addlicense

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_migrations/custom_query/test_config.json
Due: none

Copy edits
  docs/integrations/speed-improvements.md
Due: none

fix: azure client improvements
  airbyte-cdk/bulk/toolkits/load-azure-blob-storage/src/main/kotlin/io/airbyte/cdk/load/file/azureBlobStorage/AzureBlobStorageClient.kt
  airbyte-cdk/bulk/toolkits/load-azure-blob-storage/src/main/kotlin/io/airbyte/cdk/load/file/azureBlobStorage/AzureBlobStreamingUpload.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/pipline/object_storage/ObjectLoaderPartFormatter.kt
Due: addlicense, spotless

airbyte-webapp removed
  docs/platform/deploying-airbyte/integrations/ingress-1-7.md
  docs/release_notes/v-1.8.md
Due: none

update stale metadata publish pipeline
  airbyte-ci/connectors/metadata_service/lib/metadata_service/commands.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/constants.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/helpers/gcs.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/helpers/slack.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/stale_metadata_report.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/validators/metadata_validator.py
  airbyte-ci/connectors/metadata_service/lib/poetry.lock
  airbyte-ci/connectors/metadata_service/lib/pyproject.toml
  airbyte-ci/connectors/metadata_service/lib/tests/fixtures/stale_metadata_report_fixtures.py
  airbyte-ci/connectors/metadata_service/lib/tests/helpers/test_slack.py
  airbyte-ci/connectors/metadata_service/lib/tests/test_docker_hub.py
  airbyte-ci/connectors/metadata_service/lib/tests/test_gcs_upload.py
  airbyte-ci/connectors/metadata_service/lib/tests/test_stale_metadata_report.py
Due: addlicense

create github workflow and shell script
  .github/workflows/publish-stale-metadata-report.yml
  poe-tasks/publish-stale-metadata-report.sh
Due: none

Remove references to webapp in the docs
  docs/platform/connector-development/debugging-docker.md
  docs/platform/deploying-airbyte/deploying-airbyte.md
  docs/platform/deploying-airbyte/integrations/custom-image-registries.md
  docs/platform/deploying-airbyte/integrations/ingress.md
  docs/platform/enterprise-setup/implementation-guide.md
  docs/platform/enterprise-setup/scaling-airbyte.md
  docs/platform/enterprise-setup/upgrading-from-community.md
  docs/platform/operator-guides/scaling-airbyte.md
  docs/platform/understanding-airbyte/high-level-view.md
Due: none

add slack_sdk
  airbyte-ci/connectors/metadata_service/lib/poetry.lock
  airbyte-ci/connectors/metadata_service/lib/pyproject.toml
Due: none

change for test purposes
  airbyte-ci/connectors/metadata_service/lib/pyproject.toml
Due: none

chore: format code
  airbyte-ci/connectors/metadata_service/lib/metadata_service/commands.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/helpers/slack.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/stale_metadata_report.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/validators/metadata_validator.py
  airbyte-ci/connectors/metadata_service/lib/tests/fixtures/stale_metadata_report_fixtures.py
  airbyte-ci/connectors/metadata_service/lib/tests/helpers/test_slack.py
  airbyte-ci/connectors/metadata_service/lib/tests/test_docker_hub.py
  airbyte-ci/connectors/metadata_service/lib/tests/test_stale_metadata_report.py
Due: addlicense

docs: Add stream templates and dynamic streams documentation for manifest connectors
  docs/platform/connector-development/config-based/understanding-the-yaml-file/dynamic-streams.md
  docs/platform/connector-development/config-based/understanding-the-yaml-file/stream-templates.md
  docusaurus/sidebar-platform.js
Due: none

Submission for source-google-my-business from Connector Builder
  airbyte-integrations/connectors/source-google-my-business/README.md
  airbyte-integrations/connectors/source-google-my-business/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-my-business/icon.svg
  airbyte-integrations/connectors/source-google-my-business/manifest.yaml
  airbyte-integrations/connectors/source-google-my-business/metadata.yaml
  docs/integrations/sources/google-my-business.md
Due: none

docs: Fix inconsistencies in stream templates examples
  docs/platform/connector-development/config-based/understanding-the-yaml-file/dynamic-streams.md
  docs/platform/connector-development/config-based/understanding-the-yaml-file/stream-templates.md
Due: none

Docs connector builder schema second pass (#64165)
  docs/platform/connector-development/README.md
  docs/platform/connector-development/config-based/low-code-cdk-overview.md
  docs/platform/connector-development/config-based/understanding-the-yaml-file/file-syncing.md
  docs/platform/connector-development/config-based/understanding-the-yaml-file/rate-limit-api-budget.md
  docs/platform/connector-development/connector-builder-ui/assets/stream-templates/component-mappings.png
  docs/platform/connector-development/connector-builder-ui/global-configuration.md
  docs/platform/connector-development/connector-builder-ui/overview.md
  docs/platform/connector-development/connector-builder-ui/stream-templates.md
  docusaurus/sidebar-platform.js
Due: none

Helm chart updates.
  docs/release_notes/v-1.8.md
Due: none

First draft with abctl info
  docs/platform/deploying-airbyte/abctl/index.md
  docs/platform/deploying-airbyte/chart-v2-community.mdx
  docs/platform/enterprise-setup/chart-v2-enterprise.mdx
Due: none

basic workflow
  .github/workflows/connector-image-build-push.yml
  poe-tasks/gradle-connector-tasks.toml
  poe-tasks/manifest-only-connector-tasks.toml
  poe-tasks/poetry-connector-tasks.toml
Due: none

add test connector
  .github/workflows/connector-image-build-push.yml
Due: none

more options to experiment
  airbyte-cdk/bulk/toolkits/load-azure-blob-storage/src/main/kotlin/io/airbyte/cdk/load/command/azureBlobStorage/AzureBlobStorageClientSpecification.kt
  airbyte-cdk/bulk/toolkits/load-azure-blob-storage/src/main/kotlin/io/airbyte/cdk/load/file/azureBlobStorage/AzureBlobStorageClient.kt
  airbyte-cdk/bulk/toolkits/load-azure-blob-storage/src/main/kotlin/io/airbyte/cdk/load/file/azureBlobStorage/AzureBlobStreamingUpload.kt
  airbyte-cdk/bulk/toolkits/load-azure-blob-storage/src/test/kotlin/io/airbyte/cdk/load/file/azureBlobStorage/AzureBlobStreamingUploadTest.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/pipline/object_storage/ObjectLoaderPartFormatter.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageClientSpecification.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageConfiguration.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageObjectLoader.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/resources/expected-spec-oss.json
Due: addlicense, spotless

fix: cap socket part size
  airbyte-cdk/bulk/toolkits/load-azure-blob-storage/src/main/kotlin/io/airbyte/cdk/load/file/azureBlobStorage/AzureBlobStreamingUpload.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/factory/object_storage/ObjectLoaderQueueBeanFactory.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/write/object_storage/ObjectLoader.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageObjectLoader.kt
Due: addlicense, spotless

chore(source-intercom): update docker image tag to 0.13.2
  airbyte-integrations/connectors/source-intercom/metadata.yaml
Due: none

Fix typo in CDC doc
  docs/platform/understanding-airbyte/cdc.md
Due: none

Fix version in metadata.yaml
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
Due: none

chore(source-intercom): update docs and fix indentation
  airbyte-integrations/connectors/source-intercom/manifest.yaml
  docs/integrations/sources/intercom.md
Due: none

Add actual deprecation date to breaking change message
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
Due: none

Fix breaking change message
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
Due: none

🚨🚨 feat(source-google-ads): Update to API version to v20 (#64512)
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/poetry.lock
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/utils.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/common.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_empty_streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_google_ads.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_utils.py
  docs/integrations/sources/google-ads-migrations.md
  docs/integrations/sources/google-ads.md
Due: addlicense

add dummy triggering workflow
  .github/workflows/connector-image-build-push.yml
  .github/workflows/david-dummy-workflow.yml
Due: none

Fix datetime for daily streams
  airbyte-integrations/connectors/source-snapchat-marketing/manifest.yaml
Due: none

bugfix
  .github/workflows/connector-image-build-push.yml
Due: none

Fix version
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
Due: none

testing
  .github/workflows/david-dummy-workflow.yml
Due: none

more experiment
  airbyte-cdk/bulk/toolkits/load-azure-blob-storage/src/main/kotlin/io/airbyte/cdk/load/command/azureBlobStorage/AzureBlobStorageClientSpecification.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/factory/object_storage/ObjectLoaderStepBeanFactory.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/write/object_storage/ObjectLoader.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageClientSpecification.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageConfiguration.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageObjectLoader.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/resources/expected-spec-oss.json
Due: addlicense, spotless

don't run workflow_call workflow on push
  .github/workflows/connector-image-build-push.yml
Due: none

use docker manifest inspect
  .github/workflows/connector-image-build-push.yml
Due: none

cleanup tests and code
  airbyte-ci/connectors/metadata_service/lib/metadata_service/stale_metadata_report.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/validators/metadata_validator.py
  airbyte-ci/connectors/metadata_service/lib/tests/conftest.py
  airbyte-ci/connectors/metadata_service/lib/tests/fixtures/stale_metadata_report_fixtures.py
  airbyte-ci/connectors/metadata_service/lib/tests/test_docker_hub.py
  airbyte-ci/connectors/metadata_service/lib/tests/test_stale_metadata_report.py
  airbyte-ci/connectors/metadata_service/lib/tests/test_validators/test_metadata_validators.py
Due: addlicense

updates worfklow for manual dispatch
  .github/workflows/publish-stale-metadata-report.yml
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

