Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

Added support of SSO and LDAP authentication mechanisms
  airbyte-integrations/connectors/destination-teradata/src/main/kotlin/io/airbyte/integrations/destination/teradata/TeradataDestination.kt
  airbyte-integrations/connectors/destination-teradata/src/main/kotlin/io/airbyte/integrations/destination/teradata/util/TeradataConstants.kt
  airbyte-integrations/connectors/destination-teradata/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-teradata/src/test-integration/java/io/airbyte/integrations/destination/teradata/TeradataDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-teradata/src/test/java/io/airbyte/integrations/destination/teradata/TeradataDestinationTest.java
  docs/integrations/destinations/teradata.md
Due: addlicense, spotless

Added changelog
  docs/integrations/destinations/teradata.md
Due: none

Updated change log
  docs/integrations/destinations/teradata.md
Due: none

Updated change log with release items
  docs/integrations/destinations/teradata.md
Due: none

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/manifest.yaml
Due: none

fix
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
Due: none

Add Export Lookback Window
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/pyproject.toml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/spec.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/base.py
  docs/integrations/sources/mixpanel.md
Due: addlicense

Update PR url
  docs/integrations/sources/mixpanel.md
Due: none

Add unit test for new parameter
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
Due: addlicense

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
Due: addlicense

✨ Source Intercom: adding a mock server test (#54715)
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/test/steps/manifest_only_connectors.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/test/steps/python_connectors.py
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  airbyte-integrations/connectors/source-intercom/unit_tests/config_builder.py
  airbyte-integrations/connectors/source-intercom/unit_tests/integration/test_segments.py
  airbyte-integrations/connectors/source-intercom/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-intercom/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-intercom/unit_tests/resource/http/response/segments.json
Due: addlicense

fix
  airbyte-integrations/connectors/source-zendesk-chat/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-chat/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-chat/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-zendesk-chat/unit_tests/pyproject.toml
Due: none

Changed check stream from payrolls to profiles
  airbyte-integrations/connectors/source-hibob/manifest.yaml
  airbyte-integrations/connectors/source-hibob/metadata.yaml
  docs/integrations/sources/hibob.md
Due: none

source-hubspot: update release information
  docs/integrations/sources/hubspot.md
Due: none

add tests and clean-up
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/source.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/integrations/config.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/integrations/test_posts.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/integrations/utils.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/integrations/zs_requests/posts_request_builder.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/integrations/zs_responses/pagination_strategies/cursor_based_pagination_strategy.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/integrations/zs_responses/posts_response_builder.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/integrations/zs_responses/records/records_builder.py
Due: addlicense

update release information
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/pyproject.toml
  docs/integrations/sources/zendesk-support.md
Due: none

Update pyproject.toml
  airbyte-integrations/connectors/source-zendesk-chat/unit_tests/pyproject.toml
Due: none

Update tiktok-marketing.md
  docs/integrations/sources/tiktok-marketing.md
Due: none

update download_decoder
  airbyte-integrations/connectors/source-sendgrid/manifest.yaml
Due: none

[Test PR: Do not merge] Mssql w/ logs + tuning knobs
  airbyte-cdk/bulk/toolkits/load-azure-blob-storage/src/main/kotlin/io/airbyte/cdk/load/file/azureBlobStorage/AzureBlobStreamingUpload.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/command/object_storage/ObjectStorageFormatSpecification.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStorageFormattingWriter.kt
  airbyte-integrations/connectors/destination-mssql-v2/metadata.yaml
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLBulkLoadStreamLoader.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLWriter.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/config/LoadTypeSpecification.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/config/MSSQLConfiguration.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/config/MSSQLSpecification.kt
Due: addlicense, spotless

removed debug knobs
  airbyte-cdk/bulk/toolkits/load-azure-blob-storage/src/main/kotlin/io/airbyte/cdk/load/file/azureBlobStorage/AzureBlobStreamingUpload.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/command/object_storage/ObjectStorageFormatSpecification.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStorageFormattingWriter.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLBulkLoadStreamLoader.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLWriter.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/config/LoadTypeSpecification.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/config/MSSQLConfiguration.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/config/MSSQLSpecification.kt
  docs/integrations/destinations/mssql-v2.md
Due: addlicense, spotless

[Destination-S3] File Xfer Local Performance Test
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicPerformanceTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/PerformanceTestScenarios.kt
  airbyte-integrations/connectors/destination-s3/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2PerformanceTest.kt
Due: addlicense, spotless

update CDK
  airbyte-integrations/connectors/source-sendgrid/metadata.yaml
Due: none

[Destination MS SQL V2] Correct Part Size, No buffered input stream (#55252)
  airbyte-cdk/bulk/toolkits/load-azure-blob-storage/src/main/kotlin/io/airbyte/cdk/load/file/azureBlobStorage/AzureBlobStreamingUpload.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStorageFormattingWriter.kt
  airbyte-integrations/connectors/destination-mssql-v2/metadata.yaml
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/config/MSSQLConfiguration.kt
  docs/integrations/destinations/mssql-v2.md
Due: addlicense, spotless

update url_base
  airbyte-integrations/connectors/source-sendgrid/manifest.yaml
Due: none

update alternate emails as string
  airbyte-integrations/connectors/source-sendgrid/manifest.yaml
Due: none

disable CATs for ticket_activities
  airbyte-integrations/connectors/source-zendesk-support/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
Due: none

Do not merge: Source Shopify - Increase 500s timeout
  airbyte-integrations/connectors/source-shopify/source_shopify/streams/base_streams.py
Due: addlicense

posts stream to low-code
  airbyte-integrations/connectors/source-zendesk-support/poetry.lock
  airbyte-integrations/connectors/source-zendesk-support/pyproject.toml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/source.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/integrations/test_posts.py
Due: addlicense

update cdk
  airbyte-integrations/connectors/source-sendgrid/manifest.yaml
Due: none

Update release information
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/pyproject.toml
  docs/integrations/sources/zendesk-support.md
Due: none

Update faker.md
  docs/integrations/sources/faker.md
Due: none

[source-hibob] Changed check stream from payrolls to profiles #55674 (#55675)
  airbyte-integrations/connectors/source-hibob/manifest.yaml
  airbyte-integrations/connectors/source-hibob/metadata.yaml
  docs/integrations/sources/hibob.md
Due: none

redoing partitions. hardcoding stuff
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/DefaultJdbcSharedState.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/JdbcPartitionsCreator.kt
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceConfigurationSpecification.kt
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceJdbcPartitionFactory.kt
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceOperations.kt
Due: addlicense, spotless

fix import and clean up
  airbyte-integrations/connectors/source-zendesk-support/poetry.lock
  airbyte-integrations/connectors/source-zendesk-support/pyproject.toml
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/integrations/test_posts.py
Due: addlicense

Add version selector.
  docusaurus/docusaurus.config.js
Due: none

last name
  airbyte-integrations/connectors/source-faker/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-faker/source_faker/canon/crm/user_to_contact.py
  airbyte-integrations/connectors/source-faker/source_faker/user_generator.py
Due: addlicense

Add llms.txt to docs.airbyte.com (#55261)
  docusaurus/static/llms.txt
Due: none

✨ TikTok Marketing Source: Add `Pixels`, `PixelInstantPageEvents`, `PixelEventsStatistics` streams (#55669)
  airbyte-integrations/connectors/source-tiktok-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/pyproject.toml
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/manifest.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/test_source.py
  docs/integrations/sources/tiktok-marketing.md
Due: addlicense

chore(ci): remove stale and unused workflows (#55260)
  .github/labeler.yml
  .github/workflows/assign-issue-to-project.yaml
  .github/workflows/label-github-issues-by-path.yml
  .github/workflows/notify-on-push-to-master.yml
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

