Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

[Destination MSSQL] rc7: revert deletion logic change (#53644)
  airbyte-integrations/connectors/destination-mssql-v2/metadata.yaml
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLQueryBuilder.kt
  docs/integrations/destinations/mssql-v2.md
Due: addlicense, spotless

fix unit tests
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeTableSynchronizerTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeWriterTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/io/S3DataLakeTableWriterFactoryTest.kt
Due: addlicense, spotless

rename methods
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeStreamLoader.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeTableSynchronizer.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeTableSynchronizerTest.kt
Due: addlicense, spotless

removes custom record filter
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/components/semi_incremental_record_filter.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/manifest.yaml
Due: addlicense

YOLO publish on large-ass runner
  .github/workflows/connectors_publish.yml
Due: none

bump version
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/pyproject.toml
  docs/integrations/sources/tiktok-marketing.md
Due: none

update for rc
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/manifest.yaml
  docs/integrations/sources/tiktok-marketing.md
Due: none

chore: format code
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/manifest.yaml
Due: none

Tentative release notes.
  docs/release_notes/v-1.5.md
Due: none

hash more fields in contacts_pii_redacted and owners_pii_redacted
  airbyte-integrations/connectors/source-track-pms/manifest.yaml
Due: none

bump connector version to 1.0.0
  airbyte-integrations/connectors/source-track-pms/metadata.yaml
  docs/integrations/sources/track-pms.md
Due: none

Use base image for firetruck
  airbyte-integrations/connectors/source-firetruck/metadata.yaml
Due: none

Revert publish runner to ubuntu24
  .github/workflows/connectors_publish.yml
Due: none

OH GAWD PLEASE I WANT TO SLEEP
  .github/workflows/connectors_publish.yml
Due: none

Submission for source-vitally from Connector Builder
  airbyte-integrations/connectors/source-vitally/manifest.yaml
  airbyte-integrations/connectors/source-vitally/metadata.yaml
Due: none

source-google-drive: bump cdk to pre-dev version
  airbyte-integrations/connectors/source-google-drive/poetry.lock
  airbyte-integrations/connectors/source-google-drive/pyproject.toml
Due: none

source-google-drive: fix format
  airbyte-integrations/connectors/source-google-drive/source_google_drive/schemas/file_permissions.json
  airbyte-integrations/connectors/source-google-drive/source_google_drive/schemas/identities.json
Due: none

source-google-drive: update release information
  airbyte-integrations/connectors/source-google-drive/metadata.yaml
  airbyte-integrations/connectors/source-google-drive/pyproject.toml
  docs/integrations/sources/google-drive.md
Due: none

chore: cdk bump
  airbyte-integrations/connectors/destination-pinecone/poetry.lock
  airbyte-integrations/connectors/destination-pinecone/pyproject.toml
Due: none

revert: undo whitespace change
  airbyte-integrations/connectors/destination-motherduck/pyproject.toml
Due: none

updated comments
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/components/archived_to_per_partition_state_migration.py
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/components/campaign_details_transformations.py
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/manifest.yaml
Due: addlicense

run format
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_api.py
Due: addlicense

Amazon SP: add response filter retry
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/manifest.yaml
Due: none

create migration guide
  airbyte-integrations/connectors/source-track-pms/acceptance-test-config.yml
  airbyte-integrations/connectors/source-track-pms/manifest.yaml
  airbyte-integrations/connectors/source-track-pms/metadata.yaml
  docs/integrations/sources/track-pms-migrations.md
Due: none

Update metadata.yaml
  airbyte-integrations/connectors/source-track-pms/metadata.yaml
Due: none

update global_exclusions_stream's request params
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/manifest.yaml
Due: none

[source-facebook-marketing] Log Utilization type (#53626)
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/api.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_api.py
  docs/integrations/sources/facebook-marketing.md
Due: addlicense

Update airbyte-integrations/connectors/source-vitally/manifest.yaml
  airbyte-integrations/connectors/source-vitally/manifest.yaml
Due: none

Update airbyte-integrations/connectors/source-vitally/metadata.yaml
  airbyte-integrations/connectors/source-vitally/metadata.yaml
Due: none

typo
  airbyte-integrations/connectors/source-vitally/manifest.yaml
Due: none

typo
  airbyte-integrations/connectors/source-vitally/metadata.yaml
Due: none

source-track-pms: rename kebab case streams to snake case, alphabetize streams (#51593)
  airbyte-integrations/connectors/source-track-pms/acceptance-test-config.yml
  airbyte-integrations/connectors/source-track-pms/manifest.yaml
  airbyte-integrations/connectors/source-track-pms/metadata.yaml
  docs/integrations/sources/track-pms-migrations.md
  docs/integrations/sources/track-pms.md
Due: none

Update metadata.yaml
  airbyte-integrations/connectors/source-brevo/metadata.yaml
Due: none

source-brevo : update streams to remove pagination not available on the API (#48737)
  airbyte-integrations/connectors/source-brevo/manifest.yaml
  airbyte-integrations/connectors/source-brevo/metadata.yaml
  docs/integrations/sources/brevo.md
Due: none

Copy over latest working yaml
  airbyte-integrations/connectors/source-calendly/manifest.yaml
Due: none

source-amplitude: update manifest following decoder breaking change
  airbyte-integrations/connectors/source-amplitude/manifest.yaml
  airbyte-integrations/connectors/source-amplitude/metadata.yaml
Due: none

fix unit tests
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_streams.py
Due: addlicense
