Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

fix(Bulk CDK): use replace=false for real table creation (#81549)
  airbyte-cdk/bulk/core/load/changelog.md
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/table/directload/DirectLoadTableStreamLoader.kt
  airbyte-cdk/bulk/core/load/version.properties
Due: addlicense, spotless

docs: add "at least once" replication guarantee to Full Refresh sync mode docs
  docs/platform/using-airbyte/core-concepts/sync-modes/full-refresh-append.md
  docs/platform/using-airbyte/core-concepts/sync-modes/full-refresh-overwrite.md
Due: none

ci: add stale autogenerated docs PR detection with HITL notification (#79165)
  .github/workflows/stale-autogen-docs-prs.yml
  .github/workflows/sync-ai-connector-docs.yml
Due: none

ci(release-notes): rename workflow, add Cloud release notes job, and allow auto-merge (#79148)
  .github/workflows/auto-merge-cron.yml
  .github/workflows/daily-release-notes.yml
  .github/workflows/hydra-automerge.yml
  docs/release_notes/cloud/readme.md
  docusaurus/sidebar-release_notes.js
Due: none

chore: remove BigQuery changes, scope PR to Snowflake only
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/typing_deduping/direct_load_tables/BigqueryDirectLoadSqlGeneratorTest.kt
  docs/integrations/destinations/bigquery.md
Due: addlicense, spotless

docs: add "at least once" replication guarantee to Full Refresh sync mode docs (#81658)
  docs/platform/using-airbyte/core-concepts/sync-modes/full-refresh-append.md
  docs/platform/using-airbyte/core-concepts/sync-modes/full-refresh-overwrite.md
Due: none

chore(destination-databricks): bump version to 4.0.1
  airbyte-integrations/connectors/destination-databricks/metadata.yaml
  docs/integrations/destinations/databricks.md
Due: none

docs(developer-quickstart): clarify credential requirements in tutorials (#77754)
  docs/ai-agents/get-started/developer-quickstart/tutorial-fastmcp.md
  docs/ai-agents/get-started/developer-quickstart/tutorial-langchain.md
  docs/ai-agents/get-started/developer-quickstart/tutorial-pydantic.md
Due: none

docs(platform): wrap long PDF code lines
  docusaurus/static/assets/docs/Airbyte-Self-Managed-Enterprise.pdf
Due: none

docs(platform): preserve complete wrapped code samples
  docusaurus/static/assets/docs/Airbyte-Self-Managed-Enterprise.pdf
Due: none

ci(connectors): suggest enabling autopilot rollouts on connector PRs
  .github/workflows/autopilot-rollout-suggestion.yml
Due: none

ci(connectors): use pull_request trigger to avoid untrusted checkout
  .github/workflows/autopilot-rollout-suggestion.yml
Due: none

ci(connectors): suggest enabling autopilot rollouts on connector PRs (#81659)
  .github/workflows/autopilot-rollout-suggestion.yml
Due: none

docs(platform): remove retired enterprise-only guidance
  docs/platform/access-management/rbac.md
  docs/platform/access-management/sso-providers/azure-entra-id.md
  docs/platform/access-management/sso-providers/okta.md
  docs/platform/cloud/managing-airbyte-cloud/manage-data-residency.md
  docs/platform/deploying-airbyte/chart-v2-community.mdx
  docs/platform/deploying-airbyte/deploying-airbyte.md
  docs/platform/operator-guides/assets/DatadogAirbyteIntegration_OutOfTheBox_Dashboard.png
  docs/platform/operator-guides/assets/otel-datadog.png
  docs/platform/operator-guides/collecting-metrics.md
  docs/platform/operator-guides/configuring-airbyte.md
  docs/platform/operator-guides/configuring-connector-resources.md
  docs/platform/operator-guides/open-telemetry.md
  docs/release_notes/self-managed/v-1.5.md
  docs/release_notes/self-managed/v-2.0.md
  docusaurus/sidebar-platform.js
  docusaurus/vercel.json
Due: none

ci(hydra-automerge): require autopilot rollouts for auto-merge
  .github/workflows/hydra-automerge.yml
Due: none

[EVAL] fix(source-faker): align default records_per_slice with spec
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/source.py
  airbyte-integrations/connectors/source-faker/unit_tests/unit_test.py
  docs/integrations/sources/faker.md
Due: addlicense

Upgrade Kotlin, Java, Gradle, and Micronaut versions across build scripts.
  airbyte-cdk/bulk/build.gradle
  airbyte-cdk/bulk/gradle.properties
  airbyte-cdk/java/airbyte-cdk/core/build.gradle
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Due: spotless

docs: update storage configuration documentation
  docs/platform/deploying-airbyte/integrations/storage.md
Due: none

fix(source-mysql): checkpoint single-partition snapshots
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceJdbcPartition.kt
  airbyte-integrations/connectors/source-mysql/src/test/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceJdbcPartitionFactoryTest.kt
  docs/integrations/sources/mysql.md
Due: addlicense, spotless

docs(source-mysql): link 3.53.1 changelog
  docs/integrations/sources/mysql.md
Due: none

style(source-mysql): format reader selection tests
  airbyte-integrations/connectors/source-mysql/src/test/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceJdbcPartitionFactoryTest.kt
Due: addlicense, spotless

fix(source-postgres): classify connect timeouts as transient
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/resources/application.yml
  docs/integrations/sources/postgres.md
Due: none

docs(source-postgres): link 3.8.2 changelog
  docs/integrations/sources/postgres.md
Due: none

[EVAL] docs(source-faker): note deterministic data + tweak clamp
  airbyte-integrations/connectors/source-faker/source_faker/purchase_generator.py
  docs/integrations/sources/faker.md
Due: addlicense

[EVAL] chore(source-faker): bump airbyte-cdk + tweak clamp
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/purchase_generator.py
Due: addlicense

[EVAL] fix(source-faker): recover product record missing since 7.1.1
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/record_data/products.json
Due: none

feat(source-github): use UnionPartitionRouter with manifest-native resolver streams
  airbyte-integrations/connectors/source-github/poetry.lock
  airbyte-integrations/connectors/source-github/pyproject.toml
  airbyte-integrations/connectors/source-github/source_github/components.py
  airbyte-integrations/connectors/source-github/source_github/manifest.yaml
  airbyte-integrations/connectors/source-github/unit_tests/test_components.py
  airbyte-integrations/connectors/source-github/unit_tests/test_manifest_partition_routers.py
Due: addlicense

fix(source-mixpanel): allow checks with filtered streams
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_source.py
Due: addlicense

feat(source-sentry): release 1.0.0 breaking change for org-scoped projects endpoint
  airbyte-integrations/connectors/source-sentry/metadata.yaml
  docs/integrations/sources/sentry-migrations.md
  docs/integrations/sources/sentry.md
Due: none

fix(source-sentry): add deadlineAction to 1.0.0 breaking change
  airbyte-integrations/connectors/source-sentry/metadata.yaml
Due: none

feat(source-sentry): add all_projects_detail stream, drop projects enrichment
  airbyte-integrations/connectors/source-sentry/components.py
  airbyte-integrations/connectors/source-sentry/manifest.yaml
  airbyte-integrations/connectors/source-sentry/metadata.yaml
  airbyte-integrations/connectors/source-sentry/unit_tests/integration/test_all_projects_detail.py
  airbyte-integrations/connectors/source-sentry/unit_tests/integration/test_projects.py
  docs/integrations/sources/sentry-migrations.md
  docs/integrations/sources/sentry.md
Due: addlicense

fix(source-mysql): handle zero-dates that convert to null on non-nullable columns in CDC (#80858)
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceCdcTemporalConverter.kt
  airbyte-integrations/connectors/source-mysql/src/test/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceDatatypeIntegrationTest.kt
  docs/integrations/sources/mysql.md
Due: addlicense, spotless

docs(source-sentry): clarify Full Refresh Overwrite backup guidance for 1.0.0
  airbyte-integrations/connectors/source-sentry/metadata.yaml
  docs/integrations/sources/sentry-migrations.md
Due: none

docs(source-mysql): correct changelog dates and fix data type mapping and grammar
  docs/integrations/sources/mysql.md
Due: none

docs(release-notes): Agents release notes for July 13, 2026
  docs/release_notes/agents/readme.md
Due: none

docs(source-sentry): note projects scope reduction in Full Refresh Overwrite guidance
  docs/integrations/sources/sentry-migrations.md
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

