Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

retry debug
  .github/workflows/connector-test-command.yml
Due: none

retry
  .github/workflows/connector-test-command.yml
Due: none

mlc: add unit test for accounts stream
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/base_test.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/client_builder.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/request_builder.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_accounts_stream.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/http/response/accounts_search.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/http/response/user_query.json
Due: addlicense

try fix
  .github/workflows/connector-test-command.yml
Due: none

mlc: ruff format
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/client_builder.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/request_builder.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_accounts_stream.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/http/response/accounts_search.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/http/response/user_query.json
Due: addlicense

retry quoted
  .github/workflows/connector-test-command.yml
Due: none

add token
  .github/workflows/connector-test-command.yml
Due: none

update workflow
  .github/workflows/connector-test-command.yml
Due: none

add generic poe tasks: test-all, list-check, format-check
  poe-tasks/poetry-connector-tasks.toml
Due: none

fix up workflow a bit
  .github/workflows/connector-test-command.yml
  poe-tasks/poetry-connector-tasks.toml
Due: none

use connector context cmd
  .github/workflows/connector-test-command.yml
Due: none

add poetry run prefix to poe commands
  poe-tasks/poetry-connector-tasks.toml
Due: none

chore: upgrade to CDK v6
  airbyte-integrations/connectors/source-google-search-console/metadata.yaml
  airbyte-integrations/connectors/source-google-search-console/poetry.lock
  airbyte-integrations/connectors/source-google-search-console/pyproject.toml
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/streams.py
Due: addlicense

chore: add pendulum dep
  airbyte-integrations/connectors/source-google-search-console/poetry.lock
  airbyte-integrations/connectors/source-google-search-console/pyproject.toml
  docs/integrations/sources/google-search-console.md
Due: none

Submission for source-awin-advertiser from Connector Builder
  airbyte-integrations/connectors/source-awin-advertiser/manifest.yaml
  airbyte-integrations/connectors/source-awin-advertiser/metadata.yaml
  docs/integrations/sources/awin-advertiser.md
Due: none

add square svg icon
  airbyte-integrations/connectors/source-awin-advertiser/icon.svg
Due: none

updated dependencies
  airbyte-integrations/connectors/source-hubspot/poetry.lock
Due: none

destination-bigquery: add europe-north2 region
  airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json
Due: none

email events to low-code
  airbyte-integrations/connectors/source-hubspot/source_hubspot/manifest.yaml
Due: none

removed python code
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/email_events.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
Due: addlicense

fix unit tests
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
Due: addlicense

fix unit tests
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_handle_retry_token_expired.py
Due: addlicense

Zoho CRM update endpoint to v8
  airbyte-integrations/connectors/source-zoho-crm/Dockerfile
  airbyte-integrations/connectors/source-zoho-crm/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-zoho-crm/source_zoho_crm/api.py
  airbyte-integrations/connectors/source-zoho-crm/source_zoho_crm/streams.py
  airbyte-integrations/connectors/source-zoho-crm/source_zoho_crm/types.py
  airbyte-integrations/connectors/source-zoho-crm/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-zoho-crm/unit_tests/test_streams.py
Due: addlicense

update date
  docs/integrations/sources/klaviyo.md
Due: none

update date
  docs/integrations/sources/paypal-transaction.md
Due: none

bump connector version
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  docs/integrations/destinations/bigquery.md
Due: none

source-mysql: Update default ssl mode to required
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceConfiguration.kt
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceConfigurationSpecification.kt
  airbyte-integrations/connectors/source-mysql/src/test/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceConfigurationSpecificationTest.kt
  airbyte-integrations/connectors/source-mysql/src/test/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceConfigurationTest.kt
  airbyte-integrations/connectors/source-mysql/src/test/resources/expected-spec.json
  docs/integrations/sources/mysql.md
Due: addlicense, spotless

poetry lock
  airbyte-integrations/connectors/source-bing-ads/poetry.lock
  airbyte-integrations/connectors/source-bing-ads/pyproject.toml
Due: none

update changelog and formatting
  airbyte-integrations/connectors/source-mysql/src/test/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceConfigurationTest.kt
  docs/integrations/sources/mysql.md
Due: addlicense, spotless

Destination BigQuery: add europe-north2 region (#59142)
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json
  docs/integrations/destinations/bigquery.md
Due: none

chore: revert pytest version
  airbyte-integrations/connectors/source-google-search-console/poetry.lock
  airbyte-integrations/connectors/source-google-search-console/pyproject.toml
Due: none

Add associations transformation
  airbyte-integrations/connectors/source-hubspot/source_hubspot/components.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/manifest.yaml
Due: addlicense

(fix): Source-Klaviyo - Add missing fields for `events_detailed` stream for attributions (#58123)
  airbyte-integrations/connectors/source-klaviyo/components.py
  airbyte-integrations/connectors/source-klaviyo/manifest.yaml
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/unit_tests/integration/get_events.json
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_components.py
  docs/integrations/sources/klaviyo.md
Due: addlicense

Rev version.
  airbyte-integrations/connectors/destination-s3/metadata.yaml
Due: none

Enable progressive rollout.
  airbyte-integrations/connectors/destination-s3/metadata.yaml
Due: none

removing CATs
  airbyte-integrations/connectors/source-facebook-pages/metadata.yaml
Due: none

remove unnecesary imports and patches
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/protocol_helpers.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_accounts_stream.py
Due: addlicense

Update base image
  airbyte-integrations/connectors/source-facebook-pages/metadata.yaml
Due: none

Use fully qualified name for custom objects
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
Due: addlicense
