Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

fix: use null instead of BigDecimal.ZERO + look up for individual streams completion instead of count
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/finalization/StreamCompletionTracker.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/transform/medium/ProtobufConverter.kt
Due: addlicense, spotless

increment cdk version
  airbyte-cdk/bulk/version.properties
Due: none

deleted NotionDataFeedFilter custom component
  airbyte-integrations/connectors/source-notion/components.py
  airbyte-integrations/connectors/source-notion/unit_tests/test_components.py
Due: addlicense

removed unused imports
  airbyte-integrations/connectors/source-notion/components.py
Due: addlicense

Migrate Targeting Analytics Report streams
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/pyproject.toml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/manifest.yaml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/reports/reports.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  docs/integrations/sources/pinterest.md
Due: addlicense

Update PR URL
  docs/integrations/sources/pinterest.md
Due: none

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-pinterest/source_pinterest/manifest.yaml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
Due: addlicense

fix test
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/finalization/StreamCompletionTrackerTest.kt
Due: addlicense, spotless

Fix unit tests
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_reports.py
Due: addlicense

refactored manifest
  airbyte-integrations/connectors/source-notion/manifest.yaml
Due: none

Fixed the CD pipeline by reverting the change made for testing (#34)
  .github/workflows/canonical_cd.yml
Due: none

updates image tag version
  airbyte-integrations/connectors/source-tempo/metadata.yaml
Due: none

fix(clickhouse-dest): feature complete for speed mode
  airbyte-integrations/connectors/destination-clickhouse/build.gradle
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/client/ClickhouseSqlGenerator.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/write/transform/ClickhouseCoercer.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/write/transform/ClickhouseColumNameMapper.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/write/transform/RecordMunger.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseAcceptanceTest.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test/kotlin/io/airbyte/integrations/destination/clickhouse/write/transform/ClickhouseCoercerTest.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test/kotlin/io/airbyte/integrations/destination/clickhouse/write/transform/RecordMungerTest.kt
Due: addlicense, spotless

code review
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
Due: none

fallback to airbyte_extracted_at if cursor column is not a valid type
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/client/ClickhouseSqlGenerator.kt
Due: addlicense, spotless

fixed unit test
  airbyte-integrations/connectors/source-notion/unit_tests/test_components.py
Due: addlicense

updated manifest
  airbyte-integrations/connectors/source-notion/manifest.yaml
Due: none

rollback change for blocks stream paginator
  airbyte-integrations/connectors/source-notion/manifest.yaml
  airbyte-integrations/connectors/source-notion/unit_tests/test_components.py
Due: addlicense

make the set as a constant
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/client/ClickhouseSqlGenerator.kt
Due: addlicense, spotless

Migrate custom reports stream
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/pyproject.toml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/manifest.yaml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  docs/integrations/sources/pinterest.md
Due: addlicense

Release 2.1.10
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/pyproject.toml
  docs/integrations/sources/pinterest.md
Due: none

Add name transformation to snake case
  airbyte-integrations/connectors/source-pinterest/source_pinterest/manifest.yaml
Due: none

feat(source-pinterest): Release 2.1.10 (#66565)
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/pyproject.toml
  docs/integrations/sources/pinterest.md
Due: none

Bulk CDK: move connector cdk version decl into property file (#66484)
  airbyte-integrations/connectors/destination-azure-blob-storage/build.gradle
  airbyte-integrations/connectors/destination-azure-blob-storage/gradle.properties
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/gradle.properties
  airbyte-integrations/connectors/destination-clickhouse/build.gradle
  airbyte-integrations/connectors/destination-clickhouse/gradle.properties
  airbyte-integrations/connectors/destination-customer-io/build.gradle.kts
  airbyte-integrations/connectors/destination-customer-io/gradle.properties
  airbyte-integrations/connectors/destination-dev-null/build.gradle
  airbyte-integrations/connectors/destination-dev-null/gradle.properties
  airbyte-integrations/connectors/destination-hubspot/build.gradle.kts
  airbyte-integrations/connectors/destination-hubspot/gradle.properties
  airbyte-integrations/connectors/destination-mssql/build.gradle.kts
  airbyte-integrations/connectors/destination-mssql/gradle.properties
  airbyte-integrations/connectors/destination-s3-data-lake/build.gradle
  airbyte-integrations/connectors/destination-s3-data-lake/gradle.properties
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/gradle.properties
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/gradle.properties
  airbyte-integrations/connectors/source-snowflake/build.gradle
  airbyte-integrations/connectors/source-snowflake/gradle.properties
  buildSrc/src/main/groovy/airbyte-bulk-connector.gradle
Due: spotless

[Snowflake] Fix the last acceptance test (#66545)
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeAcceptanceTest.kt
Due: addlicense, spotless

add changelog
  airbyte-cdk/bulk/changelog.md
Due: none

feat: support legacy raw format
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/check/SnowflakeChecker.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/dataflow/SnowflakeAggregateFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/db/SnowflakeNameGenerators.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeConfiguration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeColumnUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeRecordFormatter.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/check/SnowflakeCheckerTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/db/SnowflakeFinalTableNameGeneratorTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeColumnUtilsTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/RawSnowflakeInsertBufferTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBufferTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeRawRecordFormatterTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeSchemaRecordFormatterTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/StagingSnowflakeInsertBufferTest.kt
Due: addlicense, spotless

Rename config property to match previous version
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/db/SnowflakeNameGenerators.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeConfiguration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeSpecification.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactoryTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/db/SnowflakeFinalTableNameGeneratorTest.kt
Due: addlicense, spotless

prevent divide by 0 error when sampling rate returns no partitions.
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/JdbcPartitionsCreator.kt
Due: addlicense, spotless

Use constant
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeColumnUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeColumnUtilsTest.kt
Due: addlicense, spotless

Sampling and memory management (#66549)
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/jdbc/JdbcConnectionFactory.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/JdbcPartitionsCreator.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceJdbcConnectionFactory.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceJdbcPartitionsCreator.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceSelectQuerier.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/PostgresSourceSelectQueryGenerator.kt
  airbyte-integrations/connectors/source-postgres/src/main/resources/application.yml
Due: addlicense, spotless

Fix legacy raw table config
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeConfiguration.kt
Due: addlicense, spotless

up cdk version
  airbyte-integrations/connectors/source-slack/components.py
  airbyte-integrations/connectors/source-slack/manifest.yaml
  airbyte-integrations/connectors/source-slack/metadata.yaml
  airbyte-integrations/connectors/source-slack/unit_tests/conftest.py
  airbyte-integrations/connectors/source-slack/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-slack/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-slack/unit_tests/test_components.py
  airbyte-integrations/connectors/source-slack/unit_tests/test_source.py
  airbyte-integrations/connectors/source-slack/unit_tests/test_streams.py
  docs/integrations/sources/slack.md
Due: addlicense

update release information
  docs/integrations/sources/slack.md
Due: none

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-sftp-bulk/metadata.yaml
  airbyte-integrations/connectors/source-slack/components.py
  airbyte-integrations/connectors/source-slack/unit_tests/conftest.py
  airbyte-integrations/connectors/source-slack/unit_tests/test_source.py
Due: addlicense

Fix compile issue
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeConfiguration.kt
Due: addlicense, spotless

fix test
  airbyte-integrations/connectors/source-slack/unit_tests/test_components.py
Due: addlicense

Skip ensure schema if using raw format
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClientTest.kt
Due: addlicense, spotless

fix: dataflow destination cdk minor fixes (#66559)
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/finalization/StreamCompletionTracker.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/transform/medium/ProtobufConverter.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/finalization/StreamCompletionTrackerTest.kt
  airbyte-cdk/bulk/version.properties
Due: addlicense, spotless
