Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

revert dummy commits
  airbyte-integrations/connectors/destination-motherduck/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-mssql/metadata.yaml
Due: none

add link to test results for BYO creds
  .github/community-pr-welcome.md
Due: none

ci: fix Connector Test CI workflows to properly run from forks (#60801)
  .github/workflows/connector-ci-tests.yml
  .github/workflows/dependency-diff.yml
  .github/workflows/run-connector-tests-command.yml
  poe-tasks/get-modified-connectors.sh
Due: none

emable concurrency
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/source.py
Due: addlicense

dummy commit: community ci test
  airbyte-integrations/connectors/destination-teradata/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
Due: none

Update community-pr-welcome.yml
  .github/workflows/community-pr-welcome.yml
Due: none

hotfix(ci): use `pull_request_target` instead of `pull_request` for community CI welcome message (#60804)
  .github/workflows/community-pr-welcome.yml
Due: none

fix(ci): event data is still under 'pull_request'
  .github/workflows/community-pr-welcome.yml
Due: none

hotfix(ci): bug fixes for community PR welcome message (#60805)
  .github/workflows/community-pr-welcome.yml
Due: none

hotfix(ci): fix fork check in gradle dependency-diff
  .github/workflows/gradle-dependency-diff.yml
Due: none

Update .github/workflows/gradle-dependency-diff.yml
  .github/workflows/gradle-dependency-diff.yml
Due: none

Apply suggestions from code review
  .github/workflows/gradle-dependency-diff.yml
Due: none

hotfix(ci): fix fork check in gradle dependency-diff (#60806)
  .github/workflows/gradle-dependency-diff.yml
Due: none

Remove gitignored file
  docusaurus/connector_registry_slim.json
Due: none

docs: update template links to use GitHub URLs
  docs/platform/contributing-to-airbyte/resources/qa-checks.md
  docusaurus/platform_versioned_docs/version-1.6/contributing-to-airbyte/resources/qa-checks.md
Due: none

docs: update template links to use <URL|template.md.j2> format
  docs/platform/contributing-to-airbyte/resources/qa-checks.md
  docusaurus/platform_versioned_docs/version-1.6/contributing-to-airbyte/resources/qa-checks.md
Due: none

docs: update template links to use standard Markdown format
  docs/platform/contributing-to-airbyte/resources/qa-checks.md
  docusaurus/platform_versioned_docs/version-1.6/contributing-to-airbyte/resources/qa-checks.md
Due: none

docs: update template links to use standard Markdown format without angle brackets
  docs/platform/contributing-to-airbyte/resources/qa-checks.md
  docusaurus/platform_versioned_docs/version-1.6/contributing-to-airbyte/resources/qa-checks.md
Due: none

source-hardcoded-records: use cdk dev branch
  airbyte-integrations/connectors/source-hardcoded-records/poetry.lock
  airbyte-integrations/connectors/source-hardcoded-records/pyproject.toml
Due: none

fix import
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoConnectionUtilsTest.java
Due: addlicense, spotless

format
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoConnectionUtils.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoConnectionUtilsTest.java
Due: addlicense, spotless

remove hard coded read preferences
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoConnectionUtils.java
Due: addlicense, spotless

add test for read preferences
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoConnectionUtilsTest.java
Due: addlicense, spotless

add failure condition for invalid_config
  airbyte-integrations/connectors/source-hardcoded-records/source_hardcoded_records/source.py
Due: addlicense

string constants refer to properties in spec.json
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/resources/spec.json
Due: addlicense, spotless

feat(source-hubspot) crm object streams to low code: goals, products, line_items (#59727)
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/pyproject.toml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/manifest.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/conftest.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/__init__.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
  docs/integrations/sources/hubspot.md
Due: addlicense

docs(source-recharge): clarity, detail, and structure (#60788)
  docs/integrations/sources/recharge.md
Due: none

update docs and minor version bump for postgres with entra
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  docs/integrations/sources/postgres.md
Due: none

feat(source-recharge): add payment_methods stream
  airbyte-integrations/connectors/source-recharge/metadata.yaml
  airbyte-integrations/connectors/source-recharge/pyproject.toml
  airbyte-integrations/connectors/source-recharge/source_recharge/manifest.yaml
  airbyte-integrations/connectors/source-recharge/source_recharge/schemas/payment_methods.json
  airbyte-integrations/connectors/source-recharge/unit_tests/integration/streams/test_payment_methods.py
  airbyte-integrations/connectors/source-recharge/unit_tests/resource/http/response/payment_methods.json
  airbyte-integrations/connectors/source-recharge/unit_tests/test_streams.py
  docs/integrations/sources/recharge.md
Due: addlicense

reduce concurrency to 10
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/source.py
Due: addlicense

companies to low code
  airbyte-integrations/connectors/source-hubspot/source_hubspot/manifest.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
Due: addlicense

update unit tests
  airbyte-integrations/connectors/source-hubspot/unit_tests/conftest.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/__init__.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/test_engagements_calls.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
Due: addlicense

add TODO
  airbyte-ci/connectors/connectors_qa/src/connectors_qa/checks/version.py
Due: addlicense

add qa check README
  docs/contributing-to-airbyte/resources/qa-checks.md
Due: none

type ignore for mypy
  airbyte-ci/connectors/connectors_qa/src/connectors_qa/checks/version.py
Due: addlicense

try to improve test condition to actually fail check with invalid config
  airbyte-integrations/connectors/source-hardcoded-records/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-hardcoded-records/source_hardcoded_records/source.py
Due: addlicense

version bump of cdk
  airbyte-integrations/connectors/source-hardcoded-records/poetry.lock
Due: none

Added 1.5.3 and 1.5.4 release notes
  docs/release_notes/v-1.5.md
Due: none
