Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

source-opuswatch contribution from SebasZwinkels (#58115)
  airbyte-integrations/connectors/source-opuswatch/README.md
  airbyte-integrations/connectors/source-opuswatch/acceptance-test-config.yml
  airbyte-integrations/connectors/source-opuswatch/icon.svg
  airbyte-integrations/connectors/source-opuswatch/manifest.yaml
  airbyte-integrations/connectors/source-opuswatch/metadata.yaml
  docs/integrations/sources/opuswatch.md
Due: none

Update metadata.yaml
  airbyte-integrations/connectors/source-survicate/metadata.yaml
Due: none

source-survicate contribution from alex-magno (#58084)
  airbyte-integrations/connectors/source-survicate/manifest.yaml
  airbyte-integrations/connectors/source-survicate/metadata.yaml
  docs/integrations/sources/survicate.md
Due: none

Update manifest.yaml
  airbyte-integrations/connectors/source-cin7/manifest.yaml
Due: none

chore: bump-version
  airbyte-integrations/connectors/source-cin7/metadata.yaml
  docs/integrations/sources/cin7.md
Due: none

source-convertkit contribution from justbeez (#58617)
  airbyte-integrations/connectors/source-convertkit/manifest.yaml
  airbyte-integrations/connectors/source-convertkit/metadata.yaml
  docs/integrations/sources/convertkit.md
Due: none

Update build.gradle
  airbyte-integrations/connectors/destination-teradata/build.gradle
Due: spotless

Update metadata.yaml
  airbyte-integrations/connectors/destination-teradata/metadata.yaml
Due: none

update dependencies
  airbyte-integrations/connectors/source-hubspot/poetry.lock
Due: none

source-cin7 contribution from navneetmaharishi (#58631)
  airbyte-integrations/connectors/source-cin7/manifest.yaml
  airbyte-integrations/connectors/source-cin7/metadata.yaml
  docs/integrations/sources/cin7.md
Due: none

pre release
  .github/workflows/bump-bulk-cdk-and-release-connectors.yml
Due: none

path
  .github/workflows/bump-bulk-cdk-and-release-connectors.yml
Due: none

Modification
  airbyte-integrations/connectors/destination-dev-null/build.gradle
Due: spotless

fix: use string datatype for CDC_EVENT_SERIAL_NO
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcConnectorMetadataInjector.java
  docs/integrations/sources/mssql.md
Due: addlicense, spotless

fix(source-hubspot): added empty string state migration (#59118)
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/poetry.lock
  airbyte-integrations/connectors/source-hubspot/pyproject.toml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/components.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/manifest.yaml
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_components.py
  docs/integrations/sources/hubspot.md
Due: addlicense

fix: use string datatype for CDC_EVENT_SERIAL_NO
  docs/integrations/sources/mssql.md
Due: none

Revert "Bump the cdk version to 0.393"
  airbyte-integrations/connectors/destination-dev-null/build.gradle
Due: spotless

Nit
  .github/workflows/bump-bulk-cdk-and-release-connectors.yml
Due: none

add cleaner
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryDestinationCleaner.kt
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryWriteTest.kt
Due: addlicense, spotless

whoops, delete test thing
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryDestinationCleaner.kt
Due: addlicense, spotless

adding concurrency to stripe
  airbyte-integrations/connectors/source-stripe/source_stripe/manifest.yaml
Due: none

paranoia
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/spec/BigqueryConfiguration.kt
Due: addlicense, spotless

Source Amazon Ads: Update the manifest to use the latest python CDK version (#58610)
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/poetry.lock
  airbyte-integrations/connectors/source-amazon-ads/pyproject.toml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/manifest.yaml
  docs/integrations/sources/amazon-ads.md
Due: none

Revert "Bump the cdk version to 0.394"
  airbyte-integrations/connectors/destination-dev-null/build.gradle
Due: spotless

test
  tools/bin/cdk-auto-release/update-changelog.sh
Due: none

set transform_before_filtering: false
  airbyte-integrations/connectors/source-hubspot/source_hubspot/manifest.yaml
Due: none

Update changelog for destination-dev-null
  docs/integrations/destinations/dev-null.md
Due: none

Revert "Update changelog for destination-dev-null"
  docs/integrations/destinations/dev-null.md
Due: none

add tests for default raw dataset
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigQueryDestinationTestUtils.kt
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryWriteTest.kt
Due: addlicense, spotless

updated connector number
  README.md
Due: none

better table delete logic
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryDestinationCleaner.kt
Due: addlicense, spotless

reenable source-facebook-pages in cloud
  airbyte-integrations/connectors/source-facebook-pages/metadata.yaml
Due: none

re-enable cats
  airbyte-integrations/connectors/source-facebook-pages/metadata.yaml
Due: none

changing concurrency
  airbyte-integrations/connectors/source-stripe/source_stripe/manifest.yaml
Due: none

adding concurrency to stripe 2
  airbyte-integrations/connectors/source-stripe/source_stripe/manifest.yaml
Due: none

Migrate deals stream without associations in incremental part
  airbyte-integrations/connectors/source-hubspot/poetry.lock
  airbyte-integrations/connectors/source-hubspot/pyproject.toml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/components.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/manifest.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
Due: addlicense

Fix custom record extractor and add unit test
  airbyte-integrations/connectors/source-klaviyo/components.py
  airbyte-integrations/connectors/source-klaviyo/manifest.yaml
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_components.py
  docs/integrations/sources/klaviyo.md
Due: addlicense

chore: update CDK version
  airbyte-integrations/connectors/source-google-search-console/metadata.yaml
  airbyte-integrations/connectors/source-google-search-console/poetry.lock
  airbyte-integrations/connectors/source-google-search-console/pyproject.toml
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/streams.py
  docs/integrations/sources/google-search-console.md
Due: addlicense

add missing test json file
  airbyte-integrations/connectors/source-klaviyo/unit_tests/integration/get_events.json
Due: none
