Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

Update use-embedded.md
  docs/ai-agents/embedded/widget/use-embedded.md
Due: none

Create template-tags.md
  docs/ai-agents/embedded/widget/template-tags.md
Due: none

fix: cache column name lookup
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/transform/defaults/NoOpColumnNameMapper.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/transform/medium/ProtobufConverter.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/transform/medium/ProtobufConverterTest.kt
Due: addlicense, spotless

use composite key for workflow runs to keep all attempt
  airbyte-integrations/connectors/source-github/source_github/streams.py
Due: addlicense

fix: use dedicated dispatcher for parse+aggregate stage for an individual pipeline
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/pipeline/DataFlowPipeline.kt
Due: addlicense, spotless

increase image tag
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/pyproject.toml
Due: none

Submission for source-rise-up from Connector Builder
  airbyte-integrations/connectors/source-rise-up/README.md
  airbyte-integrations/connectors/source-rise-up/acceptance-test-config.yml
  airbyte-integrations/connectors/source-rise-up/icon.svg
  airbyte-integrations/connectors/source-rise-up/manifest.yaml
  airbyte-integrations/connectors/source-rise-up/metadata.yaml
  docs/integrations/sources/rise-up.md
Due: none

Update SVG icon for source-rise-up connector
  airbyte-integrations/connectors/source-rise-up/icon.svg
Due: none

added loggin for case when reacheck max blocks depth
  airbyte-integrations/connectors/source-notion/source_notion/components.py
Due: addlicense

updated changelog
  docs/integrations/sources/notion.md
Due: none

feat(source-notion) blocks stream to manifest (#66191)
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-notion/poetry.lock
  airbyte-integrations/connectors/source-notion/pyproject.toml
  airbyte-integrations/connectors/source-notion/source_notion/components.py
  airbyte-integrations/connectors/source-notion/source_notion/manifest.yaml
  airbyte-integrations/connectors/source-notion/source_notion/run.py
  airbyte-integrations/connectors/source-notion/source_notion/source.py
  airbyte-integrations/connectors/source-notion/source_notion/streams.py
  airbyte-integrations/connectors/source-notion/unit_tests/test_components.py
  airbyte-integrations/connectors/source-notion/unit_tests/test_python_streams.py
  airbyte-integrations/connectors/source-notion/unit_tests/test_source.py
  docs/integrations/sources/notion.md
Due: addlicense

moved manifest and components
  airbyte-integrations/connectors/source-notion/components.py
  airbyte-integrations/connectors/source-notion/manifest.yaml
Due: addlicense

moved spec to manifest
  airbyte-integrations/connectors/source-notion/manifest.yaml
  airbyte-integrations/connectors/source-notion/source_notion/spec.json
Due: none

deleted source_notion
  airbyte-integrations/connectors/source-notion/source_notion/__init__.py
  airbyte-integrations/connectors/source-notion/source_notion/run.py
  airbyte-integrations/connectors/source-notion/source_notion/schemas/blocks.json
  airbyte-integrations/connectors/source-notion/source_notion/schemas/pages.json
  airbyte-integrations/connectors/source-notion/source_notion/source.py
Due: addlicense

updated metadata
  airbyte-integrations/connectors/source-notion/metadata.yaml
Due: none

deleted python files
  airbyte-integrations/connectors/source-notion/main.py
  airbyte-integrations/connectors/source-notion/poetry.lock
  airbyte-integrations/connectors/source-notion/pyproject.toml
Due: addlicense

updated components
  airbyte-integrations/connectors/source-notion/manifest.yaml
Due: none

Add splitting by fields
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/async_job.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/async_job_manager.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
Due: addlicense

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/async_job.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
Due: addlicense

🐛Source tiktok-marketing: fix create_time type in advertisers stream
  airbyte-integrations/connectors/source-tiktok-marketing/manifest.yaml
Due: none

Trim logs
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
Due: addlicense, spotless

init
  airbyte-integrations/connectors/destination-mockapi/README.md
  airbyte-integrations/connectors/destination-mockapi/acceptance-test-config.yml
  airbyte-integrations/connectors/destination-mockapi/icon.svg
  airbyte-integrations/connectors/destination-mockapi/integration_tests/test_catalog.json
  airbyte-integrations/connectors/destination-mockapi/integration_tests/test_integration.py
  airbyte-integrations/connectors/destination-mockapi/main.py
  airbyte-integrations/connectors/destination-mockapi/metadata.yaml
  airbyte-integrations/connectors/destination-mockapi/poetry.lock
  airbyte-integrations/connectors/destination-mockapi/pyproject.toml
  airbyte-integrations/connectors/destination-mockapi/src/destination_mockapi/__init__.py
  airbyte-integrations/connectors/destination-mockapi/src/destination_mockapi/client.py
  airbyte-integrations/connectors/destination-mockapi/src/destination_mockapi/config.py
  airbyte-integrations/connectors/destination-mockapi/src/destination_mockapi/destination.py
  airbyte-integrations/connectors/destination-mockapi/src/destination_mockapi/run.py
  airbyte-integrations/connectors/destination-mockapi/src/destination_mockapi/schemas/__init__.py
  airbyte-integrations/connectors/destination-mockapi/src/destination_mockapi/schemas/deals.py
  airbyte-integrations/connectors/destination-mockapi/src/destination_mockapi/schemas/users.py
  airbyte-integrations/connectors/destination-mockapi/src/destination_mockapi/spec.json
  airbyte-integrations/connectors/destination-mockapi/src/destination_mockapi/writer.py
  airbyte-integrations/connectors/destination-mockapi/unit_tests/__init__.py
  airbyte-integrations/connectors/destination-mockapi/unit_tests/test_destination_flow.py
  airbyte-integrations/connectors/destination-mockapi/unit_tests/test_input.jsonl
  airbyte-integrations/connectors/destination-mockapi/unit_tests/test_mockapi_client.py
  airbyte-integrations/connectors/destination-mockapi/unit_tests/test_mockapi_config.py
  airbyte-integrations/connectors/destination-mockapi/unit_tests/test_mockapi_destination.py
  airbyte-integrations/connectors/destination-mockapi/unit_tests/test_mockapi_writer.py
  airbyte-integrations/connectors/destination-mockapi/unit_tests/test_real_write.py
  airbyte-integrations/connectors/destination-mockapi/unit_tests/test_real_writes.py
  airbyte-integrations/connectors/destination-mockapi/unit_tests/test_schemas.py
  airbyte-integrations/connectors/destination-mockapi/unit_tests/test_write_flow.py
Due: addlicense

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/destination-mockapi/acceptance-test-config.yml
  airbyte-integrations/connectors/destination-mockapi/integration_tests/test_catalog.json
  airbyte-integrations/connectors/destination-mockapi/integration_tests/test_integration.py
  airbyte-integrations/connectors/destination-mockapi/main.py
  airbyte-integrations/connectors/destination-mockapi/metadata.yaml
  airbyte-integrations/connectors/destination-mockapi/src/destination_mockapi/client.py
  airbyte-integrations/connectors/destination-mockapi/src/destination_mockapi/config.py
  airbyte-integrations/connectors/destination-mockapi/src/destination_mockapi/destination.py
  airbyte-integrations/connectors/destination-mockapi/src/destination_mockapi/run.py
  airbyte-integrations/connectors/destination-mockapi/src/destination_mockapi/schemas/deals.py
  airbyte-integrations/connectors/destination-mockapi/src/destination_mockapi/schemas/users.py
  airbyte-integrations/connectors/destination-mockapi/src/destination_mockapi/spec.json
  airbyte-integrations/connectors/destination-mockapi/src/destination_mockapi/writer.py
  airbyte-integrations/connectors/destination-mockapi/unit_tests/test_destination_flow.py
  airbyte-integrations/connectors/destination-mockapi/unit_tests/test_mockapi_client.py
  airbyte-integrations/connectors/destination-mockapi/unit_tests/test_mockapi_config.py
  airbyte-integrations/connectors/destination-mockapi/unit_tests/test_mockapi_destination.py
  airbyte-integrations/connectors/destination-mockapi/unit_tests/test_mockapi_writer.py
  airbyte-integrations/connectors/destination-mockapi/unit_tests/test_real_write.py
  airbyte-integrations/connectors/destination-mockapi/unit_tests/test_real_writes.py
  airbyte-integrations/connectors/destination-mockapi/unit_tests/test_schemas.py
  airbyte-integrations/connectors/destination-mockapi/unit_tests/test_write_flow.py
Due: addlicense

Update use-embedded.md (#66492)
  docs/ai-agents/embedded/widget/use-embedded.md
Due: none

Update docs/ai-agents/embedded/widget/template-tags.md
  docs/ai-agents/embedded/widget/template-tags.md
Due: none

avoid rereading version file
  airbyte-cdk/bulk/build.gradle
Due: spotless

add gradle task to upgrade cdk version used by a given connector
  buildSrc/src/main/groovy/airbyte-bulk-connector.gradle
Due: spotless

add gradle task that gets cdk version used by a given connector
  buildSrc/src/main/groovy/airbyte-bulk-connector.gradle
Due: spotless

nicer user interface
  buildSrc/src/main/groovy/airbyte-bulk-connector.gradle
Due: spotless

use correct cdk version.properties file path
  buildSrc/src/main/groovy/airbyte-bulk-connector.gradle
Due: spotless

fix(source-katana): update stream `shipping_fee` and add `error_handler`
  airbyte-integrations/connectors/source-katana/manifest.yaml
Due: none

fix(source-katana): bump version
  docs/integrations/sources/katana.md
Due: none

edit props file
  buildSrc/src/main/groovy/airbyte-bulk-connector.gradle
Due: spotless

Test new OAuth
  airbyte-integrations/connectors/source-pinterest/source_pinterest/manifest.yaml
Due: none

make cdk prop public
  buildSrc/src/main/groovy/airbyte-bulk-connector.gradle
Due: spotless

Bmoric/snowflake ensure schema (#66354)
  airbyte-integrations/connectors/destination-snowflake/build.gradle.kts
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/db/ColumnDefinition.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeColumnUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/transform/SnowflakeValueCoercer.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeAcceptanceTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClientTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
Due: addlicense, spotless
