Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/mock_server/test_custom_statistics_report.py
Due: addlicense

release(source-linkedin-ads): mark batching as breaking
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  docs/integrations/sources/linkedin-ads-migrations.md
  docs/integrations/sources/linkedin-ads.md
Due: none

chore(destination-snowflake): remove column DROP logic during schema evolution
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
  docs/integrations/destinations/snowflake.md
Due: addlicense, spotless

style(source-linkedin-ads): apply ruff formatting
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/test_components.py
Due: addlicense

chore(destination-snowflake): use ColumnDropBehavior.RETAIN in tests
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/component/SnowflakeTableSchemaEvolutionTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeAcceptanceTest.kt
Due: addlicense, spotless

docs(source-salesforce): fill in 2.8.1 changelog PR number
  docs/integrations/sources/salesforce.md
Due: none

fix(source-linkedin-ads): set breaking change deadline action
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
Due: none

docs(ai-agents): document per-entity access permissions on the connector detail page
  docs/ai-agents/interfaces/ui/add-connector.md
Due: none

docs(source-salesforce): tighten the emit-to-stdout comment
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
Due: addlicense

docs(destination-snowflake): retain removed columns in schema evolution section
  docs/integrations/destinations/snowflake.md
Due: none

docs(ai-agents): use literal example counts to fix MDX build
  docs/ai-agents/interfaces/ui/add-connector.md
Due: none

docs(source-appsflyer): update changelog subject per review
  docs/integrations/sources/appsflyer.md
Due: none

docs(ai-agents): add Governance concept page and correct entity-access plan scope
  docs/ai-agents/concepts/governance.md
  docs/ai-agents/concepts/readme.md
  docs/ai-agents/interfaces/ui/add-connector.md
Due: none

docs(ai-agents): expand governance intro per review feedback
  docs/ai-agents/concepts/governance.md
Due: none

feat(source-salesforce): add optional end date
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/spec.yaml
  airbyte-integrations/connectors/source-salesforce/unit_tests/config_builder.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/test_slice_generation.py
  docs/integrations/sources/salesforce.md
Due: addlicense

docs(source-salesforce): add 2.8.1 changelog entry
  docs/integrations/sources/salesforce.md
Due: none

feat(source-amazon-seller-partner): add missing vendor sales/inventory report fields
  airbyte-integrations/connectors/source-amazon-seller-partner/manifest.yaml
Due: none

docs(source-amazon-seller-partner): changelog for 5.8.2
  docs/integrations/sources/amazon-seller-partner.md
Due: none

fix(source-amazon-seller-partner): add remaining vendor inventory fields; bump to 5.9.0
  airbyte-integrations/connectors/source-amazon-seller-partner/manifest.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
Due: none

refactor(source-jira): simplify issue_worklogs paginator override to nested $ref
  airbyte-integrations/connectors/source-jira/manifest.yaml
Due: none

docs(ai-agents): refine governance intro and roles copy per review
  docs/ai-agents/concepts/governance.md
Due: none

docs(platform): clarify removed columns are retained with NULL backfill
  docs/platform/using-airbyte/schema-change-management.md
Due: none

Update docs/platform/using-airbyte/schema-change-management.md
  docs/platform/using-airbyte/schema-change-management.md
Due: none

Update snowflake.md
  docs/integrations/destinations/snowflake.md
Due: none

chore(destination-snowflake): remove column DROP logic during schema evolution (#82272)
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/component/SnowflakeTableSchemaEvolutionTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeAcceptanceTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
  docs/integrations/destinations/snowflake.md
Due: addlicense, spotless

docs(source-amazon-seller-partner): correct changelog dates for 5.9.0 and 5.8.0
  docs/integrations/sources/amazon-seller-partner.md
Due: none

Submission for source-digital-markets from Connector Builder
  airbyte-integrations/connectors/source-digital-markets/README.md
  airbyte-integrations/connectors/source-digital-markets/acceptance-test-config.yml
  airbyte-integrations/connectors/source-digital-markets/icon.svg
  airbyte-integrations/connectors/source-digital-markets/manifest.yaml
  airbyte-integrations/connectors/source-digital-markets/metadata.yaml
  docs/integrations/sources/digital-markets.md
Due: none

fix(source-github): rebuild GraphQL requests after 504
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/pyproject.toml
  airbyte-integrations/connectors/source-github/source_github/errors_handlers.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
Due: addlicense

docs(source-github): add 2.1.38 changelog entry
  docs/integrations/sources/github.md
Due: none

feat(source-github): support repository exclusions
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/spec.json
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_source.py
  docs/integrations/sources/github.md
Due: addlicense

docs(source-github): add 2.1.38 changelog entry
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/pyproject.toml
  docs/integrations/sources/github.md
Due: none

refactor(source-github): centralize repository filtering
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
Due: addlicense

fix(source-github): log repository on GraphQL timeouts
  airbyte-integrations/connectors/source-github/source_github/errors_handlers.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
Due: addlicense

perf(source-github): use smaller pages for reviews
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/pyproject.toml
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
Due: addlicense

refactor(source-github): separate reviews page-size change
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
Due: addlicense

test(source-github): rely on shared page-size coverage
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
Due: addlicense

fix(source-postgres): encode scalar money as numeric on protobuf path
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/types/PostgresMoneyFieldType.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/PostgresMoneyFieldTypeTest.kt
  docs/integrations/sources/postgres.md
Due: addlicense, spotless
