Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

fix: add blank line after imports to satisfy ruff-format
  airbyte-integrations/connectors/source-faker/unit_tests/unit_test.py
Due: addlicense

feat(source-twilio): Migrate to manifest only (#65111)
  airbyte-integrations/connectors/source-twilio/README.md
  airbyte-integrations/connectors/source-twilio/components.py
  airbyte-integrations/connectors/source-twilio/main.py
  airbyte-integrations/connectors/source-twilio/manifest.yaml
  airbyte-integrations/connectors/source-twilio/metadata.yaml
  airbyte-integrations/connectors/source-twilio/pyproject.toml
  airbyte-integrations/connectors/source-twilio/source_twilio/__init__.py
  airbyte-integrations/connectors/source-twilio/source_twilio/run.py
  airbyte-integrations/connectors/source-twilio/source_twilio/source.py
  airbyte-integrations/connectors/source-twilio/unit_tests/conftest.py
  airbyte-integrations/connectors/source-twilio/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-twilio/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-twilio/unit_tests/test_source.py
  airbyte-integrations/connectors/source-twilio/unit_tests/test_streams.py
  docs/integrations/sources/twilio.md
Due: addlicense

feat(source-jira): issue_changelogs stream
  airbyte-integrations/connectors/source-jira/manifest.yaml
Due: none

Update test_source.py
  airbyte-integrations/connectors/source-jira/unit_tests/test_source.py
Due: addlicense

Update metadata.yaml
  airbyte-integrations/connectors/source-jira/metadata.yaml
Due: none

Update jira.md
  docs/integrations/sources/jira.md
Due: none

Update manifest.yaml
  airbyte-integrations/connectors/source-jira/manifest.yaml
Due: none

refactor: improve consistency in docs path resolution (#65616)
  airbyte-ci/connectors/metadata_service/lib/metadata_service/gcs_upload.py
  airbyte-ci/connectors/metadata_service/lib/tests/test_gcs_upload.py
  poe-tasks/upload-connector-metadata.sh
Due: addlicense

Submission for source-historical-prices-fmp from Connector Builder
  airbyte-integrations/connectors/source-historical-prices-fmp/README.md
  airbyte-integrations/connectors/source-historical-prices-fmp/acceptance-test-config.yml
  airbyte-integrations/connectors/source-historical-prices-fmp/icon.svg
  airbyte-integrations/connectors/source-historical-prices-fmp/manifest.yaml
  airbyte-integrations/connectors/source-historical-prices-fmp/metadata.yaml
  docs/integrations/sources/historical-prices-fmp.md
Due: none

fix yq filter
  poe-tasks/upload-connector-metadata.sh
  poe-tasks/validate-connector-metadata.sh
Due: none

chore: migrate from deprecated abinoda/slack-action to slackapi/slack-github-action (#221)
  .github/workflows/connectors_publish.yml
  .github/workflows/format_check.yml
Due: none

Clean the folder
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/OssCloudEnvVarConsts.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeDatabaseUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeSQLNameTransformer.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeSourceOperations.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/migrations/SnowflakeAbMetaAndGenIdMigration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/migrations/SnowflakeDV2Migration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/migrations/SnowflakeState.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStagingClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStorageOperation.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandler.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeV1V2Migrator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationIntegrationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeTestDataComparator.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeTestUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStagingClientIntegrationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStorageOperationIntegrationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/AbstractSnowflakeSqlGeneratorIntegrationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/AbstractSnowflakeTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeInternalStagingCaseInsensitiveTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeInternalStagingDisableTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeInternalStagingLowercaseDatabaseTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeInternalStagingRawSchemaOverrideDisableTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeInternalStagingRawSchemaOverrideTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeInternalStagingTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorIntegrationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorWithMergeIntegrationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeSqlNameTransformerTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStagingClientTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStorageOperationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandlerTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorTest.kt
Due: addlicense, spotless

Formatting
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeConfiguration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeSpecification.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeSpecTest.kt
Due: addlicense, spotless

Something that loads the spec
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeDestination.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeConfiguration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeSpecification.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeSpecTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/expected-spec-oss.json
Due: addlicense, spotless

Meta and build.gradle
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
Due: spotless

Something that compile
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeConfiguration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeSpecification.kt
Due: addlicense, spotless

Fix metadata
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
Due: none

Apply suggestion from @aaronsteers
  airbyte-integrations/connectors/source-faker/unit_tests/unit_test.py
Due: addlicense

Changelog and base image
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/snowflake.md
Due: none

Fuck
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
Due: none

Migration guide
  docs/integrations/destinations/snowflake-migrations.md
Due: none

Damn
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
Due: none

And what about this?
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
Due: none

Oh well
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
Due: none

broaden constraints
  airbyte-integrations/connectors/source-faker/pyproject.toml
Due: none

switch to concurrency-limited, workflow-triggered registry generation (#65910)
  .github/workflows/generate-connector-registries.yml
  .github/workflows/publish_connectors.yml
Due: none

Does this work?
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
Due: none

Update managing-embedded.md (#65892)
  docs/ai-agents/embedded/widget/managing-embedded.md
Due: none

Fix rejected records product applicability
  docs/platform/move-data/rejected-records.md
  docusaurus/platform_versioned_docs/version-1.8/move-data/rejected-records.md
Due: none

Change applicability to Teams+
  docs/platform/move-data/rejected-records.md
  docusaurus/platform_versioned_docs/version-1.8/move-data/rejected-records.md
Due: none

feat: bump mimesis from 6.1.1 to 18.0.0
  airbyte-integrations/connectors/source-faker/pyproject.toml
Due: none

update poetry.lock with mimesis 18.0.0
  airbyte-integrations/connectors/source-faker/poetry.lock
Due: none

fix: update UserGenerator to use Numeric for age generation with mimesis 18.0.0
  airbyte-integrations/connectors/source-faker/source_faker/user_generator.py
Due: addlicense

fix: update test_read_with_seed expected values for mimesis 18.0.0
  airbyte-integrations/connectors/source-faker/unit_tests/unit_test.py
Due: addlicense

fix: update test_read_with_seed expected values to match actual mimesis 18.0.0 output
  airbyte-integrations/connectors/source-faker/unit_tests/unit_test.py
Due: addlicense

Update metadata.yaml
  airbyte-integrations/connectors/source-ticktick/metadata.yaml
Due: none

Update ticktick.md
  docs/integrations/sources/ticktick.md
Due: none

fix: skip test_read_with_seed due to non-deterministic seeding with mimesis 18.0.0
  airbyte-integrations/connectors/source-faker/unit_tests/unit_test.py
Due: addlicense

fix: update expected_records.jsonl with mimesis 18.0.0 generated values
  airbyte-integrations/connectors/source-faker/integration_tests/expected_records.jsonl
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

