Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

docs: sync agent connector docs from airbyte-agent-connectors repo
  docs/ai-agents/connectors/asana/CHANGELOG.md
  docs/ai-agents/connectors/asana/README.md
  docs/ai-agents/connectors/asana/REFERENCE.md
  docs/ai-agents/connectors/github/CHANGELOG.md
  docs/ai-agents/connectors/github/README.md
  docs/ai-agents/connectors/gong/CHANGELOG.md
  docs/ai-agents/connectors/gong/README.md
  docs/ai-agents/connectors/greenhouse/CHANGELOG.md
  docs/ai-agents/connectors/greenhouse/README.md
  docs/ai-agents/connectors/hubspot/CHANGELOG.md
  docs/ai-agents/connectors/hubspot/README.md
  docs/ai-agents/connectors/jira/CHANGELOG.md
  docs/ai-agents/connectors/jira/README.md
  docs/ai-agents/connectors/linear/CHANGELOG.md
  docs/ai-agents/connectors/linear/README.md
  docs/ai-agents/connectors/salesforce/CHANGELOG.md
  docs/ai-agents/connectors/salesforce/README.md
  docs/ai-agents/connectors/stripe/CHANGELOG.md
  docs/ai-agents/connectors/stripe/README.md
  docs/ai-agents/connectors/zendesk-support/CHANGELOG.md
  docs/ai-agents/connectors/zendesk-support/README.md
Due: none

fix(source-sftp-bulk): fix globs match (directory could match the glob) if // provided in glob (#71038)
  airbyte-integrations/connectors/source-sftp-bulk/metadata.yaml
  airbyte-integrations/connectors/source-sftp-bulk/pyproject.toml
  airbyte-integrations/connectors/source-sftp-bulk/source_sftp_bulk/stream_reader.py
  airbyte-integrations/connectors/source-sftp-bulk/unit_tests/test_stream_reader_directory_matching.py
  docs/integrations/sources/sftp-bulk.md
Due: addlicense

docs(source-sftp-bulk): fix incorrect glob pattern documentation
  docs/integrations/sources/sftp-bulk.md
Due: none

Fix: Klaviyo source connector was using wrong field name for incremental ingestion causing all ingestions to be full refreshes
  airbyte-integrations/connectors/source-klaviyo/manifest.yaml
Due: none

feat(source-amazon-seller-partner): Re-add brand analytics streams
  airbyte-integrations/connectors/source-amazon-seller-partner/manifest.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
  docs/integrations/sources/amazon-seller-partner.md
Due: addlicense

docs(source-amazon-seller-partner): Add Brand Analytics Manager role requirement
  docs/integrations/sources/amazon-seller-partner.md
Due: none

Revert custom queries to Python implementation
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/poetry.lock
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/custom_query_stream.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_components.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_custom_query.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_empty_streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_errors.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_utils.py
  docs/integrations/sources/google-ads.md
Due: addlicense

Add state migration
  airbyte-integrations/connectors/source-google-ads/source_google_ads/custom_query_stream.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_custom_query.py
Due: addlicense

Submission for source-bing-webmaster-tools from Connector Builder
  airbyte-integrations/connectors/source-bing-webmaster-tools/README.md
  airbyte-integrations/connectors/source-bing-webmaster-tools/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-webmaster-tools/icon.svg
  airbyte-integrations/connectors/source-bing-webmaster-tools/manifest.yaml
  airbyte-integrations/connectors/source-bing-webmaster-tools/metadata.yaml
  docs/integrations/sources/bing-webmaster-tools.md
Due: none

docs(source-shopify): Fix Countries stream API documentation link
  docs/integrations/sources/shopify.md
Due: none

chore(source-amazon-seller-partner): bump version to 5.0.2 and update changelog
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  docs/integrations/sources/amazon-seller-partner.md
Due: none

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-google-ads/source_google_ads/custom_query_stream.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_custom_query.py
Due: addlicense

Making connector based on source declarative manifest
  airbyte-integrations/connectors/source-nexus-datasets/__init__.py
  airbyte-integrations/connectors/source-nexus-datasets/components.py
  airbyte-integrations/connectors/source-nexus-datasets/main.py
  airbyte-integrations/connectors/source-nexus-datasets/manifest.yaml
  airbyte-integrations/connectors/source-nexus-datasets/metadata.yaml
  airbyte-integrations/connectors/source-nexus-datasets/poetry.lock
  airbyte-integrations/connectors/source-nexus-datasets/pyproject.toml
  airbyte-integrations/connectors/source-nexus-datasets/source_nexus_datasets/__init__.py
  airbyte-integrations/connectors/source-nexus-datasets/source_nexus_datasets/auth.py
  airbyte-integrations/connectors/source-nexus-datasets/source_nexus_datasets/components/decorder_original.py
  airbyte-integrations/connectors/source-nexus-datasets/source_nexus_datasets/components/passthrough_extractor.py
  airbyte-integrations/connectors/source-nexus-datasets/source_nexus_datasets/run.py
  airbyte-integrations/connectors/source-nexus-datasets/source_nexus_datasets/schemas/TODO.md
  airbyte-integrations/connectors/source-nexus-datasets/source_nexus_datasets/schemas/datasets.json
  airbyte-integrations/connectors/source-nexus-datasets/source_nexus_datasets/schemas/users.json
  airbyte-integrations/connectors/source-nexus-datasets/source_nexus_datasets/source.py
  airbyte-integrations/connectors/source-nexus-datasets/source_nexus_datasets/spec.yaml
Due: addlicense

docs(source-facebook-marketing): Clarify attribution window limits in lookback window descriptions
  docs/integrations/sources/facebook-marketing.md
Due: none

Block simultaneous reading from companies endpoint
  airbyte-integrations/connectors/source-intercom/manifest.yaml
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  docs/integrations/sources/intercom.md
Due: none

fix reports
  airbyte-integrations/connectors/source-amazon-seller-partner/manifest.yaml
Due: none

Datatypes tests. ported but not passing yet.
  airbyte-cdk/bulk/toolkits/legacy-source-integration-tests/src/testFixtures/kotlin/io/airbyte/cdk/test/fixtures/legacy/AbstractSourceDatabaseTypeTest.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/legacy/AbstractPostgresSourceDatatypeTest.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/legacy/PostgresSourceDatatypeTest.kt
Due: addlicense, spotless

fix(destination-postgres): Only apply CASCADE to DROP COLUMN, not ALTER COLUMN TYPE
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-postgres/src/test/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresDirectLoadSqlGeneratorTest.kt
  docs/integrations/destinations/postgres.md
Due: addlicense, spotless

comment
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/component/SchemaMapperSuite.kt
Due: addlicense, spotless

add dev info to connectors_qa README
  airbyte-ci/connectors/connectors_qa/README.md
Due: none

chore(destination-duckdb): upgrade to python-connector-base:4.0.2 to fix home directory issue
  airbyte-integrations/connectors/destination-duckdb/metadata.yaml
Due: none

fix(destination-postgres): Only apply CASCADE to DROP COLUMN, not ALTER COLUMN TYPE (#71146)
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-postgres/src/test/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresDirectLoadSqlGeneratorTest.kt
  docs/integrations/destinations/postgres.md
Due: addlicense, spotless

Do not merge: Dummy PR for Gate 5 (Pre-Release Validation) demo - modifies pagination logic
  airbyte-integrations/connectors/source-hubspot/manifest.yaml
Due: none

Do not merge: Dummy PR for Gate 6 (PR Quality) demo - connector modified without docs changelog
  airbyte-integrations/connectors/source-stripe/metadata.yaml
Due: none

ci: Add ai-pr-review-signals workflow for precise trigger detection
  .github/workflows/ai-pr-review-signals.yml
Due: none

fix: Remove trailing whitespace from workflow file
  .github/workflows/ai-pr-review-signals.yml
Due: none

extract to harness
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/component/SchemaMapperHarness.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/component/SchemaMapperSuite.kt
Due: addlicense, spotless

logistics
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/version.properties
Due: none

fix acceptance tests and GET_SALES_AND_TRAFFIC_REPORT
  airbyte-integrations/connectors/source-amazon-seller-partner/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-seller-partner/manifest.yaml
Due: none

unshadow name
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/component/SchemaMapperHarness.kt
Due: addlicense, spotless

fix: Update comment to include Gate 5 trigger keywords
  airbyte-integrations/connectors/source-hubspot/manifest.yaml
Due: none

ci: Add OSS issue triage workflow for community issues
  .github/workflows/oss-issue-triage.yml
Due: none

fix: Change page_size from 100 to 99 to trigger Gate 5 (functional change)
  airbyte-integrations/connectors/source-hubspot/manifest.yaml
Due: none

ci: Fix formatting in OSS issue triage workflow
  .github/workflows/oss-issue-triage.yml
Due: none

the dumbest possible thing
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/spec/SpecTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/CharacterizationTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/SchemaDumper.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
Due: addlicense, spotless

all tests in clickhouse
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseAcceptanceTest.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseSchemaDumper.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/json_default/schema-regression/column_names/append.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/json_default/schema-regression/column_names/dedup_colliding_names.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/json_default/schema-regression/column_names/dedup_funky_chars_cursor.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/json_default/schema-regression/column_names/dedup_funky_chars_pk.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/json_default/schema-regression/column_names/dedup_reserved_word.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/json_default/schema-regression/column_names/dedup_simple.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/json_proto/schema-regression/column_names/append.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/json_proto/schema-regression/column_names/dedup_colliding_names.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/json_proto/schema-regression/column_names/dedup_funky_chars_cursor.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/json_proto/schema-regression/column_names/dedup_funky_chars_pk.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/json_proto/schema-regression/column_names/dedup_reserved_word.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/json_proto/schema-regression/column_names/dedup_simple.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/nonjson_default/schema-regression/column_names/append.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/nonjson_default/schema-regression/column_names/dedup_colliding_names.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/nonjson_default/schema-regression/column_names/dedup_funky_chars_cursor.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/nonjson_default/schema-regression/column_names/dedup_funky_chars_pk.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/nonjson_default/schema-regression/column_names/dedup_reserved_word.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/nonjson_default/schema-regression/column_names/dedup_simple.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/nonjson_proto/schema-regression/column_names/append.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/nonjson_proto/schema-regression/column_names/dedup_colliding_names.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/nonjson_proto/schema-regression/column_names/dedup_funky_chars_cursor.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/nonjson_proto/schema-regression/column_names/dedup_funky_chars_pk.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/nonjson_proto/schema-regression/column_names/dedup_reserved_word.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/nonjson_proto/schema-regression/column_names/dedup_simple.txt
Due: addlicense, spotless

more directory structure, more tests
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/CharacterizationTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
Due: addlicense, spotless

remove todo
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
Due: addlicense, spotless

more comment
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/SchemaDumper.kt
Due: addlicense, spotless

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

