Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

fix(source-jira): stop config migration adding empty api_token/email/domain fields
  airbyte-integrations/connectors/source-jira/manifest.yaml
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/unit_tests/test_config_migration.py
  docs/integrations/sources/jira.md
Due: addlicense

docs(source-jira): fill in changelog PR number
  docs/integrations/sources/jira.md
Due: none

feat(destination-snowflake): add Fusion S3 sync copy routing
  airbyte-integrations/connectors/destination-snowflake/S3_COPY_IMPLEMENTATION_PLAN.md
  airbyte-integrations/connectors/destination-snowflake/build.gradle.kts
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/copy/S3CopyConfiguration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/copy/S3CopyPaths.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/copy/S3CsvUploader.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/copy/SnowflakeS3Copy.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/dataflow/SnowflakeAggregateFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeWriter.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/copy/S3CopyPathsTest.kt
Due: addlicense, spotless

TEMPORARY: use nil workspace source and connection IDs for preview
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/copy/S3CopyConfiguration.kt
Due: addlicense, spotless

docs: Update airbyte-agent-sdk API reference documentation (sonar@a620c37)
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/amazon_ads/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/amazon_ads/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/amazon_seller_partner/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/amazon_seller_partner/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/chargebee/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/chargebee/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/confluence/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/confluence/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/freshdesk/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/freshdesk/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/gitlab/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/gitlab/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/jira/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/jira/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/mailchimp/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/mailchimp/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/salesforce/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/salesforce/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/sentry/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/sentry/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/shopify/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/shopify/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/woocommerce/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/woocommerce/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/zendesk_chat/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/zendesk_chat/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/zendesk_support/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/zendesk_support/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/zendesk_talk/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/zendesk_talk/index.md
Due: none

destination-bigquery: reorder loading methods, recommend GCS Staging
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/spec/BigquerySpecification.kt
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/expected-spec-oss.json
  docs/integrations/destinations/bigquery.md
Due: addlicense, spotless

Retire the Python classes of the commits, contributor_activity and workflow streams
  airbyte-integrations/connectors/source-github/source_github/backoff_strategies.py
  airbyte-integrations/connectors/source-github/source_github/errors_handlers.py
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
Due: addlicense

Add the commits, contributor_activity, workflow_runs and workflow_jobs streams to the manifest
  airbyte-integrations/connectors/source-github/source_github/components.py
  airbyte-integrations/connectors/source-github/source_github/manifest.yaml
  airbyte-integrations/connectors/source-github/source_github/schemas/commits.json
  airbyte-integrations/connectors/source-github/source_github/schemas/contributor_activity.json
  airbyte-integrations/connectors/source-github/source_github/schemas/workflow_jobs.json
  airbyte-integrations/connectors/source-github/source_github/schemas/workflow_runs.json
Due: addlicense

fix(source-paypal-transaction): fail fast on unavailable start date and lag transactions end window
  airbyte-integrations/connectors/source-paypal-transaction/AGENTS.md
  airbyte-integrations/connectors/source-paypal-transaction/manifest.yaml
  airbyte-integrations/connectors/source-paypal-transaction/metadata.yaml
  airbyte-integrations/connectors/source-paypal-transaction/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-paypal-transaction/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-paypal-transaction/unit_tests/test_transactions_result_set_too_large.py
  docs/integrations/sources/paypal-transaction.md
Due: addlicense

test(source-paypal-transaction): assert transient failure type on unavailable start date
  airbyte-integrations/connectors/source-paypal-transaction/unit_tests/test_transactions_result_set_too_large.py
Due: addlicense

docs(source-paypal-transaction): link changelog entry to PR
  docs/integrations/sources/paypal-transaction.md
Due: none

Adapt the unit tests to the declarative commits, contributor_activity and workflow streams
  airbyte-integrations/connectors/source-github/unit_tests/test_manifest_special_incremental_streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_source.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
Due: addlicense

Bump source-github to 2.6.0 and document the Step 8 migration
  airbyte-integrations/connectors/source-github/AGENTS.md
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/pyproject.toml
  docs/integrations/sources/github.md
Due: none

Point the changelog at the Step 8 pull request
  docs/integrations/sources/github.md
Due: none

Read the teams cache-sharing test with a single worker
  airbyte-integrations/connectors/source-github/unit_tests/test_manifest_org_scoped_streams.py
Due: addlicense

docs(source-klaviyo): document GlobalExclusions stream behavior and fix 3.0.3 changelog date
  docs/integrations/sources/klaviyo.md
Due: none

docs(source-klaviyo): qualify GlobalExclusions lookback limits and version range
  docs/integrations/sources/klaviyo.md
Due: none

docs(source-pipedrive): keep the migration guide unchanged; the automatic pre-2.0.0 config migration is described in the changelog
  docs/integrations/sources/pipedrive-migrations.md
Due: none

docs(source-pipedrive): set the 2.4.7, 2.5.0 and 2.6.0 changelog dates to their merge date
  docs/integrations/sources/pipedrive.md
Due: none

test(source-pipedrive): apply ruff formatting to test_streams.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_streams.py
Due: addlicense

docs(source-pipedrive): clarify Start Date, plan-gated streams and error handling
  docs/integrations/sources/pipedrive.md
Due: none

feat(source-pipedrive): migrate core streams to API v2
  airbyte-integrations/connectors/source-pipedrive/AGENTS.md
  airbyte-integrations/connectors/source-pipedrive/CONTRIBUTING.md
  airbyte-integrations/connectors/source-pipedrive/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pipedrive/components.py
  airbyte-integrations/connectors/source-pipedrive/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-pipedrive/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-pipedrive/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pipedrive/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-pipedrive/manifest.yaml
  airbyte-integrations/connectors/source-pipedrive/metadata.yaml
  airbyte-integrations/connectors/source-pipedrive/unit_tests/_helpers.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_api_budget.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_check.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_components.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_config_migration.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_error_handling.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_mail_stream.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_streams.py
  docs/integrations/sources/pipedrive-migrations.md
  docs/integrations/sources/pipedrive.md
Due: addlicense

fix(source-pipedrive): correct API v2 routing and schemas
  airbyte-integrations/connectors/source-pipedrive/AGENTS.md
  airbyte-integrations/connectors/source-pipedrive/CONTRIBUTING.md
  airbyte-integrations/connectors/source-pipedrive/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pipedrive/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-pipedrive/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pipedrive/manifest.yaml
  airbyte-integrations/connectors/source-pipedrive/unit_tests/_helpers.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_api_budget.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_check.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_error_handling.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_mail_stream.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_streams.py
  docs/integrations/sources/pipedrive.md
Due: addlicense

fix(source-pipedrive): complete schema and docs follow-ups
  airbyte-integrations/connectors/source-pipedrive/manifest.yaml
  docs/integrations/sources/pipedrive.md
Due: none

fix(source-pipedrive): correct acceptance fixtures and docs
  airbyte-integrations/connectors/source-pipedrive/AGENTS.md
  airbyte-integrations/connectors/source-pipedrive/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-pipedrive/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-pipedrive/integration_tests/sample_state.json
  docs/integrations/sources/pipedrive.md
Due: none

chore(source-pipedrive): apply repository formatting
  airbyte-integrations/connectors/source-pipedrive/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-pipedrive/unit_tests/_helpers.py
Due: addlicense

fix(source-amazon-seller-partner): remove primary key from flat-file All Orders streams
  airbyte-integrations/connectors/source-amazon-seller-partner/manifest.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
  docs/integrations/sources/amazon-seller-partner-migrations.md
  docs/integrations/sources/amazon-seller-partner.md
Due: addlicense

docs(source-mssql): date 5.0.2 changelog row after 5.0.1
  docs/integrations/sources/mssql.md
Due: none

test(source-amazon-seller-partner): assert All Orders streams expose no primary key
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
Due: addlicense

docs(source-amazon-seller-partner): link changelog entry to PR
  docs/integrations/sources/amazon-seller-partner.md
Due: none

fix(source-gmail): never overwrite existing nested credentials during legacy OAuth migration
  airbyte-integrations/connectors/source-gmail/manifest.yaml
  airbyte-integrations/connectors/source-gmail/unit_tests/test_config_migration.py
Due: addlicense

docs(source-pipedrive): update AGENTS.md auth section for OAuth default
  airbyte-integrations/connectors/source-pipedrive/AGENTS.md
Due: none

style(source-pipedrive): apply ruff-format to test_streams.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_streams.py
Due: addlicense

fix(source-amazon-seller-partner): remove primary key from All Orders flat-file report streams
  airbyte-integrations/connectors/source-amazon-seller-partner/manifest.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_primary_keys.py
  docs/integrations/sources/amazon-seller-partner-migrations.md
  docs/integrations/sources/amazon-seller-partner.md
Due: addlicense

test(source-amazon-seller-partner): assert on discovered primary key only
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_primary_keys.py
Due: addlicense

docs(source-amazon-seller-partner): add PR number to 6.0.0 changelog entry
  docs/integrations/sources/amazon-seller-partner.md
Due: none

fix(source-amazon-seller-partner): update ERD artifacts and broaden deduped-mode wording
  airbyte-integrations/connectors/source-amazon-seller-partner/erd/discovered_catalog.json
  airbyte-integrations/connectors/source-amazon-seller-partner/erd/source.dbml
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  docs/integrations/sources/amazon-seller-partner-migrations.md
Due: none

fix(source-pipedrive): add the deals_archived stream, filter notes and leads server-side and type the v1 date fields
  airbyte-integrations/connectors/source-pipedrive/manifest.yaml
  airbyte-integrations/connectors/source-pipedrive/unit_tests/_helpers.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_error_handling.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_streams.py
Due: addlicense

test(source-pipedrive): align the acceptance fixtures with the 3.0.0 streams and enable the incremental suite
  airbyte-integrations/connectors/source-pipedrive/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pipedrive/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-pipedrive/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-pipedrive/integration_tests/sample_state.json
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

