Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

reorder spec options; change title
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryBeansFactory.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/spec/BigqueryConfiguration.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/spec/BigquerySpecification.kt
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/expected-spec-oss.json
Due: addlicense, spotless

chore: move dest-dev-null to new non-dagger flow. (#59759)
  airbyte-integrations/connectors/destination-dev-null/build.gradle
  airbyte-integrations/connectors/destination-dev-null/metadata.yaml
  buildSrc/src/main/groovy/airbyte-connector-docker-convention.gradle
  docs/integrations/destinations/dev-null.md
Due: spotless

Better comments.
  .github/workflows/publish_connectors.yml
  airbyte-integrations/connectors/destination-dev-null/metadata.yaml
Due: none

Logging
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableStreamLoader.kt
Due: addlicense, spotless

Migrate to new gradle flow.
  airbyte-integrations/connectors/source-e2e-test/build.gradle
  airbyte-integrations/connectors/source-e2e-test/metadata.yaml
Due: spotless

Migrate to new gradle flow.
  docs/integrations/sources/e2e-test.md
Due: none

Variable rename
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableStreamLoader.kt
Due: addlicense, spotless

chore: move source-e2e-test to new gradle flow. (#59761)
  airbyte-integrations/connectors/source-e2e-test/build.gradle
  airbyte-integrations/connectors/source-e2e-test/metadata.yaml
  docs/integrations/sources/e2e-test.md
Due: spotless

Only run master pieces on push.
  .github/workflows/publish_connectors.yml
Due: none

A bit of doc
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableStreamLoader.kt
Due: addlicense, spotless

Documentation
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableStreamLoader.kt
Due: addlicense, spotless

Dont need those doc and this comment is bad
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableStreamLoader.kt
  docs/debugging-connector-tests.md
  docs/debugging-github-actions.md
Due: addlicense, spotless

First draft of the workflow
  .github/workflows/autodoc.yml
Due: none

docs: update Freshservice connector documentation with enhanced setup guide and API details
  docs/integrations/sources/freshservice.md
Due: none

Explicit main release. Better comments.
  .github/workflows/publish_connectors.yml
  poe-tasks/build-and-publish-java-connectors-with-tag.sh
  poe-tasks/get-modified-connectors.sh
Due: none

chore: update pnpm-lock.yaml after documentation build
  docusaurus/pnpm-lock.yaml
Due: none

hacky GCS direct-load. still needs type safety.
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableStreamLoader.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/formatter/BigQueryRecordFormatter.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/bulk_loader/BigQueryBulkLoader.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/bulk_loader/BigQueryBulkLoaderConfiguration.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadNativeTableOperations.kt
Due: addlicense, spotless

chore: non-dagger publish (#59740)
  .github/workflows/publish_connectors.yml
  poe-tasks/build-and-publish-java-connectors-with-tag.sh
  poe-tasks/get-modified-connectors.sh
Due: none

Test new publishing flow.
  airbyte-integrations/connectors/destination-dev-null/metadata.yaml
  docs/integrations/destinations/dev-null.md
Due: none

Test new publishing flow.
  docs/integrations/destinations/dev-null.md
Due: none

chore: test new publishing flow. (#59766)
  airbyte-integrations/connectors/destination-dev-null/metadata.yaml
  docs/integrations/destinations/dev-null.md
Due: none

[Load-CDK] Fix flaky object storage toolkit tests
  airbyte-cdk/bulk/toolkits/load-object-storage/build.gradle
Due: spotless

docs: update Freshservice connector rate limit information
  docs/integrations/sources/freshservice.md
Due: none

also implement standard inserts, I guess
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/formatter/BigQueryRecordFormatter.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/bulk_loader/BigQueryBulkLoader.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/standard_insert/BigqueryBatchStandardInsertLoader.kt
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryWriteTest.kt
Due: addlicense, spotless

refactor ad_performance_report to re-use common components
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/manifest.yaml
Due: none

testing
  airbyte-integrations/connectors/test.blah
Due: none

testing
  airbyte-integrations/connectors/source-zoom/test.blah
Due: none

prettier yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/manifest.yaml
Due: none

also this
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadNativeTableOperations.kt
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryWriteTest.kt
Due: addlicense, spotless

Improve rollout map.
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  poe-tasks/build-and-publish-java-connectors-with-tag.sh
Due: spotless

[Load-CDK] Fix Flaky Mockk Unit Tests (#59762)
  airbyte-cdk/bulk/toolkits/load-object-storage/build.gradle
Due: spotless

remove some fixme already fixed
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/manifest.yaml
Due: none

Dest-MSSQL: MSSQL Standard Insert uses DirectLoader
  airbyte-integrations/connectors/destination-mssql/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLBulkLoader.kt
Due: addlicense, spotless

[Load CDK File Transfer/Dest S3]: Legacy transfer uses new interface
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/config/SyncBeanFactory.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/FileTransferQueueMessageLegacy.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncher.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/implementor/ProcessFileTask.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/internal/InputConsumerTask.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/write/StreamLoader.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncherTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncherUTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/internal/InputConsumerTaskUTest.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/factory/object_storage/ObjectLoaderStepBeanFactory.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/pipline/object_storage/ObjectLoaderPipeline.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/pipline/object_storage/file/ProcessFileTaskLegacy.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/pipline/object_storage/file/ProcessFileTaskLegacyStep.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/write/object_storage/FilePartAccumulator.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/write/object_storage/FilePartAccumulatorLegacy.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/write/object_storage/ObjectStorageStreamLoaderFactory.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/write/object_storage/FilePartAccumulatorLegacyTest.kt
  airbyte-integrations/connectors/destination-mssql/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLBulkLoader.kt
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  airbyte-integrations/connectors/destination-s3/src/main/kotlin/S3V2ObjectLoader.kt
Due: addlicense, spotless

[Dest-Azure-BS] Azure Blob Storage Uses New Old File Xfer
  airbyte-integrations/connectors/destination-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageObjectLoader.kt
Due: addlicense, spotless

Rollback invoice_line_items stream
  airbyte-integrations/connectors/source-stripe/.coveragerc
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/poetry.lock
  airbyte-integrations/connectors/source-stripe/pyproject.toml
  airbyte-integrations/connectors/source-stripe/source_stripe/error_handlers/__init__.py
  airbyte-integrations/connectors/source-stripe/source_stripe/error_handlers/parent_incremental_stripe_sub_stream_error_handler.py
  airbyte-integrations/connectors/source-stripe/source_stripe/error_handlers/stripe_error_handler.py
  airbyte-integrations/connectors/source-stripe/source_stripe/error_mappings/__init__.py
  airbyte-integrations/connectors/source-stripe/source_stripe/error_mappings/parent_incremental_stripe_sub_stream_error_mapping.py
  airbyte-integrations/connectors/source-stripe/source_stripe/manifest.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/source_stripe/utils.py
  docs/integrations/sources/stripe.md
Due: addlicense

Does disabling the concurrent test run help debug this?
  .github/workflows/connectors_tests.yml
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

