Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

Add CDC_CURSOR_COLUMN to load cdk for reference.
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/table/ColumnsConstants.kt
Due: addlicense, spotless

Rev version.
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/version.properties
Due: none

fix(source-klaviyo): Set next to None to stop pagination in test_data_feed_stops_pagination_on_old_records
  airbyte-integrations/connectors/source-klaviyo/unit_tests/integration/test_lists.py
Due: addlicense

fix(source-klaviyo): Use with_any_query_params() for 401/403 error tests in test_campaigns
  airbyte-integrations/connectors/source-klaviyo/unit_tests/integration/test_campaigns.py
Due: addlicense

fix(source-klaviyo): Use early start_date for state-based tests in test_lists
  airbyte-integrations/connectors/source-klaviyo/unit_tests/integration/test_lists.py
Due: addlicense

test(source-chargebee): Add comprehensive mock server tests for all 27 streams
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/response_builder.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_comment.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_differential_price.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_hosted_page.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_item_family.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_item_price.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_order.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_payment_source.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_promotional_credit.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_quote.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_quote_line_group.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_site_migration_detail.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_subscription_with_scheduled_changes.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_unbilled_charge.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_virtual_bank_account.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/comment.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/differential_price.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/error_no_scheduled_changes.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/hosted_page.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/item_family.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/item_price.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/order.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/payment_source.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/promotional_credit.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/quote.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/quote_line_group.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/quote_multiple.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/site_migration_detail.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/subscription_multiple.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/subscription_with_scheduled_changes.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/unbilled_charge.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/virtual_bank_account.json
Due: addlicense

Add CDC_CURSOR_COLUMN to load cdk for reference. (#70852)
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/table/ColumnsConstants.kt
  airbyte-cdk/bulk/version.properties
Due: addlicense, spotless

fix(source-klaviyo): Fix pagination and incremental state tests
  airbyte-integrations/connectors/source-klaviyo/unit_tests/integration/test_email_templates.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/integration/test_events.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/integration/test_events_detailed.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/integration/test_flows.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/integration/test_metrics.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/integration/test_profiles.py
Due: addlicense

fix(airbyte-ci): Fix UnboundLocalError in checked_out_git_container
  airbyte-ci/connectors/pipelines/pipelines/dagger/containers/git.py
Due: addlicense

fix(source-klaviyo): Fix lists_detailed tests to mock substream endpoint
  airbyte-integrations/connectors/source-klaviyo/unit_tests/integration/test_lists_detailed.py
Due: addlicense

Move Embedded prereqs to the Embedded section. Delete proxy request documentaton at Teo's request. Minor edits to everything.
  docs/ai-agents/README.md
  docs/ai-agents/connectors/tutorial-mcp.md
  docs/ai-agents/embedded/README.md
Due: none

fix(source-klaviyo): Fix test_pagination_multiple_pages and test_incremental_sync_with_prior_state
  airbyte-integrations/connectors/source-klaviyo/unit_tests/integration/test_flows.py
Due: addlicense

Extremely basic outline
  docs/ai-agents/connectors/tutorial-python.md
Due: none

fix(source-klaviyo): Fix test_client_side_incremental_with_prior_state
  airbyte-integrations/connectors/source-klaviyo/unit_tests/integration/test_lists_detailed.py
Due: addlicense

Refine the structure
  docs/ai-agents/connectors/tutorial-python.md
Due: none

style(source-chargebee): Apply pre-commit formatting to test files
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_addon.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_attached_item.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_comment.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_contact.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_coupon.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_credit_note.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_customer.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_differential_price.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_event.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_gift.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_hosted_page.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_invoice.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_item.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_item_family.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_item_price.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_order.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_payment_source.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_plan.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_promotional_credit.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_quote.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_quote_line_group.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_site_migration_detail.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_subscription.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_subscription_with_scheduled_changes.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_transaction.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_unbilled_charge.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_virtual_bank_account.py
Due: addlicense

test(source-chargebee): Add incremental sync with state tests for all 23 incremental streams
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_addon.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_attached_item.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_comment.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_contact.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_coupon.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_credit_note.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_customer.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_differential_price.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_event.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_gift.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_hosted_page.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_invoice.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_item.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_item_family.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_item_price.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_order.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_payment_source.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_plan.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_promotional_credit.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_quote.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_quote_line_group.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_subscription.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_subscription_with_scheduled_changes.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_virtual_bank_account.py
Due: addlicense

feat: add connector release slash commands
  .github/workflows/ai-canary-prerelease-command.yml
  .github/workflows/ai-prove-fix-command.yml
  .github/workflows/ai-release-watch-command.yml
  .github/workflows/slash-commands.yml
  .github/workflows/yank-version-command.yml
Due: none

style: fix prettier formatting (use double quotes)
  .github/workflows/ai-canary-prerelease-command.yml
  .github/workflows/ai-prove-fix-command.yml
  .github/workflows/ai-release-watch-command.yml
Due: none

refactor: remove yank-version and add AI commands to welcome message
  .github/pr-welcome-internal.md
  .github/workflows/slash-commands.yml
  .github/workflows/yank-version-command.yml
Due: none

feat: add connector release slash commands (#70855)
  .github/pr-welcome-internal.md
  .github/workflows/ai-canary-prerelease-command.yml
  .github/workflows/ai-prove-fix-command.yml
  .github/workflows/ai-release-watch-command.yml
  .github/workflows/slash-commands.yml
Due: none

feat: Adding new source connector for chift api
  airbyte-integrations/connectors/source-chift/README.md
  airbyte-integrations/connectors/source-chift/acceptance-test-config.yml
  airbyte-integrations/connectors/source-chift/icon.svg
  airbyte-integrations/connectors/source-chift/manifest.yaml
  airbyte-integrations/connectors/source-chift/metadata.yaml
  docs/integrations/sources/chift.md
Due: none

feat: For connections stream, adding parent stream id to output record
  airbyte-integrations/connectors/source-chift/manifest.yaml
Due: none

feat: Applying PR feedback
  airbyte-integrations/connectors/source-chift/README.md
  airbyte-integrations/connectors/source-chift/manifest.yaml
Due: none

fix: New line removal
  airbyte-integrations/connectors/source-chift/manifest.yaml
Due: none

chore(source-gitlab): Bump version to 4.4.15 and update changelog
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  docs/integrations/sources/gitlab.md
Due: none

chore(source-gitlab): Update version to 4.4.17 and fix changelog
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  docs/integrations/sources/gitlab.md
Due: none

Update metadata.yaml
  airbyte-integrations/connectors/source-klaus-api/metadata.yaml
Due: none

Update klaus-api.md
  docs/integrations/sources/klaus-api.md
Due: none

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-chift/acceptance-test-config.yml
  airbyte-integrations/connectors/source-chift/metadata.yaml
Due: none

fix(source-airtable): update stream name format to include base_id for uniqueness
  airbyte-integrations/connectors/source-airtable/manifest.yaml
Due: none

feat(source-amazon-ads): Update concurrency defaults and improve rate limits documentation
  airbyte-integrations/connectors/source-amazon-ads/manifest.yaml
  docs/integrations/sources/amazon-ads.md
Due: none

feat(source-amazon-ads): Update num_workers maximum from 10 to 20 in spec
  airbyte-integrations/connectors/source-amazon-ads/manifest.yaml
Due: none

feat(source-harvest): Add HTTPAPIBudget and concurrency_level
  airbyte-integrations/connectors/source-harvest/manifest.yaml
Due: none

feat(source-gitlab): Add HTTPAPIBudget and concurrency_level (AI-Triage PR)
  airbyte-integrations/connectors/source-gitlab/manifest.yaml
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
Due: none

feat(source-intercom): Add HTTPAPIBudget and concurrency_level
  airbyte-integrations/connectors/source-intercom/manifest.yaml
Due: none

feat(source-mailchimp): Add HTTPAPIBudget and concurrency_level (AI-Triage PR)
  airbyte-integrations/connectors/source-mailchimp/manifest.yaml
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
Due: none

Fvccarneiro/source chift initial creation (#69198)
  airbyte-integrations/connectors/source-chift/README.md
  airbyte-integrations/connectors/source-chift/acceptance-test-config.yml
  airbyte-integrations/connectors/source-chift/icon.svg
  airbyte-integrations/connectors/source-chift/manifest.yaml
  airbyte-integrations/connectors/source-chift/metadata.yaml
  docs/integrations/sources/chift.md
Due: none

docs: improve Chift connector documentation
  docs/integrations/sources/chift.md
Due: none
