Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

fixed the prettier build failure with correct indentation
  airbyte-integrations/connectors/source-cin7/metadata.yaml
Due: none

fix(destination-salesforce): remove mandatory fields and fix discover… (#209)
  airbyte-integrations/connectors/destination-salesforce/metadata.yaml
  airbyte-integrations/connectors/destination-salesforce/src/main/kotlin/io/airbyte/integrations/destination/salesforce/http/SalesforceOperationRepository.kt
  airbyte-integrations/connectors/destination-salesforce/src/test-integration/kotlin/SalesforceWriterTest.kt
  airbyte-integrations/connectors/destination-salesforce/src/test/kotlin/io/airbyte/integrations/destination/salesforce/http/SalesforceOperationRepositoryTest.kt
Due: addlicense, spotless

Switch all streams to paginated endpoints
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
  docs/integrations/sources/google-ads.md
Due: none

Update PR URL
  docs/integrations/sources/google-ads.md
Due: none

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
Due: none

Fix unit test
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_empty_streams.py
Due: addlicense

Add paginator for criterion streams
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
Due: none

simplify socket data channel
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/output/sockets/SocketDataChannel.kt
Due: addlicense, spotless

Update notion.md
  docs/integrations/sources/notion.md
Due: none

Update contribution guidelines. Platform contributions are no longer accepted and cleaned up various pieces of text.
  docs/platform/community/code-of-conduct.md
  docs/platform/contributing-to-airbyte/README.md
  docs/platform/contributing-to-airbyte/writing-docs.md
Due: none

chore: add schema property
  airbyte-integrations/connectors/source-notion/source_notion/schemas/blocks.json
Due: none

Trigger table connectors use CDK with speed mode (#206)
  airbyte-integrations/connectors/source-db2-enterprise/build.gradle
  airbyte-integrations/connectors/source-db2-enterprise/metadata.yaml
  airbyte-integrations/connectors/source-db2-enterprise/poe_tasks.toml
  airbyte-integrations/connectors/source-db2-enterprise/src/main/kotlin/io/airbyte/integrations/source/db2/Db2JdbcPartitionReader.kt
  airbyte-integrations/connectors/source-db2-enterprise/src/main/kotlin/io/airbyte/integrations/source/db2/Db2PartitionReader.kt
  airbyte-integrations/connectors/source-db2-enterprise/src/main/kotlin/io/airbyte/integrations/source/db2/Db2PartitionsCreator.kt
  airbyte-integrations/connectors/source-db2-enterprise/src/main/kotlin/io/airbyte/integrations/source/db2/Db2PartitionsCreatorFactory.kt
  airbyte-integrations/connectors/source-db2-enterprise/src/main/kotlin/io/airbyte/integrations/source/db2/Db2PartitionsCreatorFactorySupplier.kt
  airbyte-integrations/connectors/source-db2-enterprise/src/main/kotlin/io/airbyte/integrations/source/db2/Db2SourceJdbcPartition.kt
  airbyte-integrations/connectors/source-db2-enterprise/src/main/kotlin/io/airbyte/integrations/source/db2/Db2SourceJdbcPartitionFactory.kt
  airbyte-integrations/connectors/source-db2-enterprise/src/main/kotlin/io/airbyte/integrations/source/db2/Db2SourceStreamStateValue.kt
  airbyte-integrations/connectors/source-db2-enterprise/src/main/resources/application.yml
  airbyte-integrations/connectors/source-sap-hana/build.gradle
  airbyte-integrations/connectors/source-sap-hana/metadata.yaml
  airbyte-integrations/connectors/source-sap-hana/src/main/kotlin/io/airbyte/integrations/source/sap_hana/SapHanaJdbcPartitionReader.kt
  airbyte-integrations/connectors/source-sap-hana/src/main/kotlin/io/airbyte/integrations/source/sap_hana/SapHanaPartitionReader.kt
  airbyte-integrations/connectors/source-sap-hana/src/main/kotlin/io/airbyte/integrations/source/sap_hana/SapHanaPartitionsCreator.kt
  airbyte-integrations/connectors/source-sap-hana/src/main/kotlin/io/airbyte/integrations/source/sap_hana/SapHanaPartitionsCreatorFactory.kt
  airbyte-integrations/connectors/source-sap-hana/src/main/kotlin/io/airbyte/integrations/source/sap_hana/SapHanaPartitionsCreatorFactorySupplier.kt
  airbyte-integrations/connectors/source-sap-hana/src/main/kotlin/io/airbyte/integrations/source/sap_hana/SapHanaSourceJdbcPartition.kt
  airbyte-integrations/connectors/source-sap-hana/src/main/kotlin/io/airbyte/integrations/source/sap_hana/SapHanaSourceJdbcPartitionFactory.kt
  airbyte-integrations/connectors/source-sap-hana/src/main/kotlin/io/airbyte/integrations/source/sap_hana/SapHanaSourceStreamStateValue.kt
  airbyte-integrations/connectors/source-sap-hana/src/main/resources/application.yml
Due: addlicense, spotless

Update license in pyproject
  airbyte-integrations/connectors/source-notion/pyproject.toml
Due: none

TMP
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/lifecycle/DestinationLifecycle.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/lifecycle/steps/CreateInputFlowStep.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/lifecycle/steps/LoadStep.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/lifecycle/steps/RecordAccumulator.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/lifecycle/steps/RecordMungingStep.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/lifecycle/steps/TransformDataStep.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/write/transform/RecordMunger.kt
Due: addlicense, spotless

prestashop: override "User-Agent" header
  airbyte-integrations/connectors/source-prestashop/manifest.yaml
Due: none

prestashop: update connector version
  airbyte-integrations/connectors/source-prestashop/metadata.yaml
Due: none

✨ feat(source-notion): Add sequence_number to fetched Notion blocks (#55725)
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-notion/poetry.lock
  airbyte-integrations/connectors/source-notion/pyproject.toml
  airbyte-integrations/connectors/source-notion/source_notion/schemas/blocks.json
  airbyte-integrations/connectors/source-notion/source_notion/streams.py
  docs/integrations/sources/notion.md
Due: addlicense

TMP
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/lifecycle/steps/RecordAccumulator.kt
Due: addlicense, spotless

prestashop: update changelog
  docs/integrations/sources/prestashop.md
Due: none

Correct wrong field name
  docs/platform/connector-development/connector-builder-ui/tutorial.mdx
Due: none

Update to reflect latest UI
  docs/platform/connector-development/connector-builder-ui/tutorial.mdx
Due: none

Docs connector builder tutorial fix field name (#64128)
  docs/platform/connector-development/connector-builder-ui/tutorial.mdx
Due: none

CDC
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/output/sockets/SocketDataChannel.kt
Due: addlicense, spotless

Data activation documentation (#63765)
  docs/platform/cloud/managing-airbyte-cloud/configuring-connections.md
  docs/platform/cloud/managing-airbyte-cloud/dbt-cloud-integration.md
  docs/platform/cloud/managing-airbyte-cloud/review-connection-status.md
  docs/platform/cloud/managing-airbyte-cloud/review-connection-timeline.md
  docs/platform/move-data/add-connection.md
  docs/platform/move-data/assets/data-activation-concept.png
  docs/platform/move-data/assets/rejected-records.png
  docs/platform/move-data/elt-data-activation.md
  docs/platform/move-data/readme.md
  docs/platform/move-data/rejected-records.md
  docs/platform/move-data/sources-destinations-connectors.md
  docs/platform/operator-guides/refreshes.md
  docs/platform/understanding-airbyte/airbyte-metadata-fields.md
  docs/platform/using-airbyte/configuring-schema.md
  docs/platform/using-airbyte/core-concepts/direct-load-tables.md
  docs/platform/using-airbyte/core-concepts/sync-modes/full-refresh-append.md
  docs/platform/using-airbyte/core-concepts/sync-modes/full-refresh-overwrite-deduped.md
  docs/platform/using-airbyte/core-concepts/sync-modes/full-refresh-overwrite.md
  docs/platform/using-airbyte/core-concepts/sync-modes/incremental-append-deduped.md
  docs/platform/using-airbyte/core-concepts/sync-modes/incremental-append.md
  docs/platform/using-airbyte/core-concepts/sync-schedules.md
  docs/platform/using-airbyte/core-concepts/typing-deduping.md
  docs/platform/using-airbyte/getting-started/add-a-destination.md
  docs/platform/using-airbyte/getting-started/add-a-source.md
  docs/platform/using-airbyte/getting-started/set-up-a-connection.md
  docs/platform/using-airbyte/schema-change-management.md
  docs/platform/using-airbyte/tagging.md
  docs/vale-styles/config/vocabularies/Airbyte/accept.txt
  docusaurus/sidebar-platform.js
Due: none

Fix CI: Remove base_images reference from workflow configuration
  .github/workflows/internal-airbyte-ci-tests.yml
Due: none

Updated deployment page to reflect some chart v2 steps that were missed.
  docs/platform/deploying-airbyte/deploying-airbyte.md
Due: none

One more thing.
  docs/platform/deploying-airbyte/deploying-airbyte.md
Due: none

remove dependencies and references to the package
  .github/workflows/internal-airbyte-ci-tests.yml
  .gitignore
  airbyte-ci/README.md
  airbyte-ci/connectors/connectors_qa/pyproject.toml
  airbyte-ci/connectors/connectors_qa/src/connectors_qa/consts.py
  airbyte-ci/connectors/pipelines/CONTRIBUTING.md
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/build_image/steps/common.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/__init__.py
  airbyte-ci/connectors/pipelines/pyproject.toml
  docker-images/Dockerfile.java-connector-base
  docker-images/Dockerfile.python-connector-base
Due: addlicense

Fix documentation generation: Update qa-checks.md after base_images removal
  docs/contributing-to-airbyte/resources/qa-checks.md
Due: none

fix(source-google-directory): align license in pyproject.toml with metadata.yaml
  airbyte-integrations/connectors/source-google-directory/pyproject.toml
Due: none

feat: add auto-approve workflow for PRs with auto-merge labels
  .github/workflows/auto_approve_prs.yml
Due: none

Update .github/workflows/auto_approve_prs.yml
  .github/workflows/auto_approve_prs.yml
Due: none

fix: address PR feedback and resolve prettier formatting issues
  .github/workflows/auto_approve_prs.yml
Due: none

fix: switch from octavia-bot to existing PAT authentication
  .github/workflows/auto_approve_prs.yml
Due: none

feat: add debugging output to matrix generation step
  .github/workflows/auto_approve_prs.yml
Due: none

Add some skeleton stuff.
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/Aggregate.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/AggregateStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowPipeline.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowStageIO.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataMunger.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/AggregateStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/FlushStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/StateStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/TransformStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateHistogram.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateWatermarkStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/lifecycle/DestinationLifecycle.kt
Due: addlicense, spotless

feat: add dry-run mode for workflow dispatch
  .github/workflows/auto_approve_prs.yml
Due: none
