Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

feat(source-github): resolve wildcard repositories for user-owned accounts
  airbyte-integrations/connectors/source-github/source_github/manifest.yaml
Due: none

test(source-github): cover wildcard owners that are user accounts
  airbyte-integrations/connectors/source-github/unit_tests/conftest.py
  airbyte-integrations/connectors/source-github/unit_tests/test_manifest_partition_routers.py
  airbyte-integrations/connectors/source-github/unit_tests/test_manifest_repositories_stream.py
  airbyte-integrations/connectors/source-github/unit_tests/test_repository_resolution.py
  airbyte-integrations/connectors/source-github/unit_tests/test_source.py
Due: addlicense

chore(source-github): release 2.4.0 with user wildcard support
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/pyproject.toml
  docs/integrations/sources/github.md
Due: none

chore(source-metricool): drop unit tests that never run in CI
  airbyte-integrations/connectors/source-metricool/unit_tests/__init__.py
  airbyte-integrations/connectors/source-metricool/unit_tests/test_manifest.py
Due: addlicense

chore(source-linear): set upgradeDeadline to 2026-09-11
  airbyte-integrations/connectors/source-linear/metadata.yaml
Due: none

docs(source-greenhouse): document Site Admin requirement, concurrency, and limits
  docs/integrations/sources/greenhouse.md
Due: none

docs(source-greenhouse): clarify rate-limit headers and soften frequency claim
  docs/integrations/sources/greenhouse.md
Due: none

docs(source-linear): restructure docs page to standard template and close CONTRIBUTING TODO
  airbyte-integrations/connectors/source-linear/AGENTS.md
  airbyte-integrations/connectors/source-linear/CONTRIBUTING.md
  docs/integrations/sources/linear.md
Due: none

fix(source-okta): remove main.py from poetry packages to fix docker build
  airbyte-integrations/connectors/source-okta/pyproject.toml
Due: none

docs(source-linear): scope customer:read requirement to OAuth connections
  docs/integrations/sources/linear.md
Due: none

fix(source-salesforce): surface INVALID_FIELD as a config error
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  airbyte-integrations/connectors/source-salesforce/source_salesforce/rate_limiting.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/test_rate_limiting.py
Due: addlicense

docs(source-salesforce): add 2.9.2 changelog entry
  airbyte-integrations/connectors/source-salesforce/source_salesforce/rate_limiting.py
  docs/integrations/sources/salesforce.md
Due: addlicense

fix(source-smsmode-sms): correct pagination and tests
  airbyte-integrations/connectors/source-smsmode-sms/README.md
  airbyte-integrations/connectors/source-smsmode-sms/manifest.yaml
  airbyte-integrations/connectors/source-smsmode-sms/metadata.yaml
  airbyte-integrations/connectors/source-smsmode-sms/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-smsmode-sms/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-smsmode-sms/unit_tests/test_streams.py
Due: addlicense

ci(rollout-gate): skip progressive rollout gate for net-new connectors
  .github/workflows/connector-active-progressive-rollout-checks.yml
Due: none

Update airbyte-cdk dependency version constraint
  airbyte-integrations/connectors/source-smsmode-sms/unit_tests/pyproject.toml
Due: none

Update release date for smsmode SMS connector
  airbyte-integrations/connectors/source-smsmode-sms/metadata.yaml
Due: none

docs(release-notes): Agents release notes for August 28, 2026
  docs/release_notes/agents/readme.md
Due: none

fix(source-okta): remove legacy main.py from poetry packages
  airbyte-integrations/connectors/source-okta/metadata.yaml
  airbyte-integrations/connectors/source-okta/pyproject.toml
  docs/integrations/sources/okta.md
Due: none

docs(source-okta): fill in changelog PR number
  docs/integrations/sources/okta.md
Due: none

chore(source-smsmode-sms): regenerate unit test lockfile
  airbyte-integrations/connectors/source-smsmode-sms/unit_tests/poetry.lock
Due: none

fix(source-okta): Remove legacy main.py from poetry packages (#85169)
  airbyte-integrations/connectors/source-okta/metadata.yaml
  airbyte-integrations/connectors/source-okta/pyproject.toml
  docs/integrations/sources/okta.md
Due: none

feat(source-smsmode-sms): add source-smsmode-sms connector (#79709)
  airbyte-integrations/connectors/source-smsmode-sms/README.md
  airbyte-integrations/connectors/source-smsmode-sms/acceptance-test-config.yml
  airbyte-integrations/connectors/source-smsmode-sms/icon.svg
  airbyte-integrations/connectors/source-smsmode-sms/manifest.yaml
  airbyte-integrations/connectors/source-smsmode-sms/metadata.yaml
  airbyte-integrations/connectors/source-smsmode-sms/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-smsmode-sms/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-smsmode-sms/unit_tests/test_streams.py
  docs/integrations/sources/smsmode-sms.md
Due: addlicense

feat(source-monday): use new Monday OAuth token endpoint with refresh tokens
  airbyte-integrations/connectors/source-monday/manifest.yaml
  airbyte-integrations/connectors/source-monday/metadata.yaml
  docs/integrations/sources/monday-migrations.md
  docs/integrations/sources/monday.md
Due: none

docs(source-monday): fix changelog PR link
  docs/integrations/sources/monday.md
Due: none

docs(source-okta): improve setup guide, streams table, and changelog accuracy
  docs/integrations/sources/okta.md
Due: none

docs(source-smsmode-sms): document prerequisites, API key setup, streams, and sync window
  docs/integrations/sources/smsmode-sms.md
Due: none

docs(source-okta): fix markdown table style
  docs/integrations/sources/okta.md
Due: none

fix(source-pylon): declare issues/accounts `tags` as an array of strings
  airbyte-integrations/connectors/source-pylon/manifest.yaml
  airbyte-integrations/connectors/source-pylon/metadata.yaml
  docs/integrations/sources/pylon.md
Due: none

docs(source-pylon): fill in changelog PR link
  docs/integrations/sources/pylon.md
Due: none

docs(source-okta): clarify domain constraints and OAuth2.0 UI label
  docs/integrations/sources/okta.md
Due: none

docs(source-marketo): correct 2.1.2 changelog date and document value conversion
  docs/integrations/sources/marketo.md
Due: none

docs: clarify smsmode credential roles
  docs/integrations/sources/smsmode-sms.md
Due: none

docs(source-marketo): clarify integer conversion note
  docs/integrations/sources/marketo.md
Due: none

docs(source-okta): use consistent '+ new source' UI label
  docs/integrations/sources/okta.md
Due: none

docs(source-marketo): sharpen integer and boolean conversion notes
  docs/integrations/sources/marketo.md
Due: none

Add OAuth authentication to Snowflake destination
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/auth/SnowflakeOAuthTokenProvider.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/cdk/SnowflakeConfigurationSupplierSpecificationFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/cdk/SnowflakeMigratingConfigurationSpecificationSupplier.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeConfiguration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeSpecification.kt
  docs/integrations/destinations/snowflake.md
Due: addlicense, spotless

Add Snowflake OAuth tests and spec fixtures
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/auth/SnowflakeOAuthTokenProvider.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/cdk/SnowflakeConfigurationSupplierSpecificationFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeConfiguration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeSpecification.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/expected-spec-oss.json
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactoryTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/auth/SnowflakeOAuthTokenProviderTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/cdk/SnowflakeMigratingConfigurationSpecificationSupplierTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeConfigurationTest.kt
  docs/integrations/destinations/snowflake.md
Due: addlicense, spotless

Remove Snowflake OAuth test inheritance seams
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/auth/SnowflakeOAuthTokenProvider.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactoryTest.kt
Due: addlicense, spotless

fix(source-mssql): route the e2e :dev build through a Central mirror
  airbyte-integrations/connectors/source-mssql/.agents/skills/source-mssql-e2e-tests/SKILL.md
  airbyte-integrations/connectors/source-mssql/.agents/skills/source-mssql-e2e-tests/fixtures/gradle/maven-mirror-init.gradle
  airbyte-integrations/connectors/source-mssql/.agents/skills/source-mssql-e2e-tests/scripts/run.sh
  airbyte-integrations/connectors/source-mssql/AGENTS.md
Due: spotless

docs(source-mssql): drop unrelated markdown table reflow
  airbyte-integrations/connectors/source-mssql/.agents/skills/source-mssql-e2e-tests/SKILL.md
Due: none
