Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

not for merge, adding change to non-forked branch for regression testing
  airbyte-integrations/connectors/source-linkedin-ads/manifest.yaml
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
Due: none

cdc state
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/FeedReader.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/StateManager.kt
Due: addlicense, spotless

single db permission
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  docs/integrations/sources/mongodb-v2.md
Due: none

Update docs/platform/deploying-airbyte/chart-v2-community.mdx
  docs/platform/deploying-airbyte/chart-v2-community.mdx
Due: none

Fix changelog
  docs/integrations/sources/google-ads.md
Due: none

single db permission
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbResumeTokenHelper.java
Due: addlicense, spotless

feat(source-google-ads): Migrate view streams to low code (#62846)
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/display_keyword_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/geographic_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/keyword_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/shopping_performance_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/topic_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/user_location_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_empty_streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  docs/integrations/sources/google-ads.md
Due: addlicense

feat: working implementation with custom transformation
  airbyte-integrations/connectors/source-mailchimp/components.py
  airbyte-integrations/connectors/source-mailchimp/manifest.yaml
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
Due: addlicense

single db permission
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbResumeTokenHelperTest.java
Due: addlicense, spotless

single db permission
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcTargetPositionTest.java
Due: addlicense, spotless

Applied some edits from Angel. Also set migration guides to draft, awaiting decisions here.
  docs/platform/access-management/sso-providers/azure-entra-id.md
  docs/platform/access-management/sso-providers/okta.md
  docs/platform/deploying-airbyte/chart-v2-community.mdx
  docs/platform/deploying-airbyte/values.md
  docs/platform/enterprise-setup/chart-v2-enterprise.mdx
  docs/platform/operator-guides/configuring-airbyte.md
Due: none

chore: test suite
  airbyte-integrations/connectors/source-mailchimp/unit_tests/integration/test_automations.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-mailchimp/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_component_custom_email_activity_extractor.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_config_datacenter_migration.py
Due: addlicense

[wip] first iteration of discovery in low-code
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/discoverer/Field.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/discoverer/FieldFactory.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/discoverer/JsonNodePredicate.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/discoverer/OperationFactory.kt
Due: addlicense, spotless

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-mailchimp/components.py
Due: addlicense

update logic to allow use of read permission when using a single db (#62938)
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbDebeziumPropertiesManager.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbDebeziumStateUtil.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbResumeTokenHelper.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcInitializerTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcTargetPositionTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbDebeziumStateUtilTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbResumeTokenHelperTest.java
  docs/integrations/sources/mongodb-v2.md
Due: addlicense, spotless

chore: auto-fix lint and format issues
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/discoverer/Field.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/discoverer/FieldFactory.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/discoverer/JsonNodePredicate.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/discoverer/OperationFactory.kt
Due: addlicense, spotless

Fixed a build error
  docs/platform/operator-guides/telemetry.md
  docusaurus/pnpm-lock.yaml
Due: none

manually finalize the release to 4.1.0
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/pyproject.toml
  docs/integrations/sources/instagram.md
Due: none

update docs with pr number
  docs/integrations/sources/instagram.md
Due: none

manually finalize the release to 4.1.0 (#63289)
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/pyproject.toml
  docs/integrations/sources/instagram.md
Due: none

docs(connector-builder): Update overview page with schema-driven architecture details
  docs/platform/connector-development/connector-builder-ui/overview.md
Due: none

docs(connector-builder): Simplify overview content based on feedback
  docs/platform/connector-development/connector-builder-ui/overview.md
Due: none

docs(connector-builder): Update AI Assistant documentation with comprehensive feature details
  docs/platform/connector-development/connector-builder-ui/ai-assist.md
Due: none

docs(connector-builder): Address feedback - remove partial documentation paragraph and horizontal lines
  docs/platform/connector-development/connector-builder-ui/ai-assist.md
Due: none

migrate customer label
  airbyte-integrations/connectors/source-google-ads/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/customer_label.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_empty_streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_streams.py
Due: addlicense

docs(connector-builder): Update authentication documentation with JWT and OAuth 2.0 Declarative
  docs/platform/connector-development/connector-builder-ui/authentication.md
Due: none

docs(connector-builder): Add Selective Authenticator and Shared Authenticator documentation
  docs/platform/connector-development/connector-builder-ui/authentication.md
Due: none

review comments
  airbyte-integrations/connectors/source-mailchimp/components.py
  airbyte-integrations/connectors/source-mailchimp/manifest.yaml
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_config_datacenter_migration.py
Due: addlicense

resolve pr review comments
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
Due: none

docs(connector-builder): Update record processing documentation with missing features and technical accuracy improvements
  docs/platform/connector-development/connector-builder-ui/record-processing.mdx
Due: none

use getTunnelMethodValue?
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/spec/ClickhouseConfiguration.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/spec/ClickhouseSpecification.kt
Due: addlicense, spotless

docs(connector-builder): Update pagination documentation with comprehensive technical accuracy improvements
  docs/platform/connector-development/connector-builder-ui/pagination.md
Due: none

docs: update incremental sync documentation for current UI capabilities
  docs/platform/connector-development/connector-builder-ui/incremental-sync.md
Due: none

chore: format
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
Due: none

docs: rewrite incremental sync documentation for Advanced mode UI
  docs/platform/connector-development/connector-builder-ui/incremental-sync.md
Due: none

update tests
  airbyte-integrations/connectors/source-google-ads/integration_tests/state.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_errors.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_streams.py
Due: addlicense

docs: remove 'Advanced mode' references from incremental sync documentation
  docs/platform/connector-development/connector-builder-ui/incremental-sync.md
Due: none

increase the cursor granularity so that concurrent date range partitions are merged correctly
  airbyte-integrations/connectors/source-google-analytics-data-api/manifest.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  docs/integrations/sources/google-analytics-data-api.md
Due: none

update docs w/ pr number
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  docs/integrations/sources/google-analytics-data-api.md
Due: none
