Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

Update metadata.yaml
  airbyte-integrations/connectors/destination-teradata/metadata.yaml
Due: none

[GCS] implement GcsStreamingUpload (#56983)
  airbyte-cdk/bulk/toolkits/load-gcs/build.gradle
  airbyte-cdk/bulk/toolkits/load-gcs/src/main/kotlin/io/airbyte/cdk/load/file/gcs/GcsClient.kt
  airbyte-cdk/bulk/toolkits/load-gcs/src/main/kotlin/io/airbyte/cdk/load/file/gcs/GcsClientFactory.kt
  airbyte-cdk/bulk/toolkits/load-gcs/src/main/kotlin/io/airbyte/cdk/load/file/gcs/GcsStreamingUpload.kt
  airbyte-cdk/bulk/toolkits/load-gcs/src/test/kotlin/io/airbyte/cdk/load/file/gcs/GcsClientTest.kt
  airbyte-cdk/bulk/toolkits/load-gcs/src/test/kotlin/io/airbyte/cdk/load/file/gcs/GcsResumableStreamingUpload.kt
  airbyte-cdk/bulk/toolkits/load-gcs/src/test/kotlin/io/airbyte/cdk/load/file/gcs/GcsStreamingUploadTest.kt
Due: addlicense, spotless

Update manifest.yaml
  airbyte-integrations/connectors/source-bamboo-hr/manifest.yaml
Due: none

log retriever user id
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/base_streams.py
Due: addlicense

Bulk Load CDK: add load-gcs toolkit (#56953)
  airbyte-cdk/bulk/toolkits/load-gcp/build.gradle
  airbyte-cdk/bulk/toolkits/load-gcs/build.gradle
  airbyte-cdk/bulk/toolkits/load-gcs/src/main/kotlin/io/airbyte/cdk/load/command/gcs/GcsAuthSpecification.kt
  airbyte-cdk/bulk/toolkits/load-gcs/src/main/kotlin/io/airbyte/cdk/load/command/gcs/GcsClientConfiguration.kt
  airbyte-cdk/bulk/toolkits/load-gcs/src/main/kotlin/io/airbyte/cdk/load/command/gcs/GcsCommonSpecification.kt
  airbyte-cdk/bulk/toolkits/load-gcs/src/main/kotlin/io/airbyte/cdk/load/command/gcs/GcsRegionSpecification.kt
  airbyte-cdk/bulk/toolkits/load-gcs/src/main/kotlin/io/airbyte/cdk/load/file/gcs/GcsClient.kt
  airbyte-cdk/bulk/toolkits/load-gcs/src/main/kotlin/io/airbyte/cdk/load/file/gcs/GcsClientFactory.kt
  airbyte-cdk/bulk/toolkits/load-gcs/src/main/kotlin/io/airbyte/cdk/load/file/gcs/GcsStreamingUpload.kt
  airbyte-cdk/bulk/toolkits/load-gcs/src/test/kotlin/io/airbyte/cdk/load/file/gcs/GcsClientTest.kt
  airbyte-cdk/bulk/toolkits/load-gcs/src/test/kotlin/io/airbyte/cdk/load/file/gcs/GcsResumableStreamingUpload.kt
  airbyte-cdk/bulk/toolkits/load-gcs/src/test/kotlin/io/airbyte/cdk/load/file/gcs/GcsStreamingUploadTest.kt
Due: addlicense, spotless

Apply suggestions from code review
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
Due: none

source-bamboo-hr contribution from parthiv11 (#57587)
  airbyte-integrations/connectors/source-bamboo-hr/manifest.yaml
  airbyte-integrations/connectors/source-bamboo-hr/metadata.yaml
  docs/integrations/sources/bamboo-hr.md
Due: none

Add FilePartChunkTask.
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/pipline/object_storage/FilePartChunkTask.kt
Due: addlicense, spotless

Skeleton
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/BigQueryBulkLoader.kt
Due: addlicense, spotless

source-microsoft-sharepoint: poetry lock for pre-dev cdk
  airbyte-integrations/connectors/source-microsoft-sharepoint/poetry.lock
  airbyte-integrations/connectors/source-microsoft-sharepoint/pyproject.toml
Due: none

bump doc
  airbyte-integrations/connectors/destination-azure-blob-storage/metadata.yaml
  docs/integrations/destinations/azure-blob-storage.md
Due: none

bigquery uses new cdk
  airbyte-integrations/connectors/destination-bigquery/build.gradle
Due: spotless

Destination bigquery: implement spec (#56979)
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/write/db/DbConstants.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/BigQueryDestination.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/spec/BigqueryConfiguration.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/spec/BigquerySpecification.kt
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigquerySpecTest.kt
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/expected-spec-oss.json
Due: addlicense, spotless

use new runner
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/BigQueryDestination.kt
Due: addlicense, spotless

bigquery - basic direct loader for raw tables only (#56984)
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/write/DirectLoader.kt
  airbyte-integrations/connectors/destination-bigquery/src/integrationTestLegacy/kotlin/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQueryStandardInsertsRawOverrideDisableTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/formatter/BigQueryRecordFormatter.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/operation/BigQueryDirectLoadingStorageOperation.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/util/BigqueryClientFactory.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/BigqueryStreamLoader.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/BigqueryWriter.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/standard_insert/BigqueryBatchStandardInsertLoader.kt
Due: addlicense, spotless

Apply suggestions from code review
  airbyte-integrations/connectors/source-klaviyo/integration_tests/test_airbyte_standards.py
Due: addlicense

[source-db2-enterprise] update type mapping docs (#58070)
  docs/integrations/enterprise-connectors/source-db2.md
Due: none

Add safe state handling
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/pyproject.toml
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/source_stripe/utils.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_persons.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_reviews.py
  docs/integrations/sources/stripe.md
Due: addlicense

remove unused import
  airbyte-integrations/connectors/source-hubspot/integration_tests/test_airbyte_standards.py
Due: addlicense

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-stripe/source_stripe/utils.py
Due: addlicense

Update PR number
  docs/integrations/sources/stripe.md
Due: none

Added more metrics to new ads_reports_streams
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/manifest.yaml
Due: none

Is this a good first pass?
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/BigQueryBulkLoader.kt
Due: addlicense, spotless

PR Fixes
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/manifest.yaml
Due: none

Is this it?
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/BigQueryBulkLoader.kt
Due: addlicense, spotless

feat(source-stripe): add safe state handling (#58072)
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/pyproject.toml
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/source_stripe/utils.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_persons.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_reviews.py
  docs/integrations/sources/stripe.md
Due: addlicense

source-microsoft-sharepoint: include source-uri in file record data
  airbyte-integrations/connectors/source-microsoft-sharepoint/poetry.lock
  airbyte-integrations/connectors/source-microsoft-sharepoint/pyproject.toml
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/stream_reader.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/unit_tests/test_stream_reader.py
Due: addlicense

Better if we use CSV it looks like
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/BigQueryBulkLoader.kt
Due: addlicense, spotless

Dont need that
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/BigQueryBulkLoader.kt
Due: addlicense, spotless

pre-commit & fix image tag
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/pyproject.toml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/manifest.yaml
Due: none

hail mary
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/JdbcPartitionsCreator.kt
Due: addlicense, spotless

actually fix jsonnode for realz
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/JdbcPartitionsCreator.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/SelectQuerier.kt
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceSelectQuerier.kt
Due: addlicense, spotless

faster json probably
  airbyte-cdk/bulk/core/base/build.gradle
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/output/UnixDomainSocketOutputConsumerProvider.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStorageFormattingWriter.kt
Due: addlicense, spotless

cleaned up and formatted
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/AirbyteConnectorRunnable.kt
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/output/OutputConsumer.kt
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/output/UnixDomainSocketOutputConsumerProvider.kt
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/spec/SpecOperation.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/check/CheckOperation.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/discover/DiscoverOperation.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/FeedBootstrap.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/FeedReader.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/ReadOperation.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/RootReader.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/check/CheckOperation.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/command/DestinationConfiguration.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/config/SyncBeanFactory.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/file/SocketInputFlow.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/state/CheckpointManager.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/state/StreamManager.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncher.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/internal/LoadPipelineStepTask.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/message/ProtoConverterTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/message/SmileConverterTest.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/testFixtures/kotlin/io/airbyte/cdk/read/cdc/AbstractCdcPartitionReaderTest.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/DefaultJdbcSharedState.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/JdbcPartition.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/JdbcPartitionReader.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/JdbcPartitionsCreator.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/SelectQuerier.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/pipline/object_storage/ObjectLoaderPartFormatter.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/write/object_storage/ObjectLoader.kt
  airbyte-integrations/connectors/destination-s3/src/main/kotlin/S3V2Configuration.kt
  airbyte-integrations/connectors/destination-s3/src/main/kotlin/S3V2Specification.kt
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSource.kt
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceConfigurationSpecification.kt
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceJdbcPartition.kt
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceJdbcPartitionFactory.kt
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceOperations.kt
  airbyte-integrations/connectors/source-mysql/src/test/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceCursorBasedIntegrationTest.kt
  airbyte-integrations/connectors/source-mysql/src/test/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceJdbcPartitionFactoryTest.kt
Due: addlicense, spotless

removed dumb reserialization of proto
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
Due: addlicense, spotless

maybe fix source jsonnode finally
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/jdbc/JdbcFieldTypes.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/SelectQuerier.kt
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceSelectQuerier.kt
Due: addlicense, spotless

delete remote object
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/BigQueryBulkLoader.kt
Due: addlicense, spotless
