Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

build: restore scaffold connector build file
  airbyte-integrations/connectors/source-scaffold-java-jdbc/build.gradle
Due: spotless

docs(source-amazon-seller-partner): document vendor retail analytics streams and correct Finances v0 removal date
  docs/integrations/sources/amazon-seller-partner.md
Due: none

fix(destination-clickhouse): avoid failed count for missing temp tables (#82684)
  airbyte-integrations/connectors/destination-clickhouse/metadata.yaml
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/client/ClickhouseAirbyteClient.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test/kotlin/io/airbyte/integrations/destination/clickhouse/client/ClickhouseAirbyteClientTest.kt
  docs/integrations/destinations/clickhouse.md
Due: addlicense, spotless

test: add clickhouse baseline probe marker
  airbyte-integrations/connectors/destination-clickhouse/build.gradle
Due: spotless

[EVAL] pin airbyte-integrations/connectors/source-zendesk-support to known-bad baseline
  airbyte-integrations/connectors/source-zendesk-support/AGENTS.md
  airbyte-integrations/connectors/source-zendesk-support/CLAUDE.md
  airbyte-integrations/connectors/source-zendesk-support/CONTRIBUTING.md
  airbyte-integrations/connectors/source-zendesk-support/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/request_builder.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/response_builder.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/test_organizations.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/test_side_conversations.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/test_ticket_events.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/resource/http/response/side_conversations.json
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/resource/http/response/ticket_events.json
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
Due: addlicense

[EVAL] feat(source-zendesk-support): add side_conversations stream
  airbyte-integrations/connectors/source-zendesk-support/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/request_builder.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/response_builder.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/test_side_conversations.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/resource/http/response/side_conversations.json
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
Due: addlicense

chore: bump Load CDK version to 1.0.20
  airbyte-cdk/bulk/core/load/changelog.md
  airbyte-cdk/bulk/core/load/version.properties
Due: none

fix: use date-based namespace format in component tests for auto-cleanup (#83220)
  airbyte-cdk/bulk/core/load/changelog.md
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/component/TableOperationsFixtures.kt
  airbyte-cdk/bulk/core/load/version.properties
Due: addlicense, spotless

Update docs/community/contributing-to-airbyte/README.md
  docs/community/contributing-to-airbyte/README.md
Due: none

[EVAL] fix(source-faker): recover from worker pool allocation failures during read
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/source.py
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
  airbyte-integrations/connectors/source-faker/unit_tests/unit_test.py
Due: addlicense

docs: sync agent connector docs from airbyte-agent-sdk repo
  docs/ai-agents/connectors/gong/README.md
  docs/ai-agents/connectors/google-drive/README.md
  docs/ai-agents/connectors/granola/README.md
  docs/ai-agents/connectors/linear/README.md
Due: none

test: update Singlestore fixtures for Testcontainers 1.21.4
  airbyte-integrations/connectors/destination-singlestore/src/testFixtures/java/io/airbyte/integrations/destination/singlestore/SingleStoreContainerFactory.java
  airbyte-integrations/connectors/source-singlestore/src/testFixtures/java/io/airbyte/integrations/source/singlestore/SingleStoreContainerFactory.java
Due: addlicense, spotless

test: add baseline probe markers
  airbyte-integrations/connectors/destination-kafka/build.gradle
  airbyte-integrations/connectors/source-redshift/build.gradle
  airbyte-integrations/connectors/source-tidb/build.gradle
Due: spotless

fix: keep destination Singlestore fixture on its API
  airbyte-integrations/connectors/destination-singlestore/src/testFixtures/java/io/airbyte/integrations/destination/singlestore/SingleStoreContainerFactory.java
Due: addlicense, spotless

Apply suggestion from @ACricketToFillTheSilence
  docs/community/contributing-to-airbyte/README.md
Due: none

refactor(source-postgres): key mapValue string fallback off isValueNode
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/cdc/PostgresSourceDebeziumOperations.kt
Due: addlicense, spotless

fix(docs): set trailingSlash false and fix relative links
  docs/ai-agents/concepts/architecture/readme.md
  docs/ai-agents/connectors/readme.md
  docs/ai-agents/get-started/developer-quickstart/readme.md
  docs/ai-agents/interfaces/api/authentication/readme.md
  docs/ai-agents/interfaces/api/readme.md
  docs/ai-agents/interfaces/cli/readme.md
  docs/ai-agents/interfaces/mcp/readme.md
  docs/ai-agents/interfaces/sdk/readme.md
  docs/ai-agents/interfaces/ui/readme.md
  docs/ai-agents/reference/api/readme.md
  docs/developers/pyairbyte/README.md
  docs/integrations/destinations/README.md
  docs/integrations/sources/README.md
  docs/platform/connector-development/README.md
  docs/platform/deploying-airbyte/abctl/index.md
  docs/platform/deploying-airbyte/deploying-airbyte.md
  docs/platform/organizations-workspaces/organizations/readme.md
  docs/platform/organizations-workspaces/workspaces/readme.md
  docusaurus/docusaurus.config.ts
Due: none

docs: sync agent connector docs from airbyte-agent-sdk repo
  docs/ai-agents/connectors/linkedin-ads/AUTH.md
  docs/ai-agents/connectors/linkedin-ads/README.md
  docs/ai-agents/connectors/linkedin-ads/REFERENCE.md
Due: none

fix(docs): stop emitting extensionless page files that Vercel 404s
  docusaurus/docusaurus.config.ts
Due: none

fix(ci): update Specmatic integration test path in workflow
  .github/workflows/stripe_contract_validation.yml
Due: none

test(source-linkedin-ads): add mock-server tests for the videos stream
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/mock_server/request_builder.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/mock_server/test_videos.py
Due: addlicense

fix(destination-postgres): classify missing relation errors
  airbyte-integrations/connectors/destination-postgres/gradle.properties
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/client/PostgresAirbyteClient.kt
  airbyte-integrations/connectors/destination-postgres/src/test/kotlin/io/airbyte/integrations/destination/postgres/client/PostgresAirbyteClientTest.kt
  docs/integrations/destinations/postgres.md
Due: addlicense, spotless

chore(destination-postgres): extract missing-relation sqlstates constant
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/client/PostgresAirbyteClient.kt
  docs/integrations/destinations/postgres.md
Due: addlicense, spotless

docs(destination-postgres): add PR link to changelog
  docs/integrations/destinations/postgres.md
Due: none

fix(destination-postgres): adapt test dumper to bulk cdk 1.0.20
  airbyte-integrations/connectors/destination-postgres/src/test-integration/kotlin/io/airbyte/integrations/destination/postgres/write/PostgresRawDataDumper.kt
Due: addlicense, spotless

docs(source-zendesk-support): drop unrelated prettier artifacts from the diff
  docs/integrations/sources/zendesk-support-migrations.md
  docs/integrations/sources/zendesk-support.md
Due: none

docs(source-zendesk-support): spell out the 5.5.0 backfill cost and remediation
  docs/integrations/sources/zendesk-support-migrations.md
Due: none

test(source-zendesk-support): cover the tickets state migration end to end
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/response_builder.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/test_ticket_metrics.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/test_tickets.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/test_components.py
Due: addlicense

test(source-linkedin-ads): verify legacy state migration
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/mock_server/test_ad_campaign_analytics.py
Due: addlicense

test(source-zendesk-support): assert start_time on the tickets mocks
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/helpers.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/test_tickets.py
Due: addlicense
