Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

final formatting fix
  airbyte-cdk/bulk/toolkits/legacy-task-load-azure-blob-storage/src/main/kotlin/io/airbyte/cdk/load/file/azureBlobStorage/AzureBlobStorageClientFactory.kt
Due: addlicense, spotless

feat(source-faker): normalize generated user emails
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/source.py
  airbyte-integrations/connectors/source-faker/source_faker/spec.json
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
  airbyte-integrations/connectors/source-faker/unit_tests/unit_test.py
  docs/integrations/sources/faker.md
Due: addlicense

fix(source-faker): clean up probe metadata
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
  docs/integrations/sources/faker.md
Due: addlicense

docs(source-faker): link probe pull request
  docs/integrations/sources/faker.md
Due: none

fix(destination-databricks): remove column DROP logic during schema evolution (#82275)
  airbyte-integrations/connectors/destination-databricks/gradle.properties
  airbyte-integrations/connectors/destination-databricks/metadata.yaml
  airbyte-integrations/connectors/destination-databricks/src/main/kotlin/io/airbyte/integrations/destination/databricks/client/DatabricksAirbyteClient.kt
  airbyte-integrations/connectors/destination-databricks/src/main/kotlin/io/airbyte/integrations/destination/databricks/sql/DatabricksSqlGenerator.kt
  airbyte-integrations/connectors/destination-databricks/src/test-integration/kotlin/io/airbyte/integrations/destination/databricks/component/DatabricksTableSchemaEvolutionTest.kt
  airbyte-integrations/connectors/destination-databricks/src/test-integration/kotlin/io/airbyte/integrations/destination/databricks/write/DatabricksAcceptanceTest.kt
  docs/integrations/destinations/databricks.md
Due: addlicense, spotless

ci: truncate connector labels to GitHub limit
  .github/scripts/detect-issue-connectors.uv
Due: none

docs: Update airbyte-agent-sdk API reference documentation (sonar@55f94b2)
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/github/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/github/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/github/models.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/github/types.md
Due: none

Update postgres.md
  docs/integrations/destinations/postgres.md
Due: none

chore(docs): regenerate cached Agent API spec
  docusaurus/src/data/agent_engine_api_spec.json
Due: none

docs(source-stripe): document invoice_payments status coverage by sync mode
  docs/integrations/sources/stripe.md
Due: none

docs: remove Self-Managed Enterprise product badge
  docs/community/contributing-to-airbyte/writing-docs.md
  docs/platform/access-management/role-mapping.md
  docs/platform/access-management/sso.md
  docs/platform/connector-development/connector-builder-ui/custom-components.md
  docs/platform/deploying-airbyte/infrastructure/aws.md
  docs/platform/deploying-airbyte/infrastructure/azure.md
  docs/platform/deploying-airbyte/infrastructure/gcp.md
  docs/platform/deploying-airbyte/integrations/authentication.md
  docs/platform/deploying-airbyte/integrations/custom-image-registries.md
  docs/platform/deploying-airbyte/integrations/database.md
  docs/platform/deploying-airbyte/integrations/ingress.md
  docs/platform/deploying-airbyte/integrations/secrets.md
  docs/platform/deploying-airbyte/integrations/storage.md
  docs/platform/enterprise-setup/README.md
  docs/platform/managing-airbyte/connector-updates.md
  docs/platform/move-data/rejected-records.md
  docs/platform/organizations-workspaces/readme.md
  docs/platform/organizations-workspaces/workspaces/readme.md
  docs/platform/using-airbyte/mappings.md
  docs/platform/using-airbyte/workspaces.md
  docusaurus/src/components/ProductInformation.jsx
Due: none

docs: correct the documented meaning of the all products shorthand
  docs/community/contributing-to-airbyte/writing-docs.md
Due: none

docs: drop the Self-Managed Enterprise availability chip from connector docs
  docusaurus/src/components/HeaderDecoration.jsx
Due: none

fix(source-slack): handle omitted channel filter
  airbyte-integrations/connectors/source-slack/components.py
  airbyte-integrations/connectors/source-slack/metadata.yaml
  airbyte-integrations/connectors/source-slack/unit_tests/test_components.py
  docs/integrations/sources/slack.md
Due: addlicense

docs(source-slack): point 3.2.18 changelog at the fix PR
  docs/integrations/sources/slack.md
Due: none

fix(source-slack): handle missing channel filter
  airbyte-integrations/connectors/source-slack/components.py
  airbyte-integrations/connectors/source-slack/metadata.yaml
  airbyte-integrations/connectors/source-slack/unit_tests/conftest.py
  airbyte-integrations/connectors/source-slack/unit_tests/test_components.py
  docs/integrations/sources/slack.md
Due: addlicense

fix(source-slack): tolerate missing optional channel_filter config key
  airbyte-integrations/connectors/source-slack/components.py
  airbyte-integrations/connectors/source-slack/metadata.yaml
  airbyte-integrations/connectors/source-slack/unit_tests/test_components.py
  docs/integrations/sources/slack.md
Due: addlicense

docs(source-slack): add PR link to 3.2.18 changelog entry
  docs/integrations/sources/slack.md
Due: none

test(source-slack): preserve channel filter coverage
  airbyte-integrations/connectors/source-slack/unit_tests/test_components.py
Due: addlicense

docs(source-slack): link changelog pull request
  docs/integrations/sources/slack.md
Due: none

fix(source-github): retry unparseable GraphQL responses
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/pyproject.toml
  airbyte-integrations/connectors/source-github/source_github/errors_handlers.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  docs/integrations/sources/github.md
Due: addlicense

fix(source-github): tolerate null GraphQL response bodies
  airbyte-integrations/connectors/source-github/source_github/streams.py
Due: addlicense

docs(source-github): add changelog PR link
  docs/integrations/sources/github.md
Due: none

chore: add Hermes Agent configuration
  .hermes/README.md
  .hermes/hooks.json
  .hermes/rules.md
Due: none

fix(source-amazon-ads): address authoritative review findings on #83744
  airbyte-integrations/connectors/source-amazon-ads/manifest.yaml
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/integrations/ad_responses/error_response_builder.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/integrations/test_report_streams.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/integrations/test_sponsored_streams.py
  docs/integrations/sources/amazon-ads.md
Due: addlicense

test(source-tvmaze-schedule): break connector on purpose to demo regression-test checks
  airbyte-integrations/connectors/source-tvmaze-schedule/manifest.yaml
  airbyte-integrations/connectors/source-tvmaze-schedule/metadata.yaml
  docs/integrations/sources/tvmaze-schedule.md
Due: none

fix(source-stripe): address review feedback on invoice_payments stream
  airbyte-integrations/connectors/source-stripe/AGENTS.md
  airbyte-integrations/connectors/source-stripe/CONTRIBUTING.md
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/erd/discovered_catalog.json
  airbyte-integrations/connectors/source-stripe/erd/estimated_relationships.json
  airbyte-integrations/connectors/source-stripe/erd/source.dbml
  airbyte-integrations/connectors/source-stripe/manifest.yaml
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_invoice_payments.py
  docs/integrations/sources/stripe.md
Due: addlicense

chore: enable autopilot rollouts
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
Due: none

chore(source-iterable): extend 1.0.0 upgradeDeadline to 2026-08-24
  airbyte-integrations/connectors/source-iterable/metadata.yaml
Due: none

fix(source-iterable): capture undeclared itbl keys in data and add missing documented standard fields
  airbyte-integrations/connectors/source-iterable/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-iterable/source_iterable/components.py
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/users.json
  airbyte-integrations/connectors/source-iterable/unit_tests/test_extractors.py
  docs/integrations/sources/iterable-migrations.md
  docs/integrations/sources/iterable.md
Due: addlicense

docs(release-notes): Agents release notes for August 10, 2026
  docs/release_notes/agents/readme.md
Due: none

revert version bump and changelog entry
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  docs/integrations/sources/facebook-marketing.md
Due: none

docs(skills): require changelog entries be a simple one-liner
  .claude/skills/connector-certification-criteria/SKILL.md
Due: none

fix(source-klaviyo): emit flow_series_reports per day and align report windows to calendar days
  airbyte-integrations/connectors/source-klaviyo/AGENTS.md
  airbyte-integrations/connectors/source-klaviyo/CONTRIBUTING.md
  airbyte-integrations/connectors/source-klaviyo/components.py
  airbyte-integrations/connectors/source-klaviyo/manifest.yaml
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/unit_tests/mock_server/config.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/mock_server/test_flow_series_reports.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_components.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_start_date_default.py
  docs/integrations/sources/klaviyo-migrations.md
  docs/integrations/sources/klaviyo.md
Due: addlicense

feat(source-github): Step 3 - migrate the simple full-refresh REST streams to the manifest
  airbyte-integrations/connectors/source-github/AGENTS.md
  airbyte-integrations/connectors/source-github/CONTRIBUTING.md
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/pyproject.toml
  airbyte-integrations/connectors/source-github/source_github/manifest.yaml
  airbyte-integrations/connectors/source-github/source_github/schemas/assignees.json
  airbyte-integrations/connectors/source-github/source_github/schemas/branches.json
  airbyte-integrations/connectors/source-github/source_github/schemas/collaborators.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_labels.json
  airbyte-integrations/connectors/source-github/source_github/schemas/tags.json
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/integration/test_assignees.py
  airbyte-integrations/connectors/source-github/unit_tests/test_manifest_repo_scoped_streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_source.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  docs/integrations/sources/github.md
Due: addlicense

docs(source-github): point the 2.1.40-rc.2 changelog row at the right PR
  docs/integrations/sources/github.md
Due: none

docs: migrate consent management from Osano to DataGrail
  docusaurus/docusaurus.config.ts
  docusaurus/src/css/custom.css
  docusaurus/src/scripts/kapaWithDataGrailConsent.js
Due: none

docs: remove Osano-based Kapa consent script
  docusaurus/src/scripts/kapaWithOsanoConsent.js
Due: none

docs: migrate consent management from Osano to DataGrail (#83805)
  docusaurus/docusaurus.config.ts
  docusaurus/src/css/custom.css
  docusaurus/src/scripts/kapaWithDataGrailConsent.js
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

