Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

fix: CDK set cursor upper bound to NULL when no max cursor exists (#74007)
  airbyte-cdk/bulk/core/extract/changelog.md
  airbyte-cdk/bulk/core/extract/version.properties
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/JdbcPartitionsCreator.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/test/kotlin/io/airbyte/cdk/read/JdbcPartitionsCreatorTest.kt
  airbyte-cdk/bulk/toolkits/extract-trigger/src/main/kotlin/io/airbyte/cdk/TriggerPartitionsCreator.kt
Due: addlicense, spotless

Revert "chore: bump load CDK version to 1.0.3"
  airbyte-cdk/bulk/core/load/version.properties
Due: none

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceDebeziumOperations.kt
  airbyte-integrations/connectors/source-mysql/src/test/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceConfigurationTest.kt
Due: addlicense, spotless

Bump CDK
  airbyte-cdk/bulk/core/load/changelog.md
  airbyte-cdk/bulk/core/load/version.properties
Due: none

feat(source-intercom): add configurable num_workers for sync concurrency
  airbyte-integrations/connectors/source-intercom/manifest.yaml
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  docs/integrations/sources/intercom.md
Due: none

fix(iceberg): use DecimalType(38,18) instead of StringType for NumberType mapping
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/data/iceberg/parquet/AirbyteTypeToIcebergSchema.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/data/iceberg/parquet/AirbyteValueToIcebergRecord.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergSuperTypeFinder.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergTypesComparator.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/test/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergSuperTypeFinderTest.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/test/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergTypesComparatorTest.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/AirbyteTypeToIcebergSchemaTest.kt
Due: addlicense, spotless

fix: spotless formatting for IcebergTypesComparator require block
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergTypesComparator.kt
Due: addlicense, spotless

fix: update source-twilio to CDK prerelease with ddtrace v3+ (Python 3.13 profiling fix)
  airbyte-integrations/connectors/source-twilio/metadata.yaml
Due: none

fix(source-amazon-ads): Fix profile ID type mismatch in record filter
  airbyte-integrations/connectors/source-amazon-ads/manifest.yaml
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
Due: none

chore: update dockerImageTag to 5.0.3-rc.1 for progressive rollout
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
Due: none

fix(iceberg): scope DecimalType mapping to PK fields only per reviewer feedback
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/data/iceberg/parquet/AirbyteTypeToIcebergSchema.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/AirbyteTypeToIcebergSchemaTest.kt
Due: addlicense, spotless

chore: update unit tests cdk, add concurreny_level, & api budget
  airbyte-integrations/connectors/source-intercom/manifest.yaml
  airbyte-integrations/connectors/source-intercom/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-intercom/unit_tests/pyproject.toml
  docs/integrations/sources/intercom.md
Due: none

chore: fix dockerImageTag
  airbyte-integrations/connectors/source-intercom/metadata.yaml
Due: none

chore: update changelog version to 5.0.3-rc.1
  docs/integrations/sources/tiktok-marketing.md
Due: none

chore(source-intercom): pin test CDK to dev version for stream_groups support
  airbyte-integrations/connectors/source-intercom/poe_tasks.toml
Due: none

docs(source-tiktok-marketing): Fix changelog date and improve documentation clarity
  docs/integrations/sources/tiktok-marketing.md
Due: none

docs: sync agent connector docs from airbyte-agent-connectors repo
  docs/ai-agents/connectors/amazon-seller-partner/AUTH.md
  docs/ai-agents/connectors/amazon-seller-partner/README.md
  docs/ai-agents/connectors/amazon-seller-partner/REFERENCE.md
Due: none

docs: add cross-region, customer environment, Snowflake, and endpoint acceptance details
  docs/platform/operating-airbyte/privatelink.md
Due: none

docs: clarify why service type is needed in Step 4
  docs/platform/operating-airbyte/privatelink.md
Due: none

docs(privatelink): add cross-region, customer environment, Snowflake, and endpoint acceptance details (#74316)
  docs/platform/operating-airbyte/privatelink.md
Due: none

fix(iceberg): use distinct extractedAt in testAppendSchemaEvolution to fix flaky ordering
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/IcebergWriteTest.kt
Due: addlicense, spotless

ci: setup progressive rollout for source-tiktok-marketing 5.0.3-rc.1
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
Due: none

ci: setup progressive rollout with minimal changes only
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
Due: none

fix(source-faker)!: major version bump to 7.0.0 for breaking change infra testing
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  docs/integrations/sources/faker-migrations.md
  docs/integrations/sources/faker.md
Due: none

fix: update changelog with actual PR number
  docs/integrations/sources/faker.md
Due: none

fix: add deadlineAction disable to 7.0.0 breaking change entry
  airbyte-integrations/connectors/source-faker/metadata.yaml
Due: none

testing dd cdk
  airbyte-integrations/connectors/source-harvest/metadata.yaml
  docs/integrations/sources/harvest.md
Due: none

fix(iceberg): apply NumberType→DecimalType universally per reviewer consensus
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/data/iceberg/parquet/AirbyteTypeToIcebergSchema.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/AirbyteTypeToIcebergSchemaTest.kt
Due: addlicense, spotless

docs(source-faker): improve documentation accuracy and completeness
  docs/integrations/sources/faker.md
Due: none

feat(source-slack): add channel exclude filter, wildcard support, and join external channels option
  airbyte-integrations/connectors/source-slack/components.py
  airbyte-integrations/connectors/source-slack/manifest.yaml
Due: addlicense

next dev cdk
  airbyte-integrations/connectors/source-harvest/metadata.yaml
Due: none

fix(iceberg): map NumberType to DecimalType to support deduplication (#74272)
  airbyte-cdk/bulk/core/load/changelog.md
  airbyte-cdk/bulk/core/load/version.properties
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/data/iceberg/parquet/AirbyteTypeToIcebergSchema.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/data/iceberg/parquet/AirbyteValueToIcebergRecord.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergSuperTypeFinder.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergTypesComparator.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/io/IcebergUtil.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/test/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergSuperTypeFinderTest.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/test/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergTypesComparatorTest.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/AirbyteTypeToIcebergSchemaTest.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/IcebergWriteTest.kt
Due: addlicense, spotless

feat: migrate source-zendesk-chat and source-monday to scopes array
  airbyte-integrations/connectors/source-monday/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-chat/manifest.yaml
Due: none

ci: enable progressive rollout for source-tiktok-marketing
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
Due: none

fix(source-slack): replace 'fnmatch' with 'wildcard patterns' in spec descriptions
  airbyte-integrations/connectors/source-slack/manifest.yaml
Due: none

refactor(source-slack): replace join_external_channels with include_external_channels (default true)
  airbyte-integrations/connectors/source-slack/components.py
  airbyte-integrations/connectors/source-slack/manifest.yaml
Due: addlicense

ci: require enableProgressiveRollout=true for RC versions in metadata validation
  airbyte-ci/connectors/metadata_service/lib/metadata_service/validators/metadata_validator.py
Due: addlicense

feat: migrate source-zendesk-chat to scopes object array
  airbyte-integrations/connectors/source-zendesk-chat/manifest.yaml
Due: none

chore(source-slack): bump version to 3.1.12 and add changelog entry
  airbyte-integrations/connectors/source-slack/metadata.yaml
Due: none

feat: migrate source-monday to scopes object array
  airbyte-integrations/connectors/source-monday/manifest.yaml
Due: none
