Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

feat: add response ID to decoder logs and socket read timeout fix
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
Due: addlicense

fix(source-linkedin-ads): batch campaign IDs in ad_campaign_analytics to reduce partition count
  airbyte-integrations/connectors/source-linkedin-ads/components.py
  airbyte-integrations/connectors/source-linkedin-ads/manifest.yaml
Due: addlicense

chore: apply ruff formatting and bump version to 5.6.5
  airbyte-integrations/connectors/source-linkedin-ads/components.py
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  docs/integrations/sources/linkedin-ads.md
Due: addlicense

fix: align test mock data with batched partition router expectations
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/responses/ad_campaign_analytics/response_1.json
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/responses/ad_campaign_analytics/response_2.json
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/responses/ad_campaign_analytics/response_3.json
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/test_source.py
Due: addlicense

Update manifest.yaml with new fields and types
  airbyte-integrations/connectors/source-looker/source_looker/manifest.yaml
Due: none

fix(destination-redshift): Surface actionable error for schema permission denied
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/kotlin/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftDestinationHandler.kt
  docs/integrations/destinations/redshift.md
Due: addlicense, spotless

chore: Update changelog PR number for destination-redshift v3.5.4
  docs/integrations/destinations/redshift.md
Due: none

fix(source-stripe): Make API data retention validation optional per stream
  airbyte-integrations/connectors/source-stripe/manifest.yaml
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  docs/integrations/sources/stripe.md
Due: none

fix: Update changelog with actual PR number
  docs/integrations/sources/stripe.md
Due: none

chore: fix dockerImageTag
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  docs/integrations/sources/stripe.md
Due: none

docs(source-stripe): Document api_retention_streams config field
  docs/integrations/sources/stripe.md
Due: none

Replace hardcoded request parameters with config references
  airbyte-integrations/connectors/source-interzoid/manifest.yaml
Due: none

test(source-slack): fix existing tests and add tests for new channel filter features
  airbyte-integrations/connectors/source-slack/unit_tests/test_components.py
Due: addlicense

fix: add minItems:1 and order to accounts spec for Cloud UI required enforcement
  airbyte-integrations/connectors/source-shiftbase/manifest.yaml
Due: none

feat(source-pinterest): Add TOTAL_IMPRESSION column to custom reports and analytics streams
  airbyte-integrations/connectors/source-pinterest/manifest.yaml
Due: none

docs: fix sync mode labels for streams in README and docs
  airbyte-integrations/connectors/source-shiftbase/README.md
  docs/integrations/sources/shiftbase.md
Due: none

fix(source-stripe): Change api_retention_streams default to empty list
  airbyte-integrations/connectors/source-stripe/manifest.yaml
  docs/integrations/sources/stripe.md
Due: none

fix(source-pinterest): Add TOTAL_IMPRESSION to test analytics columns list
  airbyte-integrations/connectors/source-pinterest/unit_tests/conftest.py
Due: addlicense

fix(source-slack): apply black formatting to test_components.py
  airbyte-integrations/connectors/source-slack/unit_tests/test_components.py
Due: addlicense

fix(source-slack): apply ruff formatting to test_components.py
  airbyte-integrations/connectors/source-slack/unit_tests/test_components.py
Due: addlicense

fix: add DD_PROFILING_HEAP_SAMPLE_SIZE=262144 for more granular heap profiling
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/build_image/steps/build_customization.py
  docker-images/Dockerfile.manifest-only-connector
Due: addlicense

fix: update source-twilio to CDK prerelease with ddtrace v3.x and heap sample size
  airbyte-integrations/connectors/source-twilio/metadata.yaml
Due: none

docs(source-stripe): improve cursor age validation documentation
  docs/integrations/sources/stripe.md
Due: none

fix: add minLength:1 and order to access_token and account_name fields in spec
  airbyte-integrations/connectors/source-shiftbase/manifest.yaml
Due: none

feat(source-shopify): Add configurable fulfillment_orders_include_closed option
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/query.py
  airbyte-integrations/connectors/source-shopify/source_shopify/spec.json
  docs/integrations/sources/shopify.md
Due: addlicense

fix(source-shopify): Change fulfillment_orders_include_closed default to false
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/query.py
  airbyte-integrations/connectors/source-shopify/source_shopify/spec.json
Due: addlicense

fix(source-shopify): Fix spec.json indentation and update changelog default to false
  airbyte-integrations/connectors/source-shopify/source_shopify/spec.json
  docs/integrations/sources/shopify.md
Due: none

fix: use scopes_param template variable for scopes array format
  airbyte-integrations/connectors/source-zendesk-chat/manifest.yaml
Due: none

ci: revert to original RC validation check to preserve rollback pipeline compatibility
  airbyte-ci/connectors/metadata_service/lib/metadata_service/validators/metadata_validator.py
  airbyte-ci/connectors/metadata_service/lib/tests/fixtures/metadata_validate/valid/with_optional_field/with_releases/metadata_release_candidate_disable_progressive_rollout.yaml
Due: addlicense

fix(source-shopify): Update docstring to reflect default: false for includeClosed
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/query.py
Due: addlicense

fix(source-google-ads): replace socket-level timeout with application-level timeout
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
Due: addlicense

docs: sync agent connector docs from airbyte-agent-connectors repo
  docs/ai-agents/connectors/harvest/AUTH.md
  docs/ai-agents/connectors/harvest/README.md
  docs/ai-agents/connectors/harvest/REFERENCE.md
  docs/ai-agents/connectors/pinterest/AUTH.md
  docs/ai-agents/connectors/pinterest/README.md
  docs/ai-agents/connectors/pinterest/REFERENCE.md
  docs/ai-agents/connectors/snapchat-marketing/AUTH.md
  docs/ai-agents/connectors/snapchat-marketing/README.md
  docs/ai-agents/connectors/snapchat-marketing/REFERENCE.md
Due: none

LSN number not integer
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/cdc/PostgresSourceCdcMetaFields.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/PostgresSourceStreamFactory.kt
Due: addlicense, spotless

feat(source-google-ads): add comprehensive diagnostic logging to streaming decoder path
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
Due: addlicense

update lock
  airbyte-integrations/connectors/source-cloudwatch-logs/poetry.lock
Due: none

fix typo in docker image
  airbyte-integrations/connectors/source-cloudwatch-logs/pyproject.toml
Due: none

add poe task
  airbyte-integrations/connectors/source-cloudwatch-logs/pyproject.toml
Due: none

support more python versions
  airbyte-integrations/connectors/source-cloudwatch-logs/README.md
  airbyte-integrations/connectors/source-cloudwatch-logs/poetry.lock
  airbyte-integrations/connectors/source-cloudwatch-logs/pyproject.toml
Due: none

replace deprecated
  airbyte-integrations/connectors/source-cloudwatch-logs/unit_tests/test_streams.py
Due: addlicense

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

