Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

trying to fix spec cat
  airbyte-integrations/connectors/source-azure-blob-storage/acceptance-test-config.yml
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/spec.json
Due: none

more breaking changes stuff
  airbyte-integrations/connectors/destination-azure-blob-storage/metadata.yaml
  docs/integrations/destinations/azure-blob-storage-migrations.md
Due: none

spotbugs pls
  airbyte-integrations/connectors/destination-mssql/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLBulkLoader.kt
Due: addlicense, spotless

fix(source-azure-blob-storage): fix spec
  airbyte-integrations/connectors/source-azure-blob-storage/acceptance-test-config.yml
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/spec.json
Due: none

devnull state messages
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/FeedReader.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/JdbcPartitionReader.kt
  airbyte-integrations/connectors/source-mysql/metadata.yaml
Due: addlicense, spotless

require metadata permissions
  airbyte-integrations/connectors/destination-azure-blob-storage/metadata.yaml
  docs/integrations/destinations/azure-blob-storage-migrations.md
Due: none

Revert "require metadata permissions"
  airbyte-integrations/connectors/destination-azure-blob-storage/metadata.yaml
  docs/integrations/destinations/azure-blob-storage-migrations.md
Due: none

fix(source-azure-blob-storage): python 3.11 and new base image (#56466)
  airbyte-integrations/connectors/source-azure-blob-storage/acceptance-test-config.yml
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/spec.json
  airbyte-integrations/connectors/source-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/source-azure-blob-storage/poetry.lock
  airbyte-integrations/connectors/source-azure-blob-storage/pyproject.toml
  airbyte-integrations/connectors/source-azure-blob-storage/source_azure_blob_storage/spec.py
  docs/integrations/sources/azure-blob-storage.md
Due: addlicense

TBA netsuite over JDBC (#129)
  airbyte-integrations/connectors/source-netsuite/build.gradle
  airbyte-integrations/connectors/source-netsuite/metadata.yaml
  airbyte-integrations/connectors/source-netsuite/src/main/kotlin/io/airbyte/integrations/source/netsuite/AuthenticationMethodConfiguration.kt
  airbyte-integrations/connectors/source-netsuite/src/main/kotlin/io/airbyte/integrations/source/netsuite/NetsuiteSourceConfiguration.kt
  airbyte-integrations/connectors/source-netsuite/src/main/kotlin/io/airbyte/integrations/source/netsuite/NetsuiteSourceConfigurationSpecification.kt
  airbyte-integrations/connectors/source-netsuite/src/main/kotlin/io/airbyte/integrations/source/netsuite/NetsuiteTBAUtils.kt
  airbyte-integrations/connectors/source-netsuite/src/test/kotlin/io/airbyte/integrations/source/netsuite/NetsuiteSourceConfigurationSpecificationTest.kt
  airbyte-integrations/connectors/source-netsuite/src/test/resources/expected-spec.json
Due: addlicense, spotless

Bulk load CDK: files test validates file path; make this work in azure (#56921)
  airbyte-cdk/bulk/core/load/src/integrationTest/kotlin/io/airbyte/cdk/load/mock_integration_test/MockDestinationBackend.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/DestinationDataDumper.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/IcebergDataDumper.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/testFixtures/kotlin/io/airbyte/cdk/load/ObjectStorageDataDumper.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageConfiguration.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDataDumper.kt
  airbyte-integrations/connectors/destination-mssql/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLWriterTest.kt
  airbyte-integrations/connectors/destination-s3/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2DataDumper.kt
Due: addlicense, spotless

Azure blob storage: make it all work? (#56453)
  airbyte-cdk/bulk/core/load/src/integrationTest/kotlin/io/airbyte/cdk/load/mock_integration_test/MockDestinationBackend.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/DestinationDataDumper.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
  airbyte-cdk/bulk/toolkits/load-azure-blob-storage/src/main/kotlin/io/airbyte/cdk/load/file/azureBlobStorage/AzureBlobStorageClient.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/IcebergDataDumper.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/command/object_storage/ObjectStorageFormatSpecification.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/testFixtures/kotlin/io/airbyte/cdk/load/ObjectStorageDataDumper.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/gradle.properties
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageConfiguration.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageObjectLoader.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageCheckTest.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDataDumper.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageTestContainer.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageTestUtil.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageWriteTest.kt
  airbyte-integrations/connectors/destination-mssql/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLBulkLoader.kt
  airbyte-integrations/connectors/destination-mssql/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/config/MSSQLConfiguration.kt
  airbyte-integrations/connectors/destination-mssql/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLWriterTest.kt
  airbyte-integrations/connectors/destination-s3/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2DataDumper.kt
Due: addlicense, spotless

Fix link
  docs/using-airbyte/getting-started/academy.md
Due: none

Destination S3: Don't drop trailing 0 in decimals in JSONL/CSV mode (#56458)
  airbyte-cdk/bulk/core/load/src/integrationTest/kotlin/io/airbyte/cdk/load/mock_integration_test/MockBasicFunctionalityIntegrationTest.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/util/JsonUtils.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  airbyte-integrations/connectors/destination-s3/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2WriteTest.kt
  docs/integrations/destinations/s3.md
Due: addlicense, spotless

source-microsoft-sharepoint: add typing to get_site_drive
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/stream_reader.py
Due: addlicense

Update Cloud Fundamentals course link (#56925)
  docs/using-airbyte/getting-started/academy.md
Due: none

🐛 Enabling support for other SASL mechanisms when SASL_PLAINTEXT is chosen (#56450)
  airbyte-integrations/connectors/destination-kafka/metadata.yaml
  airbyte-integrations/connectors/destination-kafka/src/main/resources/spec.json
  docs/integrations/destinations/kafka.md
Due: none

Move OTEL metrics information to its own page
  docs/operator-guides/collecting-metrics.md
  docs/operator-guides/open-telemetry.md
  docusaurus/sidebars.js
Due: none

Submission for source-tickettailor from Connector Builder
  airbyte-integrations/connectors/source-tickettailor/manifest.yaml
Due: none

add test for SAS auth
  airbyte-integrations/connectors/destination-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageCheckTest.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageTestUtil.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageWriteTest.kt
Due: addlicense, spotless

Submission for source-poplar from Connector Builder
  airbyte-integrations/connectors/source-poplar/README.md
  airbyte-integrations/connectors/source-poplar/acceptance-test-config.yml
  airbyte-integrations/connectors/source-poplar/icon.svg
  airbyte-integrations/connectors/source-poplar/manifest.yaml
  airbyte-integrations/connectors/source-poplar/metadata.yaml
  docs/integrations/sources/poplar.md
Due: none

Adding the AzureBlobStorageChecker
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageChecker.kt
Due: addlicense, spotless

Remove content reading from the check
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageChecker.kt
Due: addlicense, spotless

Now with failure chuncks inside
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageCheckTest.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageTestUtil.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/resources/check/invalid-config.json
Due: addlicense, spotless

More
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageCheckTest.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageTestUtil.kt
Due: addlicense, spotless

update icon
  airbyte-integrations/connectors/source-poplar/icon.svg
Due: none

fix spotbugs
  airbyte-integrations/connectors/destination-mssql/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLBulkLoader.kt
Due: addlicense, spotless

source-microsoft-sharepoint: remove unnecesary get_site util and update tests
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/stream_reader.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/utils.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/unit_tests/test_stream_reader.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/unit_tests/test_utils.py
Due: addlicense

add mailings
  airbyte-integrations/connectors/source-poplar/manifest.yaml
Due: none

basic skeleton
  airbyte-integrations/connectors/destination-azure-blob-storage/build.gradle
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageConnectionChecker.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageConsumer.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDestination.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDestinationConfig.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDestinationConstants.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageFormat.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageFormatConfig.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageFormatConfigs.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/csv/AzureBlobStorageCsvFormatConfig.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/csv/AzureBlobStorageCsvWriter.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/csv/BaseSheetGenerator.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/csv/CsvSheetGenerator.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/csv/NoFlatteningSheetGenerator.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/csv/RootLevelFlatteningSheetGenerator.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/jsonl/AzureBlobStorageJsonlFormatConfig.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/jsonl/AzureBlobStorageJsonlWriter.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/writer/AzureBlobStorageWriter.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/writer/AzureBlobStorageWriterFactory.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/writer/BaseAzureBlobStorageWriter.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/writer/ProductionWriterFactory.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDestination.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageContainer.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageCsvDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageJsonlDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageSpillTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageWriteTest.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/resources/test_data
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobDestinationTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobRecordConsumerTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageFormatConfigsTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test/java/io/airbyte/integrations/destination/azure_blob_storage/csv/AzureBlobStorageCsvFormatConfigTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test/java/io/airbyte/integrations/destination/azure_blob_storage/csv/NoFlatteningSheetGeneratorTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test/java/io/airbyte/integrations/destination/azure_blob_storage/csv/RootLevelFlatteningSheetGeneratorTest.java
Due: addlicense, spotless

basic docs pass
  docs/integrations/destinations/azure-blob-storage.md
Due: none

auuuugh
  airbyte-integrations/connectors/destination-azure-blob-storage/metadata.yaml
Due: none

lol, lmao even
  airbyte-integrations/connectors/destination-azure-blob-storage/metadata.yaml
Due: none

Azure blob storage: implementation skeletons (#56407)
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageChecker.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageObjectLoader.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageWriter.kt
Due: addlicense, spotless

implement interface
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageSpecification.kt
Due: addlicense, spotless

[Azure Blob Storage] Add the AzureBlobStorageChecker (#56922)
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageChecker.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageCheckTest.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageTestUtil.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/resources/check/invalid-config.json
Due: addlicense, spotless

Spec class
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageSpecification.kt
Due: addlicense, spotless

Version 1.0.0
  airbyte-integrations/connectors/destination-azure-blob-storage/metadata.yaml
Due: none
