Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

docs(source-linear): correct archived-record behavior and expand OAuth setup
  docs/integrations/sources/linear.md
Due: none

test(source-linear): remove manifest structure tests per review
  airbyte-integrations/connectors/source-linear/unit_tests/test_authentication.py
Due: addlicense

fix(source-greenhouse): align OAuth and acceptance contracts [CI]
  airbyte-integrations/connectors/source-greenhouse/AGENTS.md
  airbyte-integrations/connectors/source-greenhouse/CONTRIBUTING.md
  airbyte-integrations/connectors/source-greenhouse/acceptance-test-config.yml
  airbyte-integrations/connectors/source-greenhouse/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-greenhouse/manifest.yaml
  airbyte-integrations/connectors/source-greenhouse/unit_tests/test_pagination.py
  docs/integrations/sources/greenhouse-migrations.md
  docs/integrations/sources/greenhouse.md
Due: addlicense

test(source-linear): assert reset header stays at CDK default
  airbyte-integrations/connectors/source-linear/unit_tests/test_api_budget.py
Due: addlicense

fix(source-linear): add an API budget for Linear rate limits
  airbyte-integrations/connectors/source-linear/manifest.yaml
  airbyte-integrations/connectors/source-linear/metadata.yaml
  airbyte-integrations/connectors/source-linear/unit_tests/test_api_budget.py
  docs/integrations/sources/linear.md
Due: addlicense

docs(source-linear): document rate-limit budget guidance
  airbyte-integrations/connectors/source-linear/CONTRIBUTING.md
  airbyte-integrations/connectors/source-linear/unit_tests/test_api_budget.py
  docs/integrations/sources/linear.md
Due: addlicense

fix(source-greenhouse): send refresh parameters in request body [F01]
  airbyte-integrations/connectors/source-greenhouse/manifest.yaml
  airbyte-integrations/connectors/source-greenhouse/unit_tests/test_pagination.py
Due: addlicense

fix(source-greenhouse): use OAuth acceptance secret [F01]
  airbyte-integrations/connectors/source-greenhouse/acceptance-test-config.yml
  airbyte-integrations/connectors/source-greenhouse/metadata.yaml
Due: none

feat(destination-airbyte-context-store): add fully managed context store destination
  airbyte-integrations/connectors/destination-airbyte-context-store/README.md
  airbyte-integrations/connectors/destination-airbyte-context-store/build.gradle
  airbyte-integrations/connectors/destination-airbyte-context-store/gradle.properties
  airbyte-integrations/connectors/destination-airbyte-context-store/icon.svg
  airbyte-integrations/connectors/destination-airbyte-context-store/metadata.yaml
  airbyte-integrations/connectors/destination-airbyte-context-store/poe_tasks.toml
  airbyte-integrations/connectors/destination-airbyte-context-store/src/main/kotlin/io/airbyte/integrations/destination/airbyte_context_store/AirbyteContextStoreDestination.kt
  airbyte-integrations/connectors/destination-airbyte-context-store/src/main/kotlin/io/airbyte/integrations/destination/airbyte_context_store/spec/AirbyteContextStoreConfigurationFactory.kt
  airbyte-integrations/connectors/destination-airbyte-context-store/src/main/kotlin/io/airbyte/integrations/destination/airbyte_context_store/spec/AirbyteContextStoreSpecification.kt
  airbyte-integrations/connectors/destination-airbyte-context-store/src/main/kotlin/io/airbyte/integrations/destination/airbyte_context_store/spec/AirbyteContextStoreSpecificationExtender.kt
  airbyte-integrations/connectors/destination-airbyte-context-store/src/test/kotlin/io/airbyte/integrations/destination/airbyte_context_store/spec/AirbyteContextStoreConfigurationFactoryTest.kt
  airbyte-integrations/connectors/destination-airbyte-context-store/src/test/kotlin/io/airbyte/integrations/destination/airbyte_context_store/spec/AirbyteContextStoreSpecificationExtenderTest.kt
  docs/integrations/destinations/airbyte-context-store.md
Due: addlicense, spotless

fix(destination-airbyte-context-store): bind flush_batch_size_mb and fail closed on missing managed region/catalog
  airbyte-integrations/connectors/destination-airbyte-context-store/src/main/kotlin/io/airbyte/integrations/destination/airbyte_context_store/spec/AirbyteContextStoreConfigurationFactory.kt
  airbyte-integrations/connectors/destination-airbyte-context-store/src/main/kotlin/io/airbyte/integrations/destination/airbyte_context_store/spec/AirbyteContextStoreSpecification.kt
  airbyte-integrations/connectors/destination-airbyte-context-store/src/test/kotlin/io/airbyte/integrations/destination/airbyte_context_store/spec/AirbyteContextStoreConfigurationFactoryTest.kt
Due: addlicense, spotless

style(destination-airbyte-context-store): apply spotless formatting
  airbyte-integrations/connectors/destination-airbyte-context-store/src/main/kotlin/io/airbyte/integrations/destination/airbyte_context_store/spec/AirbyteContextStoreSpecification.kt
Due: addlicense, spotless

docs(source-youtube-analytics): link changelog row to PR 84945
  docs/integrations/sources/youtube-analytics.md
Due: none

docs: document connector definitions API
  docs/developers/connector-definitions.md
  docs/platform/connector-development/config-based/understanding-the-yaml-file/yaml-overview.md
  docs/platform/connector-development/connector-builder-ui/overview.md
  docs/platform/operator-guides/using-custom-connectors.md
  docusaurus/sidebar-developers.js
Due: none

docs: tidy cross-link paragraph breaks
  docs/platform/connector-development/config-based/understanding-the-yaml-file/yaml-overview.md
  docs/platform/operator-guides/using-custom-connectors.md
Due: none

docs: align placeholders and clarify definition ID
  docs/developers/connector-definitions.md
Due: none

docs: clarify connector definition behavior
  docs/developers/connector-definitions.md
Due: none

docs: label connector definition examples
  docs/developers/connector-definitions.md
Due: none

docs: correct workload monitor failure messages and workflow restart retry details
  docs/platform/understanding-airbyte/jobs.md
Due: none

docs(platform): add workload launch troubleshooting, monitor failures, and workflow restart retry documentation (#74095)
  docs/platform/understanding-airbyte/heartbeats.md
  docs/platform/understanding-airbyte/jobs.md
Due: none

fix(docs): make Vale ignore sections working-directory independent (#77609)
  docusaurus/vale.ini
Due: none

docs: address review accuracy findings on socket mode
  docs/platform/understanding-airbyte/airbyte-protocol-docker.md
  docs/platform/understanding-airbyte/airbyte-protocol.md
  docs/platform/understanding-airbyte/heartbeats.md
  docs/platform/understanding-airbyte/high-level-view.md
  docs/platform/understanding-airbyte/jobs.md
  docs/platform/understanding-airbyte/resumability.md
Due: none

docs: Socket/speed mode architecture (#70313)
  docs/platform/understanding-airbyte/airbyte-protocol-docker.md
  docs/platform/understanding-airbyte/airbyte-protocol.md
  docs/platform/understanding-airbyte/heartbeats.md
  docs/platform/understanding-airbyte/high-level-view.md
  docs/platform/understanding-airbyte/jobs.md
  docs/platform/understanding-airbyte/resumability.md
  docs/platform/understanding-airbyte/tech-stack.md
  docusaurus/sidebar-platform.js
Due: none

feat(docs): add public API reference to Docusaurus
  docs/developers/api-reference/.gitignore
  docusaurus/docusaurus.config.ts
  docusaurus/package.json
  docusaurus/sidebar-developers.js
  docusaurus/src/data/public_api_spec.json
  docusaurus/src/scripts/public-api/constants.js
  docusaurus/src/scripts/public-api/prepare-public-api-spec.js
  docusaurus/src/scripts/public-api/sidebar-generator.ts
Due: none

fix(docs): refine public API navigation and refresh
  .github/workflows/regenerate-public-api-spec.yml
  docusaurus/package.json
  docusaurus/sidebar-developers.js
  docusaurus/src/data/public_api_spec.json
  docusaurus/src/scripts/public-api/prepare-public-api-spec.js
Due: none

fix(docs): fail strict API spec refreshes
  .github/workflows/regenerate-public-api-spec.yml
  docusaurus/src/scripts/public-api/prepare-public-api-spec.js
Due: none

feat(docs): add connector configuration reference with registry-derived specs
  docs/developers/connector-configurations.mdx
  docusaurus/package.json
  docusaurus/sidebar-developers.js
  docusaurus/src/components/ConnectorSpecPicker.jsx
  docusaurus/src/components/ConnectorSpecPicker.module.css
  docusaurus/src/scripts/prepare-connector-spec-assets.js
  docusaurus/src/scripts/public-api/prepare-public-api-spec.js
  docusaurus/src/theme/MDXComponents/index.js
  docusaurus/static/connector-specs/.gitignore
Due: none

chore(docs): refresh public API spec cache
  docusaurus/src/data/public_api_spec.json
Due: none

feat(docs): render connector config picker inline in API schema
  docusaurus/src/components/ConnectorSpecPicker.jsx
  docusaurus/src/components/ConnectorSpecPicker.module.css
  docusaurus/src/data/public_api_spec.json
  docusaurus/src/scripts/public-api/prepare-public-api-spec.js
  docusaurus/src/theme/SchemaItem/index.js
  docusaurus/src/theme/SchemaItem/styles.module.css
Due: none

refactor(docs): drop standalone connector config page, nest API reference
  docs/developers/connector-configurations.mdx
  docusaurus/sidebar-developers.js
  docusaurus/src/data/public_api_spec.json
  docusaurus/src/scripts/public-api/prepare-public-api-spec.js
  docusaurus/src/theme/MDXComponents/index.js
Due: none

fix(docs): address CodeQL findings
  docusaurus/src/components/ConnectorSpecPicker.jsx
  docusaurus/src/scripts/prepare-connector-spec-assets.js
  docusaurus/src/scripts/public-api/prepare-public-api-spec.js
Due: none

docs: explain public API cache refresh workflow
  .github/workflows/regenerate-public-api-spec.yml
Due: none

fix(docs): preserve sanitized preparation errors
  docusaurus/src/scripts/log-safe.js
  docusaurus/src/scripts/prepare-connector-spec-assets.js
  docusaurus/src/scripts/public-api/prepare-public-api-spec.js
Due: none

fix(docs): make log sanitizer CodeQL-compatible
  docusaurus/src/scripts/log-safe.js
Due: none

fix(docs): inline log sanitization
  docusaurus/src/scripts/prepare-connector-spec-assets.js
  docusaurus/src/scripts/public-api/prepare-public-api-spec.js
Due: none

Revert "fix(docs): inline log sanitization"
  docusaurus/src/scripts/prepare-connector-spec-assets.js
  docusaurus/src/scripts/public-api/prepare-public-api-spec.js
Due: none

fix(source-s3): endpoint docs must require the https scheme
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/source_s3/v4/config.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/source.py
  docs/integrations/sources/s3.md
Due: addlicense

source-mongodb-v2: replace full-scan _id type aggregate with index seeks
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/InitialSnapshotHandler.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/InitialSnapshotHandlerTest.java
Due: addlicense, spotless

docs(source-tiktok-marketing): clear only Incremental Deduped streams in 6.0.0
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  docs/integrations/sources/tiktok-marketing-migrations.md
Due: none

fix(source-iterable): scope users clear guidance by review feedback, restore timestamp typing, cover fractional seconds
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/source_iterable/components.py
  airbyte-integrations/connectors/source-iterable/source_iterable/manifest.yaml
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/users.json
  airbyte-integrations/connectors/source-iterable/unit_tests/test_extractors.py
  docs/integrations/sources/iterable-migrations.md
  docs/integrations/sources/iterable.md
Due: addlicense
