Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

fix(source-tiktok-marketing): use migration version 5.1.12
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  docs/integrations/sources/tiktok-marketing.md
Due: none

fix(source-tiktok-marketing): migrate legacy report granularity
  airbyte-integrations/connectors/source-tiktok-marketing/manifest.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/test_report_date_step.py
  docs/integrations/sources/tiktok-marketing.md
Due: addlicense

fix(source-klaviyo): end report windows on the last complete day and key campaign values by the closing midnight
  airbyte-integrations/connectors/source-klaviyo/AGENTS.md
  airbyte-integrations/connectors/source-klaviyo/CONTRIBUTING.md
  airbyte-integrations/connectors/source-klaviyo/manifest.yaml
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/unit_tests/mock_server/response_builder.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/mock_server/test_campaign_values_reports.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/mock_server/test_flow_series_reports.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_components.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_start_date_default.py
  docs/integrations/sources/klaviyo-migrations.md
  docs/integrations/sources/klaviyo.md
Due: addlicense

style(source-applovin-ads): apply ruff-format to unit tests
  airbyte-integrations/connectors/source-applovin-ads/unit_tests/test_authentication.py
Due: addlicense

Add negative interval decomposition test
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/cdc/PostgresCustomConverterTest.kt
Due: addlicense, spotless

docs(source-ashby): note schema refresh in changelog entry
  docs/integrations/sources/ashby.md
Due: none

test(source-float): add unit tests for reports-people and reports-projects
  airbyte-integrations/connectors/source-float/unit_tests/__init__.py
  airbyte-integrations/connectors/source-float/unit_tests/conftest.py
  airbyte-integrations/connectors/source-float/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-float/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-float/unit_tests/test_reports_streams.py
Due: addlicense

fix(destination-bigquery): retry write channel opens
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/standard_insert/BigqueryBatchStandardInsertLoader.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/write/standard_insert/BigqueryBatchStandardInsertsLoaderTest.kt
  docs/integrations/destinations/bigquery.md
Due: addlicense, spotless

fix(destination-bigquery): import transient error exception
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/standard_insert/BigqueryBatchStandardInsertLoader.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/write/standard_insert/BigqueryBatchStandardInsertsLoaderTest.kt
Due: addlicense, spotless

test(destination-bigquery): fix retry stub chaining
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/write/standard_insert/BigqueryBatchStandardInsertsLoaderTest.kt
Due: addlicense, spotless

chore(destination-bigquery): apply CI formatting
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/write/standard_insert/BigqueryBatchStandardInsertsLoaderTest.kt
  docs/integrations/destinations/bigquery.md
Due: addlicense, spotless

docs(release-notes): Agents release notes for August 12, 2026
  docs/release_notes/agents/readme.md
Due: none

docs(release-notes): Cloud release notes for August 12, 2026
  docs/release_notes/cloud/readme.md
Due: none

fix(source-salesloft): repair OAuth token refresh
  airbyte-integrations/connectors/source-salesloft/components.py
  airbyte-integrations/connectors/source-salesloft/manifest.yaml
  airbyte-integrations/connectors/source-salesloft/metadata.yaml
  airbyte-integrations/connectors/source-salesloft/unit_tests/__init__.py
  airbyte-integrations/connectors/source-salesloft/unit_tests/_helpers.py
  airbyte-integrations/connectors/source-salesloft/unit_tests/conftest.py
  airbyte-integrations/connectors/source-salesloft/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-salesloft/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-salesloft/unit_tests/test_oauth_refresh.py
  docs/integrations/sources/salesloft.md
Due: addlicense

docs(source-salesloft): link changelog entry to PR
  docs/integrations/sources/salesloft.md
Due: none

fix(destination-snowflake): preserve transient table kind
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClientTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
  docs/integrations/destinations/snowflake.md
Due: addlicense, spotless

fix(source-float): stamp report records with their reporting period and harden the new tests
  airbyte-integrations/connectors/source-float/manifest.yaml
  airbyte-integrations/connectors/source-float/unit_tests/__init__.py
  airbyte-integrations/connectors/source-float/unit_tests/conftest.py
  airbyte-integrations/connectors/source-float/unit_tests/test_reports_streams.py
  docs/integrations/sources/float.md
Due: addlicense

style(destination-snowflake): format overwrite tests
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClientTest.kt
Due: addlicense, spotless

fix(source-salesforce): restart REST query when the session is invalidated mid-pagination
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  airbyte-integrations/connectors/source-salesforce/source_salesforce/rate_limiting.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  docs/integrations/sources/salesforce.md
Due: addlicense

docs(source-salesforce): fill changelog PR number
  docs/integrations/sources/salesforce.md
Due: none

test(destination-snowflake): stabilize overwrite mocks
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClientTest.kt
Due: addlicense, spotless

docs(destination-snowflake): link changelog to PR 84303
  docs/integrations/destinations/snowflake.md
Due: none

style(destination-snowflake): apply CI formatting
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClientTest.kt
Due: addlicense, spotless

[EVAL] feat(source-jira): add issue_feature_flags stream
  airbyte-integrations/connectors/source-jira/manifest.yaml
  airbyte-integrations/connectors/source-jira/metadata.yaml
Due: none

[EVAL] fix(source-faker): add explicit additionalProperties to products schema
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/schemas/products.json
Due: none

[EVAL] fix(source-faker): deduplicate products stream to prevent redundant entries
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] fix(source-faker): sort products deterministically and filter test entries
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] fix(source-faker): handle OSError in multiprocessing pool initialization
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] fix(source-faker): skip malformed trailing product record
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] fix(source-faker): cap users emission to prevent OOM on constrained environments
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] feat(source-freshservice): add audit_logs stream for compliance reporting
  airbyte-integrations/connectors/source-freshservice/manifest.yaml
  airbyte-integrations/connectors/source-freshservice/metadata.yaml
Due: none

[EVAL] feat(source-pokeapi): add pokemon_moves stream for selective move data syncing
  airbyte-integrations/connectors/source-pokeapi/manifest.yaml
  airbyte-integrations/connectors/source-pokeapi/metadata.yaml
Due: none

[EVAL] fix(source-faker): adjust users stream record byte estimate
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] fix(source-faker): recover truncated product record
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/record_data/products.json
  airbyte-integrations/connectors/source-faker/unit_tests/unit_test.py
Due: addlicense

[EVAL] fix(source-faker): validate package registry in check_connection
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/source.py
Due: addlicense

[EVAL] feat(source-faker): add color and weight fields to products stream
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/schemas/products.json
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] pin airbyte-integrations/connectors/source-pokeapi to known-bad baseline
  airbyte-integrations/connectors/source-pokeapi/.dependabot/dependabot.yml
  airbyte-integrations/connectors/source-pokeapi/README.md
  airbyte-integrations/connectors/source-pokeapi/manifest.yaml
  airbyte-integrations/connectors/source-pokeapi/metadata.yaml
Due: none

[EVAL] fix(source-pokeapi): fix nidoran names
  airbyte-integrations/connectors/source-pokeapi/manifest.yaml
  airbyte-integrations/connectors/source-pokeapi/metadata.yaml
Due: none

[EVAL] fix(source-faker): recover from worker pool allocation failures during read
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/source.py
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
  airbyte-integrations/connectors/source-faker/unit_tests/unit_test.py
Due: addlicense

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

