Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

fix(source-mssql): improve invalid CDC offset message
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDebeziumOperations.kt
  docs/integrations/sources/mssql.md
Due: addlicense, spotless

docs(source-mssql): link changelog to PR
  docs/integrations/sources/mssql.md
Due: none

ci(ai): add prove-fix structured output schema
  .github/workflows/ai-prove-fix-command.yml
Due: none

ci(ai): inline prove-fix evidence schema
  .github/workflows/ai-prove-fix-command.yml
Due: none

style(source-mssql): apply ktfmt
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDebeziumOperations.kt
Due: addlicense, spotless

test(source-jira): limit service account basic read catalog
  airbyte-integrations/connectors/source-jira/acceptance-test-config.yml
  airbyte-integrations/connectors/source-jira/integration_tests/service_account_configured_catalog.json
Due: none

docs(source-jira): document service account scopes
  docs/integrations/sources/jira.md
Due: none

test(source-jira): format service account catalog
  airbyte-integrations/connectors/source-jira/integration_tests/service_account_configured_catalog.json
Due: none

fix(source-mssql): refresh idle CDC state
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDebeziumOperations.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDebeziumOperationsTest.kt
  docs/integrations/sources/mssql.md
Due: addlicense, spotless

fix(source-mssql): address CI formatting
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDebeziumOperationsTest.kt
  docs/integrations/sources/mssql.md
Due: addlicense, spotless

test(source-jira): skip service account scoped streams
  airbyte-integrations/connectors/source-jira/acceptance-test-config.yml
  airbyte-integrations/connectors/source-jira/integration_tests/service_account_configured_catalog.json
Due: none

test(source-jira): allow invalid domain check scenario
  airbyte-integrations/connectors/source-jira/manifest.yaml
Due: none

feat(source-chargebee): Tune default concurrency to 6
  airbyte-integrations/connectors/source-chargebee/manifest.yaml
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
  docs/integrations/sources/chargebee.md
Due: none

test(source-jira): skip service account screen streams
  airbyte-integrations/connectors/source-jira/acceptance-test-config.yml
Due: none

docs(source-chargebee): Link c6 changelog entry
  docs/integrations/sources/chargebee.md
Due: none

Formatting
  airbyte-integrations/connectors/destination-gcs-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/gcs_data_lake/GcsDataLakeTestUtil.kt
Due: addlicense, spotless

chore: bump to latest cdk. (#78231)
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/snowflake.md
Due: none

Formatting
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeTestUtil.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/catalog/S3DataLakeUtilTest.kt
Due: addlicense, spotless

docs(destination-snowflake): update Snowflake destination docs
  docs/integrations/destinations/snowflake.md
Due: none

Link
  docs/integrations/destinations/clickhouse.md
Due: none

chore: bump to latest cdk. (#78232)
  airbyte-integrations/connectors/destination-s3-data-lake/gradle.properties
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeTestUtil.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/catalog/S3DataLakeUtilTest.kt
  docs/integrations/destinations/s3-data-lake.md
Due: addlicense, spotless

chore: bump to latest cdk. (#78235)
  airbyte-integrations/connectors/destination-gcs-data-lake/gradle.properties
  airbyte-integrations/connectors/destination-gcs-data-lake/metadata.yaml
  airbyte-integrations/connectors/destination-gcs-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/gcs_data_lake/GcsDataLakeTestUtil.kt
  docs/integrations/destinations/gcs-data-lake.md
Due: addlicense, spotless

docs(mcp): Use explicit MCP landing cards
  docs/community/mcp-servers/readme.md
  docusaurus/sidebar-community.js
Due: none

docs(destination-snowflake): avoid spelling false positive
  docs/integrations/destinations/snowflake.md
Due: none

fix(source-google-analytics-data-api): Restore stable default concurrency (#78275)
  airbyte-integrations/connectors/source-google-analytics-data-api/manifest.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  docs/integrations/sources/google-analytics-data-api.md
Due: none

docs(destination-gcs-data-lake): update setup and reference guidance
  docs/integrations/destinations/gcs-data-lake.md
Due: none

fix(source-chargebee): Use rc2 for c6 rollout
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
  docs/integrations/sources/chargebee.md
Due: none

chore: bump to latest cdk. (#78239)
  airbyte-integrations/connectors/destination-bigquery/gradle.properties
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  docs/integrations/destinations/bigquery.md
Due: none

ci: add ai-ready slash command
  .github/workflows/ai-ready-command.yml
  .github/workflows/slash-commands.yml
Due: none

docs: specify agent connector availability filtering
  .claude/plans/registry-filtered-agent-connector-docs.md
Due: none

chore(source-ashby): decrease concurrency to 3
  airbyte-integrations/connectors/source-ashby/manifest.yaml
  airbyte-integrations/connectors/source-ashby/metadata.yaml
  docs/integrations/sources/ashby.md
Due: none

docs(source-ashby): fill changelog PR link
  docs/integrations/sources/ashby.md
Due: none

fix(docs): filter agent connectors by platform availability
  .claude/plans/registry-filtered-agent-connector-docs.md
  .github/workflows/sync-ai-connector-docs.yml
  docusaurus/.gitignore
  docusaurus/docusaurus.config.ts
  docusaurus/package.json
  docusaurus/src/plugins/agentConnectors.js
  docusaurus/src/remark/connectorTypeBanner.js
  docusaurus/src/scripts/agent-connector-availability.js
  docusaurus/src/scripts/agent-connector-availability.test.js
  docusaurus/src/scripts/cleanup-cache.js
  docusaurus/src/scripts/constants.js
  docusaurus/src/scripts/prepare-registry-cache.js
Due: none

Switch to test containers for component tests.
  airbyte-integrations/connectors/destination-clickhouse/metadata.yaml
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/ClickhouseContainerHelper.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/component/ClickhouseTestTableOperationsClient.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/component/config/ComponentTestConfigFactory.kt
  docs/integrations/destinations/clickhouse.md
Due: addlicense, spotless

chore(source-ticktick): clarify acceptance test config comment
  airbyte-integrations/connectors/source-ticktick/acceptance-test-config.yml
Due: none

chore: bump to latest cdk. (#78240)
  airbyte-integrations/connectors/destination-s3/gradle.properties
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  docs/integrations/destinations/s3.md
Due: none

fix(source-amazon-seller-partner): classify marketplace registration errors
  airbyte-integrations/connectors/source-amazon-seller-partner/manifest.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/integration/test_report_based_streams.py
  docs/integrations/sources/amazon-seller-partner.md
Due: addlicense

style(source-amazon-seller-partner): format marketplace test
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/integration/test_report_based_streams.py
Due: addlicense

ci: simplify ai-ready command scope
  .github/workflows/ai-ready-command.yml
Due: none

ci: simplify ai-ready label application
  .github/workflows/ai-ready-command.yml
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

