Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

🐙 source-tmdb: run up-to-date pipeline [2025-03-01] (#54475)
  airbyte-integrations/connectors/source-tmdb/metadata.yaml
  docs/integrations/sources/tmdb.md
Due: none

fix
  airbyte-integrations/connectors/source-freshcaller/manifest.yaml
Due: none

fix state files
  airbyte-integrations/connectors/source-freshcaller/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-freshcaller/integration_tests/sample_state.json
Due: none

restore calls stream incremental sync
  airbyte-integrations/connectors/source-freshcaller/acceptance-test-config.yml
  airbyte-integrations/connectors/source-freshcaller/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-freshcaller/integration_tests/configured_catalog_full_refresh.json
  airbyte-integrations/connectors/source-freshcaller/integration_tests/configured_catalog_incremental.json
  airbyte-integrations/connectors/source-freshcaller/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-freshcaller/manifest.yaml
Due: none

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-freshcaller/integration_tests/configured_catalog_incremental.json
Due: none

remove calls stream incremental sync
  airbyte-integrations/connectors/source-freshcaller/acceptance-test-config.yml
  airbyte-integrations/connectors/source-freshcaller/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-freshcaller/integration_tests/configured_catalog_full_refresh.json
  airbyte-integrations/connectors/source-freshcaller/integration_tests/configured_catalog_incremental.json
  airbyte-integrations/connectors/source-freshcaller/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-freshcaller/manifest.yaml
Due: none

update manifest, cdk version, docs
  airbyte-integrations/connectors/source-prestashop/manifest.yaml
  airbyte-integrations/connectors/source-prestashop/metadata.yaml
  docs/integrations/sources/prestashop.md
Due: none

update pypi registry
  airbyte-integrations/connectors/source-prestashop/metadata.yaml
Due: none

fix(source-klaviyo): add event_properties option to events request (#54720)
  airbyte-integrations/connectors/source-klaviyo/manifest.yaml
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  docs/integrations/sources/klaviyo.md
Due: none

Zendesk Chat: update deps
  airbyte-integrations/connectors/source-zendesk-chat/poetry.lock
Due: none

Zendesk Chat: update deps
  airbyte-integrations/connectors/source-zendesk-chat/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-chat/poetry.lock
  airbyte-integrations/connectors/source-zendesk-chat/pyproject.toml
  docs/integrations/sources/zendesk-chat.md
Due: none

updated to latest cdk ^6
  airbyte-integrations/connectors/source-mixpanel/.coveragerc
  airbyte-integrations/connectors/source-mixpanel/poetry.lock
  airbyte-integrations/connectors/source-mixpanel/pyproject.toml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/components.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/config_migrations.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/errors_handlers/base_errors_handler.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/errors_handlers/export_errors_handler.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/manifest.yaml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/run.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_migration.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_source.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
Due: addlicense

update pypi
  airbyte-integrations/connectors/source-prestashop/metadata.yaml
Due: none

docs (fix): fixing dead link (#54721)
  docusaurus/src/components/ManifestYamlDefinitions.jsx
Due: none

Update README.md
  docs/contributing-to-airbyte/README.md
Due: none

[docs] update contributing guide (#53660)
  docs/contributing-to-airbyte/README.md
  docusaurus/sidebars.js
Due: none

Update default number of workers
  airbyte-integrations/connectors/source-instagram/source_instagram/manifest.yaml
  airbyte-integrations/connectors/source-instagram/source_instagram/spec.json
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_api.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_media.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_media_insights.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_stories.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_story_insights.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_user_lifetime_insights.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_users.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/utils.py
Due: addlicense

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-intercom/unit_tests/test_components.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/integration/test_profiles.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/unit_tests/test_utils.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/test_components.py
Due: addlicense

stronger language
  docs/integrations/destinations/iceberg.md
  docs/integrations/destinations/s3-glue.md
Due: none

Destination S3 Data Lake: certify (#54724)
  airbyte-integrations/connectors/destination-s3-data-lake/build.gradle
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
  docs/integrations/destinations/iceberg.md
  docs/integrations/destinations/s3-data-lake.md
  docs/integrations/destinations/s3-glue.md
Due: spotless

Update airbyte-integrations/connectors/source-fauna/metadata.yaml
  airbyte-integrations/connectors/source-fauna/metadata.yaml
Due: none

Source Prestashop: Migrate to manifest only format with components (#47016)
  airbyte-integrations/connectors/source-prestashop/README.md
  airbyte-integrations/connectors/source-prestashop/acceptance-test-config.yml
  airbyte-integrations/connectors/source-prestashop/components.py
  airbyte-integrations/connectors/source-prestashop/main.py
  airbyte-integrations/connectors/source-prestashop/manifest.yaml
  airbyte-integrations/connectors/source-prestashop/metadata.yaml
  airbyte-integrations/connectors/source-prestashop/poetry.lock
  airbyte-integrations/connectors/source-prestashop/pyproject.toml
  airbyte-integrations/connectors/source-prestashop/source_prestashop/__init__.py
  airbyte-integrations/connectors/source-prestashop/source_prestashop/manifest.yaml
  airbyte-integrations/connectors/source-prestashop/source_prestashop/run.py
  airbyte-integrations/connectors/source-prestashop/source_prestashop/source.py
  airbyte-integrations/connectors/source-prestashop/source_prestashop/spec.yaml
  airbyte-integrations/connectors/source-prestashop/unit_tests/unit_test.py
  docs/integrations/sources/prestashop.md
Due: addlicense

new release 0.1.7 with jdbc driver upgrade
  airbyte-integrations/connectors/destination-teradata/build.gradle
  airbyte-integrations/connectors/destination-teradata/metadata.yaml
  docs/integrations/destinations/teradata.md
Due: spotless

Update compose existing files script
  raw_table_experiments/gen_data/compose_existing_files.py
Due: addlicense

jacoco module added for getting code coverage
  airbyte-integrations/connectors/destination-teradata/build.gradle
Due: spotless

ci: Add dummy change to verify CI status
  airbyte-integrations/connectors/destination-convex/destination_convex/destination.py
Due: addlicense

feat: Update destination-convex to CDK 6.0+ and baseImage 4.0.0
  airbyte-integrations/connectors/destination-convex/destination_convex/destination.py
  airbyte-integrations/connectors/destination-convex/metadata.yaml
  airbyte-integrations/connectors/destination-convex/pyproject.toml
Due: addlicense

ci: Dummy change to verify source-braintree CI status
  airbyte-integrations/connectors/source-braintree/README.md
Due: none

feat: Update source-braintree to CDK 6.0+ and baseImage 4.0.0+
  airbyte-integrations/connectors/source-braintree/metadata.yaml
  airbyte-integrations/connectors/source-braintree/pyproject.toml
  airbyte-integrations/connectors/source-braintree/source_braintree/manifest.yaml
  airbyte-integrations/connectors/source-braintree/source_braintree/run.py
  airbyte-integrations/connectors/source-braintree/source_braintree/source.py
Due: addlicense

style: Fix formatting in run.py
  airbyte-integrations/connectors/source-braintree/source_braintree/run.py
Due: addlicense

Add dummy comment to verify CI status
  airbyte-integrations/connectors/destination-google-sheets/README.md
Due: none

Fix tests
  airbyte-integrations/connectors/source-instagram/integration_tests/conftest.py
  airbyte-integrations/connectors/source-instagram/integration_tests/test_streams.py
  airbyte-integrations/connectors/source-instagram/poetry.lock
  airbyte-integrations/connectors/source-instagram/source_instagram/spec.json
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/response_builder.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_api.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_media.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_media_insights.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_stories.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_story_insights.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_user_lifetime_insights.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_users.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/utils.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_source.py
Due: addlicense

Update destination-google-sheets to CDK 6.37.1
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/buffer.py
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/client.py
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/destination.py
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/helpers.py
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_buffer.py
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_destination.py
  airbyte-integrations/connectors/destination-google-sheets/pyproject.toml
Due: addlicense

Fix type errors in destination.py
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/destination.py
Due: addlicense

Fix import ordering to pass formatting checks
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/client.py
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/destination.py
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/helpers.py
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_buffer.py
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_destination.py
Due: addlicense

Fix import ordering in buffer.py to pass formatting checks
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/buffer.py
Due: addlicense

chore: Update poetry.lock for destination-convex
  airbyte-integrations/connectors/destination-convex/poetry.lock
Due: none

skip empty files; microbatch during ITs
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/message/object_storage/ObjectStorageBatch.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/write/object_storage/PartToObjectAccumulator.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/write/object_storage/RecordToPartAccumulator.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLBulkLoadStreamLoader.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLWriter.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/config/MSSQLConfiguration.kt
Due: addlicense, spotless
