Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

update
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/pipline/object_storage/ObjectLoaderPartFormatterStep.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/pipline/object_storage/ObjectLoaderPartLoader.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/pipline/object_storage/ObjectLoaderPartLoaderStep.kt
Due: addlicense, spotless

working version
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/file/ProtobufDataChannelReader.kt
Due: addlicense, spotless

fix: improve co-routine implementation for one shot uploader (#61686)
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/internal/LoadPipelineStepTask.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/factory/object_storage/ObjectLoaderQueueBeanFactory.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/factory/object_storage/ObjectLoaderStepBeanFactory.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/pipline/object_storage/ObjectLoaderOneShotUploader.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/pipline/object_storage/ObjectLoaderPartLoader.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/write/object_storage/ObjectStorageStreamLoaderFactory.kt
Due: addlicense, spotless

refactor add logging and test
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/relationaldb/AbstractDbSource.kt
Due: addlicense, spotless

refactor add logging and test
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
Due: addlicense, spotless

fix: implement pooled byte array outputstream for better GC handling (#61687)
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStorageFormattingWriter.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/pipline/object_storage/ObjectLoaderOneShotUploader.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/write/object_storage/ObjectStorageFormattingWriterTest.kt
Due: addlicense, spotless

change version
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
Due: none

fix: use V2 list API for S3 (#61689)
  airbyte-cdk/bulk/toolkits/load-s3/src/main/kotlin/io/airbyte/cdk/load/file/s3/S3Client.kt
Due: addlicense, spotless

ad_group_impression_performance_report to low-code
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/manifest.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ad_group_impression_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ad_group_impression_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_hourly_reports.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/ad_group_impression_performance_report_hourly_incremental_with_records_further_cursor.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/ad_group_impression_performance_report_hourly_with_records_further_config_start_date.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_reports.py
Due: addlicense

campaign_impression_performance_report to low code
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/manifest.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/campaign_impression_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/campaign_impression_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_hourly_reports.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/campaign_impression_performance_report_hourly_incremental_with_records_further_cursor.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/campaign_impression_performance_report_hourly_with_records_further_config_start_date.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_reports.py
Due: addlicense

create error handler for issue
  airbyte-integrations/connectors/source-github/source_github/errors_handlers.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
Due: addlicense

update release information
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/pyproject.toml
  docs/integrations/sources/github.md
Due: none

Corrects pattern to match which the exported format being used
  airbyte-integrations/connectors/source-recurly/manifest.yaml
  airbyte-integrations/connectors/source-recurly/metadata.yaml
  docs/integrations/sources/recurly.md
Due: none

Add state migration and transformation
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
Due: addlicense

Fix unit tests
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_config_migrations.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_errors.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_streams.py
Due: addlicense

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
Due: addlicense

fix test
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/json/AirbyteTypeToJsonSchema.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/data/json/AirbyteSchemaTypeToJsonSchemaTest.kt
Due: addlicense, spotless

chore: auto-fix lint and format issues
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/json/AirbyteTypeToJsonSchema.kt
Due: addlicense, spotless

refactor: use bulk delete operation for object removal in destination cdk
  airbyte-cdk/bulk/toolkits/load-azure-blob-storage/src/main/kotlin/io/airbyte/cdk/load/file/azureBlobStorage/AzureBlobStorageClient.kt
  airbyte-cdk/bulk/toolkits/load-azure-blob-storage/src/test/kotlin/io/airbyte/cdk/load/file/azureBlobStorage/AzureBlobClientTest.kt
  airbyte-cdk/bulk/toolkits/load-gcs/src/main/kotlin/io/airbyte/cdk/load/file/gcs/GcsClient.kt
  airbyte-cdk/bulk/toolkits/load-gcs/src/test/kotlin/io/airbyte/cdk/load/file/gcs/GcsClientTest.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStorageClient.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/testFixtures/kotlin/io/airbyte/cdk/load/MockObjectStorageClient.kt
  airbyte-cdk/bulk/toolkits/load-s3/src/main/kotlin/io/airbyte/cdk/load/file/s3/S3Client.kt
  airbyte-cdk/bulk/toolkits/load-s3/src/main/kotlin/io/airbyte/cdk/load/file/s3/S3LegacyJavaClient.kt
Due: addlicense, spotless

Use bulk delete method
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/write/object_storage/ObjectStorageStreamLoaderFactory.kt
Due: addlicense, spotless

Update test & spec
  airbyte-integrations/connectors/source-amazon-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/spec.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/spec.py
  docs/integrations/sources/amazon-ads.md
Due: addlicense

Change cdk tag to low-code
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
Due: none

extend fix to other streams
  airbyte-integrations/connectors/source-github/source_github/errors_handlers.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
Due: addlicense

product_dimension_performance_report to low-code
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/manifest.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/product_dimension_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/product_dimension_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_product_dimension_performance_report.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_report_stream.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_daily.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_daily_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_daily_incremental_with_records_further_cursor.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_daily_with_records_further_start_date.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_hourly.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_hourly_incremental_with_records_further_cursor.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_hourly_with_record_further_config_start_date.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_monthly.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_monthly_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_monthly_incremental_with_records_further_cursor.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_monthly_with_records_further_start_date.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_weekly.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_weekly_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_weekly_incremental_with_records_further_cursor.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_weekly_with_records_further_start_date.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/non_hourly_reports_state_after_migration.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/non_hourly_reports_state_after_migration_with_cursor_further_config_start_date.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/product_dimension_performance_report_daily_state.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/product_dimension_performance_report_monthly_state.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/product_dimension_performance_report_weekly_state.json
Due: addlicense

add comment about the fix
  airbyte-integrations/connectors/source-github/source_github/streams.py
Due: addlicense

update release information
  docs/integrations/sources/github.md
Due: none

add unit test, more fixes
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/json/JsonSchemaToAirbyteType.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/data/json/JsonSchemaToAirbyteSchemaTypeTest.kt
Due: addlicense, spotless

better behavior+test
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/json/JsonSchemaToAirbyteType.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/data/json/JsonSchemaToAirbyteSchemaTypeTest.kt
Due: addlicense, spotless

chore: update dlq default config (#61739)
  airbyte-cdk/bulk/toolkits/load-dlq/src/integrationTest/kotlin/DlqSpecTest.kt
  airbyte-cdk/bulk/toolkits/load-dlq/src/main/kotlin/io/airbyte/cdk/load/command/dlq/ObjectStorageSpec.kt
  airbyte-cdk/bulk/toolkits/load-dlq/src/test-integration/resources/expected-spec-cloud.json
  airbyte-cdk/bulk/toolkits/load-dlq/src/test-integration/resources/expected-spec-oss.json
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStoragePathFactory.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStoragePathFactoryTest.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStoragePathFactoryUTest.kt
Due: addlicense, spotless

bigquery logistics
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  docs/integrations/destinations/bigquery.md
Due: none

Change invalid config status to failed
  airbyte-integrations/connectors/source-google-ads/acceptance-test-config.yml
Due: none

Add exclude today's data option for cursor based mssql incremental syncs (#61685)
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/jdbc/AbstractJdbcSource.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/relationaldb/AbstractDbSource.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/relationaldb/CursorInfo.kt
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcHelper.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlQueryUtils.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mssql/src/test-integration/resources/expected_spec.json
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlSourceTest.java
  docs/integrations/sources/mssql.md
Due: addlicense, spotless

version bump
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-integrations/connectors/source-mssql/build.gradle
Due: spotless

Fix(Source-Airtable): 137 OOMs on DISCOVER (#61643)
  airbyte-integrations/connectors/source-airtable/metadata.yaml
  docs/integrations/sources/airtable.md
Due: none

Update bing-ads.md
  docs/integrations/sources/bing-ads.md
Due: none

version bump
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  docs/integrations/sources/mssql.md
Due: none

version bump
  airbyte-cdk/java/airbyte-cdk/README.md
  docs/integrations/sources/mssql.md
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

