Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

fix(source-facebook-marketing): improve access token error message
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/common.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_errors.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_source.py
  docs/integrations/sources/facebook-marketing.md
Due: addlicense

docs: update references from airbyte-ops-mcp to airbyte-ops
  .github/workflows/block-release-check.yml
  .github/workflows/block-release.yml
  .github/workflows/connector-ci-checks.yml
  .github/workflows/publish_connectors.yml
  airbyte-integrations/connectors/source-mssql/.agents/skills/source-mssql-e2e-tests/SKILL.md
  airbyte-integrations/connectors/source-mssql/.agents/skills/source-mssql-e2e-tests/scripts/render-config.sh
  airbyte-integrations/connectors/source-mssql/CONTRIBUTING.md
  docs/platform/connector-development/local-connector-development.md
Due: none

docs(source-facebook-marketing): add PR link to changelog
  docs/integrations/sources/facebook-marketing.md
Due: none

ci(docs): use Node 20 for docs build
  .github/workflows/docs-build.yml
Due: none

fix(source-intercom): preserve search range checkpointing
  airbyte-integrations/connectors/source-intercom/manifest.yaml
  airbyte-integrations/connectors/source-intercom/unit_tests/integration/test_contacts.py
Due: addlicense

docs(ai-agents): fix broken SPA links on the interfaces page (#77724)
  docs/ai-agents/interfaces/readme.md
Due: none

test(source-intercom): stabilize checkpoint slice coverage
  airbyte-integrations/connectors/source-intercom/unit_tests/integration/test_contacts.py
Due: addlicense

chore: bump dev-null to latest. (#78228)
  airbyte-integrations/connectors/destination-dev-null/gradle.properties
  airbyte-integrations/connectors/destination-dev-null/metadata.yaml
  docs/integrations/destinations/dev-null.md
Due: none

docs(destination-dev-null): improve setup and configuration reference
  docs/integrations/destinations/dev-null.md
Due: none

docs(destination-dev-null): fix markdown table lint
  docs/integrations/destinations/dev-null.md
Due: none

refactor(source-jira): resolve cloud_id from domain via /_edge/tenant_info
  airbyte-integrations/connectors/source-jira/components.py
  airbyte-integrations/connectors/source-jira/manifest.yaml
  airbyte-integrations/connectors/source-jira/unit_tests/test_config_migrations.py
  airbyte-integrations/connectors/source-jira/unit_tests/test_url_routing.py
Due: addlicense

docs: Remove out-of-scope docs CI change
  .github/workflows/docs-build.yml
Due: none

docs(platform): Add self-serve Plus upgrade guidance
  docs/platform/cloud/managing-airbyte-cloud/manage-credits.md
Due: none

docs(mcp): Clarify MCP positioning
  docs/community/mcp-servers/airbyte-knowledge-mcp.md
  docs/community/mcp-servers/pyairbyte-mcp.md
  docusaurus/sidebar-community.js
Due: none

Apply suggestion from @ian-at-airbyte
  docs/community/mcp-servers/airbyte-knowledge-mcp.md
Due: none

Apply suggestion from @ian-at-airbyte
  docs/community/mcp-servers/pyairbyte-mcp.md
Due: none

feat(destination-databricks-v2): scaffold new connector with configuration classes
  airbyte-integrations/connectors/destination-databricks-v2/build.gradle
  airbyte-integrations/connectors/destination-databricks-v2/gradle.properties
  airbyte-integrations/connectors/destination-databricks-v2/icon.svg
  airbyte-integrations/connectors/destination-databricks-v2/metadata.yaml
  airbyte-integrations/connectors/destination-databricks-v2/poe_tasks.toml
  airbyte-integrations/connectors/destination-databricks-v2/src/main/kotlin/io/airbyte/integrations/destination/databricksv2/spec/DatabricksV2Configuration.kt
  airbyte-integrations/connectors/destination-databricks-v2/src/main/kotlin/io/airbyte/integrations/destination/databricksv2/spec/DatabricksV2Specification.kt
  airbyte-integrations/connectors/destination-databricks-v2/src/main/resources/.gitkeep
  airbyte-integrations/connectors/destination-databricks-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/databricksv2/.gitkeep
  airbyte-integrations/connectors/destination-databricks-v2/src/test-integration/resources/.gitkeep
  airbyte-integrations/connectors/destination-databricks-v2/src/test/kotlin/io/airbyte/integrations/destination/databricksv2/.gitkeep
Due: addlicense, spotless

update CODEOWNERS
  .github/CODEOWNERS
Due: none

docs: align on-demand capacity confirmation copy
  docs/platform/cloud/managing-airbyte-cloud/manage-data-workers.md
Due: none

docs(source-rss): clarify declarative wrapper comment
  airbyte-integrations/connectors/source-rss/source_rss/source.py
Due: addlicense

ci: pin docs build Node version
  .github/workflows/docs-build.yml
Due: none

fix(source-mixpanel): remove revenue stream
  airbyte-integrations/connectors/source-mixpanel/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog_incremental.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/pyproject.toml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/components.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/manifest.yaml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/schemas/revenue.json
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_source.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
  docs/integrations/sources/mixpanel-migrations.md
  docs/integrations/sources/mixpanel.md
Due: addlicense

docs(connectors): Rename concurrent worker references (#78246)
  docs/integrations/enterprise-connectors/source-workday-rest.md
  docs/integrations/enterprise-connectors/source-workday.md
  docs/integrations/sources/gitlab.md
  docs/integrations/sources/mailchimp.md
  docs/integrations/sources/mixpanel.md
Due: none

docs(platform): document capacity warning before manual sync (#78238)
  docs/platform/cloud/managing-airbyte-cloud/manage-data-workers.md
Due: none

Revert "ci: pin docs build Node version"
  .github/workflows/docs-build.yml
Due: none

docs(mcp): Address MCP docs review feedback
  docs/community/mcp-servers/airbyte-knowledge-mcp.md
  docs/community/mcp-servers/readme.md
  docusaurus/sidebar-community.js
Due: none

chore(source-notion): increase concurrency tuning to six
  airbyte-integrations/connectors/source-notion/manifest.yaml
  airbyte-integrations/connectors/source-notion/metadata.yaml
  docs/integrations/sources/notion.md
Due: none

docs(source-notion): link c6 tuning PR
  docs/integrations/sources/notion.md
Due: none

fix(source-google-analytics-data-api): Restore stable default concurrency
  airbyte-integrations/connectors/source-google-analytics-data-api/manifest.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  docs/integrations/sources/google-analytics-data-api.md
Due: none

ci(docs): Pin docs build to Node 20 (#78272)
  .github/workflows/docs-build.yml
Due: none

docs(release-notes): Agents release notes for May 5, 2026
  docs/release_notes/agents/readme.md
Due: none

Rearrange fields
  airbyte-integrations/connectors/destination-databricks-v2/src/main/kotlin/io/airbyte/integrations/destination/databricksv2/spec/DatabricksV2Specification.kt
  airbyte-integrations/connectors/destination-databricks-v2/src/main/resources/.gitkeep
  airbyte-integrations/connectors/destination-databricks/README.md
Due: addlicense, spotless

docs(release-notes): clarify Agents search release note
  docs/release_notes/agents/readme.md
Due: none

fix: append incremental sections to existing CONTRIBUTING.md content instead of replacing
  airbyte-integrations/connectors/source-amazon-ads/CONTRIBUTING.md
  airbyte-integrations/connectors/source-amazon-seller-partner/CONTRIBUTING.md
  airbyte-integrations/connectors/source-amplitude/CONTRIBUTING.md
  airbyte-integrations/connectors/source-chargebee/CONTRIBUTING.md
  airbyte-integrations/connectors/source-gitlab/CONTRIBUTING.md
  airbyte-integrations/connectors/source-google-analytics-data-api/CONTRIBUTING.md
  airbyte-integrations/connectors/source-google-search-console/CONTRIBUTING.md
  airbyte-integrations/connectors/source-harvest/CONTRIBUTING.md
  airbyte-integrations/connectors/source-hubspot/CONTRIBUTING.md
  airbyte-integrations/connectors/source-intercom/CONTRIBUTING.md
  airbyte-integrations/connectors/source-jira/CONTRIBUTING.md
  airbyte-integrations/connectors/source-klaviyo/CONTRIBUTING.md
  airbyte-integrations/connectors/source-linkedin-ads/CONTRIBUTING.md
  airbyte-integrations/connectors/source-mailchimp/CONTRIBUTING.md
  airbyte-integrations/connectors/source-monday/CONTRIBUTING.md
  airbyte-integrations/connectors/source-notion/CONTRIBUTING.md
  airbyte-integrations/connectors/source-pinterest/CONTRIBUTING.md
  airbyte-integrations/connectors/source-sendgrid/CONTRIBUTING.md
  airbyte-integrations/connectors/source-slack/CONTRIBUTING.md
  airbyte-integrations/connectors/source-stripe/CONTRIBUTING.md
  airbyte-integrations/connectors/source-tiktok-marketing/CONTRIBUTING.md
  airbyte-integrations/connectors/source-typeform/CONTRIBUTING.md
  airbyte-integrations/connectors/source-zendesk-support/CONTRIBUTING.md
  airbyte-integrations/connectors/source-zendesk-talk/CONTRIBUTING.md
Due: none

fix: correct cursor fields and factual errors in CONTRIBUTING.md tables
  airbyte-integrations/connectors/source-amazon-ads/CONTRIBUTING.md
  airbyte-integrations/connectors/source-linear/CONTRIBUTING.md
  airbyte-integrations/connectors/source-pylon/CONTRIBUTING.md
  airbyte-integrations/connectors/source-zendesk-talk/CONTRIBUTING.md
Due: none
