Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

logistics
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/snowflake.md
Due: none

upgrade to cdk v7
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  docs/integrations/sources/linkedin-ads.md
Due: none

Remove requireVersionIncrementsInPullRequests: false
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
Due: none

chore(destination-bigquery): Bump version to 3.0.9 and add changelog entry
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  docs/integrations/destinations/bigquery.md
Due: none

feat: support speed mode in snowflake destination (#66677)
  airbyte-integrations/connectors/destination-snowflake/build.gradle.kts
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeAcceptanceTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeNameMapper.kt
Due: addlicense, spotless

remove previous generation commands
  .github/workflows/bump-bulk-cdk-and-release-connectors-command.yml
  .github/workflows/bump-cdk-version-and-merge-command.yml
  .github/workflows/slash-commands.yml
Due: none

more stuff
  .github/pr-welcome-internal.md
Due: none

Destination Snowflake: increase max open aggregates (#67556)
  airbyte-integrations/connectors/destination-snowflake/build.gradle.kts
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeAcceptanceTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeNameMapper.kt
  docs/integrations/destinations/snowflake.md
Due: addlicense, spotless

Variableize "OSS"
  docs/platform/api-documentation.md
  docs/platform/community/getting-support.md
  docs/platform/connector-development/README.md
  docs/platform/operator-guides/telemetry.md
  docs/platform/operator-guides/upgrading-airbyte.md
  docs/platform/operator-guides/using-the-airflow-airbyte-operator.md
Due: none

unpin s3
  airbyte-integrations/connectors/source-s3/metadata.yaml
Due: none

Enable heart beat timeout for CDC sync
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/CdcPartitionReader.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/DebeziumPropertiesBuilder.kt
  airbyte-cdk/bulk/version.properties
Due: addlicense, spotless

Enable heart beat timeout for CDC sync (#67075)
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/CdcPartitionReader.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/DebeziumPropertiesBuilder.kt
  airbyte-cdk/bulk/version.properties
Due: addlicense, spotless

add external id
  airbyte-integrations/connectors/source-s3/integration_tests/cloud_spec.json
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/pyproject.toml
  airbyte-integrations/connectors/source-s3/source_s3/source.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/config.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/stream_reader.py
  docs/integrations/sources/s3.md
Due: addlicense

update PR link
  docs/integrations/sources/s3.md
Due: none

docs: Address P0 critical documentation gaps for AI Agents
  docs/ai-agents/embedded/api/authentication.md
  docs/ai-agents/embedded/prerequisites.md
  docs/ai-agents/proxy-requests/README.md
  docs/ai-agents/proxy-requests/api-sources.md
  docs/ai-agents/proxy-requests/file-storage-sources.md
  docs/ai-agents/quickstart.md
Due: none

Create new constants for byte array versions.
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
Due: addlicense, spotless

ignore backslashes
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
Due: addlicense, spotless

comment
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
Due: addlicense, spotless

first attempt
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/client/PostgresAirbyteClient.kt
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresDirectLoadSqlGenerator.kt
Due: addlicense, spotless

fix unit test
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
Due: addlicense, spotless

delete unnecessary comment
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresDirectLoadSqlGenerator.kt
Due: addlicense, spotless

delete more comments
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresDirectLoadSqlGenerator.kt
Due: addlicense, spotless

Destination Snowflake: ignore backslashes (#67569)
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
  docs/integrations/destinations/snowflake.md
Due: addlicense, spotless

update PR welcome message (#67565)
  .github/pr-welcome-internal.md
  .github/workflows/bump-bulk-cdk-and-release-connectors-command.yml
  .github/workflows/bump-cdk-version-and-merge-command.yml
  .github/workflows/slash-commands.yml
Due: none

Support nano sec to preserve precision in TimeAccessor
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/jdbc/JdbcAccessor.kt
  airbyte-cdk/bulk/version.properties
Due: addlicense, spotless

Precommit & Update components
  airbyte-integrations/connectors/source-google-sheets/components.py
  airbyte-integrations/connectors/source-google-sheets/manifest.yaml
  airbyte-integrations/connectors/source-google-sheets/unit_tests/integration/test_source.py
  docs/integrations/sources/google-sheets.md
Due: addlicense

chore(docs): Remove redundant static llms.txt file
  docusaurus/static/llms.txt
Due: none

Variableize Teams/Pro and Standard
  docs/integrations/README.md
  docs/integrations/connector-support-levels.md
  docs/integrations/enterprise-connectors/source-workday.md
  docs/platform/access-management/sso-providers/azure-entra-id.md
  docs/platform/access-management/sso-providers/okta.md
  docs/platform/cloud/managing-airbyte-cloud/understand-airbyte-cloud-limits.md
  docs/platform/contributing-to-airbyte/writing-docs.md
  docs/platform/enterprise-flex/readme.md
  docs/platform/readme.md
  docs/platform/using-airbyte/workspaces.md
Due: none

types with object
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/data/AirbyteSchemaType.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/DataGenSource.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/DataGenSourceConfiguration.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/DataGenSourceConfigurationSpecification.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/ProtobufFieldTypes.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/flavor/all_types/TypesDataGenerator.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/flavor/all_types/TypesFlavor.kt
Due: addlicense, spotless

De-variableized a variable that accidentally made it into a connector doc.
  docs/integrations/enterprise-connectors/source-workday.md
Due: none

cleaned up
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/data/AirbyteSchemaType.kt
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/data/JsonCodec.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/DataGenSource.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/ProtobufFieldTypes.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/flavor/all_types/TypesDataGenerator.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/flavor/all_types/TypesFlavor.kt
Due: addlicense, spotless

docs(embedded): Add comprehensive authentication and workspace management documentation
  docs/ai-agents/embedded/api/README.md
  docs/ai-agents/embedded/api/authentication.md
  docs/ai-agents/embedded/api/workspaces.md
Due: none

revert back to original cdk
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/data/AirbyteSchemaType.kt
Due: addlicense, spotless

Fix a few instances of old plan names in connector docs
  docs/integrations/destinations/dev-null.md
  docs/integrations/sources/workday.md
Due: none

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/DataGenSource.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/DataGenSourceConfiguration.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/ProtobufFieldTypes.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/flavor/all_types/TypesDataGenerator.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/flavor/all_types/TypesFlavor.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/flavor/increment/IncrementDataGenerator.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/partitions/DataGenSourcePartitionFactory.kt
Due: addlicense, spotless

update w/ links to docs
  airbyte-integrations/connectors/source-google-analytics-data-api/components.py
Due: addlicense

Remove an unused style.
  docs/vale-styles/airbyte-plan-names-connectors/plan-names-connectors.yml
Due: none
