Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

docs(ai-agents): use scoped token for API execute operations
  docs/ai-agents/platform/execute-actions.md
Due: none

docs(destination-clickhouse): Add missing Date and Time type mappings
  docs/integrations/destinations/clickhouse.md
Due: none

Reorganization
  docs/ai-agents/platform/authenticate/build-your-own.md
  docs/ai-agents/platform/authenticate/hosted.md
  docs/ai-agents/platform/execute.md
Due: none

Add a placeholder while we figure out a better description
  docs/ai-agents/README.md
Due: none

Source-MySQL (CDK): Default to 300s heartbeat timeout when not configured
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/CdcPartitionReader.kt
  airbyte-integrations/connectors/source-mysql/gradle.properties
Due: addlicense, spotless

docs(ai-agents): add customers conceptual topic for Agent Engine
  docs/ai-agents/platform/customers.md
Due: none

Fix int test.
  airbyte-integrations/connectors/destination-postgres/src/test-integration/kotlin/io/airbyte/integrations/destination/postgres/write/PostgresDataDumper.kt
Due: addlicense, spotless

added 300s fallback also for timeoutDuration (no events from Debezium)
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/CdcPartitionReader.kt
Due: addlicense, spotless

Fix BQ partitioning test defaults
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/typing_deduping/direct_load_tables/BigqueryDirectLoadNativeTableOperationsTest.kt
Due: addlicense, spotless

fix: work around localized SQL Server Agent service name
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlSourceMetadataQuerier.kt
Due: addlicense, spotless

test(source-google-ads): Add test to validate ChunkedEncodingError triggers platform retry
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_components.py
Due: addlicense

fix(source-facebook-marketing)!: bump to v5.0.0 with level-based primary keys
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_insight_streams.py
  docs/integrations/sources/facebook-marketing-migrations.md
Due: addlicense

docs: clarify affected users in breaking change message and migration guide
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  docs/integrations/sources/facebook-marketing-migrations.md
Due: none

Submission for source-firecrawl from Connector Builder
  airbyte-integrations/connectors/source-firecrawl/README.md
  airbyte-integrations/connectors/source-firecrawl/acceptance-test-config.yml
  airbyte-integrations/connectors/source-firecrawl/icon.svg
  airbyte-integrations/connectors/source-firecrawl/manifest.yaml
  airbyte-integrations/connectors/source-firecrawl/metadata.yaml
  docs/integrations/sources/firecrawl.md
Due: none

feat(source-facebook-pages): add error_handler to fail on 500 errors with response message
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/manifest.yaml
Due: none

chore: bump-version
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  docs/integrations/sources/amazon-seller-partner.md
Due: none

test(source-facebook-pages): update tests for 500 error handling behavior
  airbyte-integrations/connectors/source-facebook-pages/unit_tests/test_streams.py
Due: addlicense

update doc
  docs/integrations/sources/gitlab.md
Due: none

[source-clickhouse] Add JSON Schema format hints for temporal types
  airbyte-integrations/connectors/source-clickhouse/src/main/java/io/airbyte/integrations/source/clickhouse/ClickHouseSourceOperations.java
  airbyte-integrations/connectors/source-clickhouse/src/main/resources/spec.json
  airbyte-integrations/connectors/source-clickhouse/src/test/java/io/airbyte/integrations/source/clickhouse/ClickHouseSourceOperationsTest.java
Due: addlicense, spotless

feat(source-google-ads): Implement connector-level retry for ChunkedEncodingError
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_components.py
Due: addlicense

fix(source-notion): use start_time from cursor_slice for incremental filtering
  airbyte-integrations/connectors/source-notion/components.py
Due: addlicense

style(source-google-ads): Fix ruff formatting in test file
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_components.py
Due: addlicense

fix: remove trailing whitespace to pass ruff-format check
  airbyte-integrations/connectors/source-notion/components.py
Due: addlicense

bump version to 0.3.0-rc.2
  airbyte-integrations/connectors/source-clickhouse/metadata.yaml
Due: none

feat(source-google-ads): Add configurable step_days parameter for incremental streams
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
Due: none

(source-clickhouse): add changelog entry
  docs/integrations/sources/clickhouse.md
Due: none

(source-clickhouse) fix changelog entry
  docs/integrations/sources/clickhouse.md
Due: none

fix(source-monday): Update to API version 2026-01 (latest stable)
  airbyte-integrations/connectors/source-monday/components.py
  airbyte-integrations/connectors/source-monday/unit_tests/test_graphql_requester.py
Due: addlicense

docs(source-monday): Fix changelog to reflect API version 2026-01
  docs/integrations/sources/monday.md
Due: none

fix(source-linkedin-ads): Update to latest stable API version 202601
  airbyte-integrations/connectors/source-linkedin-ads/manifest.yaml
  docs/integrations/sources/linkedin-ads.md
Due: none

fix(source-monday): Update error handling for new unified error format (API 2025-01+)
  airbyte-integrations/connectors/source-monday/manifest.yaml
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/test_teams_stream.py
  airbyte-integrations/connectors/source-monday/unit_tests/resource/http/response/200.json
  airbyte-integrations/connectors/source-monday/unit_tests/resource/http/response/200_ComplexityException.json
  airbyte-integrations/connectors/source-monday/unit_tests/resource/http/response/200_complexityBudgetExhausted.json
Due: addlicense

docs: add changelog entry and fix 'non-default' language in migration guide
  docs/integrations/sources/facebook-marketing-migrations.md
  docs/integrations/sources/facebook-marketing.md
Due: none

fix(source-github): Skip empty repositories in Commits stream to prevent 409 errors
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
Due: addlicense

style: Fix ruff-format line length issues
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
Due: addlicense

docs: change 'Reset affected streams' to 'Clear affected streams' in migration guide
  docs/integrations/sources/facebook-marketing-migrations.md
Due: none

chore: update upgradeDeadline to 2 weeks from release
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
Due: none

feat(source-google-ads): Add slice splitting on ChunkedEncodingError to reduce response size
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_components.py
Due: addlicense

style(source-google-ads): Fix ruff formatting in components.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
Due: addlicense

update date
  docs/integrations/sources/bing-ads.md
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

