Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

Versdions
  airbyte-cdk/bulk/toolkits/load-gcs/build.gradle
Due: spotless

Logging upload start
  airbyte-cdk/bulk/toolkits/load-gcs/src/main/kotlin/io/airbyte/cdk/load/file/gcs/GcsClient.kt
Due: addlicense, spotless

Simplify it all. No more >32 parts handling
  airbyte-cdk/bulk/toolkits/load-gcs/src/main/kotlin/io/airbyte/cdk/load/file/gcs/GcsStreamingUpload.kt
Due: addlicense, spotless

12148 metadata accessibility issues (#57021)
  docusaurus/src/components/Chip.module.css
  docusaurus/src/components/HeaderDecoration.jsx
  docusaurus/src/components/HeaderDecoration.module.css
  docusaurus/src/components/ProductInformation.jsx
  docusaurus/src/components/ProductInformation.module.css
  docusaurus/src/components/SpecSchema.jsx
  docusaurus/src/css/custom.css
Due: none

Fix unit tests
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/integration/test_reports_hourly.py
Due: addlicense

use local cdk
  airbyte-integrations/connectors/source-hardcoded-records/poetry.lock
  airbyte-integrations/connectors/source-hardcoded-records/pyproject.toml
Due: none

lol
  airbyte-cdk/bulk/toolkits/load-gcs/src/main/kotlin/io/airbyte/cdk/load/command/gcs/GcsCommonSpecification.kt
Due: addlicense, spotless

botched rebase
  airbyte-cdk/bulk/toolkits/load-gcs/src/main/kotlin/io/airbyte/cdk/load/command/gcs/GcsAuthSpecification.kt
Due: addlicense, spotless

Source Instagram: Remove Deprecated Metrics (#55860)
  airbyte-integrations/connectors/source-instagram/erd/discovered_catalog.json
  airbyte-integrations/connectors/source-instagram/erd/source.dbml
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/poetry.lock
  airbyte-integrations/connectors/source-instagram/pyproject.toml
  airbyte-integrations/connectors/source-instagram/source_instagram/manifest.yaml
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/media_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/story_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/user_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  airbyte-integrations/connectors/source-instagram/unit_tests/conftest.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_media_insights.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_story_insights.py
  airbyte-integrations/connectors/source-instagram/unit_tests/records.py
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_insights_for_carousel_album.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_insights_for_general_media.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_insights_for_reels.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_insights_for_video.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_insights_for_video_feed.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/story_insights_for_story_insights_happy_path.json
  docs/integrations/sources/instagram-migrations.md
  docs/integrations/sources/instagram.md
Due: addlicense

update airbytecdk
  airbyte-integrations/connectors/source-amazon-ads/poetry.lock
Due: none

gitignore node_modules
  .gitignore
Due: none

Add redirects
  docusaurus/redirects.yml
Due: none

source-microsoft-sharepoint: initial changes to be compliant with new protocol
  airbyte-integrations/connectors/source-microsoft-sharepoint/poetry.lock
  airbyte-integrations/connectors/source-microsoft-sharepoint/pyproject.toml
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/stream_reader.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/unit_tests/test_stream_reader.py
Due: addlicense

source-microsoft-sharepoint: update release information
  airbyte-integrations/connectors/source-microsoft-sharepoint/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-sharepoint/pyproject.toml
  docs/integrations/sources/microsoft-sharepoint.md
Due: none

source-microsoft-sharepoint: fix ruff format
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/stream_reader.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/unit_tests/test_stream_reader.py
Due: addlicense

source-google-drive: bump latest cdk with prod protocol and fix release information
  airbyte-integrations/connectors/source-google-drive/metadata.yaml
  airbyte-integrations/connectors/source-google-drive/poetry.lock
  airbyte-integrations/connectors/source-google-drive/pyproject.toml
  airbyte-integrations/connectors/source-google-drive/source_google_drive/stream_reader.py
  docs/integrations/sources/google-drive.md
Due: addlicense

Fixed incorrect type that caused the dropdown to malfunction
  docusaurus/docusaurus.config.js
Due: none

source-s3: bump cdk to use prod protocol and update release information
  airbyte-integrations/connectors/source-s3/poetry.lock
  airbyte-integrations/connectors/source-s3/pyproject.toml
  docs/integrations/sources/s3.md
Due: none

source-microsoft-sharepoint: update release information
  docs/integrations/sources/microsoft-sharepoint.md
Due: none

YOLO lordy please fix enterprise docs for me
  docs
  docs/integrations/enterprise-connectors
Due: none

Test redirect
  docusaurus/vercel.json
Due: none

Add Iceberg/S3 Data Lake redirects (#57505)
  docusaurus/redirects.yml
Due: none

smile
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/output/UnixDomainSocketOutputConsumer.kt
Due: addlicense, spotless

add unit tests
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/manifest.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
  docs/integrations/sources/amazon-seller-partner.md
Due: addlicense

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
Due: addlicense

add client id field to spec; use to get token
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/resources/spec.json
Due: addlicense, spotless

update dependencies
  airbyte-integrations/connectors/source-mixpanel/poetry.lock
  airbyte-integrations/connectors/source-mixpanel/pyproject.toml
Due: none

pass entire connector config to getPassword
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
Due: addlicense, spotless

Submission for source-mendeley from Connector Builder
  airbyte-integrations/connectors/source-mendeley/README.md
  airbyte-integrations/connectors/source-mendeley/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mendeley/icon.svg
  airbyte-integrations/connectors/source-mendeley/manifest.yaml
  airbyte-integrations/connectors/source-mendeley/metadata.yaml
  docs/integrations/sources/mendeley.md
Due: none

update docs, icon
  airbyte-integrations/connectors/source-mendeley/icon.svg
  docs/integrations/sources/mendeley.md
Due: none

source-sftp-bulk: initial changes to be compliant with new protocol
  airbyte-integrations/connectors/source-sftp-bulk/poetry.lock
  airbyte-integrations/connectors/source-sftp-bulk/pyproject.toml
  airbyte-integrations/connectors/source-sftp-bulk/source_sftp_bulk/stream_reader.py
Due: addlicense

source-sftp-bulk: update release information
  airbyte-integrations/connectors/source-sftp-bulk/metadata.yaml
  airbyte-integrations/connectors/source-sftp-bulk/pyproject.toml
  docs/integrations/sources/sftp-bulk.md
Due: none

source-sftp-bulk: ruff format
  airbyte-integrations/connectors/source-sftp-bulk/source_sftp_bulk/stream_reader.py
Due: addlicense

Submission for source-serpstat from Connector Builder
  airbyte-integrations/connectors/source-serpstat/manifest.yaml
  airbyte-integrations/connectors/source-serpstat/metadata.yaml
Due: none

fix(Amazon Seller Partner): Fix daterange in `DatetimeBasedCursor` an… (#55238)
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/pyproject.toml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/manifest.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
  docs/integrations/sources/amazon-seller-partner.md
Due: addlicense

[source-db2] rename docs with -enterprise suffix
  docs/integrations/enterprise-connectors/source-db2-enterprise.md
Due: none

Submission for source-bluetally from Connector Builder
  airbyte-integrations/connectors/source-bluetally/README.md
  airbyte-integrations/connectors/source-bluetally/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bluetally/icon.svg
  airbyte-integrations/connectors/source-bluetally/manifest.yaml
  airbyte-integrations/connectors/source-bluetally/metadata.yaml
  docs/integrations/sources/bluetally.md
Due: none

Update icon.svg
  airbyte-integrations/connectors/source-bluetally/icon.svg
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

