Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

fix(destination-sftp-json): add console entrypoint module
  airbyte-integrations/connectors/destination-sftp-json/destination_sftp_json/run.py
Due: addlicense

fix(source-postgres): support UUID cursor upper-bound queries
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/PostgresSourceSelectQueryGenerator.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceCursorBasedSyncTest.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceSelectQueryGeneratorTest.kt
  docs/integrations/sources/postgres.md
Due: addlicense, spotless

fix(source-postgres): support UUID cursor upper bounds
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/PostgresSourceSelectQueryGenerator.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceCursorBasedSyncTest.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/operations/PostgresSourceSelectQueryGeneratorTest.kt
  docs/integrations/sources/postgres.md
Due: addlicense, spotless

Revert "fix(source-postgres): support UUID cursor upper bounds"
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/PostgresSourceSelectQueryGenerator.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceCursorBasedSyncTest.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/operations/PostgresSourceSelectQueryGeneratorTest.kt
  docs/integrations/sources/postgres.md
Due: addlicense, spotless

fix(source-postgres): support UUID cursor upper bounds
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/PostgresSourceFieldTypeMapper.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/PostgresSourceSelectQueryGenerator.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/types/PostgresUuidFieldType.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceCursorBasedSyncTest.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceFieldTypeMapperTest.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/operations/PostgresSourceSelectQueryGeneratorTest.kt
  docs/integrations/sources/postgres.md
Due: addlicense, spotless

fix(source-postgres): bind uuid cursor values correctly
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/PostgresSourceFieldTypeMapper.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/types/PostgresUuidFieldType.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceFieldTypeMapperTest.kt
Due: addlicense, spotless

style(source-postgres): format UUID cursor test
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceCursorBasedSyncTest.kt
Due: addlicense, spotless

fix(source-granola): update API key instructions
  airbyte-integrations/connectors/source-granola/manifest.yaml
  airbyte-integrations/connectors/source-granola/metadata.yaml
  docs/integrations/sources/granola.md
Due: none

docs(source-granola): update Granola source guide
  docs/integrations/sources/granola.md
Due: none

fix(source-greenhouse): reduce default concurrency to 2
  airbyte-integrations/connectors/source-greenhouse/manifest.yaml
  airbyte-integrations/connectors/source-greenhouse/metadata.yaml
  docs/integrations/sources/greenhouse.md
Due: none

docs(source-greenhouse): update rc4 changelog PR link
  docs/integrations/sources/greenhouse.md
Due: none

chore: finalize promote for source-zendesk-support
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
Due: none

chore: add changelog for source-zendesk-support
  docs/integrations/sources/zendesk-support.md
Due: none

chore(source-amazon-ads): bump to 8.0.3-rc.3 with num_workers default=16 (tuning iter 3)
  airbyte-integrations/connectors/source-amazon-ads/manifest.yaml
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  docs/integrations/sources/amazon-ads.md
Due: none

fix(source-greenhouse): promote tuned concurrency to ga
  airbyte-integrations/connectors/source-greenhouse/manifest.yaml
  airbyte-integrations/connectors/source-greenhouse/metadata.yaml
  docs/integrations/sources/greenhouse.md
Due: none

fix(source-greenhouse): cap configurable concurrency at 8
  airbyte-integrations/connectors/source-greenhouse/manifest.yaml
Due: none

docs(ai-agents/cli): document version_check_enabled and other optional settings
  docs/ai-agents/interfaces/cli/authenticate.md
Due: none

fix(source-greenhouse): add Greenhouse API budget
  airbyte-integrations/connectors/source-greenhouse/manifest.yaml
Due: none

fix(source-greenhouse): disable rc rollout flag for ga
  airbyte-integrations/connectors/source-greenhouse/metadata.yaml
Due: none

docs(google-ads): clarify OAuth overrides
  docs/integrations/sources/google-ads.md
  docs/platform/using-airbyte/oauth.md
Due: none

prevent deadlock when all file sockets errored out
  .github/workflows/pr-ai-unpin-connection.yml
Due: none

feat(source-linear): expose num_workers in spec (default=4, max=10) for 0.2.2-rc.2
  airbyte-integrations/connectors/source-linear/manifest.yaml
  airbyte-integrations/connectors/source-linear/metadata.yaml
  docs/integrations/sources/linear.md
Due: none

fix(source-snapchat-marketing): accept legacy daily stats state
  airbyte-integrations/connectors/source-snapchat-marketing/manifest.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/unit_tests/integration/test_adaccounts_stats.py
  docs/integrations/sources/snapchat-marketing.md
Due: addlicense

docs(source-snapchat-marketing): update changelog PR link
  docs/integrations/sources/snapchat-marketing.md
Due: none

docs: sync agent connector docs from airbyte-agent-sdk repo
  docs/ai-agents/connectors/granola/AUTH.md
  docs/ai-agents/connectors/granola/README.md
Due: none

docs(google-ads): clarify OAuth override ordering
  docs/integrations/sources/google-ads.md
Due: none

fix(source-snapchat-marketing): parse legacy daily stats state
  airbyte-integrations/connectors/source-snapchat-marketing/manifest.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/unit_tests/integration/test_campaigns_stats.py
  docs/integrations/sources/snapchat-marketing.md
Due: addlicense

style(source-snapchat-marketing): apply ruff format
  airbyte-integrations/connectors/source-snapchat-marketing/unit_tests/integration/test_campaigns_stats.py
Due: addlicense

fix(source-posthog): fix events pagination
  airbyte-integrations/connectors/source-posthog/metadata.yaml
  airbyte-integrations/connectors/source-posthog/pyproject.toml
  airbyte-integrations/connectors/source-posthog/source_posthog/components.py
  airbyte-integrations/connectors/source-posthog/source_posthog/manifest.yaml
  airbyte-integrations/connectors/source-posthog/unit_tests/test_components.py
  docs/integrations/sources/posthog.md
Due: addlicense

fix(source-iterable): improve export response closure error
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/pyproject.toml
  airbyte-integrations/connectors/source-iterable/source_iterable/streams.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_export_adjustable_range.py
  docs/integrations/sources/iterable.md
Due: addlicense

fix(source-posthog): update CDK for Python 3.11
  airbyte-integrations/connectors/source-posthog/poetry.lock
  airbyte-integrations/connectors/source-posthog/pyproject.toml
  airbyte-integrations/connectors/source-posthog/source_posthog/components.py
  airbyte-integrations/connectors/source-posthog/unit_tests/unit_test.py
Due: addlicense

test(source-posthog): update acceptance test config format
  airbyte-integrations/connectors/source-posthog/acceptance-test-config.yml
Due: none

fix(source-jira): give num_workers a unique order to avoid clash with cloud_id
  airbyte-integrations/connectors/source-jira/manifest.yaml
Due: none

docs(ai-agents): browser-first login, drop --format and --describe
  docs/ai-agents/interfaces/cli/authenticate.md
  docs/ai-agents/interfaces/cli/command-reference.md
  docs/ai-agents/interfaces/cli/readme.md
  docs/ai-agents/interfaces/cli/troubleshooting.md
  docs/ai-agents/interfaces/cli/using-with-ai-agents.md
Due: none

docs(ai-agents): collapse skills to single 'airbyte-agent', add install.sh
  docs/ai-agents/interfaces/cli/readme.md
  docs/ai-agents/interfaces/cli/using-with-ai-agents.md
Due: none

fix(source-jira): support service account API token routing
  airbyte-integrations/connectors/source-jira/manifest.yaml
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/unit_tests/test_url_routing.py
  docs/integrations/sources/jira.md
Due: addlicense

test(source-jira): add license header
  airbyte-integrations/connectors/source-jira/unit_tests/test_url_routing.py
Due: addlicense

docs(source-jira): link changelog to PR
  docs/integrations/sources/jira.md
Due: none

docs(ai-agents): document organizations use command
  docs/ai-agents/interfaces/cli/authenticate.md
  docs/ai-agents/interfaces/cli/command-reference.md
  docs/ai-agents/interfaces/cli/readme.md
  docs/ai-agents/interfaces/cli/troubleshooting.md
Due: none

fix(source-snapchat-marketing): parse legacy daily stats state
  airbyte-integrations/connectors/source-snapchat-marketing/manifest.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/unit_tests/integration/test_adaccounts_stats.py
  docs/integrations/sources/snapchat-marketing.md
Due: addlicense

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

