Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

CH 2.1.3 (#66699)
  airbyte-integrations/connectors/destination-clickhouse/gradle.properties
  airbyte-integrations/connectors/destination-clickhouse/metadata.yaml
  docs/integrations/destinations/clickhouse.md
Due: none

upgrade jdbc version to 0.9.0 (#66482)
  airbyte-integrations/connectors/source-clickhouse/build.gradle
  airbyte-integrations/connectors/source-clickhouse/metadata.yaml
  docs/integrations/sources/clickhouse.md
Due: spotless

bump docker image tag + change log
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  docs/integrations/sources/intercom.md
Due: none

More perf settings
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeConfiguration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeSpecification.kt
Due: addlicense, spotless

expected spec
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/expected-spec-oss.json
Due: none

also explicit oauth server uri; use constants
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/io/S3DataLakeUtil.kt
Due: addlicense, spotless

Compilation issue
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactoryTest.kt
Due: addlicense, spotless

chore: auto-fix lint and format issues
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/data/AirbyteSchemaType.kt
  airbyte-integrations/connectors/source-datagen/acceptance-test-config.yml
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/flavor/increment/IncrementDataGenerator.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/flavor/increment/IncrementFlavor.kt
Due: addlicense, spotless

[Snowflake] Expose perf on spec (#66703)
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeConfiguration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeSpecification.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/expected-spec-oss.json
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactoryTest.kt
Due: addlicense, spotless

Bump cdk version to 0.1.40
  airbyte-cdk/bulk/version.properties
Due: none

Update changelog for version 0.1.45
  airbyte-cdk/bulk/changelog.md
Due: none

Improve csv file writing performance
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
Due: addlicense, spotless

Delete acceptance-test-config.yml
  airbyte-integrations/connectors/source-datagen/acceptance-test-config.yml
Due: none

Remove extra output stream layers
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
Due: addlicense, spotless

Add release note (#66696)
  docs/release_notes/v-1.8.md
Due: none

cdk version push
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/ProtobufFieldTypes.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/flavor/increment/IncrementDataGenerator.kt
Due: addlicense, spotless

chore(source-hubspot): revert `source-hubspot` code to 6.0.1 (#66700)
  airbyte-integrations/connectors/source-hubspot/components.py
  airbyte-integrations/connectors/source-hubspot/manifest.yaml
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_components.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
  docs/integrations/sources/hubspot.md
Due: addlicense

source-clickhouse: strict-encrypt metadata 0.2.5
  airbyte-integrations/connectors/source-clickhouse-strict-encrypt/metadata.yaml
Due: none

chore(source-google-ads): enable progressive rollout (#66701)
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  docs/integrations/sources/google-ads.md
Due: none

source-clickhouse: strict-encrypt metadata 0.2.5 (#66705)
  airbyte-integrations/connectors/source-clickhouse-strict-encrypt/metadata.yaml
Due: none

Some polish for data activation general availability, linting, and implemented some feedback from one of the account reps.
  docs/integrations/destinations/customer-io.md
  docs/integrations/destinations/hubspot.md
  docs/integrations/destinations/s3.md
  docs/integrations/enterprise-connectors/destination-salesforce.md
  docs/platform/move-data/add-connection.md
  docs/platform/move-data/elt-data-activation.md
  docs/platform/using-airbyte/mappings.md
Due: none

More cleanup
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
Due: addlicense, spotless

add workflow
  .github/workflows/cdk-connector-compatibility-test.yml
Due: none

add workflow dispatch for testing
  .github/workflows/cdk-connector-compatibility-test.yml
Due: none

Fix linting issues
  docs/integrations/destinations/customer-io.md
Due: none

Flush buffer less frequently
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBufferTest.kt
Due: addlicense, spotless

force a run
  .github/workflows/cdk-connector-compatibility-test.yml
Due: none

add echos
  poe-tasks/get-modified-connectors.sh
Due: none

fix: Allow workflow to run for merged PRs from forks
  .github/workflows/autodoc.yml
Due: none

add more checkout fields
  .github/workflows/cdk-connector-compatibility-test.yml
Due: none

drop ref
  .github/workflows/cdk-connector-compatibility-test.yml
Due: none

drop echos
  poe-tasks/get-modified-connectors.sh
Due: none

fix output
  .github/workflows/cdk-connector-compatibility-test.yml
Due: none

Fix(Source-Amazon-Ads): Missing Data - Cursor Field For Reporting Streams
  airbyte-integrations/connectors/source-amazon-ads/manifest.yaml
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/integrations/test_report_streams.py
  docs/integrations/sources/amazon-ads.md
Due: addlicense

set gradle version
  .github/workflows/cdk-connector-compatibility-test.yml
Due: none

Update doc & catalog
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/configured_catalog_report.json
  docs/integrations/sources/amazon-ads.md
Due: none

source-clickhouse: strict-encrypt 0.2.5 changelog
  docs/integrations/sources/clickhouse.md
Due: none

comment cdk upgrade for testing
  .github/workflows/cdk-connector-compatibility-test.yml
Due: none

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/integrations/test_report_streams.py
Due: addlicense

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

