Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

[EVAL] fix(source-faker): validate package registry in check_connection
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/source.py
Due: addlicense

[EVAL] fix(source-faker): deduplicate products stream to prevent redundant entries
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] fix(source-faker): add explicit additionalProperties to products schema
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/schemas/products.json
Due: none

[EVAL] feat(source-faker): add color and weight fields to products stream
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/schemas/products.json
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] fix(source-faker): skip malformed trailing product record
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] fix(source-faker): cap users emission to prevent OOM on constrained environments
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] feat(source-freshservice): add audit_logs stream for compliance reporting
  airbyte-integrations/connectors/source-freshservice/manifest.yaml
  airbyte-integrations/connectors/source-freshservice/metadata.yaml
Due: none

[EVAL] fix(source-faker): recover truncated product record
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/record_data/products.json
Due: none

[EVAL] fix(source-faker): handle OSError in multiprocessing pool initialization
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] feat(source-jira): add issue_feature_flags stream
  airbyte-integrations/connectors/source-jira/manifest.yaml
  airbyte-integrations/connectors/source-jira/metadata.yaml
Due: none

[EVAL] feat(source-pokeapi): add pokemon_moves stream for selective move data syncing
  airbyte-integrations/connectors/source-pokeapi/manifest.yaml
  airbyte-integrations/connectors/source-pokeapi/metadata.yaml
Due: none

[EVAL] fix(source-faker): sort products deterministically and filter test entries
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] fix(source-faker): adjust users stream record byte estimate
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] pin airbyte-integrations/connectors/source-pokeapi to known-bad baseline
  airbyte-integrations/connectors/source-pokeapi/.dependabot/dependabot.yml
  airbyte-integrations/connectors/source-pokeapi/README.md
  airbyte-integrations/connectors/source-pokeapi/manifest.yaml
  airbyte-integrations/connectors/source-pokeapi/metadata.yaml
Due: none

[EVAL] fix(source-pokeapi): fix nidoran names
  airbyte-integrations/connectors/source-pokeapi/manifest.yaml
  airbyte-integrations/connectors/source-pokeapi/metadata.yaml
Due: none

fix(destination-bigquery): use CREATE TABLE IF NOT EXISTS for non-replace table creation (#82102)
  airbyte-integrations/connectors/destination-bigquery/gradle.properties
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadSqlGenerator.kt
  docs/integrations/destinations/bigquery.md
Due: addlicense, spotless

docs(destination-bigquery): fix changelog entry, output schema, and remove obsolete config steps
  docs/integrations/destinations/bigquery.md
Due: none

feat(destination-gcs): migrate to the Bulk Load CDK (#81376)
  airbyte-integrations/connectors/destination-gcs/build.gradle
  airbyte-integrations/connectors/destination-gcs/gradle.properties
  airbyte-integrations/connectors/destination-gcs/metadata.yaml
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/GcsDestination.java
  airbyte-integrations/connectors/destination-gcs/src/main/kotlin/io/airbyte/integrations/destination/gcs_v2/GcsV2Checker.kt
  airbyte-integrations/connectors/destination-gcs/src/main/kotlin/io/airbyte/integrations/destination/gcs_v2/GcsV2ClientFactory.kt
  airbyte-integrations/connectors/destination-gcs/src/main/kotlin/io/airbyte/integrations/destination/gcs_v2/GcsV2Configuration.kt
  airbyte-integrations/connectors/destination-gcs/src/main/kotlin/io/airbyte/integrations/destination/gcs_v2/GcsV2Destination.kt
  airbyte-integrations/connectors/destination-gcs/src/main/kotlin/io/airbyte/integrations/destination/gcs_v2/GcsV2ObjectLoader.kt
  airbyte-integrations/connectors/destination-gcs/src/main/kotlin/io/airbyte/integrations/destination/gcs_v2/GcsV2Specification.kt
  airbyte-integrations/connectors/destination-gcs/src/main/kotlin/io/airbyte/integrations/destination/gcs_v2/GcsV2Writer.kt
  airbyte-integrations/connectors/destination-gcs/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/GcsAvroDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/GcsCsvDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/GcsCsvGzipDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/GcsJsonlDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/GcsJsonlGzipDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/GcsParquetDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/kotlin/io/airbyte/integrations/destination/gcs_v2/GcsV2CheckTest.kt
  airbyte-integrations/connectors/destination-gcs/src/test-integration/kotlin/io/airbyte/integrations/destination/gcs_v2/GcsV2DataDumper.kt
  airbyte-integrations/connectors/destination-gcs/src/test-integration/kotlin/io/airbyte/integrations/destination/gcs_v2/GcsV2PerformanceTest.kt
  airbyte-integrations/connectors/destination-gcs/src/test-integration/kotlin/io/airbyte/integrations/destination/gcs_v2/GcsV2SpecTest.kt
  airbyte-integrations/connectors/destination-gcs/src/test-integration/kotlin/io/airbyte/integrations/destination/gcs_v2/GcsV2TestUtils.kt
  airbyte-integrations/connectors/destination-gcs/src/test-integration/kotlin/io/airbyte/integrations/destination/gcs_v2/GcsV2WriteTest.kt
  airbyte-integrations/connectors/destination-gcs/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-gcs/src/test-integration/resources/expected-spec-oss.json
  docs/integrations/destinations/gcs-migrations.md
  docs/integrations/destinations/gcs.md
Due: addlicense, spotless

docs(destination-gcs): correct CSV/JSONL metadata columns for Bulk CDK 1.0.0
  docs/integrations/destinations/gcs-migrations.md
  docs/integrations/destinations/gcs.md
Due: none

docs(destination-gcs): clarify setup and upgrade impacts
  docs/integrations/destinations/gcs-migrations.md
  docs/integrations/destinations/gcs.md
Due: none

docs(destination-gcs): address upgrade review feedback
  docs/integrations/destinations/gcs-migrations.md
  docs/integrations/destinations/gcs.md
Due: none

chore: finalize rollout for source-salesforce
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
Due: none

chore: add changelog for source-salesforce
  docs/integrations/sources/salesforce.md
Due: none

test(source-airbyte-agents-schema): cover multi-page pagination statelessness
  airbyte-integrations/connectors/source-airbyte-agents-schema/unit_tests/test_components.py
Due: addlicense

feat(source-mixpanel): add optional stream filtering to speed up schema discovery
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/pyproject.toml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/manifest.yaml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/spec.json
  docs/integrations/sources/mixpanel.md
Due: addlicense

fix(source-mixpanel): allow checks with filtered streams
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_source.py
Due: addlicense

test(source-mixpanel): add unit tests for stream filtering
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_source.py
Due: addlicense

feat(source-mixpanel): scope export discovery and sync
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/spec.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
  docs/integrations/sources/mixpanel.md
Due: addlicense

docs(source-mixpanel): clarify export_events does not skip schema discovery
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/spec.json
  docs/integrations/sources/mixpanel.md
Due: none

feat(source-mixpanel): add raw export stream
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/spec.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_source.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
  docs/integrations/sources/mixpanel.md
Due: addlicense

fix(source-stripe): capture invoice status changes on incremental syncs via events cursor lookback
  airbyte-integrations/connectors/source-stripe/manifest.yaml
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_invoices.py
  docs/integrations/sources/stripe.md
Due: addlicense

docs(source-stripe): correct changelog PR link
  docs/integrations/sources/stripe.md
Due: none

docs(source-mixpanel): link changelog to pull request
  docs/integrations/sources/mixpanel.md
Due: none

fix(destination-postgres): avoid full COUNT(*) during direct load startup
  airbyte-cdk/bulk/core/load/changelog.md
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/component/TableOperationsClient.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/table/DatabaseInitialStatusGatherer.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/component/TableOperationsClientTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/table/BaseDirectLoadInitialStatusGathererTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/component/TableOperationsSuite.kt
  airbyte-cdk/bulk/core/load/version.properties
  airbyte-integrations/connectors/destination-postgres/gradle.properties
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/client/PostgresAirbyteClient.kt
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-postgres/src/test/kotlin/io/airbyte/integrations/destination/postgres/client/PostgresAirbyteClientTest.kt
  airbyte-integrations/connectors/destination-postgres/src/test/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresDirectLoadSqlGeneratorTest.kt
  docs/integrations/destinations/postgres.md
Due: addlicense, spotless

split: move destination-postgres changes to a separate PR
  airbyte-cdk/bulk/core/load/changelog.md
  airbyte-integrations/connectors/destination-postgres/gradle.properties
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/client/PostgresAirbyteClient.kt
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-postgres/src/test/kotlin/io/airbyte/integrations/destination/postgres/client/PostgresAirbyteClientTest.kt
  airbyte-integrations/connectors/destination-postgres/src/test/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresDirectLoadSqlGeneratorTest.kt
  docs/integrations/destinations/postgres.md
Due: addlicense, spotless

docs(release-notes): Agents release notes for July 16, 2026
  docs/release_notes/agents/readme.md
Due: none

docs(release-notes): Categorize Context Store fix
  docs/release_notes/agents/readme.md
Due: none

chore(source-webflow): bump base image to python-connector-base 4.1.1-dev
  airbyte-integrations/connectors/source-webflow/metadata.yaml
  airbyte-integrations/connectors/source-webflow/pyproject.toml
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

