Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

docs: Enhance Sonar API documentation with core concepts guides
  docs/ai-agents/embedded/api/README.md
  docs/ai-agents/embedded/api/authentication.md
  docs/ai-agents/embedded/api/schema-discovery.md
  docs/ai-agents/embedded/api/workspace-management.md
Due: none

cleanup
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClientTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBufferTest.kt
Due: addlicense, spotless

fix: allow MDX imports and frontmatter before migration guide title
  airbyte-ci/connectors/connectors_qa/src/connectors_qa/checks/documentation/documentation.py
  airbyte-ci/connectors/connectors_qa/src/connectors_qa/checks/documentation/helpers.py
Due: addlicense

chore: auto-fix lint and format issues
  airbyte-ci/connectors/connectors_qa/src/connectors_qa/checks/documentation/documentation.py
  airbyte-ci/connectors/connectors_qa/src/connectors_qa/checks/documentation/helpers.py
Due: addlicense

fix: update migration guide tests to match new validation logic
  airbyte-ci/connectors/connectors_qa/tests/unit_tests/test_checks/test_documentation.py
Due: addlicense

chore: source-freshdesk to cdk7 (#67109)
  airbyte-integrations/connectors/source-freshdesk/components.py
  airbyte-integrations/connectors/source-freshdesk/manifest.yaml
  airbyte-integrations/connectors/source-freshdesk/metadata.yaml
  airbyte-integrations/connectors/source-freshdesk/unit_tests/integration/config_builder.py
  airbyte-integrations/connectors/source-freshdesk/unit_tests/integration/test_tickets.py
  airbyte-integrations/connectors/source-freshdesk/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-freshdesk/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-freshdesk/unit_tests/resource/http/response/tickets.json
  airbyte-integrations/connectors/source-freshdesk/unit_tests/test_components.py
  docs/integrations/sources/freshdesk.md
Due: addlicense

chore: apply ruff-format to test file
  airbyte-ci/connectors/connectors_qa/tests/unit_tests/test_checks/test_documentation.py
Due: addlicense

Fix kotlin warning
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
Due: addlicense, spotless

docs: clean up IP allow list URLs and security info re: data planes (#67074)
  docs/integrations/sources/mysql.md
  docs/integrations/sources/postgres.md
  docs/integrations/sources/postgres/cloud-sql-postgres.md
  docs/platform/operating-airbyte/security.md
Due: none

test: recreate PR #67077 changes to verify migration guide validation
  airbyte-integrations/connectors/source-zendesk-support/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  docs/integrations/sources/zendesk-support.md
Due: none

tmp
  airbyte-integrations/connectors/destination-postgres/build.gradle
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/PostgresDestination.kt
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/PostgresGenerationHandler.kt
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/PostgresSQLNameTransformer.kt
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/PostgresSqlOperations.kt
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresDataTransformer.kt
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresDestinationHandler.kt
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresGenerationIdMigrator.kt
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresRawTableAirbyteMetaMigration.kt
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresSqlGenerator.kt
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresState.kt
  airbyte-integrations/connectors/destination-postgres/src/test-integration/kotlin/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresRawOverrideDisableTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-postgres/src/test-integration/kotlin/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresRawOverrideTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-postgres/src/test-integration/kotlin/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresSqlGeneratorIntegrationTest.kt
  airbyte-integrations/connectors/destination-postgres/src/test-integration/kotlin/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-postgres/src/testFixtures/java/io/airbyte/integrations/destination/postgres/AbstractPostgresDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/src/testFixtures/java/io/airbyte/integrations/destination/postgres/PostgresContainerFactory.java
  airbyte-integrations/connectors/destination-postgres/src/testFixtures/java/io/airbyte/integrations/destination/postgres/PostgresTestDataComparator.java
  airbyte-integrations/connectors/destination-postgres/src/testFixtures/java/io/airbyte/integrations/destination/postgres/PostgresTestDatabase.java
  airbyte-integrations/connectors/destination-postgres/src/testFixtures/java/io/airbyte/integrations/destination/postgres/typing_deduping/AbstractPostgresTypingDedupingTest.java
  airbyte-integrations/connectors/destination-postgres/src/testFixtures/java/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresSourceOperations.java
Due: addlicense, spotless

Bmoric/postgres acceptance test (#67592)
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
  airbyte-integrations/connectors/destination-postgres/build.gradle
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/cdk/WriteOperationV2.kt
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/config/PostgresDirectLoadDatabaseInitialStatusGatherer.kt
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/db/PostgresNameGenerators.kt
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/spec/PostgresConfiguration.kt
  airbyte-integrations/connectors/destination-postgres/src/test-integration/kotlin/io/airbyte/integrations/destination/postgres/PostgresContainerHelper.kt
  airbyte-integrations/connectors/destination-postgres/src/test-integration/kotlin/io/airbyte/integrations/destination/postgres/write/PostgresAcceptanceTest.kt
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
Due: addlicense, spotless

Fix typos in SAP Hana doc
  docs/integrations/enterprise-connectors/source-sap-hana.md
Due: none

Fixed a few more typos and linted
  docs/integrations/enterprise-connectors/source-sap-hana.md
Due: none

Bump cdk for CH and release.
  airbyte-integrations/connectors/destination-clickhouse/gradle.properties
  airbyte-integrations/connectors/destination-clickhouse/metadata.yaml
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/config/ClickhouseBeanFactory.kt
  docs/integrations/destinations/clickhouse.md
Due: addlicense, spotless

feat(source-sftp-bulk): Add performance improvements and directory exclusion for discovery phase
  airbyte-integrations/connectors/source-sftp-bulk/source_sftp_bulk/spec.py
  airbyte-integrations/connectors/source-sftp-bulk/source_sftp_bulk/stream_reader.py
  airbyte-integrations/connectors/source-sftp-bulk/unit_tests/stream_reader_test.py
Due: addlicense

Bump cdk for SF and release.
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
  docs/integrations/destinations/snowflake.md
Due: addlicense, spotless

PR link.
  docs/integrations/destinations/snowflake.md
Due: none

PR link.
  docs/integrations/destinations/clickhouse.md
Due: none

fix(ci): apply ruff-format to get_connector_matrix.py
  poe-tasks/get_connector_matrix.py
Due: addlicense

add api budget for report streams
  airbyte-integrations/connectors/source-amazon-seller-partner/manifest.yaml
Due: none

update changelog
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  docs/integrations/sources/amazon-seller-partner.md
Due: none

Fix schema issues in campaigns, email send, and subscriptions
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/campaigns.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_send.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_send_skip.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_subscribe.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_unsubscribe.json
Due: none

update docs
  docs/integrations/enterprise-connectors/source-workday-migrations.md
  docs/integrations/enterprise-connectors/source-workday-rest.md
Due: none

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/campaigns.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_send.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_send_skip.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_subscribe.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_unsubscribe.json
Due: none

Update iterable.md
  docs/integrations/sources/iterable.md
Due: none

bump version
  airbyte-integrations/connectors/source-iterable/metadata.yaml
Due: none

bump version
  airbyte-integrations/connectors/source-iterable/pyproject.toml
Due: none

Expose compression level as advanced configuration setting
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeConfiguration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeSpecification.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactoryTest.kt
Due: addlicense, spotless

🐛 Source Iterable: Fix schema issues in campaigns, email send, and subscriptions (#67602)
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/pyproject.toml
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/campaigns.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_send.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_send_skip.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_subscribe.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_unsubscribe.json
  docs/integrations/sources/iterable.md
Due: none

move scripts to different dir
  .github/workflows/auto-upgrade-certified-connectors-cdk.yml
  tools/bin/bulk-cdk/auto-upgrade/bump-connector-metadata.sh
  tools/bin/bulk-cdk/auto-upgrade/populate-connector-changelog.sh
  tools/bin/bulk-cdk/get-certified-connectors.sh
Due: none

use script to run compatibility tests only on certified connectors
  .github/workflows/cdk-connector-compatibility-test.yml
Due: none

dummy commit
  airbyte-cdk/bulk/build.gradle
Due: spotless

docs(source-iterable): Fix grammar and remove duplicate changelog entry
  docs/integrations/sources/iterable.md
Due: none

fix typo
  .github/workflows/cdk-connector-compatibility-test.yml
Due: none

fix
  .github/workflows/cdk-connector-compatibility-test.yml
Due: none

fix syntax
  .github/workflows/cdk-connector-compatibility-test.yml
Due: none

fix(source-zendesk-chat): Handle 404 errors for deleted records
  airbyte-integrations/connectors/source-zendesk-chat/manifest.yaml
Due: none

chore(source-zendesk-chat): Bump version to 1.2.21 and fix migration guide header
  airbyte-integrations/connectors/source-zendesk-chat/metadata.yaml
  docs/integrations/sources/zendesk-chat-migrations.md
  docs/integrations/sources/zendesk-chat.md
Due: none

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/destination-nebulagraph/build.gradle
  airbyte-integrations/connectors/destination-nebulagraph/metadata.yaml
  airbyte-integrations/connectors/destination-nebulagraph/src/main/java/io/airbyte/integrations/destination/nebulagraph/EndpointBuilder.java
  airbyte-integrations/connectors/destination-nebulagraph/src/main/java/io/airbyte/integrations/destination/nebulagraph/NebulaGraphClient.java
  airbyte-integrations/connectors/destination-nebulagraph/src/main/java/io/airbyte/integrations/destination/nebulagraph/NebulaGraphConfig.java
  airbyte-integrations/connectors/destination-nebulagraph/src/main/java/io/airbyte/integrations/destination/nebulagraph/NebulaGraphDestination.java
  airbyte-integrations/connectors/destination-nebulagraph/src/main/java/io/airbyte/integrations/destination/nebulagraph/NebulaGraphRecordConsumer.java
  airbyte-integrations/connectors/destination-nebulagraph/src/main/java/io/airbyte/integrations/destination/nebulagraph/SchemaManager.java
  airbyte-integrations/connectors/destination-nebulagraph/src/main/java/io/airbyte/integrations/destination/nebulagraph/StatementBuilder.java
  airbyte-integrations/connectors/destination-nebulagraph/src/main/java/io/airbyte/integrations/destination/nebulagraph/TypedExtractor.java
  airbyte-integrations/connectors/destination-nebulagraph/src/main/java/io/airbyte/integrations/destination/nebulagraph/VidGenerator.java
  airbyte-integrations/connectors/destination-nebulagraph/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-nebulagraph/src/test-integration/java/io/airbyte/integrations/destination/nebulagraph/NebulaGraphDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-nebulagraph/src/test-integration/resources/nebulagraph/docker-compose.yaml
  airbyte-integrations/connectors/destination-nebulagraph/src/test/java/io/airbyte/integrations/destination/nebulagraph/EndpointBuilderTest.java
  airbyte-integrations/connectors/destination-nebulagraph/src/test/java/io/airbyte/integrations/destination/nebulagraph/NebulaGraphConfigTest.java
  airbyte-integrations/connectors/destination-nebulagraph/src/test/java/io/airbyte/integrations/destination/nebulagraph/NebulaGraphRecordConsumerTest.java
  airbyte-integrations/connectors/destination-nebulagraph/src/test/java/io/airbyte/integrations/destination/nebulagraph/SchemaManagerTest.java
  airbyte-integrations/connectors/destination-nebulagraph/src/test/java/io/airbyte/integrations/destination/nebulagraph/StatementBuilderTest.java
  airbyte-integrations/connectors/destination-nebulagraph/src/test/java/io/airbyte/integrations/destination/nebulagraph/TypedExtractorTest.java
  airbyte-integrations/connectors/destination-nebulagraph/src/test/java/io/airbyte/integrations/destination/nebulagraph/VidGeneratorTest.java
Due: addlicense, spotless
