Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

CDC RFR
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/output/NativeRecord.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/FeedBootstrap.kt
Due: addlicense, spotless

CDC RFR
  airbyte-cdk/bulk/core/extract/src/testFixtures/kotlin/io/airbyte/cdk/discover/TestMetaFieldDecorator.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/testFixtures/kotlin/io/airbyte/cdk/h2source/H2SourceOperations.kt
  airbyte-integrations/connectors/source-mysql/src/test/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceJdbcPartitionFactoryTest.kt
Due: addlicense, spotless

CDC RFR
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/output/NativeRecord.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/FeedBootstrap.kt
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceOperations.kt
Due: addlicense, spotless

CDC RFR
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/output/NativeRecord.kt
Due: addlicense, spotless

CDC RFR
  airbyte-cdk/bulk/core/extract/src/test/kotlin/io/airbyte/cdk/read/RootReaderIntegrationTest.kt
Due: addlicense, spotless

CDC RFR
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/test/kotlin/io/airbyte/cdk/read/TestFixtures.kt
Due: addlicense, spotless

fix
  airbyte-integrations/connectors/source-youtube-analytics/components.py
  airbyte-integrations/connectors/source-youtube-analytics/manifest.yaml
Due: addlicense

updated aws saml provider
  airbyte-integrations/connectors/source-aws-iam/README.md
  airbyte-integrations/connectors/source-aws-iam/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-aws-iam/source_aws_iam/streams.py
  vault-installation.sh
Due: addlicense

update docs
  docs/embedded/embedded/README.md
  docs/embedded/embedded/api/README.md
  docs/embedded/embedded/api/configuring-sources.md
  docs/embedded/embedded/api/connection-templates.md
  docs/embedded/embedded/api/source-templates.md
  docs/embedded/embedded/widget/README.md
Due: none

CDC RFR
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/StateManagerFactory.kt
Due: addlicense, spotless

CDC RFR
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/StateManagerFactory.kt
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceJdbcPartitionFactory.kt
Due: addlicense, spotless

CDC RFR
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceJdbcPartitionFactory.kt
Due: addlicense, spotless

CDC RFR
  airbyte-cdk/bulk/core/extract/src/test/kotlin/io/airbyte/cdk/read/StateManagerStreamStatesTest.kt
Due: addlicense, spotless

CDC RFR
  airbyte-cdk/bulk/core/extract/src/test/kotlin/io/airbyte/cdk/read/StateManagerGlobalStatesTest.kt
Due: addlicense, spotless

update
  docs/developer-tools/README.md
Due: none

update sidebar
  docusaurus/sidebar-developer-tools.js
Due: none

update
  docs/developer-tools/authentication-proxy/README.md
  docs/developer-tools/develop-your-app.md
  docs/developer-tools/managing-embedded.md
  docs/developer-tools/prerequisites-setup.md
  docs/developer-tools/use-embedded.md
  docusaurus/sidebar-developer-tools.js
Due: none

update
  docs/developer-tools/embedded/api/connection-templates.md
  docs/developer-tools/embedded/api/source-templates.md
Due: none

test
  docs/embedded/README.md
Due: none

reset
  docusaurus/pnpm-lock.yaml
Due: none

css solution
  docusaurus/src/css/custom.css
Due: none

more tests
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/config/SyncBeanFactory.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/state/CheckpointManager.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/state/CheckpointManagerUTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
Due: addlicense, spotless

remove test logs
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/state/CheckpointManager.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/state/StreamManager.kt
Due: addlicense, spotless

more thorough test
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
Due: addlicense, spotless

format
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/state/StreamManagerTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/IntegrationTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
Due: addlicense, spotless

increment cdk version
  airbyte-cdk/bulk/build.gradle
Due: spotless

fix test
  airbyte-cdk/bulk/core/load/src/integrationTest/kotlin/io/airbyte/cdk/load/mock_integration_test/MockBasicFunctionalityIntegrationTest.kt
Due: addlicense, spotless

Update manifest.yaml
  airbyte-integrations/connectors/source-cal-com/manifest.yaml
Due: none

Update metadata.yaml
  airbyte-integrations/connectors/source-cal-com/metadata.yaml
Due: none

Update cal-com.md
  docs/integrations/sources/cal-com.md
Due: none

fix: implement proper handling of state messages in speed mode (#63758)
  airbyte-cdk/bulk/build.gradle
  airbyte-cdk/bulk/core/load/src/integrationTest/kotlin/io/airbyte/cdk/load/mock_integration_test/MockBasicFunctionalityIntegrationTest.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/config/SyncBeanFactory.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessageFactory.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessageQueues.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/InputMessage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/state/CheckpointManager.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/state/PipelineEventBookkeepingRouter.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/state/StreamManager.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/state/SyncManager.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/internal/UpdateCheckpointsTask.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/message/PipelineEventBookkeepingRouterTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/state/CheckpointManagerUTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/state/StreamManagerTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
  airbyte-integrations/connectors/destination-s3/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2WriteTest.kt
Due: addlicense, spotless

chore: s3 1.9.1-rc.1 rc rollout
  airbyte-integrations/connectors/destination-s3/metadata.yaml
Due: none

feat: add docs for embedded apis (#64094)
  docs/developer-tools/README.md
  docs/developer-tools/assets/data-hub-overview.png
  docs/developer-tools/assets/embedded-blueprint-overview.png
  docs/developer-tools/assets/embedded-overview.png
  docs/developer-tools/assets/embedded-webapp-connect.png
  docs/developer-tools/assets/embedded-webapp-home.png
  docs/developer-tools/assets/embedded-webapp-widget.png
  docs/developer-tools/assets/embedded-widget.png
  docs/developer-tools/assets/embedded-workspaces.png
  docs/developer-tools/assets/s3-bucket-config.png
  docs/developer-tools/assets/vercel-env.png
  docs/developer-tools/embedded/README.md
  docs/developer-tools/embedded/api/README.md
  docs/developer-tools/embedded/api/configuring-sources.md
  docs/developer-tools/embedded/api/connection-templates.md
  docs/developer-tools/embedded/api/source-templates.md
  docs/developer-tools/embedded/widget/README.md
  docs/developer-tools/embedded/widget/assets/data-hub-overview.png
  docs/developer-tools/embedded/widget/assets/embedded-blueprint-overview.png
  docs/developer-tools/embedded/widget/assets/embedded-overview.png
  docs/developer-tools/embedded/widget/assets/embedded-webapp-connect.png
  docs/developer-tools/embedded/widget/assets/embedded-webapp-home.png
  docs/developer-tools/embedded/widget/assets/embedded-webapp-widget.png
  docs/developer-tools/embedded/widget/assets/embedded-widget.png
  docs/developer-tools/embedded/widget/assets/embedded-workspaces.png
  docs/developer-tools/embedded/widget/assets/s3-bucket-config.png
  docs/developer-tools/embedded/widget/assets/vercel-env.png
  docs/developer-tools/embedded/widget/develop-your-app.md
  docs/developer-tools/embedded/widget/managing-embedded.md
  docs/developer-tools/embedded/widget/prerequisites-setup.md
  docs/developer-tools/embedded/widget/use-embedded.md
  docs/developer-tools/pyairbyte-mcp/README.md
  docs/embedded/README.md
  docusaurus/docusaurus.config.js
  docusaurus/sidebar-developer-tools.js
  docusaurus/sidebar-embedded.js
Due: none

changelog
  docs/integrations/destinations/s3.md
Due: none

Update the support level (same as BQ)
  airbyte-integrations/connectors/destination-clickhouse/metadata.yaml
Due: none

CH as an airbyte connector (#63738)
  airbyte-integrations/connectors/destination-clickhouse/metadata.yaml
  docs/integrations/destinations/clickhouse.md
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

