Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

style: ruff format with v0.8.3 to match CI
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_components.py
Due: addlicense

fix(source-mssql): handle empty tables in Full Refresh sampling (null upper bound)
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerJdbcPartitionFactory.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerJdbcPartitionFactoryTest.kt
  docs/integrations/sources/mssql.md
Due: addlicense, spotless

fix(source-salesforce): replace sliding-window default start_date with fixed date
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/spec.yaml
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  docs/integrations/sources/salesforce.md
Due: addlicense

chore: update changelog with actual PR number
  docs/integrations/sources/salesforce.md
Due: none

style: fix ruff formatting - remove extra blank line
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
Due: addlicense

update changelog and findPkUpperBound function
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerJdbcPartitionFactory.kt
  docs/integrations/sources/mssql.md
Due: addlicense, spotless

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerJdbcPartitionFactory.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerJdbcPartitionFactoryTest.kt
Due: addlicense, spotless

update base img
  airbyte-integrations/connectors/source-mssql/metadata.yaml
Due: none

Fix version
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
  docs/integrations/sources/snapchat-marketing.md
Due: none

Update airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/metadata.yaml
Due: none

chore: bump-version patch
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  docs/integrations/sources/pinterest.md
Due: none

Update fix
  airbyte-integrations/connectors/source-airtable/metadata.yaml
Due: none

Update airbyte-integrations/connectors/source-airtable/manifest.yaml
  airbyte-integrations/connectors/source-airtable/manifest.yaml
Due: none

chore(source-mysql): bump Java connector base image to 2.0.4
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  docs/integrations/sources/mysql.md
Due: none

downgrade the docker img bump
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  docs/integrations/sources/mysql.md
Due: none

Update docs/integrations/sources/airtable.md
  docs/integrations/sources/airtable.md
Due: none

fix: add warning log when skipping non-OK responses in parse_response
  airbyte-integrations/connectors/source-github/source_github/streams.py
Due: addlicense

fix: make error handling record-safe — fail by default, narrow skips to proven safe cases
  airbyte-integrations/connectors/source-github/source_github/errors_handlers.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/integration/test_events.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
Due: addlicense

docs(homepage): update home page to emphasize Agents
  docusaurus/docusaurus.config.ts
  docusaurus/src/css/custom.css
  docusaurus/src/pages/index.js
  docusaurus/src/pages/index.module.css
Due: none

docs(ai-agents): remove "Engine" references from public API docs
  docusaurus/src/pages/index.js
  docusaurus/src/scripts/agent-engine-api/constants.js
  docusaurus/src/scripts/agent-engine-api/prepare-agent-engine-api-spec.js
  docusaurus/src/scripts/agent-engine-api/sidebar-generator.ts
  docusaurus/vercel.json
Due: none

fix(source-mssql): handle unauthorized CDC capture instances in LSN validation
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDebeziumOperations.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerLsnValidationTest.kt
  docs/integrations/sources/mssql.md
Due: addlicense, spotless

docs: update changelog with PR number
  docs/integrations/sources/mssql.md
Due: none

fix(source-mssql): fix CDC offset validation and improve error messages
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDebeziumOperations.kt
  docs/integrations/sources/mssql.md
Due: addlicense, spotless

chore: update changelog with PR number
  docs/integrations/sources/mssql.md
Due: none

Update CDK to version with default timestamp parsing.
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/application-connector.yml
Due: none

style: apply spotless/ktfmt formatting
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDebeziumOperations.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerLsnValidationTest.kt
Due: addlicense, spotless

style: fix ktfmt formatting in abortCdcSync
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDebeziumOperations.kt
Due: addlicense, spotless

fix: Projects-family 404 per-slice skip, resilient stream_slices, improved 404 message
  airbyte-integrations/connectors/source-github/source_github/errors_handlers.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
Due: addlicense

style: fix ruff format line length in test_stream.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
Due: addlicense

Lower agg size to 5mb.
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeBeanFactory.kt
Due: addlicense, spotless

fix: ContributorActivity 202 raises transient_error after retry exhaustion
  airbyte-integrations/connectors/source-github/source_github/errors_handlers.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
Due: addlicense

docs(ai-agents): Restructure QuickInstall tabs per review feedback
  docusaurus/src/components/AiAgentsHome/AiAgentsHome.module.css
  docusaurus/src/components/AiAgentsHome/QuickInstall.jsx
Due: none

source-mssql: map NUMERIC/DECIMAL with scale 0 to Airbyte integer
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDebeziumOperations.kt
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlSourceOperations.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDatatypeIntegrationTest.kt
  docs/integrations/sources/mssql-migrations.md
  docs/integrations/sources/mssql.md
Due: addlicense, spotless

source-mssql: bump CDK to 1.1.6
  airbyte-integrations/connectors/source-mssql/gradle.properties
Due: none

Add some state logs.
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/aggregate/AggregateStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/input/DataFlowPipelineInputFlow.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/StateStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateReconciler.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateStore.kt
Due: addlicense, spotless

fix(source-mongodb-v2): exclude views from discovery by fixing listCollections filter
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoUtil.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoUtilTest.java
  docs/integrations/sources/mongodb-v2.md
Due: addlicense, spotless

fix: update changelog with actual PR number
  docs/integrations/sources/mongodb-v2.md
Due: none

docs(ai-agents): Address review feedback on QuickInstall
  docusaurus/src/components/AiAgentsHome/AiAgentsHome.module.css
  docusaurus/src/components/AiAgentsHome/QuickInstall.jsx
Due: none

docs(ai-agents): Move heading out of component, rename to 'Try it now'
  docs/ai-agents/README.md
  docusaurus/src/components/AiAgentsHome/QuickInstall.jsx
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

