Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

chore: bump-version
  airbyte-integrations/connectors/source-salesloft/metadata.yaml
  docs/integrations/sources/salesloft.md
Due: none

source-microsoft-sharepoint: initial commit to implement file transfer
  airbyte-integrations/connectors/source-microsoft-sharepoint/acceptance-test-config.yml
  airbyte-integrations/connectors/source-microsoft-sharepoint/integration_tests/spec.json
  airbyte-integrations/connectors/source-microsoft-sharepoint/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-sharepoint/poetry.lock
  airbyte-integrations/connectors/source-microsoft-sharepoint/pyproject.toml
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/exceptions.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/source.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/spec.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/stream_reader.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/unit_tests/test_stream_reader.py
  docs/integrations/sources/microsoft-sharepoint.md
Due: addlicense

source-microsoft-sharepoint: fix format
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/stream_reader.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/unit_tests/test_stream_reader.py
Due: addlicense

removed obsolute schemas.yaml, and adjusted readme and documentation
  airbyte-integrations/connectors/source-box-data-extract/README.md
  airbyte-integrations/connectors/source-box-data-extract/source_box_data_extract/schemas/box_file_and_text.json
  docs/integrations/sources/box-data-extract.md
Due: none

source-microsoft-sharepoint: update release information
  docs/integrations/sources/microsoft-sharepoint.md
Due: none

Added maximums
  docs/using-airbyte/tagging.md
Due: none

Adding Subject and Body on the Email Stream (#54136)
  airbyte-integrations/connectors/source-salesloft/manifest.yaml
  airbyte-integrations/connectors/source-salesloft/metadata.yaml
  docs/integrations/sources/salesloft.md
Due: none

source-microsoft-sharepoint: fix release information
  airbyte-integrations/connectors/source-microsoft-sharepoint/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-sharepoint/pyproject.toml
Due: none

removed obsolute schemas.yaml, and adjusted readme and documentation
  airbyte-integrations/connectors/source-box-data-extract/README.md
Due: none

chore(spelling): fix spelling for deployment notes. (#54134)
  docs/deploying-airbyte/deploying-airbyte.md
Due: none

[docs] remove dead link and unsupported cli param (#54135)
  docs/connector-development/testing-connectors/connector-acceptance-tests-reference.md
Due: none

Update version
  airbyte-integrations/connectors/source-amazon-seller-partner/pyproject.toml
Due: none

removed dead code, adjusted sample config
  airbyte-integrations/connectors/source-box-data-extract/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-box-data-extract/source_box_data_extract/box_api.py
  airbyte-integrations/connectors/source-box-data-extract/source_box_data_extract/source.py
Due: addlicense

fix builds on 3.11
  airbyte-integrations/connectors/source-file/poetry.lock
  airbyte-integrations/connectors/source-file/pyproject.toml
Due: none

Update poetry.lock
  airbyte-integrations/connectors/source-amazon-seller-partner/poetry.lock
  airbyte-integrations/connectors/source-amazon-seller-partner/pyproject.toml
Due: none

Load CDK: Stream Manager Support for Index-Based Checkpointing
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/state/StreamManager.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/state/StreamManagerTest.kt
Due: addlicense, spotless

Load CDK: CheckpointManager support for Index-Based Checkpointing
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/state/CheckpointManager.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/state/CheckpointManagerTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/state/CheckpointManagerUTest.kt
Due: addlicense, spotless

chore: bump-version
  airbyte-integrations/connectors/source-file/metadata.yaml
  airbyte-integrations/connectors/source-file/pyproject.toml
  docs/integrations/sources/file.md
Due: none

fix(source-file): fix lxml build errors by bumping it up to 5.3 (#54141)
  airbyte-integrations/connectors/source-file/metadata.yaml
  airbyte-integrations/connectors/source-file/poetry.lock
  airbyte-integrations/connectors/source-file/pyproject.toml
  docs/integrations/sources/file.md
Due: none

Submission for source-interzoid-company-match-api from Connector Builder
  airbyte-integrations/connectors/source-interzoid-company-match-api/README.md
  airbyte-integrations/connectors/source-interzoid-company-match-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-interzoid-company-match-api/icon.svg
  airbyte-integrations/connectors/source-interzoid-company-match-api/manifest.yaml
  airbyte-integrations/connectors/source-interzoid-company-match-api/metadata.yaml
  docs/integrations/sources/interzoid-company-match-api.md
Due: none

data dumper is generic
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/IcebergDataDumper.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeWriteTest.kt
Due: addlicense, spotless

cleanup
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeWriteTest.kt
Due: addlicense, spotless

config updater is generic
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/IcebergConfigUpdater.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeWriteTest.kt
Due: addlicense, spotless

expected record mapper is generic
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/IcebergExpectedRecordMapper.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeWriteTest.kt
Due: addlicense, spotless

removing tests dead code
  airbyte-integrations/connectors/source-box-data-extract/acceptance-test-config.yml
  airbyte-integrations/connectors/source-box-data-extract/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-box-data-extract/unit_tests/test_source.py
  airbyte-integrations/connectors/source-box-data-extract/unit_tests/test_streams.py
Due: addlicense

removing tests dead code
  airbyte-integrations/connectors/source-box-data-extract/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-box-data-extract/unit_tests/test_streams.py
Due: addlicense

Delete .secrets
  .secrets
Due: none

move iceberg test to separate file
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/IcebergWriteTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeWriteTest.kt
Due: addlicense, spotless

move generic files to package
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergConfigUpdater.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergDataDumper.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergExpectedRecordMapper.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergWriteTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeWriteTest.kt
Due: addlicense, spotless

oops, forgot destination cleaner also
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/IcebergDestinationCleaner.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeWriteTest.kt
Due: addlicense, spotless

move to toolkit
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/IcebergConfigUpdater.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/IcebergDataDumper.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/IcebergDestinationCleaner.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/IcebergExpectedRecordMapper.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/IcebergWriteTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeWriteTest.kt
Due: addlicense, spotless

chore: remove Builder compatibility guide from docs
  docs/connector-development/README.md
  docs/connector-development/connector-builder-ui/authentication.md
  docs/connector-development/connector-builder-ui/connector-builder-compatibility.md
  docs/connector-development/connector-builder-ui/overview.md
  docs/connector-development/connector-builder-ui/tutorial.mdx
  docs/connector-development/tutorials/custom-python-connector/0-getting-started.md
  docs/contributing-to-airbyte/submit-new-connector.md
  docusaurus/sidebars.js
Due: none

source-microsoft-sharepoint: minor refactor to get headers
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/stream_reader.py
Due: addlicense

source-microsoft-sharepoint: add unit tests when reading file size
  airbyte-integrations/connectors/source-microsoft-sharepoint/unit_tests/test_stream_reader.py
Due: addlicense

At the very least, we can move the configurations around
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/command/iceberg/parquet/IcebergCatalogConfiguration.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/command/iceberg/parquet/IcebergCatalogSpecifications.kt
Due: addlicense, spotless

Update streams.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
Due: addlicense

chore: add redirect
  docusaurus/redirects.yml
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

