Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

Source Salesforce: fill in changelog PR number
  docs/integrations/sources/salesforce.md
Due: none

Source Salesforce: drop redundant return annotation
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
Due: addlicense

resolve QA metadata parser error
  airbyte-integrations/connectors/source-gong/metadata.yaml
  airbyte-integrations/connectors/source-gong/unit_tests/test_manifest.py
Due: addlicense

formatting
  airbyte-integrations/connectors/source-gong/unit_tests/test_manifest.py
Due: addlicense

feat(source-hubspot): migrate Web Analytics streams to 2026-03 Events API endpoint
  airbyte-integrations/connectors/source-hubspot/manifest.yaml
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_web_analytics_streams.py
  docs/integrations/sources/hubspot.md
Due: addlicense

style(source-hubspot): apply ruff-format to test_web_analytics_streams
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_web_analytics_streams.py
Due: addlicense

[EVAL] pf_neg_12: feat(source-zendesk-support): add side_conversations stream
  airbyte-integrations/connectors/source-zendesk-support/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
Due: none

style(source-hubspot): match CI pre-commit ruff-format v0.8.3 assert style
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_web_analytics_streams.py
Due: addlicense

fix "optional fields"
  airbyte-integrations/connectors/destination-databricks/src/main/kotlin/io/airbyte/integrations/destination/databricks/spec/DatabricksConfiguration.kt
  airbyte-integrations/connectors/destination-databricks/src/main/kotlin/io/airbyte/integrations/destination/databricks/spec/DatabricksSpecification.kt
  airbyte-integrations/connectors/destination-databricks/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-databricks/src/test-integration/resources/expected-spec-oss.json
Due: addlicense, spotless

Some optimizations based on review.
  docs/ai-agents/slack-app.md
Due: none

[EVAL] pf_neg_12: feat(source-jira): add issue_feature_flags stream
  airbyte-integrations/connectors/source-jira/manifest.yaml
  airbyte-integrations/connectors/source-jira/metadata.yaml
Due: none

fix: typos in slack-app.md per review feedback
  docs/ai-agents/slack-app.md
Due: none

docs(ai-agents): add Slack app landing page for Marketplace submission (#80766)
  docs/ai-agents/assets/slack-app/add-connector-select-slack.png
  docs/ai-agents/assets/slack-app/connector-added-success.png
  docs/ai-agents/assets/slack-app/connectors-list-with-slack.png
  docs/ai-agents/assets/slack-app/connectors-page.png
  docs/ai-agents/assets/slack-app/slack-connector-setup.png
  docs/ai-agents/assets/slack-app/slack-oauth-connected.png
  docs/ai-agents/assets/slack-app/slack-verifying-credentials.png
  docs/ai-agents/slack-app.md
  docusaurus/docusaurus.config.ts
Due: none

docs: Update airbyte-agent-sdk API reference documentation (sonar@9473adc)
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/hubspot/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/hubspot/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/hubspot/models.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/hubspot/types.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/linkedin_ads/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/linkedin_ads/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/linkedin_ads/models.md
Due: none

feat(source-sentry): Add project_keys stream
  airbyte-integrations/connectors/source-sentry/CONTRIBUTING.md
  airbyte-integrations/connectors/source-sentry/manifest.yaml
  airbyte-integrations/connectors/source-sentry/metadata.yaml
  airbyte-integrations/connectors/source-sentry/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-sentry/unit_tests/integration/test_project_keys.py
  airbyte-integrations/connectors/source-sentry/unit_tests/resource/http/response/project_keys.json
  docs/integrations/sources/sentry.md
Due: addlicense

docs: Update changelog with PR number
  docs/integrations/sources/sentry.md
Due: none

feat(source-zendesk-support): add ticket events stream
  airbyte-integrations/connectors/source-zendesk-support/CONTRIBUTING.md
  airbyte-integrations/connectors/source-zendesk-support/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/request_builder.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/response_builder.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/test_ticket_events.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/resource/http/response/ticket_events.json
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Due: addlicense

[EVAL] pf_neg_11: feat(source-freshservice): add audit_logs stream for compliance reporting
  airbyte-integrations/connectors/source-freshservice/manifest.yaml
  airbyte-integrations/connectors/source-freshservice/metadata.yaml
Due: none

[EVAL] pf_pos_01: fix(source-faker): add explicit additionalProperties to products schema
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/schemas/products.json
Due: none

[EVAL] pf_neg_06: feat(source-faker): add color and weight fields to products stream
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/schemas/products.json
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] pf_neg_09: fix(source-faker): cap users emission to prevent OOM on constrained environments
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] pf_neg_03: fix(source-faker): skip malformed trailing product record
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] pf_pos_03: fix(source-faker): handle OSError in multiprocessing pool initialization
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] pf_neg_13: fix(source-freshservice): use lightweight health endpoint for check_connection
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-freshservice/manifest.yaml
Due: none

[EVAL] pf_neg_05: feat(source-pokeapi): add pokemon_moves stream for selective move data syncing
  airbyte-integrations/connectors/source-pokeapi/manifest.yaml
  airbyte-integrations/connectors/source-pokeapi/metadata.yaml
Due: none

[EVAL] pf_neg_04: fix(source-faker): adjust users stream record byte estimate
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] pf_neg_08: fix(source-faker): deduplicate products stream to prevent redundant entries
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] pf_neg_10: fix(source-faker): sort products deterministically and filter test entries
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

[EVAL] pf_pos_02: fix(source-faker): recover truncated product record
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/record_data/products.json
Due: none

[EVAL] pf_neg_13: fix(source-faker): validate package registry in check_connection
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/source.py
Due: addlicense

feat(source-gocardless): Add subscriptions stream
  airbyte-integrations/connectors/source-gocardless/manifest.yaml
  airbyte-integrations/connectors/source-gocardless/metadata.yaml
  airbyte-integrations/connectors/source-gocardless/unit_tests/__init__.py
  airbyte-integrations/connectors/source-gocardless/unit_tests/conftest.py
  airbyte-integrations/connectors/source-gocardless/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-gocardless/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-gocardless/unit_tests/test_subscriptions_stream.py
  docs/integrations/sources/gocardless.md
Due: addlicense
