Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

style(destination-redshift-v2): fix prettier formatting in metadata.yaml
  airbyte-integrations/connectors/destination-redshift-v2/metadata.yaml
Due: none

fix: catch FacebookRequestError explicitly, add failure_type assertions and no-child-IDs test
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/async_job.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_async_job.py
Due: addlicense

style: fix ruff-format missing blank line
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_async_job.py
Due: addlicense

docs(source-harvest): improve rate limit docs, add concurrency info, fix changelog date
  docs/integrations/sources/harvest.md
Due: none

docs(source-bing-ads): improve documentation accuracy and completeness
  docs/integrations/sources/bing-ads.md
Due: none

docs(destination-redshift-v2): add 4.0.0 breaking change metadata, changelog entry, and migration guide
  airbyte-integrations/connectors/destination-redshift-v2/metadata.yaml
  docs/integrations/destinations/redshift-migrations.md
  docs/integrations/destinations/redshift.md
Due: none

doc: fix README.md
  airbyte-integrations/connectors/destination-redshift-v2/README.md
Due: none

docs(destination-redshift-v2): add migration guide at correct path for v2 connector
  docs/integrations/destinations/redshift-v2-migrations.md
Due: none

doc: fix migration.md
  docs/integrations/destinations/redshift-v2-migrations.md
Due: none

fix(airbyte-cdk): classify CDC Debezium errors with appropriate FailureType
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/CdcPartitionReader.kt
Due: addlicense, spotless

fix: apply formatting and bump extract version to 1.1.3
  airbyte-cdk/bulk/core/extract/version.properties
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/CdcPartitionReader.kt
Due: addlicense, spotless

docs: add changelog entry for extract version 1.1.3
  airbyte-cdk/bulk/core/extract/changelog.md
Due: none

chore(source-mailchimp): change version to 2.1.23-rc.2 for iteration 2 (concurrency=5)
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  docs/integrations/sources/mailchimp.md
Due: none

docs(source-mailchimp): improve rate limits, concurrency docs, fix changelog date
  docs/integrations/sources/mailchimp.md
Due: none

fix(cdk): preserve original ConfigErrorException message through wrapping chain
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/AirbyteConnectorRunnable.kt
  airbyte-cdk/bulk/core/base/src/test/kotlin/io/airbyte/cdk/AirbyteConnectorRunnableTest.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/command/SourceConfigurationFactory.kt
Due: addlicense, spotless

style: fix KDoc line wrapping for Spotless format check
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/AirbyteConnectorRunnable.kt
Due: addlicense, spotless

chore: bump bulk-cdk-core-base version to 1.0.3
  airbyte-cdk/bulk/core/base/version.properties
Due: none

docs: add changelog entry for bulk-cdk-core-base 1.0.3
  airbyte-cdk/bulk/core/base/changelog.md
Due: none

chore: bump bulk-cdk-core-extract version to 1.1.3
  airbyte-cdk/bulk/core/extract/changelog.md
  airbyte-cdk/bulk/core/extract/version.properties
Due: none

docs(source-facebook-marketing): fix incorrect changelog dates for v5.2.3, v5.2.4, and v5.2.5
  docs/integrations/sources/facebook-marketing.md
Due: none

docs(source-paypal-transaction): improve documentation accuracy and completeness
  docs/integrations/sources/paypal-transaction.md
Due: none

fix: add trailing newline to paypal-transaction docs
  docs/integrations/sources/paypal-transaction.md
Due: none

Fix BQ connector test
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/SafeDestinationCatalogFactory.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/SafeDestinationCatalogFactoryTest.kt
Due: addlicense, spotless

fix(bulk-cdk): handle null items in array JSON schema to prevent NPE
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/StateManagerFactory.kt
  airbyte-cdk/bulk/core/extract/src/test/kotlin/io/airbyte/cdk/read/StateManagerFactoryAirbyteTypeTest.kt
  airbyte-cdk/bulk/core/extract/src/testFixtures/kotlin/io/airbyte/cdk/discover/JsonbFieldType.kt
  airbyte-cdk/bulk/core/extract/src/testFixtures/resources/discover/metadata-with-jsonb.json
Due: addlicense, spotless

chore(bulk-cdk): bump extract version to 1.1.3 for NPE fix
  airbyte-cdk/bulk/core/extract/changelog.md
  airbyte-cdk/bulk/core/extract/version.properties
Due: none

fix(destination-bigquery): reject timestamps with years outside 0001-9999 in CDK coercer
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/AirbyteValueCoercer.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/data/AirbyteValueCoercerTest.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/formatter/BigQueryRecordFormatterTest.kt
Due: addlicense, spotless

chore(source-intercom): promote to stable 0.13.19 and disable progressive rollout
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  docs/integrations/sources/intercom.md
Due: none

chore: remove BigQuery test to comply with PR structure rule
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/formatter/BigQueryRecordFormatterTest.kt
Due: addlicense, spotless

style: fix import ordering and formatting for pre-commit compliance
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/AirbyteValueCoercer.kt
Due: addlicense, spotless

fix: restore Spotless multi-line throw format and bump load CDK version to 1.0.8
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/AirbyteValueCoercer.kt
  airbyte-cdk/bulk/core/load/version.properties
Due: addlicense, spotless

feat(destination-redshift): make S3 credentials optional, add iam_role_arn field
  airbyte-integrations/connectors/destination-redshift/src/main/resources/spec.json
Due: none

feat(destination-redshift): branch COPY command on credential type
  airbyte-integrations/connectors/destination-redshift/src/main/kotlin/io/airbyte/integrations/destination/redshift/operation/RedshiftStagingStorageOperation.kt
Due: addlicense, spotless

feat(destination-redshift): pass iam_role_arn to staging operation
  airbyte-integrations/connectors/destination-redshift/src/main/kotlin/io/airbyte/integrations/destination/redshift/RedshiftDestination.kt
Due: addlicense, spotless

fix(destination-redshift): remove credential fields from S3 validation
  airbyte-integrations/connectors/destination-redshift/src/main/kotlin/io/airbyte/integrations/destination/redshift/util/RedshiftUtil.kt
  airbyte-integrations/connectors/destination-redshift/src/test/kotlin/io/airbyte/integrations/destination/redshift/util/RedshiftUtilTest.kt
Due: addlicense, spotless

test(destination-redshift): add unit tests for credential clause generation
  airbyte-integrations/connectors/destination-redshift/src/test/kotlin/io/airbyte/integrations/destination/redshift/operation/RedshiftStagingStorageOperationTest.kt
Due: addlicense, spotless

test(destination-redshift): add spec tests for optional credentials and iam_role_arn
  airbyte-integrations/connectors/destination-redshift/src/test-integration/kotlin/io/airbyte/integrations/destination/redshift/RedshiftS3StagingStorageOperationTest.kt
  airbyte-integrations/connectors/destination-redshift/src/test/kotlin/io/airbyte/integrations/destination/redshift/RedshiftSpecTest.kt
  airbyte-integrations/connectors/destination-redshift/src/test/resources/config-test.json
Due: addlicense, spotless

chore(destination-redshift): bump version to 3.6.0
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
Due: none

refactor(destination-redshift): address code review feedback
  airbyte-integrations/connectors/destination-redshift/src/main/kotlin/io/airbyte/integrations/destination/redshift/operation/RedshiftStagingStorageOperation.kt
  airbyte-integrations/connectors/destination-redshift/src/test/kotlin/io/airbyte/integrations/destination/redshift/operation/RedshiftStagingStorageOperationTest.kt
Due: addlicense, spotless

docs(destination-redshift): add IAM role-based auth setup instructions
  docs/integrations/destinations/redshift.md
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

