Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

fix allTypedFields
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
Due: addlicense, spotless

handle errors
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/AirbyteValueCoercer.kt
Due: addlicense, spotless

minor syntactical cleanup
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/io/IcebergUtil.kt
Due: addlicense, spotless

WIP fix change propagation stuff
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/io/IcebergUtil.kt
Due: addlicense, spotless

update tests to use correct method, delete old method
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/data/iceberg/parquet/AirbyteValueToIcebergRecord.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/AirbyteValueToIcebergRecordTest.kt
Due: addlicense, spotless

rename f -> transformer
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/io/IcebergUtil.kt
Due: addlicense, spotless

properties needs to be instantiated per invocation
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/AirbyteTypeToAirbyteTypeWithMeta.kt
Due: addlicense, spotless

maybe more readable
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/io/IcebergUtil.kt
Due: addlicense, spotless

fix unit test
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/io/S3DataLakeUtilTest.kt
Due: addlicense, spotless

stop using pipeline
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/data/iceberg/parquet/IcebergParquetPipelineFactory.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/io/IcebergUtil.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeDirectLoader.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeStreamLoader.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeStreamLoaderTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/io/S3DataLakeUtilTest.kt
Due: addlicense, spotless

update expected records
  airbyte-integrations/connectors/source-salesforce/integration_tests/expected_records.jsonl
Due: none

update ActiveFeatureLicenseMetric as empty stream
  airbyte-integrations/connectors/source-salesforce/acceptance-test-config.yml
Due: none

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-salesforce/acceptance-test-config.yml
Due: none

fix missed streams and update docs desc
  airbyte-integrations/connectors/source-intercom/manifest.yaml
Due: none

Update activity_logs
  airbyte-integrations/connectors/source-intercom/manifest.yaml
Due: none

Update comment
  airbyte-integrations/connectors/source-intercom/manifest.yaml
Due: none

Add ad_account_id parameter to streams boards, catalogs, catalogs_feeds, catalogs_product_groups, board_sections, board_pins and board_section_pins
  airbyte-integrations/connectors/source-pinterest/source_pinterest/manifest.yaml
Due: none

Correct formatting errors
  airbyte-integrations/connectors/source-pinterest/source_pinterest/manifest.yaml
Due: none

[SAP HANA Source] Change the connector display name (#119)
  airbyte-integrations/connectors/source-sap-hana/metadata.yaml
Due: none

update schemas and add unit tests
  airbyte-integrations/connectors/source-instagram-api/README.md
  airbyte-integrations/connectors/source-instagram-api/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-instagram-api/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-instagram-api/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-instagram-api/source_instagram_api/common.py
  airbyte-integrations/connectors/source-instagram-api/source_instagram_api/components.py
  airbyte-integrations/connectors/source-instagram-api/source_instagram_api/manifest.yaml
  airbyte-integrations/connectors/source-instagram-api/source_instagram_api/schemas/TODO.md
  airbyte-integrations/connectors/source-instagram-api/source_instagram_api/source.py
  airbyte-integrations/connectors/source-instagram-api/unit_tests/__init__.py
  airbyte-integrations/connectors/source-instagram-api/unit_tests/conftest.py
  airbyte-integrations/connectors/source-instagram-api/unit_tests/records.py
  airbyte-integrations/connectors/source-instagram-api/unit_tests/test_common.py
  airbyte-integrations/connectors/source-instagram-api/unit_tests/test_components.py
  airbyte-integrations/connectors/source-instagram-api/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-instagram-api/unit_tests/test_source.py
  airbyte-integrations/connectors/source-instagram-api/unit_tests/test_streams.py
Due: addlicense

remove comments
  airbyte-integrations/connectors/source-instagram-api/unit_tests/conftest.py
Due: addlicense

add docs
  docs/integrations/sources/instagram-api.md
Due: none

add temp change for formatting
  airbyte-integrations/connectors/source-instagram-api/integration_tests/__init__.py
  airbyte-integrations/connectors/source-instagram-api/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-instagram-api/main.py
  airbyte-integrations/connectors/source-instagram-api/source_instagram_api/__init__.py
  airbyte-integrations/connectors/source-instagram-api/source_instagram_api/common.py
  airbyte-integrations/connectors/source-instagram-api/source_instagram_api/components.py
  airbyte-integrations/connectors/source-instagram-api/source_instagram_api/run.py
  airbyte-integrations/connectors/source-instagram-api/source_instagram_api/source.py
  airbyte-integrations/connectors/source-instagram-api/unit_tests/conftest.py
  airbyte-integrations/connectors/source-instagram-api/unit_tests/records.py
  airbyte-integrations/connectors/source-instagram-api/unit_tests/test_common.py
  airbyte-integrations/connectors/source-instagram-api/unit_tests/test_components.py
  airbyte-integrations/connectors/source-instagram-api/unit_tests/test_source.py
Due: addlicense

remove temp change
  airbyte-integrations/connectors/source-instagram-api/integration_tests/__init__.py
  airbyte-integrations/connectors/source-instagram-api/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-instagram-api/main.py
  airbyte-integrations/connectors/source-instagram-api/source_instagram_api/__init__.py
  airbyte-integrations/connectors/source-instagram-api/source_instagram_api/common.py
  airbyte-integrations/connectors/source-instagram-api/source_instagram_api/components.py
  airbyte-integrations/connectors/source-instagram-api/source_instagram_api/run.py
  airbyte-integrations/connectors/source-instagram-api/source_instagram_api/source.py
  airbyte-integrations/connectors/source-instagram-api/unit_tests/conftest.py
  airbyte-integrations/connectors/source-instagram-api/unit_tests/records.py
  airbyte-integrations/connectors/source-instagram-api/unit_tests/test_common.py
  airbyte-integrations/connectors/source-instagram-api/unit_tests/test_components.py
  airbyte-integrations/connectors/source-instagram-api/unit_tests/test_source.py
Due: addlicense

poe lock
  airbyte-integrations/connectors/source-hardcoded-records/poetry.lock
Due: none

run formatting
  airbyte-integrations/connectors/source-instagram-api/source_instagram_api/manifest.yaml
  airbyte-integrations/connectors/source-instagram-api/source_instagram_api/spec.yaml
Due: none

run formatting
  airbyte-integrations/connectors/source-instagram-api/acceptance-test-config.yml
Due: none

run formatting
  airbyte-integrations/connectors/source-instagram-api/integration_tests/configured_catalog.json
Due: none

chore: add `use-cdk-local` poe command (cherry-pick-me)
  poe-tasks/poetry-connector-tasks.toml
Due: none

remove depreacted metrics
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/poetry.lock
  airbyte-integrations/connectors/source-instagram/pyproject.toml
  airbyte-integrations/connectors/source-instagram/source_instagram/manifest.yaml
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/media_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/story_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/user_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  docs/integrations/sources/instagram.md
Due: addlicense

update pr
  airbyte-integrations/connectors/source-instagram/erd/discovered_catalog.json
  airbyte-integrations/connectors/source-instagram/erd/source.dbml
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_media_insights.py
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_insights_for_carousel_album.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_insights_for_general_media.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_insights_for_reels.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_insights_for_video.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_insights_for_video_feed.json
  docs/integrations/sources/instagram.md
Due: addlicense

fix
  airbyte-integrations/connectors/source-instagram/erd/discovered_catalog.json
  airbyte-integrations/connectors/source-instagram/erd/source.dbml
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_media_insights.py
  airbyte-integrations/connectors/source-instagram/unit_tests/records.py
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_insights_for_reels.json
Due: addlicense

Submission for source-salla-api from Connector Builder
  airbyte-integrations/connectors/source-salla-api/README.md
  airbyte-integrations/connectors/source-salla-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-salla-api/icon.svg
  airbyte-integrations/connectors/source-salla-api/manifest.yaml
  airbyte-integrations/connectors/source-salla-api/metadata.yaml
  docs/integrations/sources/salla-api.md
Due: none

Update product name
  docs/integrations/destinations/deepset.md
Due: none

Fix unit test coverage
  airbyte-integrations/connectors/source-monday/.coveragerc
  airbyte-integrations/connectors/source-monday/unit_tests/test_components.py
Due: addlicense

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-monday/unit_tests/test_components.py
Due: addlicense

Fix state migration test
  airbyte-integrations/connectors/source-monday/unit_tests/test_components.py
Due: addlicense

Update metadata.yaml
  airbyte-integrations/connectors/source-quickbooks/metadata.yaml
Due: none

Source Salesforce: Update streams.py for adapting changes with AsyncRetriever (#55186)
  airbyte-integrations/connectors/source-salesforce/acceptance-test-config.yml
  airbyte-integrations/connectors/source-salesforce/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/poetry.lock
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/integration/test_rest_stream.py
  docs/integrations/sources/salesforce.md
Due: addlicense

revert salesforce
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

