Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

docs: add version increment check to QA checks documentation
  docs/contributing-to-airbyte/resources/qa-checks.md
Due: none

docs: update auto-generated QA checks documentation
  docs/contributing-to-airbyte/resources/qa-checks.md
Due: none

drop broken test case
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigQueryCheckTest.kt
Due: addlicense, spotless

Fix 500s on Tickets Stream
  airbyte-integrations/connectors/source-intercom/manifest.yaml
  docs/integrations/sources/intercom.md
Due: none

undo Devin
  .github/workflows/connectors_version_inc_check.yml
  docs/contributing-to-airbyte/resources/qa-checks.md
Due: none

Refactor to only run CDK tests.
  .github/workflows/airbyte-cdk.yml
  settings.gradle
Due: spotless

Run focused check task.
  .github/workflows/airbyte-cdk.yml
Due: none

Revert me.
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/copy/s3/S3CopyConfig.kt
Due: addlicense, spotless

Upgrade action.
  .github/workflows/airbyte-cdk.yml
Due: none

Confirm tests are running.
  .github/workflows/airbyte-cdk.yml
Due: none

Check this in.
  airbyte-cdk/build.gradle
Due: spotless

remove hard coded read preferences
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoConnectionUtils.java
Due: addlicense, spotless

add test for read preferences
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoConnectionUtilsTest.java
Due: addlicense, spotless

format
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoConnectionUtils.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoConnectionUtilsTest.java
Due: addlicense, spotless

run the test.
  .github/workflows/airbyte-cdk.yml
Due: none

Revert.
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/copy/s3/S3CopyConfig.kt
Due: addlicense, spotless

Remove all the publishing stuff.
  .github/workflows/airbyte-cdk.yml
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/copy/s3/S3CopyConfig.kt
Due: addlicense, spotless

Format.
  .github/workflows/airbyte-cdk.yml
Due: none

concurrent mysql read
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceJdbcPartition.kt
Due: addlicense, spotless

External token refresh endpoint configuration
  airbyte-integrations/connectors/source-apple-search-ads/manifest.yaml
  airbyte-integrations/connectors/source-apple-search-ads/metadata.yaml
  docs/integrations/sources/apple-search-ads.md
Due: none

External token refresh endpoint configuration
  docs/integrations/sources/apple-search-ads.md
Due: none

Documentation fixes
  docs/integrations/sources/apple-search-ads.md
Due: none

Update bigquery.md - fix url of PR 15535
  docs/integrations/sources/bigquery.md
Due: none

Revert README formatting fixes
  docs/integrations/sources/apple-search-ads.md
Due: none

Fix sample configss for tests
  airbyte-integrations/connectors/source-apple-search-ads/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-apple-search-ads/integration_tests/sample_config.json
Due: none

remove docker column. add definitionId in ConnectorMetadata
  docusaurus/src/components/ConnectorRegistry.jsx
  docusaurus/src/components/HeaderDecoration.jsx
  docusaurus/src/plugins/enterpriseConnectors.js
  docusaurus/src/remark/docsHeaderDecoration.js
Due: none

fix condition in normalization when empty string
  airbyte-integrations/connectors/source-hubspot/source_hubspot/components.py
Due: addlicense

added doc string for EntitySchemaNormalization
  airbyte-integrations/connectors/source-hubspot/source_hubspot/components.py
Due: addlicense

Update source-sendgrid manifest for messages stream
  airbyte-integrations/connectors/source-sendgrid/manifest.yaml
Due: none

updated custom components
  airbyte-integrations/connectors/source-hubspot/source_hubspot/components.py
Due: addlicense

added base_crm_object_stream
  airbyte-integrations/connectors/source-hubspot/source_hubspot/manifest.yaml
Due: none

bigquery: drop broken test (#60236)
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigQueryCheckTest.kt
Due: addlicense, spotless

add new unit tests migration related
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/base_test.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/request_builder.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_hourly_reports.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_report_stream.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/http/response/accounts_search_for_report.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/http/response/generate_report.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/http/response/generate_report_poll.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/ad_performance_report_hourly_incremental_with_records_further_cursor.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/ad_performance_report_hourly_with_records_further_config_start_date.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/hourly_reports_state_after_migration.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/hourly_reports_state_after_migration_with_cursor_further_config_start_date.json
Due: addlicense

prettier
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/base_test.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/request_builder.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_hourly_reports.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_report_stream.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/http/response/generate_report.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/http/response/generate_report_poll.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/hourly_reports_state_after_migration.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/hourly_reports_state_after_migration_with_cursor_further_config_start_date.json
Due: addlicense

switch to insertloader
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/standard_insert/BigqueryBatchStandardInsertLoader.kt
Due: addlicense, spotless

very lazy writer
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/standard_insert/BigqueryBatchStandardInsertLoader.kt
Due: addlicense, spotless

more open stream workers
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/spec/BigqueryConfiguration.kt
Due: addlicense, spotless

Revert "switch to insertloader"
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/standard_insert/BigqueryBatchStandardInsertLoader.kt
Due: addlicense, spotless

lazy init tablewritechannel
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/standard_insert/BigqueryBatchStandardInsertLoader.kt
Due: addlicense, spotless
