Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

fix(source-clickhouse): fix Javadoc formatting for Spotless
  airbyte-integrations/connectors/source-clickhouse/src/main/java/io/airbyte/integrations/source/clickhouse/ClickHouseSource.java
Due: addlicense, spotless

fix(destination-mongodb): use cloudDeploymentMode() instead of getIsCloudDeployment()
  airbyte-integrations/connectors/destination-mongodb/src/main/java/io/airbyte/integrations/destination/mongodb/MongodbDestination.java
Due: addlicense, spotless

fix(destination-elasticsearch): use cloudDeploymentMode() instead of getIsCloudDeployment()
  airbyte-integrations/connectors/destination-elasticsearch/src/main/java/io/airbyte/integrations/destination/elasticsearch/ElasticsearchDestination.java
Due: addlicense, spotless

chore: bump-version
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  docs/integrations/sources/shopify.md
Due: none

fix(destination-mongodb): fix import ordering for Spotless
  airbyte-integrations/connectors/destination-mongodb/src/main/java/io/airbyte/integrations/destination/mongodb/MongodbDestination.java
Due: addlicense, spotless

fix(destination-elasticsearch): fix formatting for Spotless
  airbyte-integrations/connectors/destination-elasticsearch/src/main/java/io/airbyte/integrations/destination/elasticsearch/ElasticsearchDestination.java
Due: addlicense, spotless

fix(destination-oracle): add featureFlags and cloudDeploymentMode() pattern
  airbyte-integrations/connectors/destination-oracle/src/main/java/io/airbyte/integrations/destination/oracle/OracleDestination.java
Due: addlicense, spotless

Positioning things
  docs/ai-agents/platform/authenticate/readme.md
  docs/ai-agents/platform/customers.md
  docs/ai-agents/platform/data-replication.md
  docs/ai-agents/platform/enable-connector.md
  docs/ai-agents/platform/entity-cache.md
  docs/ai-agents/platform/execute-actions.md
Due: none

fix(destination-elasticsearch): use System.getenv for cloud mode check (CDK 0.2.0 compatibility)
  airbyte-integrations/connectors/destination-elasticsearch/src/main/java/io/airbyte/integrations/destination/elasticsearch/ElasticsearchDestination.java
Due: addlicense, spotless

fix(destination-oracle): use System.getenv for cloud mode check (CDK 0.2.0 compatibility)
  airbyte-integrations/connectors/destination-oracle/src/main/java/io/airbyte/integrations/destination/oracle/OracleDestination.java
Due: addlicense, spotless

fix(destination-elasticsearch): fix Javadoc formatting for Spotless
  airbyte-integrations/connectors/destination-elasticsearch/src/main/java/io/airbyte/integrations/destination/elasticsearch/ElasticsearchDestination.java
Due: addlicense, spotless

fix(metadata-service): skip dockerImageTag override for RC registry entries
  airbyte-ci/connectors/metadata_service/lib/metadata_service/registry_entry.py
Due: addlicense

fix(destination-oracle): fix Javadoc formatting and remove throws Exception from getConsumer
  airbyte-integrations/connectors/destination-oracle/src/main/java/io/airbyte/integrations/destination/oracle/OracleDestination.java
Due: addlicense, spotless

style: fix ruff-format line length issue
  airbyte-ci/connectors/metadata_service/lib/metadata_service/registry_entry.py
Due: addlicense

fix(docs): fix broken links in ai-agents documentation
  docs/ai-agents/connectors/readme.md
  docs/ai-agents/tutorials/quickstarts/readme.md
  docs/ai-agents/tutorials/quickstarts/tutorial-python.md
Due: none

test: update test assertions for RC version handling
  airbyte-ci/connectors/metadata_service/lib/tests/test_registry_entry.py
Due: addlicense

fix(docs): update API reference link to use directory path
  docs/ai-agents/embedded/api/README.md
Due: none

fix(destination-oracle): fix import ordering for Spotless
  airbyte-integrations/connectors/destination-oracle/src/main/java/io/airbyte/integrations/destination/oracle/OracleDestination.java
Due: addlicense, spotless

fix(destination-oracle): fix indentation in spec() and getConsumer() methods for Spotless
  airbyte-integrations/connectors/destination-oracle/src/main/java/io/airbyte/integrations/destination/oracle/OracleDestination.java
Due: addlicense, spotless

fix(docs): remove broken API reference link temporarily
  docs/ai-agents/embedded/api/README.md
Due: none

chore(destination-oracle): bump version to 1.1.0
  airbyte-integrations/connectors/destination-oracle/metadata.yaml
  docs/integrations/destinations/oracle.md
Due: none

chore(source-oracle): bump version to 0.6.0
  airbyte-integrations/connectors/source-oracle/metadata.yaml
  docs/integrations/sources/oracle.md
Due: none

chore(source-clickhouse): bump version to 0.4.0
  airbyte-integrations/connectors/source-clickhouse/metadata.yaml
  docs/integrations/sources/clickhouse.md
Due: none

chore(destination-mysql): bump version to 1.2.0
  airbyte-integrations/connectors/destination-mysql/metadata.yaml
  docs/integrations/destinations/mysql.md
Due: none

chore(destination-mongodb): bump version to 0.3.0
  airbyte-integrations/connectors/destination-mongodb/metadata.yaml
  docs/integrations/destinations/mongodb.md
Due: none

chore(destination-elasticsearch): bump version to 0.3.0
  airbyte-integrations/connectors/destination-elasticsearch/metadata.yaml
  docs/integrations/destinations/elasticsearch.md
Due: none

fix(docs): add API reference link to /ai-agents/api
  docs/ai-agents/embedded/api/README.md
Due: none

fix(docs): add trailing slash to API reference link
  docs/ai-agents/embedded/api/README.md
Due: none

chore(docs): rename Sonar/Embedded API to Agent Engine API (#72818)
  .github/workflows/regenerate-agent-engine-api-spec.yml
  docs/ai-agents/api/api-reference/.gitignore
  docs/ai-agents/connectors/readme.md
  docs/ai-agents/embedded/api/README.md
  docs/ai-agents/tutorials/quickstarts/readme.md
  docs/ai-agents/tutorials/quickstarts/tutorial-python.md
  docusaurus/docusaurus.config.ts
  docusaurus/package.json
  docusaurus/src/data/agent_engine_api_spec.json
  docusaurus/src/scripts/agent-engine-api/constants.js
  docusaurus/src/scripts/agent-engine-api/openapi-validator.js
  docusaurus/src/scripts/agent-engine-api/prepare-agent-engine-api-spec.js
  docusaurus/src/scripts/agent-engine-api/sidebar-generator.ts
  docusaurus/vercel.json
Due: none

fix(source-google-ads): Handle error responses in GoogleAdsStreamingDecoder to prevent hangs on 403 errors
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
Due: addlicense

docs: sync agent connector docs from airbyte-agent-connectors repo
  docs/ai-agents/connectors/facebook-marketing/AUTH.md
  docs/ai-agents/connectors/facebook-marketing/README.md
Due: none

fmt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/cdc/PostgresSourceDebeziumOperations.kt
Due: addlicense, spotless

Cleanup the old Embedded directory API docs.
  docs/ai-agents/embedded/api-reference/.gitignore
  docusaurus/api-docs/embedded-api/.gitignore
  docusaurus/api-docs/embedded-api/README.txt
Due: none

Set the debezium API version to the latest 3.4.1
  airbyte-integrations/connectors/source-postgres/build.gradle
Due: spotless

docs: sync agent connector docs from airbyte-agent-connectors repo
  docs/ai-agents/connectors/facebook-marketing/README.md
  docs/ai-agents/connectors/facebook-marketing/REFERENCE.md
Due: none

docs: Update terraform documentation for 1.0 provider readiness
  docs/developers/terraform-documentation.md
Due: none

#67619 fix wrong datetime format in paypal connector
  airbyte-integrations/connectors/source-paypal-transaction/manifest.yaml
Due: none

fix speed mode tests
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/IntegrationTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/destination_process/DestinationProcess.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/destination_process/DockerizedDestination.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/destination_process/NonDockerizedDestination.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/IcebergWriteTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeWriteTest.kt
Due: addlicense, spotless

fix(source-facebook-pages): show actual error message on 400 status code
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/manifest.yaml
Due: none

test(source-facebook-pages): update tests for 400 error handling change
  airbyte-integrations/connectors/source-facebook-pages/unit_tests/test_streams.py
Due: addlicense
