Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

feat: add data activation flag (#152)
  airbyte-integrations/connectors/destination-cobra/metadata.yaml
Due: none

supports data activation flag in metadata service
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorMetadataDefinitionV0.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorRegistryDestinationDefinition.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorRegistryReleases.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorRegistrySourceDefinition.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorRegistryV0.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/src/ConnectorMetadataDefinitionV0.yaml
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/src/ConnectorRegistryDestinationDefinition.yaml
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/src/ConnectorRegistrySourceDefinition.yaml
  airbyte-ci/connectors/metadata_service/lib/poetry.lock
  airbyte-ci/connectors/metadata_service/lib/pyproject.toml
  airbyte-ci/connectors/metadata_service/lib/tests/test_transform.py
Due: addlicense

Update the orchestrator with new types too
  airbyte-ci/connectors/metadata_service/orchestrator/poetry.lock
Due: none

updated incremental sync
  airbyte-integrations/connectors/source-hubspot/source_hubspot/manifest.yaml
Due: none

removed query params
  airbyte-integrations/connectors/source-hubspot/source_hubspot/manifest.yaml
Due: none

drop concurrency further
  airbyte-integrations/connectors/destination-bigquery/gradle.properties
Due: none

corrections
  airbyte-integrations/connectors/source-intercom/components.py
  airbyte-integrations/connectors/source-intercom/manifest.yaml
  airbyte-integrations/connectors/source-intercom/unit_tests/test_components.py
Due: addlicense

feat(airbyte-ci): supports data activation flag in metadata service (#59746)
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorMetadataDefinitionV0.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorRegistryDestinationDefinition.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorRegistryReleases.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorRegistrySourceDefinition.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorRegistryV0.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/src/ConnectorMetadataDefinitionV0.yaml
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/src/ConnectorRegistryDestinationDefinition.yaml
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/src/ConnectorRegistrySourceDefinition.yaml
  airbyte-ci/connectors/metadata_service/lib/poetry.lock
  airbyte-ci/connectors/metadata_service/lib/pyproject.toml
  airbyte-ci/connectors/metadata_service/lib/tests/test_transform.py
  airbyte-ci/connectors/metadata_service/orchestrator/poetry.lock
Due: addlicense

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-hubspot/source_hubspot/manifest.yaml
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
Due: addlicense

Update sso.md with guidance to submit supportt ticket
  docs/platform/access-management/sso.md
Due: none

version
  airbyte-integrations/connectors/destination-azure-blob-storage/metadata.yaml
  docs/integrations/destinations/azure-blob-storage.md
Due: none

Submission for source-sendwithus from Connector Builder
  airbyte-integrations/connectors/source-sendwithus/README.md
  airbyte-integrations/connectors/source-sendwithus/acceptance-test-config.yml
  airbyte-integrations/connectors/source-sendwithus/icon.svg
  airbyte-integrations/connectors/source-sendwithus/manifest.yaml
  airbyte-integrations/connectors/source-sendwithus/metadata.yaml
  docs/integrations/sources/sendwithus.md
Due: none

Update okta.md to indicate credentials need to be shared securely
  docs/platform/access-management/sso-providers/okta.md
Due: none

Update azure-entra-id.md to indicate securely sharing
  docs/platform/access-management/sso-providers/azure-entra-id.md
Due: none

Correct metadata file.
  .github/workflows/publish_connectors.yml
  airbyte-integrations/connectors/destination-dev-null/metadata.yaml
Due: none

Update metadata.yaml
  airbyte-integrations/connectors/source-pennylane/metadata.yaml
Due: none

Update pennylane.md
  docs/integrations/sources/pennylane.md
Due: none

Update manifest.yaml
  airbyte-integrations/connectors/source-pennylane/manifest.yaml
Due: none

Revert "Log level?"
  .github/workflows/connector-test-command.yml
Due: none

bigquery: test fixes (#59726)
  airbyte-cdk/bulk/toolkits/load-db/src/test/kotlin/io/airbyte/cdk/load/toolkits/load/db/orchestration/TableCatalogFactoryTest.kt
  airbyte-integrations/connectors/destination-bigquery/gradle.properties
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/check/BigqueryCheckCleaner.kt
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryDataDumper.kt
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryDestinationCleaner.kt
Due: addlicense, spotless

Add script to support pre-release and main-release and name options to match current interface.
  poe-tasks/build-and-publish-java-connectors-with-tag.sh
Due: none

Update sso.md with guidance to submit support ticket (#59747)
  docs/platform/access-management/sso-providers/azure-entra-id.md
  docs/platform/access-management/sso-providers/okta.md
  docs/platform/access-management/sso.md
Due: none

better example.
  poe-tasks/build-and-publish-java-connectors-with-tag.sh
Due: none

Correct empty string bug.
  poe-tasks/build-and-publish-java-connectors-with-tag.sh
Due: none

Update poe-tasks/get-modified-connectors.sh
  poe-tasks/get-modified-connectors.sh
Due: none

add incremental to ad_performance_report_monthly stream
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/manifest.yaml
Due: none

ruff format
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/manifest.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/reports/bing_ads_reporting_service_performance_stream.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_reports.py
Due: addlicense

Final publish workflow changes.
  .github/workflows/publish_connectors.yml
Due: none

Add missing primary key for ticket_pipelines
  airbyte-integrations/connectors/source-hubspot/source_hubspot/manifest.yaml
Due: none

Fix workflow error.
  .github/workflows/publish_connectors.yml
Due: none

direct load orchestration sketch
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/DestinationNames.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadInitialStatus.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadSqlGenerator.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableExecutionConfig.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableOperations.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableStreamLoader.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableWriter.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/migrations/DirectLoadTableTempTableNameMigration.kt
Due: addlicense, spotless

Add missing cursor format for workflows stream state migration
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/pyproject.toml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/manifest.yaml
  docs/integrations/sources/hubspot.md
Due: none

source-pennylane contribution from edwandr (#59679)
  airbyte-integrations/connectors/source-pennylane/manifest.yaml
  airbyte-integrations/connectors/source-pennylane/metadata.yaml
  docs/integrations/sources/pennylane.md
Due: none

major version bump
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
Due: none

disable T+D permanently
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/Sql.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryBeansFactory.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/typing_deduping/BigqueryDatabaseInitialStatusGatherer.kt
Due: addlicense, spotless

Unnecessary check.
  poe-tasks/build-and-publish-java-connectors-with-tag.sh
Due: none

bigquery direct load sketch
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryBeansFactory.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/formatter/BigQueryRecordFormatter.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/typing_deduping/BigqueryDatabaseInitialStatusGatherer.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/BigqueryDirectLoadTableNativeOperations.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/BigqueryTableExistenceChecker.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/bulk_loader/BigQueryBulkLoader.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/standard_insert/BigqueryBatchStandardInsertLoader.kt
Due: addlicense, spotless

remove redundant null check
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/BigqueryDirectLoadTableNativeOperations.kt
Due: addlicense, spotless

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

