Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

Update data-plane.md
  docs/platform/cloud-enterprise/data-plane.md
Due: none

use dataclass
  airbyte-ci/connectors/metadata_service/lib/metadata_service/registry_entry.py
Due: addlicense

fix cdk_version metadata
  airbyte-ci/connectors/metadata_service/lib/metadata_service/registry_entry.py
Due: addlicense

check filenode relation before partitioning
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceJdbcPartition.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceJdbcPartitionFactory.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceJdbcStreamState.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceJdbcStreamStateValue.kt
Due: addlicense, spotless

Cloud Flex -> Enterprise Flex
  docs/platform/contributing-to-airbyte/writing-docs.md
  docs/platform/enterprise-flex/data-plane.md
  docs/platform/enterprise-flex/img/data-planes.png
  docs/platform/enterprise-flex/img/flex-enterprise-example.png
  docs/platform/enterprise-flex/img/multiple-regions-in-airbyte.png
  docs/platform/enterprise-flex/readme.md
  docs/platform/readme.md
  docusaurus/src/components/ProductInformation.jsx
Due: none

switch reading from gcs and github
  airbyte-ci/connectors/metadata_service/lib/metadata_service/stale_metadata_report.py
Due: addlicense

Fixed docusaurus!
  docs/platform/enterprise-flex/data-plane.md
  docusaurus/sidebar-platform.js
Due: none

Update docs/vale-styles/config/vocabularies/Airbyte/accept.txt
  docs/vale-styles/config/vocabularies/Airbyte/accept.txt
Due: none

Add notes on Show/Describe.
  docs/integrations/destinations/snowflake.md
Due: none

update schema, add incremental sync
  airbyte-integrations/connectors/source-hubspot/README.md
  airbyte-integrations/connectors/source-hubspot/integration_tests/basic_read_catalog.json
  airbyte-integrations/connectors/source-hubspot/integration_tests/incremental_catalog.json
  airbyte-integrations/connectors/source-hubspot/manifest.yaml
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  docs/integrations/sources/hubspot.md
Due: none

Update poe-tasks/poetry-connector-tasks.toml
  poe-tasks/poetry-connector-tasks.toml
Due: none

Apply suggestion from @aaronsteers
  poe-tasks/poetry-connector-tasks.toml
Due: none

ci: make `use-cdk-*` poe tasks extras-aware, add prerelease CI check for non-prod CDK versions (#62525)
  .github/workflows/connector-ci-checks.yml
  poe-tasks/detect-python-cdk.py
  poe-tasks/poetry-connector-tasks.toml
Due: addlicense

chore(poe-tasks): make poe tasks more DRY by consolidating repetitive patterns
  airbyte-integrations/connectors/poe_tasks.toml
  poe-tasks/gradle-connector-tasks.toml
  poe-tasks/manifest-only-connector-tasks.toml
  poe-tasks/poetry-connector-tasks.toml
  poe-tasks/shared-connector-tasks.toml
Due: none

check filenode relation while reading
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/JdbcPartition.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/JdbcPartitionReader.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceJdbcPartition.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceJdbcPartitionFactory.kt
Due: addlicense, spotless

Submission for source-mockapi from Connector Builder
  airbyte-integrations/connectors/source-mockapi/README.md
  airbyte-integrations/connectors/source-mockapi/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mockapi/icon.svg
  airbyte-integrations/connectors/source-mockapi/manifest.yaml
  airbyte-integrations/connectors/source-mockapi/metadata.yaml
  docs/integrations/sources/mockapi.md
Due: none

wrap script calls in a github action
  .github/actions/build-publish-jvm-connectors/action.yml
  .github/actions/get-modified-connectors/action.yml
  .github/actions/parse-connector-name-args/action.yml
  .github/actions/publish-jvm-tar/action.yml
  .github/actions/publish-python-registry/action.yml
  .github/actions/upload-connector-metadata/action.yml
  .github/actions/upload-python-dependencies/action.yml
  .github/actions/validate-connector-metadata/action.yml
Due: none

update publish connector script
  .github/workflows/publish_connectors.yml
Due: none

use dash instead of underscore
  .github/workflows/publish_connectors.yml
Due: none

more replace
  .github/workflows/publish_connectors.yml
Due: none

Destination Postgres: publish strict-encrypt to pull in NUMERIC workaround (#65577)
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/metadata.yaml
Due: none

use new args
  .github/workflows/publish_connectors.yml
Due: none

Update metadata.yaml
  airbyte-integrations/connectors/source-greenhouse/metadata.yaml
Due: none

chore: document suboptimal implementation of SHOW/DESCRIBE for Dest Snowflake. (#65582)
  docs/integrations/destinations/snowflake.md
Due: none

add caller ref
  .github/workflows/publish_connectors.yml
Due: none

revert: focus only on CDK tasks, fix dependency string construction
  airbyte-integrations/connectors/poe_tasks.toml
  poe-tasks/gradle-connector-tasks.toml
  poe-tasks/manifest-only-connector-tasks.toml
  poe-tasks/poetry-connector-tasks.toml
Due: none

clean up: remove shared-connector-tasks.toml and add validation script
  poe-tasks/shared-connector-tasks.toml
  validate_toml.py
Due: addlicense

update unit test
  airbyte-ci/connectors/metadata_service/lib/tests/test_registry_entry.py
Due: addlicense

fix: apply pre-commit formatting to validation script
  validate_toml.py
Due: addlicense

🐙 source-greenhouse: run up-to-date pipeline [2025-08-23] (#64973)
  airbyte-integrations/connectors/source-greenhouse/metadata.yaml
  docs/integrations/sources/greenhouse.md
Due: none

fix: registry entry generation diffs (#65575)
  airbyte-ci/connectors/metadata_service/lib/metadata_service/registry_entry.py
  airbyte-ci/connectors/metadata_service/lib/tests/test_registry_entry.py
Due: addlicense

update tests for marketing_streams
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
Due: addlicense

try with github.sha only
  .github/workflows/publish_connectors.yml
Due: none

update migration messaging
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  docs/integrations/sources/hubspot-migrations.md
Due: none

remove caller ref for testing
  .github/workflows/publish_connectors.yml
Due: none

fix original trigger type
  .github/workflows/publish_connectors.yml
Due: none

chore: auto-fix lint and format issues
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/discover/Field.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/Feed.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/StateManagerFactory.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/discover/JdbcMetadataQuerier.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/DefaultJdbcPartition.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/DefaultJdbcPartitionFactory.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/JdbcPartition.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/JdbcPartitionReader.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/JdbcPartitionsCreator.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/SelectQuerier.kt
  airbyte-cdk/bulk/toolkits/source-tests/src/testFixtures/kotlin/io/airbyte/cdk/test/fixtures/tests/BaseConnectorTest.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceCdcPosition.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceDebeziumOperations.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceJdbcPartition.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceJdbcPartitionFactory.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceJdbcStreamState.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceJdbcStreamStateValue.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceSelectQuerier.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/config/PostgresSourceConfiguration.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/ctid/Ctid.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/PostgresSourceCdcMetaFields.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/PostgresSourceFieldTypeMapper.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/PostgresSourceSelectQueryGenerator.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/PostgresContainerFactory.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceCursorBasedIntegrationTest.kt
Due: addlicense, spotless

check filenode relation while reading
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/ctid/Ctid.kt
Due: addlicense, spotless

sanity
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/JdbcPartitionReader.kt
Due: addlicense, spotless
