Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

Added draft release notes for 1.8
  docs/release_notes/v-1.8.md
  docusaurus/sidebar-release_notes.js
Due: none

changelogs
  docs/integrations/destinations/hubspot.md
Due: none

chore: destination-hubspot to oss (#64144)
  airbyte-integrations/connectors/destination-hubspot/README.md
  airbyte-integrations/connectors/destination-hubspot/build.gradle.kts
  airbyte-integrations/connectors/destination-hubspot/gradle.properties
  airbyte-integrations/connectors/destination-hubspot/icon.svg
  airbyte-integrations/connectors/destination-hubspot/metadata.yaml
  airbyte-integrations/connectors/destination-hubspot/poe_tasks.toml
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotBeanFactory.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotConfiguration.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotConfigurationFactory.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotDestination.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotDiscoverer.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotLoader.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotSpecification.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotSpecificationExtender.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotStreamLoader.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotWriter.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/io/airbyte/integrations/destination/hubspot/http/HubSpotObjectTypeIdMapper.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/io/airbyte/integrations/destination/hubspot/http/HubSpotOperationRepository.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/resources/manifest.yaml
  airbyte-integrations/connectors/destination-hubspot/src/test-integration/kotlin/HubSpotCheckTest.kt
  airbyte-integrations/connectors/destination-hubspot/src/test-integration/kotlin/HubSpotDiscoverTest.kt
  airbyte-integrations/connectors/destination-hubspot/src/test-integration/kotlin/HubSpotSpecTest.kt
  airbyte-integrations/connectors/destination-hubspot/src/test-integration/kotlin/HubSpotWriterTest.kt
  airbyte-integrations/connectors/destination-hubspot/src/test-integration/kotlin/bean/HubSpotTestingOverrideFactory.kt
  airbyte-integrations/connectors/destination-hubspot/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-hubspot/src/test-integration/resources/expected-spec-oss.json
  airbyte-integrations/connectors/destination-hubspot/src/test/kotlin/io/airbyte/integrations/destination/hubspot/http/HubSpotOperationRepositoryTest.kt
  airbyte-integrations/connectors/destination-hubspot/src/test/kotlin/io/airbyte/integrations/destination/hubspot/http/HubSpotSchemaResponseBuilder.kt
  docs/integrations/destinations/hubspot.md
Due: addlicense, spotless

File syncing is no longer limited to the YAML file.
  docs/platform/connector-development/config-based/understanding-the-yaml-file/file-syncing.md
Due: none

YAML capabilities are now almost fully supported by the UI
  docs/platform/connector-development/config-based/low-code-cdk-overview.md
Due: none

Start wiring up.
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowPipelineInputFlow.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowStageIO.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/lifecycle/DestinationLifecycle.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/cdk/WriteOperationV2.kt
Due: addlicense, spotless

docs(connector-builder-ui): Add Global Configuration documentation
  docs/platform/connector-development/connector-builder-ui/global-configuration.md
  docs/platform/connector-development/connector-builder-ui/overview.md
  docusaurus/sidebar-platform.js
Due: none

Update README.md
  docs/developer-tools/README.md
Due: none

chore: move destination-hubspot to oss (#210)
  airbyte-integrations/connectors/destination-hubspot/README.md
  airbyte-integrations/connectors/destination-hubspot/build.gradle.kts
  airbyte-integrations/connectors/destination-hubspot/gradle.properties
  airbyte-integrations/connectors/destination-hubspot/icon.svg
  airbyte-integrations/connectors/destination-hubspot/metadata.yaml
  airbyte-integrations/connectors/destination-hubspot/poe_tasks.toml
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotBeanFactory.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotConfiguration.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotConfigurationFactory.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotDestination.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotDiscoverer.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotLoader.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotSpecification.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotSpecificationExtender.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotStreamLoader.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotWriter.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/io/airbyte/integrations/destination/hubspot/http/HubSpotObjectTypeIdMapper.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/io/airbyte/integrations/destination/hubspot/http/HubSpotOperationRepository.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/resources/manifest.yaml
  airbyte-integrations/connectors/destination-hubspot/src/test-integration/kotlin/HubSpotCheckTest.kt
  airbyte-integrations/connectors/destination-hubspot/src/test-integration/kotlin/HubSpotDiscoverTest.kt
  airbyte-integrations/connectors/destination-hubspot/src/test-integration/kotlin/HubSpotSpecTest.kt
  airbyte-integrations/connectors/destination-hubspot/src/test-integration/kotlin/HubSpotWriterTest.kt
  airbyte-integrations/connectors/destination-hubspot/src/test-integration/kotlin/bean/HubSpotTestingOverrideFactory.kt
  airbyte-integrations/connectors/destination-hubspot/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-hubspot/src/test-integration/resources/expected-spec-oss.json
  airbyte-integrations/connectors/destination-hubspot/src/test/kotlin/io/airbyte/integrations/destination/hubspot/http/HubSpotOperationRepositoryTest.kt
  airbyte-integrations/connectors/destination-hubspot/src/test/kotlin/io/airbyte/integrations/destination/hubspot/http/HubSpotSchemaResponseBuilder.kt
Due: addlicense, spotless

push
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/AggregateStage.kt
Due: addlicense, spotless

update poetry lock files
  airbyte-ci/connectors/connectors_qa/poetry.lock
  airbyte-ci/connectors/pipelines/poetry.lock
Due: none

remove claude local from git ignore
  .gitignore
Due: none

delete base images directory
  airbyte-ci/connectors/base_images/README.md
  airbyte-ci/connectors/base_images/base_images/__init__.py
  airbyte-ci/connectors/base_images/base_images/bases.py
  airbyte-ci/connectors/base_images/base_images/commands.py
  airbyte-ci/connectors/base_images/base_images/consts.py
  airbyte-ci/connectors/base_images/base_images/errors.py
  airbyte-ci/connectors/base_images/base_images/hacks.py
  airbyte-ci/connectors/base_images/base_images/java/__init__.py
  airbyte-ci/connectors/base_images/base_images/java/bases.py
  airbyte-ci/connectors/base_images/base_images/publish.py
  airbyte-ci/connectors/base_images/base_images/published_image.py
  airbyte-ci/connectors/base_images/base_images/python/__init__.py
  airbyte-ci/connectors/base_images/base_images/python/bases.py
  airbyte-ci/connectors/base_images/base_images/python/sanity_checks.py
  airbyte-ci/connectors/base_images/base_images/root_images.py
  airbyte-ci/connectors/base_images/base_images/sanity_checks.py
  airbyte-ci/connectors/base_images/base_images/templates/README.md.j2
  airbyte-ci/connectors/base_images/base_images/utils/__init__.py
  airbyte-ci/connectors/base_images/base_images/utils/dagger.py
  airbyte-ci/connectors/base_images/base_images/utils/docker.py
  airbyte-ci/connectors/base_images/base_images/version_registry.py
  airbyte-ci/connectors/base_images/generated/changelogs/airbyte_java_connector_base.json
  airbyte-ci/connectors/base_images/generated/changelogs/airbyte_python_connector_base.json
  airbyte-ci/connectors/base_images/poetry.lock
  airbyte-ci/connectors/base_images/pyproject.toml
  airbyte-ci/connectors/base_images/pytest.ini
  airbyte-ci/connectors/base_images/tests/__init__.py
  airbyte-ci/connectors/base_images/tests/conftest.py
  airbyte-ci/connectors/base_images/tests/test_python/__init__.py
  airbyte-ci/connectors/base_images/tests/test_python/test_bases.py
  airbyte-ci/connectors/base_images/tests/test_python/test_sanity_checks.py
  airbyte-ci/connectors/base_images/tests/test_sanity_checks.py
  airbyte-ci/connectors/base_images/tests/test_version_registry.py
Due: addlicense

Wire up to stuff.
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/write/aggregate/ClickHouseAggregate.kt
Due: addlicense, spotless

Wire beans and stuff to CH. Dummy impls of agg
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/Aggregate.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/AggregateStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowPipeline.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowPipelineInputFlow.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataMunger.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/AggregateStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/FlushStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/ParseStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/StateStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateWatermarkStore.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/config/ClickhouseBeanFactory.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/write/aggregate/ClickHouseAggregate.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/write/transform/RecordMunger.kt
Due: addlicense, spotless

docs(connector-builder-ui): Address PR feedback
  docs/platform/connector-development/connector-builder-ui/global-configuration.md
Due: none

Agent test
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/AggregateStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/AggregateStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/lifecycle/steps/RecordAccumulator.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/stages/AggregateStageTest.kt
Due: addlicense, spotless

fix(source-intercom): exclude premium streams from FAST tests
  airbyte-integrations/connectors/source-intercom/acceptance-test-config.yml
  airbyte-integrations/connectors/source-intercom/metadata.yaml
Due: none

Buffering + reservationing.
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowPipeline.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowPipelineInputFlow.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowStageIO.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/AggregateStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/lifecycle/DestinationLifecycle.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/cdk/WriteOperationV2.kt
Due: addlicense, spotless

Fix test
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/stages/AggregateStageTest.kt
Due: addlicense, spotless

🐙 source-pokeapi: run up-to-date pipeline [2025-07-31] (#64147)
  airbyte-integrations/connectors/source-pokeapi/metadata.yaml
  docs/integrations/sources/pokeapi.md
Due: none

bump to 5.0.4
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pyproject.toml
Due: none

Update airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/README.md
Due: none

Get running.
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/Aggregate.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/AggregateStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowPipeline.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/ParseStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/lifecycle/steps/RecordAccumulator.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/lifecycle/ClickhouseAggregator.kt
Due: addlicense, spotless

merge cleanup
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/lifecycle/steps/RecordAccumulator.kt
Due: addlicense, spotless

add region to the gsm provider
  docs/platform/deploying-airbyte/chart-v2-community.mdx
  docs/platform/deploying-airbyte/integrations/secrets.md
  docs/platform/enterprise-setup/chart-v2-enterprise.mdx
  docs/platform/enterprise-setup/implementation-guide.md
Due: none

RM unused
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/lifecycle/operations/Aggregator.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/lifecycle/steps/AggregateStep.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/lifecycle/steps/CreateInputFlowStep.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/lifecycle/steps/LoadStep.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/lifecycle/steps/RecordMungingStep.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/lifecycle/ClickhouseAggregator.kt
Due: addlicense, spotless

fix: release airbyte-ci 5.0.4 (#64150)
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pyproject.toml
Due: none

add new `GCSClient` and update tests
  airbyte-ci/connectors/metadata_service/lib/metadata_service/gcs_upload.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/integrations/gcs_client.py
  airbyte-ci/connectors/metadata_service/lib/poetry.lock
  airbyte-ci/connectors/metadata_service/lib/tests/integrations/test_gcs_client.py
  airbyte-ci/connectors/metadata_service/lib/tests/test_gcs_upload.py
Due: addlicense

bump version
  airbyte-ci/connectors/metadata_service/lib/pyproject.toml
Due: none

add delete, copy, get methods for GCSClient
  airbyte-ci/connectors/metadata_service/lib/metadata_service/gcs_upload.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/integrations/gcs_client.py
Due: addlicense

Update connector builder stream template tutorial to reflect the new schema based form
  docs/platform/connector-development/config-based/understanding-the-yaml-file/rate-limit-api-budget.md
  docs/platform/connector-development/connector-builder-ui/assets/stream-templates/component-mappings.png
  docs/platform/connector-development/connector-builder-ui/stream-templates.md
Due: none

update gcs_upload to remove direct interactions w/ blobs
  airbyte-ci/connectors/metadata_service/lib/metadata_service/gcs_upload.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/integrations/gcs_client.py
Due: addlicense

Remove this stuff.
  airbyte-integrations/connectors/build.gradle
  poe-tasks/build-and-publish-java-connectors-with-tag.sh
Due: spotless

update slack following most_recent_record breaking change
  airbyte-integrations/connectors/source-slack/poetry.lock
  airbyte-integrations/connectors/source-slack/pyproject.toml
  airbyte-integrations/connectors/source-slack/source_slack/components/join_channels.py
Due: addlicense

Remove reserved from input pipe.
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowPipeline.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowPipelineInputFlow.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowStageIO.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/input/DataFlowPipelineInputFlow.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/input/DestinationInputFlow.kt
Due: addlicense, spotless

More released cleanup.
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/AggregateStage.kt
Due: addlicense, spotless

fix: deal_pipelines default property datatype
  airbyte-integrations/connectors/source-hubspot/manifest.yaml
Due: none

Update hubspot.md
  docs/integrations/sources/hubspot.md
Due: none
