Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

increase test coverage
  airbyte-integrations/connectors/source-shopify/source_shopify/streams/streams.py
  airbyte-integrations/connectors/source-shopify/unit_tests/conftest.py
  airbyte-integrations/connectors/source-shopify/unit_tests/test_source.py
Due: addlicense

make test with real credential
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/client.py
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/sample_config_service.json
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_client.py
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_helpers.py
  airbyte-integrations/connectors/destination-google-sheets/metadata.yaml
Due: addlicense

remove unused code:
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/client.py
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_helpers.py
Due: addlicense

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_client.py
Due: addlicense

🐛 Source Square: Change type of object_types in the request body from string to array (#53695)
  airbyte-integrations/connectors/source-square/manifest.yaml
  airbyte-integrations/connectors/source-square/metadata.yaml
  docs/integrations/sources/square.md
Due: none

✨ Destination Google Sheets: add service account authentication (#54689)
  airbyte-integrations/connectors/destination-google-sheets/README.md
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/client.py
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/spec.json
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/sample_config_service.json
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_client.py
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_destination.py
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_helpers.py
  airbyte-integrations/connectors/destination-google-sheets/metadata.yaml
  airbyte-integrations/connectors/destination-google-sheets/pyproject.toml
  docs/integrations/destinations/google-sheets.md
Due: addlicense

basic skeleton
  airbyte-integrations/connectors/destination-azure-blob-storage/build.gradle
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageConnectionChecker.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageConsumer.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDestination.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDestinationConfig.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDestinationConstants.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageFormat.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageFormatConfig.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageFormatConfigs.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/csv/AzureBlobStorageCsvFormatConfig.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/csv/AzureBlobStorageCsvWriter.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/csv/BaseSheetGenerator.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/csv/CsvSheetGenerator.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/csv/NoFlatteningSheetGenerator.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/csv/RootLevelFlatteningSheetGenerator.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/jsonl/AzureBlobStorageJsonlFormatConfig.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/jsonl/AzureBlobStorageJsonlWriter.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/writer/AzureBlobStorageWriter.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/writer/AzureBlobStorageWriterFactory.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/writer/BaseAzureBlobStorageWriter.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/writer/ProductionWriterFactory.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDestination.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageContainer.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageCsvDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageJsonlDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageSpillTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageWriteTest.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/resources/test_data
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobDestinationTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobRecordConsumerTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageFormatConfigsTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test/java/io/airbyte/integrations/destination/azure_blob_storage/csv/AzureBlobStorageCsvFormatConfigTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test/java/io/airbyte/integrations/destination/azure_blob_storage/csv/NoFlatteningSheetGeneratorTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test/java/io/airbyte/integrations/destination/azure_blob_storage/csv/RootLevelFlatteningSheetGeneratorTest.java
Due: addlicense, spotless

Spec class
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageSpecification.kt
Due: addlicense, spotless

implement interface
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageSpecification.kt
Due: addlicense, spotless

Version 1.0.0
  airbyte-integrations/connectors/destination-azure-blob-storage/metadata.yaml
Due: none

First Commit
  airbyte-integrations/connectors/source-jira/poetry.lock
  airbyte-integrations/connectors/source-jira/pyproject.toml
Due: none

swap last_api_call_is_successful values
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/common.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_migrations/account_id_to_array/test_old_config.json
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_migrations/include_deleted_to_status_filters/include_deleted_true/test_old_config.json
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_migrations/secrets_to_credentials/test_old_access_token_config.json
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_migrations/secrets_to_credentials/test_old_client_config.json
Due: addlicense

do some stuff
  airbyte-cdk/bulk/toolkits/load-azure-blob-storage/build.gradle
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDataDumper.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageTestContainer.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageWriteTest.kt
Due: addlicense, spotless

add main method
  airbyte-integrations/connectors/destination-azure-blob-storage/build.gradle
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDestination.kt
Due: addlicense, spotless

stashing WIP
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageTestContainer.kt
Due: addlicense, spotless

fill in more stuff
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDataDumper.kt
Due: addlicense, spotless

use official testcontainer
  airbyte-integrations/connectors/destination-azure-blob-storage/build.gradle
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDataDumper.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageTestContainer.kt
Due: addlicense, spotless

use spec class
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageWriteTest.kt
Due: addlicense, spotless

skeletons
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageChecker.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageObjectLoader.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageWriter.kt
Due: addlicense, spotless

rough dumper sketch
  airbyte-integrations/connectors/destination-azure-blob-storage/build.gradle
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDataDumper.kt
Due: addlicense, spotless

create stub classes
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageWriteTest.kt
Due: addlicense, spotless

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_migrations/account_id_to_array/test_old_config.json
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_migrations/include_deleted_to_status_filters/include_deleted_true/test_old_config.json
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_migrations/secrets_to_credentials/test_old_access_token_config.json
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_migrations/secrets_to_credentials/test_old_client_config.json
Due: none

Archive Iceberg Part 1: Update Metadata. (#56412)
  airbyte-integrations/connectors/destination-iceberg/metadata.yaml
Due: none

✨ Source Mixmax: adding polls, qa, unsubscribes, and yesno
  airbyte-integrations/connectors/source-mixmax/manifest.yaml
  airbyte-integrations/connectors/source-mixmax/metadata.yaml
  docs/integrations/sources/mixmax.md
Due: none

Adding PR number
  docs/integrations/sources/mixmax.md
Due: none

Update VendorOrdersStatus.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/VendorOrdersStatus.json
Due: none

add test for no data truncate refresh
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeWriteTest.kt
Due: addlicense, spotless

disable acceptance test
  airbyte-integrations/connectors/source-outbrain-amplify/acceptance-test-config.yml
  airbyte-integrations/connectors/source-outbrain-amplify/poetry.lock
  airbyte-integrations/connectors/source-outbrain-amplify/pyproject.toml
Due: none

✨Source Outbrain Amplify: Add new optional parameter 'conversionsByClickDate' for performance reports (#55746)
  airbyte-integrations/connectors/source-outbrain-amplify/acceptance-test-config.yml
  airbyte-integrations/connectors/source-outbrain-amplify/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-outbrain-amplify/metadata.yaml
  airbyte-integrations/connectors/source-outbrain-amplify/poetry.lock
  airbyte-integrations/connectors/source-outbrain-amplify/pyproject.toml
  airbyte-integrations/connectors/source-outbrain-amplify/source_outbrain_amplify/source.py
  airbyte-integrations/connectors/source-outbrain-amplify/source_outbrain_amplify/spec.yaml
  docs/integrations/sources/outbrain-amplify.md
Due: addlicense

🐛 Source Facebook Marketing : Fix retry pattern (#54171)
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/common.py
  docs/integrations/sources/facebook-marketing.md
Due: addlicense

fix datetime state error and update docs
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/manifest.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  docs/integrations/sources/amazon-seller-partner.md
Due: none

bump doc
  airbyte-integrations/connectors/source-notion/poetry.lock
  docs/integrations/sources/notion.md
Due: none

derp, add partitioner
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageObjectLoader.kt
Due: addlicense, spotless

source-zendesk-support: initial commit to transfer files
  airbyte-integrations/connectors/source-zendesk-support/poetry.lock
  airbyte-integrations/connectors/source-zendesk-support/pyproject.toml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/manifest.yaml
Due: none

bump cdk version
  airbyte-integrations/connectors/source-notion/poetry.lock
  airbyte-integrations/connectors/source-notion/pyproject.toml
Due: none

stashing WIP
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageCheckTest.kt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/kotlin/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageTestUtil.kt
Due: addlicense, spotless

source-zendesk-support: prettier command
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/manifest.yaml
Due: none

lol, lmao even
  airbyte-integrations/connectors/destination-azure-blob-storage/metadata.yaml
Due: none

check test takes config contents
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/check/CheckIntegrationTest.kt
Due: addlicense, spotless

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

