Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

chore: remove stale unified bulk CDK version machinery
  .github/pr-welcome-internal.md
  .github/workflows/bump-bulk-cdk-version-command.yml
  .github/workflows/java-cdk-tests.yml
  .github/workflows/slash-commands.yml
  airbyte-cdk/bulk/README.md
  airbyte-cdk/bulk/build.gradle
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/version.properties
Due: spotless

test
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/DefaultJdbcPartitionFactory.kt
Due: addlicense, spotless

ci: add find-or-create issue tracking for unpublished connector versions
  .github/workflows/resolve-stale-metadata.yml
Due: none

fix(source-visma-economic): bump version to 0.3.50 for release
  airbyte-integrations/connectors/source-visma-economic/metadata.yaml
  docs/integrations/sources/visma-economic.md
Due: none

feat(source-intercom): update HTTPAPIBudget to 95% of Intercom rate limits (9500/min + 1583/10s)
  airbyte-integrations/connectors/source-intercom/manifest.yaml
Due: none

docs(source-visma-economic): fix incorrect setup steps and improve documentation
  docs/integrations/sources/visma-economic.md
Due: none

chore(source-intercom): update CDK version to 7.10.1.post4.dev22575084479 (includes MAX_CONNECTION_POOL_SIZE=40)
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  airbyte-integrations/connectors/source-intercom/unit_tests/pyproject.toml
Due: none

fix(source-intercom): regenerate poetry.lock for updated CDK version
  airbyte-integrations/connectors/source-intercom/unit_tests/poetry.lock
Due: none

fix(source-facebook-marketing): constrain check_breakdowns time range for high-cardinality breakdowns
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
Due: addlicense

chore(source-facebook-marketing): bump version 5.0.1 -> 5.0.2
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  docs/integrations/sources/facebook-marketing.md
Due: none

fix(bulk-cdk): recreate non-empty temp tables on retry to prevent duplicate records
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/table/directload/DirectLoadTableStreamLoader.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/table/directload/DirectLoadTableStreamLoaderTest.kt
Due: addlicense, spotless

style: fix ktfmt formatting in DirectLoadTableStreamLoaderTest
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/table/directload/DirectLoadTableStreamLoaderTest.kt
Due: addlicense, spotless

chore: bump bulk CDK version to 0.2.9
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/version.properties
Due: none

feat(source-facebook-pages): use QueryProperties with JsonSchemaPropertySelector for field filtering (#72949)
  airbyte-integrations/connectors/source-facebook-pages/metadata.yaml
  airbyte-integrations/connectors/source-facebook-pages/poetry.lock
  airbyte-integrations/connectors/source-facebook-pages/pyproject.toml
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/manifest.yaml
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/run.py
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/source.py
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/spec.yaml
  airbyte-integrations/connectors/source-facebook-pages/unit_tests/test_streams.py
  docs/integrations/sources/facebook-pages.md
Due: addlicense

docs(source-facebook-pages): improve documentation accuracy and completeness
  docs/integrations/sources/facebook-pages.md
Due: none

fix(source-bing-ads): restore error handling behavior and add size=0 test
  airbyte-integrations/connectors/source-bing-ads/components.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_components.py
Due: addlicense

style(source-bing-ads): fix ruff formatting - move logger after all imports
  airbyte-integrations/connectors/source-bing-ads/components.py
Due: addlicense

style(source-bing-ads): add missing blank line before logger (ruff E302)
  airbyte-integrations/connectors/source-bing-ads/components.py
Due: addlicense

fix(source-hubspot): update test stream counts for account_details stream
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
Due: addlicense

docs: add guidance for APIs with variable schemas in Connector Builder (#73317)
  docs/platform/connector-development/connector-builder-ui/record-processing.mdx
Due: none

fix: remove segments.ad_network_type from geographic_view schema to avoid PK conflicts
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
Due: none

docs(source-mongodb-v2): Document Lookup vs Post Image capture mode behavior
  docs/integrations/sources/mongodb-v2.md
  docs/integrations/sources/mongodb-v2/mongodb-v2-troubleshooting.md
Due: none

ci: simplify stale metadata check to continue-on-error with step summary
  .github/workflows/resolve-stale-metadata.yml
Due: none

address review: fix PKs, use start/end_time_option, remove end_datetime, add format:date
  airbyte-integrations/connectors/source-shiftbase/manifest.yaml
Due: none

chore(source-stripe): Bump CDK to 7.8.1.post51.dev22586905043
  airbyte-integrations/connectors/source-stripe/metadata.yaml
Due: none

docs(ai-agents): add Agent Engine MCP server documentation (#73648)
  docs/ai-agents/mcp-server/cli-reference.md
  docs/ai-agents/mcp-server/configuration.md
  docs/ai-agents/mcp-server/readme.md
  docs/ai-agents/mcp-server/troubleshooting.md
  docs/ai-agents/mcp-server/usage.md
  docs/ai-agents/tutorials/quickstarts/tutorial-mcp-server.md
Due: none

chore(source-stripe): Bump version to 5.15.21-rc.3 and add changelog
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  docs/integrations/sources/stripe.md
Due: none

chore; update SDM versiom to latest
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
Due: none

chore(source-zendesk-support): update base image to 7.8.1.post51.dev22586905043 per review
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
Due: none

docs: fix changelog entry to reference post51 CDK build
  docs/integrations/sources/zendesk-support.md
Due: none

docs: sync agent connector docs from airbyte-agent-connectors repo
  docs/ai-agents/connectors/amplitude/AUTH.md
  docs/ai-agents/connectors/amplitude/README.md
  docs/ai-agents/connectors/amplitude/REFERENCE.md
Due: none

feat(source-facebook-marketing): add opt-in incrementality attribution window
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/shared/ads_action_stats.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_insight_streams.py
Due: addlicense

add new streams to source-captivateiq connector (#52)
  airbyte-integrations/connectors/source-captivateiq/manifest.yaml
  airbyte-integrations/connectors/source-captivateiq/metadata.yaml
Due: none

docs(ai-agents): add LangChain and FastMCP quickstart guides
  docs/ai-agents/connectors/readme.md
  docs/ai-agents/tutorials/quickstarts/tutorial-fastmcp.md
  docs/ai-agents/tutorials/quickstarts/tutorial-langchain.md
Due: none

fix: move Tabs/TabItem imports to top of FastMCP tutorial
  docs/ai-agents/tutorials/quickstarts/tutorial-fastmcp.md
Due: none

docs(homepage): add MCP server card and switch grids to 3 columns
  docusaurus/src/pages/index.js
  docusaurus/src/pages/index.module.css
Due: none

docs(destination-bigquery): apply reviewer suggestions (Self-managed, transient wording, proxy scope)
  docs/integrations/destinations/bigquery.md
Due: none

fix: use @GithubConnector.tool_utils instead of .describe in new guides
  docs/ai-agents/tutorials/quickstarts/tutorial-fastmcp.md
  docs/ai-agents/tutorials/quickstarts/tutorial-langchain.md
Due: none

docs(abctl): correct --chart/--chart-version to mutually exclusive (from code trace)
  docs/platform/deploying-airbyte/abctl/index.md
Due: none

docs(destination-bigquery): acknowledge undocumented euc header error complexity
  docs/integrations/destinations/bigquery.md
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

