Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

Fix broken link after merging master into this branch
  docs/integrations/destinations/bigquery.md
Due: none

Delete unused sidebars file
  docusaurus/sidebars.js
Due: none

feat: enhance Brevo source integration
  airbyte-integrations/connectors/source-brevo/manifest.yaml
  airbyte-integrations/connectors/source-brevo/metadata.yaml
Due: none

docs: update Brevo integration capabilities
  docs/integrations/sources/brevo.md
Due: none

commented debug code
  airbyte-integrations/connectors/destination-ragie/destination_ragie/writer.py
  airbyte-integrations/connectors/destination-ragie/main.py
Due: addlicense

updated cursor_datetime_formats
  airbyte-integrations/connectors/source-hubspot/source_hubspot/manifest.yaml
Due: none

fixing some acceptance tests and fixing the typing of some fields for backwards compatibility
  airbyte-integrations/connectors/source-hubspot/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-hubspot/integration_tests/incremental_catalog.json
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/components.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/manifest.yaml
  docs/integrations/sources/hubspot.md
Due: addlicense

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-hubspot/source_hubspot/manifest.yaml
Due: none

deleted python stream
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
Due: addlicense

bump version
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/pyproject.toml
  docs/integrations/sources/hubspot.md
Due: none

(fix): Source Jira - Resolve CDK Conflicts
  airbyte-integrations/connectors/source-jira/poetry.lock
  airbyte-integrations/connectors/source-jira/pyproject.toml
  docs/integrations/sources/jira.md
Due: none

add LegacyUnionType
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/command/DestinationStream.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/AirbyteSchemaIdentityMapper.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/AirbyteType.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/AirbyteValueCoercer.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/AirbyteValueDeepCoercingMapper.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/AirbyteValueIdentityMapper.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/UnionTypeToDisjointRecord.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/json/AirbyteTypeToJsonSchema.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/json/JsonSchemaToAirbyteType.kt
  airbyte-cdk/bulk/core/load/src/main/resources/application.yaml
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/command/DestinationCatalogTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/data/json/JsonSchemaToAirbyteSchemaTypeTest.kt
Due: addlicense, spotless

fix connector builds
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/AirbyteType.kt
  airbyte-cdk/bulk/toolkits/load-avro/src/main/kotlin/io/airbyte/cdk/load/data/avro/AirbyteTypeToAvroSchema.kt
  airbyte-cdk/bulk/toolkits/load-avro/src/main/kotlin/io/airbyte/cdk/load/data/avro/AirbyteValueToAvroRecord.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/data/iceberg/parquet/AirbyteTypeToIcebergSchema.kt
Due: addlicense, spotless

update naming to Apple Ads
  airbyte-integrations/connectors/source-apple-search-ads/metadata.yaml
  docs/integrations/sources/apple-search-ads.md
Due: none

Migrate deal_archived stream to low code
  airbyte-integrations/connectors/source-hubspot/source_hubspot/manifest.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
Due: addlicense

Fix unit tests
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
Due: addlicense

removes FKA
  airbyte-integrations/connectors/source-apple-search-ads/README.md
  docs/integrations/sources/apple-search-ads.md
Due: none

source-microsoft-sharepoint: add cretaed_at
  airbyte-integrations/connectors/source-microsoft-sharepoint/poetry.lock
  airbyte-integrations/connectors/source-microsoft-sharepoint/pyproject.toml
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/stream_reader.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/utils.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/unit_tests/test_stream_reader.py
Due: addlicense

source-microsoft-sharepoint: ruff format
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/stream_reader.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/unit_tests/test_stream_reader.py
Due: addlicense

Apply suggestions from code review
  airbyte-integrations/connectors/source-klaviyo/unit_tests/pyproject.toml
Due: none

use more concise FAST test declaration
  airbyte-integrations/connectors/source-klaviyo/integration_tests/test_airbyte_standards.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/poetry.lock
Due: addlicense

source-microsoft-sharepoint: poetry lock
  airbyte-integrations/connectors/source-s3/poetry.lock
  airbyte-integrations/connectors/source-s3/pyproject.toml
Due: none

source-google-drive: poetry lock
  airbyte-integrations/connectors/source-google-drive/poetry.lock
  airbyte-integrations/connectors/source-google-drive/pyproject.toml
Due: none

use more concise standard tests stub file
  airbyte-integrations/connectors/source-hubspot/integration_tests/test_airbyte_standards.py
Due: addlicense

bump cdk version
  airbyte-integrations/connectors/source-hubspot/poetry.lock
  airbyte-integrations/connectors/source-hubspot/pyproject.toml
Due: none

re-lock
  airbyte-integrations/connectors/source-hubspot/poetry.lock
Due: none

source-sftp-bulk: poetry lock
  airbyte-integrations/connectors/source-sftp-bulk/poetry.lock
  airbyte-integrations/connectors/source-sftp-bulk/pyproject.toml
Due: none

fix typo
  airbyte-integrations/connectors/source-apple-search-ads/metadata.yaml
Due: none

source-zendesk-support: poetry lock
  airbyte-integrations/connectors/source-zendesk-support/poetry.lock
  airbyte-integrations/connectors/source-zendesk-support/pyproject.toml
Due: none

Add NewtoLegacyFieldTransformation
  airbyte-integrations/connectors/source-hubspot/source_hubspot/components.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/manifest.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/deals_archived.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
Due: addlicense

Fix docs for FlattenFieldWithPrefix
  airbyte-integrations/connectors/source-hubspot/source_hubspot/components.py
Due: addlicense

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-hubspot/source_hubspot/components.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/manifest.yaml
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
Due: addlicense

remove pendulum
  airbyte-integrations/connectors/source-jira/poetry.lock
  airbyte-integrations/connectors/source-jira/pyproject.toml
  airbyte-integrations/connectors/source-jira/source_jira/source.py
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  airbyte-integrations/connectors/source-jira/unit_tests/test_streams.py
Due: addlicense

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-stripe/source_stripe/manifest.yaml
Due: none

Remove application_fees_refunds python implementation for streams method
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
Due: addlicense

update docs
  docs/integrations/sources/jira.md
Due: none

Fix cdk ver to use latest:
  airbyte-integrations/connectors/source-jira/poetry.lock
  airbyte-integrations/connectors/source-jira/pyproject.toml
Due: none

Update metadata
  airbyte-integrations/connectors/source-jira/metadata.yaml
Due: none

fix missing connector declaration
  airbyte-integrations/connectors/source-hubspot/integration_tests/test_airbyte_standards.py
Due: addlicense

simplify pytest stub
  airbyte-integrations/connectors/source-hardcoded-records/integration_tests/test_standards.py
Due: addlicense

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

