Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

gradle: bulk-cdk connector junit tests should respect withSlowTests (#52661)
  buildSrc/src/main/groovy/airbyte-bulk-connector.gradle
Due: spotless

fix: pin hypothesis and hypothesis-jsonschema versions for Python 3.11 compatibility
  airbyte-integrations/bases/connector-acceptance-test/poetry.lock
  airbyte-integrations/bases/connector-acceptance-test/pyproject.toml
Due: none

chore: update poetry.lock files for Python 3.11
  airbyte-ci/connectors/auto_merge/poetry.lock
  airbyte-ci/connectors/ci_credentials/poetry.lock
  airbyte-ci/connectors/common_utils/poetry.lock
  airbyte-ci/connectors/connector_ops/poetry.lock
  airbyte-ci/connectors/connectors_insights/poetry.lock
  airbyte-ci/connectors/connectors_qa/poetry.lock
  airbyte-ci/connectors/erd/poetry.lock
  airbyte-ci/connectors/live-tests/poetry.lock
  airbyte-ci/connectors/metadata_service/lib/poetry.lock
  airbyte-ci/connectors/metadata_service/orchestrator/poetry.lock
  airbyte-ci/connectors/pipelines/poetry.lock
Due: none

restore unit test
  airbyte-integrations/connectors/source-paypal-transaction/metadata.yaml
  airbyte-integrations/connectors/source-paypal-transaction/unit_tests/conftest.py
  airbyte-integrations/connectors/source-paypal-transaction/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-paypal-transaction/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-paypal-transaction/unit_tests/test_components.py
Due: addlicense

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-paypal-transaction/unit_tests/conftest.py
  airbyte-integrations/connectors/source-paypal-transaction/unit_tests/test_components.py
Due: addlicense

source-oracle: adopt latest CDC API from CDK 0.300 (#80)
  airbyte-integrations/connectors/source-firetruck/build.gradle
  airbyte-integrations/connectors/source-firetruck/metadata.yaml
  airbyte-integrations/connectors/source-firetruck/src/main/kotlin/io/airbyte/integrations/source/oracle/OracleSourceDebeziumOperations.kt
  airbyte-integrations/connectors/source-firetruck/src/main/kotlin/io/airbyte/integrations/source/oracle/OracleSourceOperations.kt
  airbyte-integrations/connectors/source-firetruck/src/test/kotlin/io/airbyte/integrations/source/oracle/OracleSourceDebeziumOperationsTest.kt
Due: addlicense, spotless

mssql perf tests
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicPerformanceTest.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLQueryBuilder.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/config/DataSourceFactory.kt
Due: addlicense, spotless

ref: update CDK
  airbyte-integrations/connectors/source-amazon-ads/poetry.lock
Due: none

[S3 Data Lake] Add performance test and tweak base class (#52665)
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicPerformanceTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakePerformanceTest.kt
Due: addlicense, spotless

connectors-qa typing
  airbyte-ci/connectors/connectors_qa/src/connectors_qa/checks/documentation/documentation.py
  airbyte-ci/connectors/connectors_qa/src/connectors_qa/checks/documentation/models.py
Due: addlicense

Using batches of 1Gb
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeConfiguration.kt
Due: addlicense, spotless

up numOpenStreamWorkers to 2
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeConfiguration.kt
Due: addlicense, spotless

Clean up old release notes
  docs/release_notes/v-1.0.md
  docusaurus/sidebars.js
Due: none

Added some 1.5 release notes.
  docs/release_notes/v-1.5.md
Due: none

maybe fix unit tests for logger
  airbyte-ci/connectors/ci_credentials/ci_credentials/logger.py
Due: addlicense

More tweaks
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeConfiguration.kt
Due: addlicense, spotless

alphanumeric glue table identifiers
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/TableIdGenerator.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeWriteTest.kt
Due: addlicense, spotless

add deal splits support
  airbyte-integrations/connectors/source-hubspot/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/poetry.lock
  airbyte-integrations/connectors/source-hubspot/pyproject.toml
  airbyte-integrations/connectors/source-hubspot/sample_files/basic_read_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/full_refresh_oauth_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/incremental_catalog.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/deal_splits.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/deal_split.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
  docs/integrations/sources/hubspot.md
Due: addlicense

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeConfiguration.kt
Due: addlicense, spotless

regenerate docs
  airbyte-ci/connectors/ci_credentials/pyproject.toml
Due: none

regen docs and output more in ci_creds tests
  airbyte-ci/connectors/ci_credentials/tests/test_logger.py
  docs/contributing-to-airbyte/resources/qa-checks.md
Due: addlicense

Fix encoding sheet id
  airbyte-integrations/connectors/source-google-sheets/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/poetry.lock
  airbyte-integrations/connectors/source-google-sheets/pyproject.toml
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/manifest.yaml
  docs/integrations/sources/google-sheets.md
Due: none

Update expected records
  airbyte-integrations/connectors/source-google-sheets/integration_tests/expected_records.txt
Due: none

Destination S3-V2: Bug Fix: File xfer uses part size for part, not file size
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/write/object_storage/FilePartAccumulator.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/write/object_storage/PartToObjectAccumulator.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/write/object_storage/FilePartAccumulatorTest.kt
  airbyte-integrations/connectors/destination-s3/build.gradle
Due: addlicense, spotless

fix connector-qa tests and regen docs
  airbyte-ci/connectors/connectors_qa/src/connectors_qa/checks/documentation/models.py
  docs/contributing-to-airbyte/resources/qa-checks.md
Due: addlicense

Add shared poe tasks to be reused by Python source connectors
  airbyte-integrations/connectors/source-klaviyo/pyproject.toml
  airbyte-integrations/connectors/source-s3/pyproject.toml
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  poe-tasks/poetry-source-tasks.toml
  poe-tasks/todo.md
Due: none

[Destination MSSQL] Add performance tests (#52669)
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicPerformanceTest.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLQueryBuilder.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/config/DataSourceFactory.kt
Due: addlicense, spotless

screw logger tests
  airbyte-ci/connectors/ci_credentials/ci_credentials/logger.py
  airbyte-ci/connectors/ci_credentials/tests/test_logger.py
Due: addlicense

chore(airbyte-ci): move `common_utils` into `ci_credentials` (#52643)
  .github/workflows/airbyte-ci-tests.yml
  .github/workflows/connector_teams_review_requirements.yml
  airbyte-ci/connectors/base_images/poetry.lock
  airbyte-ci/connectors/base_images/pyproject.toml
  airbyte-ci/connectors/ci_credentials/ci_credentials/google_api.py
  airbyte-ci/connectors/ci_credentials/ci_credentials/logger.py
  airbyte-ci/connectors/ci_credentials/ci_credentials/main.py
  airbyte-ci/connectors/ci_credentials/ci_credentials/secrets_manager.py
  airbyte-ci/connectors/ci_credentials/poetry.lock
  airbyte-ci/connectors/ci_credentials/pyproject.toml
  airbyte-ci/connectors/ci_credentials/tests/test_secrets_manager.py
  airbyte-ci/connectors/common_utils/README.md
  airbyte-ci/connectors/common_utils/common_utils/__init__.py
  airbyte-ci/connectors/common_utils/poetry.lock
  airbyte-ci/connectors/common_utils/pyproject.toml
  airbyte-ci/connectors/common_utils/tests/__init__.py
  airbyte-ci/connectors/common_utils/tests/test_logger.py
  airbyte-ci/connectors/connector_ops/README.md
  airbyte-ci/connectors/connector_ops/connector_ops/required_reviewer_checks.py
  airbyte-ci/connectors/connector_ops/poetry.lock
  airbyte-ci/connectors/connector_ops/pyproject.toml
  airbyte-ci/connectors/connector_ops/tests/test_required_reviewer_checks.py
  airbyte-ci/connectors/connectors_insights/poetry.lock
  airbyte-ci/connectors/connectors_insights/pyproject.toml
  airbyte-ci/connectors/connectors_qa/poetry.lock
  airbyte-ci/connectors/connectors_qa/pyproject.toml
  airbyte-ci/connectors/connectors_qa/src/connectors_qa/checks/documentation/documentation.py
  airbyte-ci/connectors/connectors_qa/src/connectors_qa/checks/documentation/models.py
  airbyte-ci/connectors/connectors_qa/src/connectors_qa/templates/qa_checks.md.j2
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/__init__.py
  airbyte-ci/connectors/pipelines/poetry.lock
  docs/contributing-to-airbyte/resources/qa-checks.md
Due: addlicense

ci: update Python version to 3.11 in internal packages and workflows
  .github/actions/install-airbyte-ci/action.yml
  .github/workflows/airbyte-ci-release.yml
  .github/workflows/auto_merge.yml
  .github/workflows/connector-performance-command.yml
  .github/workflows/format-fix-command.yml
  .github/workflows/format_check.yml
  .github/workflows/regression_tests.yml
  .github/workflows/release-airbyte-os.yml
  .github/workflows/test-performance-command.yml
  .github/workflows/upload-metadata-files.yml
  airbyte-ci/connectors/auto_merge/pyproject.toml
  airbyte-ci/connectors/base_images/pyproject.toml
  airbyte-ci/connectors/ci_credentials/pyproject.toml
  airbyte-ci/connectors/connector_ops/pyproject.toml
  airbyte-ci/connectors/connectors_qa/pyproject.toml
  airbyte-ci/connectors/metadata_service/lib/pyproject.toml
  airbyte-integrations/connectors/destination-motherduck/pyproject.toml
  airbyte-integrations/connectors/source-looker/pyproject.toml
  airbyte-integrations/connectors/source-s3/scripts/pyproject.toml
Due: none

ci: update remaining internal packages to Python 3.11
  airbyte-ci/connectors/connectors_insights/pyproject.toml
  airbyte-ci/connectors/erd/pyproject.toml
  airbyte-ci/connectors/live-tests/pyproject.toml
  airbyte-ci/connectors/metadata_service/orchestrator/pyproject.toml
  airbyte-ci/connectors/pipelines/pyproject.toml
  airbyte-integrations/bases/connector-acceptance-test/pyproject.toml
Due: none

ci: update poetry.lock files for Python 3.11 migration
  airbyte-ci/connectors/auto_merge/poetry.lock
  airbyte-ci/connectors/base_images/poetry.lock
  airbyte-ci/connectors/ci_credentials/poetry.lock
  airbyte-ci/connectors/connector_ops/poetry.lock
  airbyte-ci/connectors/connectors_insights/poetry.lock
  airbyte-ci/connectors/connectors_qa/poetry.lock
  airbyte-ci/connectors/erd/poetry.lock
  airbyte-ci/connectors/live-tests/poetry.lock
  airbyte-ci/connectors/metadata_service/lib/poetry.lock
Due: none

ci: update poetry.lock files for Python 3.11 migration
  airbyte-integrations/bases/connector-acceptance-test/poetry.lock
  airbyte-integrations/connectors/destination-motherduck/poetry.lock
  airbyte-integrations/connectors/source-looker/poetry.lock
  airbyte-integrations/connectors/source-s3/scripts/poetry.lock
Due: none

ci: update Python version constraints for orchestrator and pipelines
  airbyte-ci/connectors/pipelines/pyproject.toml
Due: none

ci: update Python version constraints for pipelines to be compatible with pyinstaller
  airbyte-ci/connectors/pipelines/pyproject.toml
Due: none

ci: update Python version constraints for orchestrator and pipelines to ^3.11
  airbyte-ci/connectors/metadata_service/orchestrator/pyproject.toml
  airbyte-ci/connectors/pipelines/pyproject.toml
Due: none

ci: update poetry.lock files for Python 3.11 migration
  airbyte-ci/connectors/metadata_service/orchestrator/poetry.lock
Due: none

ci: update poetry.lock files for Python 3.11 migration
  airbyte-ci/connectors/metadata_service/orchestrator/pyproject.toml
  airbyte-ci/connectors/pipelines/poetry.lock
  airbyte-ci/connectors/pipelines/pyproject.toml
Due: none

ci: bump versions for internal packages for Python 3.11 migration
  airbyte-ci/connectors/metadata_service/orchestrator/pyproject.toml
  airbyte-ci/connectors/pipelines/pyproject.toml
  airbyte-integrations/bases/connector-acceptance-test/pyproject.toml
  airbyte-integrations/connectors/destination-motherduck/pyproject.toml
Due: none

ci: update Python version constraints and poetry.lock files for Python 3.11
  airbyte-ci/connectors/erd/pyproject.toml
  airbyte-ci/connectors/live-tests/pyproject.toml
  airbyte-ci/connectors/metadata_service/orchestrator/README.md
  airbyte-integrations/bases/connector-acceptance-test/pyproject.toml
  airbyte-integrations/connectors/destination-sftp-json/poetry.lock
  airbyte-integrations/connectors/destination-sftp-json/pyproject.toml
  airbyte-integrations/connectors/destination-timeplus/poetry.lock
  airbyte-integrations/connectors/destination-timeplus/pyproject.toml
  airbyte-integrations/connectors/source-google-sheets/poetry.lock
  airbyte-integrations/connectors/source-google-sheets/pyproject.toml
  airbyte-integrations/connectors/source-klaviyo/poetry.lock
  airbyte-integrations/connectors/source-klaviyo/pyproject.toml
  airbyte-integrations/connectors/source-microsoft-sharepoint/poetry.lock
  airbyte-integrations/connectors/source-microsoft-sharepoint/pyproject.toml
  airbyte-integrations/connectors/source-s3/poetry.lock
  airbyte-integrations/connectors/source-s3/pyproject.toml
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

