Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

feat(low-code): budget_summary_report to low-code (#62060)
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/pyproject.toml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/manifest.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/budget_summary_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_reports.py
  docs/integrations/sources/bing-ads.md
Due: addlicense

feat(source-google-ads): Migrate campaigns stream to low code (#61674)
  airbyte-integrations/connectors/source-google-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/poetry.lock
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/run.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/campaign.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_config_migrations.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_errors.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_streams.py
  docs/integrations/sources/google-ads.md
Due: addlicense

Revert "Enable experimental faster Docusaurus builds (#61712)" (#62077)
  docusaurus/docusaurus.config.js
  docusaurus/package.json
  docusaurus/pnpm-lock.yaml
Due: none

source-awin-advertiser contribution from navneetmaharishi (#62081)
  airbyte-integrations/connectors/source-awin-advertiser/manifest.yaml
Due: none

fix(docker-images): python container install should respect poetry lock file (#62074)
  docker-images/Dockerfile.python-connector
Due: none

fix(community-ci): improved check status posting with explicit commit SHA (#62097)
  .github/workflows/connector-ci-checks.yml
Due: none

bug(source-github): problem getting author for contributor_activity stream (#62054)
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/pyproject.toml
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  docs/integrations/sources/github.md
Due: addlicense

feat(source-bing-ads): migrate batched report streams to manifest (#62073)
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/pyproject.toml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/manifest.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/account_impression_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/account_impression_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/audience_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/audience_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/goals_and_funnels_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/goals_and_funnels_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/user_location_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/user_location_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_audience_performance_report.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_goals_and_funnels_report.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_hourly_reports.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/account_impression_performance_report_hourly_incremental_with_records_further_config.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/account_impression_performance_report_hourly_incremental_with_records_further_cursor.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/account_impression_performance_report_hourly_with_records_further_config_start_date.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/audience_performance_report_hourly_incremental_with_records_further_cursor.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/audience_performance_report_hourly_with_records_further_config_start_date.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/goals_and_funnels_report_hourly_incremental_with_records_further_cursor.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/goals_and_funnels_report_hourly_with_records_further_config_start_date.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/user_location_performance_report_hourly_incremental_with_records_further_cursor.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/user_location_performance_report_hourly_with_records_further_config_start_date.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_reports.py
  docs/integrations/sources/bing-ads.md
Due: addlicense

fix: apply transformation to file names (#62082)
  airbyte-cdk/bulk/toolkits/load-s3/src/main/kotlin/io/airbyte/cdk/load/command/s3/S3PathSpecification.kt
Due: addlicense, spotless

Add the ssh support for mssql (#62078)
  airbyte-integrations/connectors/destination-mssql/metadata.yaml
  airbyte-integrations/connectors/destination-mssql/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/config/DataSourceFactory.kt
  airbyte-integrations/connectors/destination-mssql/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/config/MSSQLConfiguration.kt
  airbyte-integrations/connectors/destination-mssql/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/config/MSSQLSpecification.kt
  airbyte-integrations/connectors/destination-mssql/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-mssql/src/test-integration/resources/expected-spec-oss.json
  airbyte-integrations/connectors/destination-mssql/src/test/kotlin/io/airbyte/integrations/destination/mssql/v2/config/DataSourceFactoryTest.kt
  docs/integrations/destinations/mssql.md
Due: addlicense, spotless

🐙 destination-motherduck: run up-to-date pipeline [2025-05-17] (#48673)
  airbyte-integrations/connectors/destination-motherduck/metadata.yaml
  airbyte-integrations/connectors/destination-motherduck/poetry.lock
  docs/integrations/destinations/motherduck.md
Due: none

[MSSQL] Disable funky char test (#62075)
  airbyte-integrations/connectors/destination-mssql/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLWriterTest.kt
Due: addlicense, spotless

chore: migrate forgotten MSSQL and PubSub. (#61579)
  airbyte-integrations/connectors/destination-mssql/build.gradle.kts
  airbyte-integrations/connectors/destination-pubsub/build.gradle
  airbyte-integrations/connectors/destination-pubsub/metadata.yaml
  poe-tasks/build-and-publish-java-connectors-with-tag.sh
Due: spotless

fix: implement lock free start for one shot uploader (#62063)
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/pipline/object_storage/ObjectLoaderOneShotUploader.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/pipline/object_storage/ObjectLoaderPartFormatter.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/state/object_storage/ObjectStorageDestinationStateManager.kt
Due: addlicense, spotless

feat(source-slack): update the major version and add breaking change documentation for the new marketplace app (#62055)
  airbyte-integrations/connectors/source-slack/metadata.yaml
  airbyte-integrations/connectors/source-slack/poetry.lock
  airbyte-integrations/connectors/source-slack/pyproject.toml
  docs/integrations/sources/slack-migrations.md
  docs/integrations/sources/slack.md
Due: none

bug(sonar-docs): broken link (#62076)
  docs/embedded/prerequisites-setup.md
Due: none

bug(source-recurly): Corrects pattern to match which the exported format being used (#62011)
  airbyte-integrations/connectors/source-recurly/manifest.yaml
  airbyte-integrations/connectors/source-recurly/metadata.yaml
  docs/integrations/sources/recurly.md
Due: none

ci: use the github app "octavia-bot" for slash command dispatch (resolves gh rate limit failures) (#61604)
  .github/workflows/slash-commands.yml
Due: none

feat(source-cal-com) Add created_at and rescheduled (#61717)
  airbyte-integrations/connectors/source-cal-com/manifest.yaml
  airbyte-integrations/connectors/source-cal-com/metadata.yaml
  docs/integrations/sources/cal-com.md
Due: none

fix: nullability when assembling to JsonNode (#61731)
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/json/AirbyteTypeToJsonSchema.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/json/JsonSchemaToAirbyteType.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/data/json/AirbyteSchemaTypeToJsonSchemaTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/data/json/JsonSchemaToAirbyteSchemaTypeTest.kt
Due: addlicense, spotless

chore: add helper to validate dlq config (#62107)
  airbyte-cdk/bulk/toolkits/load-dlq/src/integrationTest/kotlin/DlqCheckTest.kt
  airbyte-cdk/bulk/toolkits/load-dlq/src/integrationTest/kotlin/DlqTestLoader.kt
  airbyte-cdk/bulk/toolkits/load-dlq/src/main/kotlin/io/airbyte/cdk/load/check/dlq/DlqChecker.kt
Due: addlicense, spotless

ci: move check status, rename built-in job name so the check name is unique (#62102)
  .github/workflows/connector-ci-checks.yml
  .github/workflows/run-connector-tests-command.yml
Due: none

Destination Bigquery: quote names everywhere (#62085)
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/AlterTableReport.kt
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadNativeTableOperations.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryWriteTest.kt
  docs/integrations/destinations/bigquery.md
Due: addlicense, spotless

fix: avoid invalid characters in test temp files (#62095)
  airbyte-cdk/bulk/toolkits/load-object-storage/src/testFixtures/kotlin/io/airbyte/cdk/load/ObjectStorageDataDumper.kt
Due: addlicense, spotless

fix: repository name for destination-salesforce (#62096)
  docs/integrations/enterprise-connectors/destination-salesforce.md
Due: none

🐙 source-gitbook: run up-to-date pipeline [2025-06-28] (#62173)
  airbyte-integrations/connectors/source-gitbook/metadata.yaml
  docs/integrations/sources/gitbook.md
Due: none

chore: add a quick one liner to fetch the latest version of the bulk cdk (#62132)
  Makefile
Due: none

🐙 source-leadfeeder: run up-to-date pipeline [2025-06-28] (#62170)
  airbyte-integrations/connectors/source-leadfeeder/metadata.yaml
  docs/integrations/sources/leadfeeder.md
Due: none

🐙 source-incident-io: run up-to-date pipeline [2025-06-28] (#62168)
  airbyte-integrations/connectors/source-incident-io/metadata.yaml
  docs/integrations/sources/incident-io.md
Due: none

ci: remove extra job failure (#62104)
  .github/workflows/connector-ci-checks.yml
Due: none

Destination S3: Reconcile metadata (#62127)
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  docs/integrations/destinations/s3.md
Due: none

ci: fix slash command auth flow (previously skipped) (#62098)
  .github/workflows/connector-ci-checks.yml
Due: none

fix: namespace mapping for custom format (#62114)
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/command/NamespaceMapper.kt
Due: addlicense, spotless

🐙 source-klaviyo: run up-to-date pipeline [2025-06-28] (#62167)
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  docs/integrations/sources/klaviyo.md
Due: none

🐙 source-lob: run up-to-date pipeline [2025-06-28] (#62165)
  airbyte-integrations/connectors/source-lob/metadata.yaml
  docs/integrations/sources/lob.md
Due: none

🐙 source-imagga: run up-to-date pipeline [2025-06-28] (#62171)
  airbyte-integrations/connectors/source-imagga/metadata.yaml
  docs/integrations/sources/imagga.md
Due: none

[discuss] Kotlin connectors: enable -Xdebug when building locally (#62091)
  build.gradle
Due: spotless

🐙 source-gmail: run up-to-date pipeline [2025-06-28] (#62169)
  airbyte-integrations/connectors/source-gmail/metadata.yaml
  docs/integrations/sources/gmail.md
Due: none

fix(source-pokeapi): fix nidoran names (#62103)
  airbyte-integrations/connectors/source-pokeapi/manifest.yaml
  airbyte-integrations/connectors/source-pokeapi/metadata.yaml
  docs/integrations/sources/pokeapi.md
Due: none

Release notes for 1.5.6 and 1.7.1 (#62094)
  docs/release_notes/v-1.5.md
  docs/release_notes/v-1.7.md
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

