Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

Fix ObjectLoaderPipeline naming.
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/pipline/object_storage/ObjectLoaderPipeline.kt
Due: addlicense, spotless

docs: improve local connector development page (#58676)
  docusaurus/platform_versioned_docs/version-1.6/connector-development/local-connector-development.md
  docusaurus/platform_versioned_sidebars/version-1.6-sidebars.json
  docusaurus/sidebar-platform.js
Due: none

Revert "Bump the cdk version to 0.388"
  airbyte-integrations/connectors/destination-dev-null/build.gradle
Due: spotless

test
  .github/workflows/publish_connectors.yml
Due: none

no bilk cdk publish
  .github/workflows/bump-bulk-cdk-and-release-connectors.yml
Due: none

test
  .github/workflows/bump-bulk-cdk-and-release-connectors.yml
Due: none

Fix warning.
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncherTest.kt
Due: addlicense, spotless

mark store input and api pw auth method as hidden
  airbyte-integrations/connectors/source-shopify/source_shopify/spec.json
Due: none

chore: auto-fix lint and format issues
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncherTest.kt
Due: addlicense, spotless

Revert "Update changelog for source-linkedin-ads"
  docs/integrations/sources/linkedin-ads.md
Due: none

Revert "Update changelog for source-hardcoded-records"
  docs/integrations/sources/hardcoded-records.md
Due: none

spl: fix wrong path to tests again
  airbyte-integrations/connectors/source-microsoft-lists/integration_tests/fast/test_airbyte_standards.py
  airbyte-integrations/connectors/source-microsoft-lists/integration_tests/poetry.lock
  airbyte-integrations/connectors/source-microsoft-lists/integration_tests/pyproject.toml
  airbyte-integrations/connectors/source-microsoft-lists/metadata.yaml
Due: addlicense

Revert "Update changelog for destination-dev-null"
  docs/integrations/destinations/dev-null.md
Due: none

spl: comment
  airbyte-integrations/connectors/source-microsoft-lists/metadata.yaml
Due: none

Clean up step one
  .github/workflows/bump-bulk-cdk-and-release-connectors.yml
  .github/workflows/bump-cdk-version-and-merge-command.yml
  .github/workflows/publish_connectors.yml
Due: none

Clean up step two
  .github/workflows/bump-bulk-cdk-and-release-connectors.yml
  .github/workflows/publish-bulk-cdk.yml
  .github/workflows/publish_connectors.yml
  docs/integrations/destinations/dev-null.md
Due: none

Clean up step 3
  .github/workflows/bump-bulk-cdk-and-release-connectors.yml
Due: none

feat(source-microsoft-lists): fix ListItems and ContentValues (#58575)
  airbyte-integrations/connectors/source-microsoft-lists/acceptance-test-config.yml
  airbyte-integrations/connectors/source-microsoft-lists/integration_tests/fast/test_airbyte_standards.py
  airbyte-integrations/connectors/source-microsoft-lists/integration_tests/poetry.lock
  airbyte-integrations/connectors/source-microsoft-lists/integration_tests/pyproject.toml
  airbyte-integrations/connectors/source-microsoft-lists/manifest.yaml
  airbyte-integrations/connectors/source-microsoft-lists/metadata.yaml
  docs/integrations/sources/microsoft-lists.md
Due: addlicense

Clean up step 4
  .github/workflows/bump-bulk-cdk-and-release-connectors.yml
Due: none

Make IsFileBased roundtripable.
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/command/DestinationStream.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/command/DestinationCatalogTest.kt
Due: addlicense, spotless

whitepsace.
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/command/DestinationCatalogTest.kt
Due: addlicense, spotless

Extract script
  .github/workflows/bump-bulk-cdk-and-release-connectors.yml
  tools/bin/cdk-auto-release/update-bulk-cdk-version-in-connectors.sh
  tools/bin/cdk-auto-release/update-changelog.sh
Due: none

derp
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/IntegrationTest.kt
Due: addlicense, spotless

Cleanup after merging master into this branch
  docusaurus/docusaurus.config.js
  docusaurus/package.json
  docusaurus/pnpm-lock.yaml
Due: none

test
  .github/workflows/bump-bulk-cdk-and-release-connectors.yml
  tools/bin/cdk-auto-release/update-changelog.sh
Due: none

test
  tools/bin/cdk-auto-release/update-bulk-cdk-version-in-connectors.sh
  tools/bin/cdk-auto-release/update-changelog.sh
Due: none

Bulk load CDK: run cleaner once per class (#58675)
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/IntegrationTest.kt
Due: addlicense, spotless

Clean up
  .github/workflows/bump-bulk-cdk-and-release-connectors.yml
  .github/workflows/bump-cdk-version-and-merge-command.yml
Due: none

Clean up
  airbyte-integrations/connectors/destination-dev-null/build.gradle
  tools/bin/cdk-auto-release/update-changelog.sh
Due: spotless

bump connector version
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/pyproject.toml
Due: none

Clean up
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/command/InputStateFactory.kt
  airbyte-integrations/connectors/destination-dev-null/src/main/kotlin/io/airbyte/integrations/destination/dev_null/DevNullDirectLoader.kt
Due: addlicense, spotless

Format
  .github/workflows/bump-bulk-cdk-and-release-connectors.yml
Due: none
