Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

test: dummy commit to test docs build CI
  docs/README.md
Due: none

test: revert Sonar API spec change to test docs build hypothesis
  docusaurus/src/data/embedded_api_spec.json
Due: none

test: revert Okta SSO docs change (PR #72416) to test docs build hypothesis
  docs/platform/access-management/sso-providers/okta.md
  docusaurus/platform_versioned_docs/version-1.6/access-management/sso-providers/okta.md
  docusaurus/platform_versioned_docs/version-1.7/access-management/sso-providers/okta.md
  docusaurus/platform_versioned_docs/version-1.8/access-management/sso-providers/okta.md
  docusaurus/platform_versioned_docs/version-2.0/access-management/sso-providers/okta.md
Due: none

chore(docs): regenerate cached Sonar API spec
  docusaurus/src/data/embedded_api_spec.json
Due: none

refactor: update import path to airbyte.cli.universal_connector
  airbyte-integrations/connectors/destination-pyairbyte-universal/destination_pyairbyte_universal/run.py
Due: addlicense

feat(source-hubspot): Add Services stream
  airbyte-integrations/connectors/source-hubspot/manifest.yaml
Due: none

test(source-hubspot): Update test expectations for new services stream
  airbyte-integrations/connectors/source-hubspot/unit_tests/conftest.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
Due: addlicense

docs(source-facebook-pages): Add explanation for product_catalogs field removal
  docs/integrations/sources/facebook-pages.md
Due: none

docs(source-facebook-pages): Move product_catalogs info to Limitations & Troubleshooting section
  docs/integrations/sources/facebook-pages.md
Due: none

feat(destination-bigquery): add Storage Write API loading method
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryBeansFactory.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/spec/BigqueryConfiguration.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/spec/BigquerySpecification.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/storage_write_api/BigqueryStorageWriteApiLoader.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/storage_write_api/BigqueryStorageWriteApiLoaderFactory.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/storage_write_api/BigqueryStorageWriteRecordFormatter.kt
Due: addlicense, spotless

fix(source-facebook-pages): Remove product_catalogs from fields request parameter (#72253)
  airbyte-integrations/connectors/source-facebook-pages/metadata.yaml
  airbyte-integrations/connectors/source-facebook-pages/pyproject.toml
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/manifest.yaml
  docs/integrations/sources/facebook-pages.md
Due: none

docs(source-facebook-pages): Fix changelog date for version 2.0.4
  docs/integrations/sources/facebook-pages.md
Due: none

fix(source-notion): implement client-side incremental filtering for blocks stream
  airbyte-integrations/connectors/source-notion/components.py
Due: addlicense

Destination snowflake: handle exception in countTable correctly (#72417)
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClientTest.kt
  docs/integrations/destinations/snowflake.md
Due: addlicense, spotless

docs: fix changelog date for Snowflake destination v4.0.36
  docs/integrations/destinations/snowflake.md
Due: none

docs(source-google-ads): Fix changelog date and document click_view custom query limitations
  docs/integrations/sources/google-ads.md
Due: none

Destination MotherDuck: fix for empty STRUCTs (#70999)
  airbyte-integrations/connectors/destination-motherduck/destination_motherduck/processors/duckdb.py
  airbyte-integrations/connectors/destination-motherduck/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-motherduck/metadata.yaml
  airbyte-integrations/connectors/destination-motherduck/pyproject.toml
  docs/integrations/destinations/motherduck.md
Due: addlicense

Update metadata.yaml
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
Due: none

Update postgres.md
  docs/integrations/destinations/postgres.md
Due: none

docs(destination-motherduck): fix changelog date and improve overview clarity
  docs/integrations/destinations/motherduck.md
Due: none

Revert back changes and rename mode field
  airbyte-integrations/connectors/source-nexus-datasets/components.py
  airbyte-integrations/connectors/source-nexus-datasets/manifest.yaml
  docs/integrations/sources/nexus-datasets.md
Due: addlicense

test: re-enable ClickHouseJdbcSourceAcceptanceTest with container 24.8 and credentials
  airbyte-integrations/connectors/source-clickhouse/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractSshClickHouseSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-clickhouse/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/ClickHouseJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-clickhouse/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/ClickHouseJdbcStressTest.java
  airbyte-integrations/connectors/source-clickhouse/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/ClickHouseSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-clickhouse/src/test-integration/resources/docker/Dockerfile
Due: addlicense, spotless

feat(source-mongodb-v2): Add fail_sync_on_schema_mismatch config option
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/InitialSnapshotHandler.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoConstants.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoDbInitialLoadRecordIterator.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoDbSourceConfig.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcEventUtils.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbDebeziumConstants.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbDebeziumEventConverter.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/resources/spec.json
Due: addlicense, spotless

Fmt again.
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/config/model/ConnectorInputStreamsTest.kt
Due: addlicense, spotless

test(source-mongodb-v2): Add tests for transformDataTypesAllFields method
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcEventUtilsTest.java
Due: addlicense, spotless

docs(source-mongodb-v2): Document fail_sync_on_schema_mismatch config option
  docs/integrations/sources/mongodb-v2.md
Due: none

Rbroughan/expose config in cdk for s3 data lake. Iceberg Util additions. (#72437)
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/aggregate/AggregateStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/config/DefaultConfigBeanFactory.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/config/DispatcherBeanFactory.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/config/InputBeanFactory.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/config/model/AggregatePublishingConfig.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/config/model/ConnectorInputStreams.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/config/model/DataFlowSocketConfig.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/config/model/JsonConverterConfig.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/config/model/LifecycleParallelismConfig.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/pipeline/DataFlowPipeline.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/pipeline/PipelineRunner.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/transform/medium/JsonConverter.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/test/config/TestBeanOverrideFactory.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/aggregate/AggregateStoreTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/config/InputBeanFactoryTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/config/model/ConnectorInputStreamsTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/pipeline/DataFlowPipelineTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/pipeline/PipelineRunnerTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/transform/medium/JsonRecordConversionTest.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/io/IcebergUtil.kt
  airbyte-cdk/bulk/version.properties
Due: addlicense, spotless

fix(docs): Fix markdown lint - lowercase anchor link
  docs/integrations/sources/mongodb-v2.md
Due: none

Update connector to dataflow
  airbyte-integrations/connectors/destination-s3-data-lake/gradle.properties
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeBeanFactory.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeDirectLoader.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakePartitioner.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/catalog/GlueCredentialsProvider.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/catalog/S3DataLakeTableIdGeneratorFactory.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/catalog/S3DataLakeUtil.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/check/S3DataLakeChecker.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/dataflow/S3DataLakeAggregate.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/dataflow/S3DataLakeAggregateFactory.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/spec/S3BucketSpecification.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/spec/S3DataLakeConfiguration.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/spec/S3DataLakeSpecification.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/write/S3DataLakeStreamLoader.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/write/S3DataLakeStreamState.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/write/S3DataLakeWriter.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/write/transform/S3DataLakeValueCoercer.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/NessieTestContainers.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/RestTestContainers.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeCheckTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakePerformanceTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeTestUtil.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeWriteTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeStreamLoaderTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/io/S3DataLakeUtilTest.kt
  docs/integrations/destinations/s3-data-lake.md
Due: addlicense, spotless

Move tests to correct package. Fix imports.
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/catalog/S3DataLakeUtilTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/write/S3DataLakeStreamLoaderTest.kt
Due: addlicense, spotless

fix(source-mongodb-v2): Fix return type mismatch in transformEventData
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbDebeziumEventConverter.java
Due: addlicense, spotless

test(source-mongodb-v2): Fix test to use fail_sync_on_schema_mismatch=true for strict filtering
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbDebeziumEventConverterTest.java
Due: addlicense, spotless

chore: bump-version
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  docs/integrations/sources/stripe.md
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

