Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

ci: use new admin app for privileged auto_merge operations (#66202)
  .github/workflows/auto_merge.yml
Due: none

chore: s3 cdk 7 migration (#66023)
  airbyte-integrations/connectors/source-s3/integration_tests/test_acceptance.py
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/poetry.lock
  airbyte-integrations/connectors/source-s3/pyproject.toml
  docs/integrations/sources/s3.md
Due: addlicense

fix(source-shopify) add filter checkpoint cursor to be used to adjust slice end when stream's cursor field is ID not datetime (#65987)
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/job.py
  airbyte-integrations/connectors/source-shopify/source_shopify/streams/base_streams.py
  airbyte-integrations/connectors/source-shopify/unit_tests/integration/api/bulk.py
  airbyte-integrations/connectors/source-shopify/unit_tests/integration/test_bulk_stream.py
  docs/integrations/sources/shopify.md
Due: addlicense

update application creation location (#66192)
  docs/platform/using-airbyte/assets/applications-ui.png
  docs/platform/using-airbyte/configuring-api-access.md
Due: none

Single node data plane documentation (#66176)
  .markdownlint.jsonc
  docs/platform/enterprise-flex/data-plane-util.md
  docs/platform/enterprise-flex/data-plane.md
  docs/platform/enterprise-flex/getting-started.md
  docs/vale-styles/config/vocabularies/Airbyte/accept.txt
  docusaurus/sidebar-platform.js
Due: none

chore: sendgrid cdk 7 migration (#66078)
  airbyte-integrations/connectors/source-sendgrid/metadata.yaml
  docs/integrations/sources/sendgrid.md
Due: none

Update develop-your-app.md (#66239)
  docs/ai-agents/embedded/widget/develop-your-app.md
Due: none

Fix non dockerized test input (#66240)
  airbyte-cdk/bulk/build.gradle
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/config/InputBeanFactory.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/test/config/TestBeanOverrideFactory.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/destination_process/DockerizedDestination.kt
Due: addlicense, spotless

fix(source-google-ads): fix how incremental custom query streams are generated (#65535)
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/poetry.lock
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_components.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_empty_streams.py
  docs/integrations/sources/google-ads.md
Due: addlicense

bump version for sources using cdk v6 and used by tier 0 customers (#66197)
  airbyte-integrations/connectors/source-aircall/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-aircall/metadata.yaml
  airbyte-integrations/connectors/source-apple-search-ads/metadata.yaml
  airbyte-integrations/connectors/source-insightly/metadata.yaml
  airbyte-integrations/connectors/source-sftp-bulk/metadata.yaml
  airbyte-integrations/connectors/source-sftp-bulk/poetry.lock
  airbyte-integrations/connectors/source-sftp-bulk/pyproject.toml
  airbyte-integrations/connectors/source-us-census/acceptance-test-config.yml
  airbyte-integrations/connectors/source-us-census/metadata.yaml
  docs/integrations/sources/aircall.md
  docs/integrations/sources/apple-search-ads.md
  docs/integrations/sources/insightly.md
  docs/integrations/sources/sftp-bulk.md
  docs/integrations/sources/us-census.md
Due: none

feat(source-pinterest): Migrate Analytics Reports streams (#66187)
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/poetry.lock
  airbyte-integrations/connectors/source-pinterest/pyproject.toml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/manifest.yaml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/reports/__init__.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/reports/reports.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/conftest.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_reports.py
  docs/integrations/sources/pinterest.md
Due: addlicense

chore: re-add the bulk CDK version file (#66193)
  airbyte-cdk/bulk/build.gradle
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/core/base/src/main/resources/version.properties
  airbyte-cdk/bulk/version.properties
Due: spotless

Fix sampling bug for DefaultJdbcCursorIncrementalPartition (#66200)
  airbyte-cdk/bulk/build.gradle
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/DefaultJdbcPartition.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/SelectQuerySpec.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/test/kotlin/io/airbyte/cdk/read/DefaultJdbcPartitionFactoryTest.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/test/kotlin/io/airbyte/cdk/read/JdbcPartitionsCreatorTest.kt
  airbyte-integrations/connectors/source-snowflake/build.gradle
  airbyte-integrations/connectors/source-snowflake/metadata.yaml
  airbyte-integrations/connectors/source-snowflake/src/main/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeSourceOperations.kt
  airbyte-integrations/connectors/source-snowflake/src/main/resources/application.yml
  airbyte-integrations/connectors/source-snowflake/src/test/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeSamplingQueryTest.kt
  docs/integrations/sources/snowflake.md
Due: addlicense, spotless

fix docker test input stream (#66327)
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/config/ConnectorInputStreams.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/config/InputBeanFactory.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/test/config/TestBeanOverrideFactory.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/config/InputBeanFactoryTest.kt
  airbyte-cdk/bulk/version.properties
Due: addlicense, spotless

chore: migrate cdk to version 7 for source-freshcaller (#66216)
  airbyte-integrations/connectors/source-freshcaller/acceptance-test-config.yml
  airbyte-integrations/connectors/source-freshcaller/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-freshcaller/integration_tests/configured_catalog_incremental.json
  airbyte-integrations/connectors/source-freshcaller/integration_tests/configured_catalog_incremental_metrics.json
  airbyte-integrations/connectors/source-freshcaller/metadata.yaml
  airbyte-integrations/connectors/source-freshcaller/poetry.lock
  airbyte-integrations/connectors/source-freshcaller/pyproject.toml
  airbyte-integrations/connectors/source-freshcaller/source_freshcaller/manifest.yaml
  airbyte-integrations/connectors/source-freshcaller/source_freshcaller/run.py
  airbyte-integrations/connectors/source-freshcaller/source_freshcaller/schemas/call_metrics.json
  airbyte-integrations/connectors/source-freshcaller/source_freshcaller/schemas/calls.json
  airbyte-integrations/connectors/source-freshcaller/source_freshcaller/schemas/teams.json
  airbyte-integrations/connectors/source-freshcaller/source_freshcaller/schemas/users.json
  airbyte-integrations/connectors/source-freshcaller/source_freshcaller/source.py
  docs/integrations/sources/freshcaller.md
Due: addlicense

community contribution: [Source-TikTok-Marketing] add new video metrics (#66214)
  airbyte-integrations/connectors/source-tiktok-marketing/manifest.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/integration/test_reports_hourly.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/resource/http/response/ads_reports_hourly.json
  docs/integrations/sources/tiktok-marketing.md
Due: addlicense

[Snowflake source] Change CDK version to 0.1.31 instead of latest (#66311)
  airbyte-integrations/connectors/source-snowflake/build.gradle
  airbyte-integrations/connectors/source-snowflake/metadata.yaml
  docs/integrations/sources/snowflake.md
Due: spotless

chore: google-search-console cdk 7 migration (#66010)
  airbyte-integrations/connectors/source-google-search-console/metadata.yaml
  docs/integrations/sources/google-search-console.md
Due: none

Add notes that support must enter SSO config info (#66235)
  docs/platform/access-management/sso-providers/azure-entra-id.md
  docs/platform/access-management/sso-providers/okta.md
  docusaurus/platform_versioned_docs/version-1.8/access-management/sso-providers/azure-entra-id.md
  docusaurus/platform_versioned_docs/version-1.8/access-management/sso-providers/okta.md
Due: none

chore: google-sheets cdk 7 migration (#66012)
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  docs/integrations/sources/google-sheets.md
Due: none

fix(source-hubspot): rollback version on cloud (#66356)
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
Due: none

feat(source-notion) blocks stream to manifest (#66191)
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-notion/poetry.lock
  airbyte-integrations/connectors/source-notion/pyproject.toml
  airbyte-integrations/connectors/source-notion/source_notion/components.py
  airbyte-integrations/connectors/source-notion/source_notion/manifest.yaml
  airbyte-integrations/connectors/source-notion/source_notion/run.py
  airbyte-integrations/connectors/source-notion/source_notion/source.py
  airbyte-integrations/connectors/source-notion/source_notion/streams.py
  airbyte-integrations/connectors/source-notion/unit_tests/test_components.py
  airbyte-integrations/connectors/source-notion/unit_tests/test_python_streams.py
  airbyte-integrations/connectors/source-notion/unit_tests/test_source.py
  docs/integrations/sources/notion.md
Due: addlicense

feat(data-activation): data activation dynamically create destination catalog (#66229)
  airbyte-cdk/bulk/build.gradle
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/discoverer/operation/InsertionMethod.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/lowcode/DeclarativeDestinationFactory.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/model/discover/AirbyteType.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/model/discover/CatalogOperation.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/model/discover/DestinationObjects.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/model/discover/InsertionMethod.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/model/discover/SchemaConfiguration.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/model/discover/TypesMap.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/model/retriever/Retriever.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/test/kotlin/io/airbyte/cdk/load/lowcode/DeclarativeDestinationFactoryTest.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/test/kotlin/io/airbyte/cdk/load/lowcode/ManifestBuilder.kt
Due: addlicense, spotless

feat(source-facebook-marketing): classify error subcode `2446289` as `config_error` (#66182)
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/common.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_errors.py
  docs/integrations/sources/facebook-marketing.md
Due: addlicense

ci: add gradle tasks to manage connector cdk version (#66224)
  buildSrc/src/main/groovy/airbyte-bulk-connector.gradle
Due: spotless

Bulk Load CDK: force path style S3 bucket access; delete legacy S3 client (#66521)
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/toolkits/load-gcs/src/main/kotlin/io/airbyte/cdk/load/file/gcs/GcsClientFactory.kt
  airbyte-cdk/bulk/toolkits/load-s3/src/main/kotlin/io/airbyte/cdk/load/command/s3/S3ClientConfiguration.kt
  airbyte-cdk/bulk/toolkits/load-s3/src/main/kotlin/io/airbyte/cdk/load/file/s3/S3Client.kt
  airbyte-cdk/bulk/toolkits/load-s3/src/main/kotlin/io/airbyte/cdk/load/file/s3/S3LegacyJavaClient.kt
Due: addlicense, spotless

Update metadata to revert memory updates.yaml (#66517)
  airbyte-integrations/connectors/source-sftp-bulk/metadata.yaml
Due: none

fix(source-google-ads): revert CDK to v6.60.12 (#66522)
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/poetry.lock
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  docs/integrations/sources/google-ads.md
Due: none

Update metadata with memory format.yaml (#66516)
  airbyte-integrations/connectors/source-sftp-bulk/metadata.yaml
Due: none

feat(source-pinterest): Release 2.1.10 (#66565)
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/pyproject.toml
  docs/integrations/sources/pinterest.md
Due: none

ci: add workflow to update connector cdk version (#66225)
  .github/pr-welcome-internal.md
  .github/workflows/update-connector-cdk-version-command.yml
Due: none

fix: dataflow destination cdk minor fixes (#66559)
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/finalization/StreamCompletionTracker.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/transform/medium/ProtobufConverter.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/finalization/StreamCompletionTrackerTest.kt
  airbyte-cdk/bulk/version.properties
Due: addlicense, spotless

Destination S3: Enable path-style access (#66523)
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  docs/integrations/destinations/s3.md
Due: spotless

chore(destination-customer-io): convert kotlin discover implemention to low-code manifest (#66238)
  airbyte-integrations/connectors/destination-customer-io/build.gradle.kts
  airbyte-integrations/connectors/destination-customer-io/metadata.yaml
  airbyte-integrations/connectors/destination-customer-io/src/main/kotlin/CustomerIoBeanFactory.kt
  airbyte-integrations/connectors/destination-customer-io/src/main/kotlin/CustomerIoDiscoverer.kt
  airbyte-integrations/connectors/destination-customer-io/src/main/resources/manifest.yaml
  docs/integrations/destinations/customer-io.md
Due: addlicense, spotless

fix format (#66542)
  airbyte-integrations/connectors/source-sftp-bulk/metadata.yaml
Due: none

Update use-embedded.md (#66492)
  docs/ai-agents/embedded/widget/use-embedded.md
Due: none

Bulk CDK: move connector cdk version decl into property file (#66484)
  airbyte-integrations/connectors/destination-azure-blob-storage/build.gradle
  airbyte-integrations/connectors/destination-azure-blob-storage/gradle.properties
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/gradle.properties
  airbyte-integrations/connectors/destination-clickhouse/build.gradle
  airbyte-integrations/connectors/destination-clickhouse/gradle.properties
  airbyte-integrations/connectors/destination-customer-io/build.gradle.kts
  airbyte-integrations/connectors/destination-customer-io/gradle.properties
  airbyte-integrations/connectors/destination-dev-null/build.gradle
  airbyte-integrations/connectors/destination-dev-null/gradle.properties
  airbyte-integrations/connectors/destination-hubspot/build.gradle.kts
  airbyte-integrations/connectors/destination-hubspot/gradle.properties
  airbyte-integrations/connectors/destination-mssql/build.gradle.kts
  airbyte-integrations/connectors/destination-mssql/gradle.properties
  airbyte-integrations/connectors/destination-s3-data-lake/build.gradle
  airbyte-integrations/connectors/destination-s3-data-lake/gradle.properties
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/gradle.properties
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/gradle.properties
  airbyte-integrations/connectors/source-snowflake/build.gradle
  airbyte-integrations/connectors/source-snowflake/gradle.properties
  buildSrc/src/main/groovy/airbyte-bulk-connector.gradle
Due: spotless

Disabled md034 (#66540)
  .markdownlint.jsonc
Due: none

Rbroughan/dataflow speed stats (#66543)
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/command/DestinationStream.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/aggregate/AggregateStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/config/InputBeanFactory.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/input/DataFlowPipelineInputFlow.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/pipeline/DataFlowStageIO.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/pipeline/PipelineCompletionHandler.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/AggregateStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/ParseStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/StateStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateHistogramStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateReconciler.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/stats/CommitedStatsStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/stats/EmissionStats.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/stats/EmittedStatsStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/stats/StateStatsEnricher.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/stats/socket/EmittedStatsStoreImpl.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/stats/stdio/NoopEmittedStatsStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/state/CheckpointManager.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/aggregate/AggregateStoreTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/config/InputBeanFactoryTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/input/DataFlowPipelineInputFlowTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/pipeline/PipelineCompletionHandlerTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/stages/AggregateStageTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/stages/StateStageTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/state/StateHistogramStoreTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/state/StateReconcilerTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/state/StateStoreTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/state/stats/CommittedStatsStoreTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/state/stats/socket/EmittedStatsStoreImplTest.kt
  airbyte-cdk/bulk/version.properties
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseAcceptanceTest.kt
Due: addlicense, spotless

fix(source-notion): add default start date to custom component (#66539)
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-notion/pyproject.toml
  airbyte-integrations/connectors/source-notion/source_notion/components.py
  docs/integrations/sources/notion.md
Due: addlicense

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

