Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

style: reflow docstring to satisfy ktfmt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/cdc/ReplicationSlotManager.kt
Due: addlicense, spotless

fix(source-mssql): Bind SQL NULL for null JsonNode JDBC bindings
  airbyte-cdk/bulk/core/extract/changelog.md
  airbyte-cdk/bulk/core/extract/version.properties
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/jdbc/JdbcFieldTypes.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/test/kotlin/io/airbyte/cdk/read/JdbcSelectQuerierTest.kt
  airbyte-integrations/connectors/source-mssql/gradle.properties
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  docs/integrations/sources/mssql.md
Due: addlicense, spotless

fix(destination-snowflake): catch 'Insufficient privileges to operate on' as config error
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClientTest.kt
  docs/integrations/destinations/snowflake.md
Due: addlicense, spotless

style(source-marketo): ruff-format new leads filter test
  airbyte-integrations/connectors/source-marketo/unit_tests/test_source.py
Due: addlicense

docs(destination-snowflake): fix changelog PR link
  docs/integrations/destinations/snowflake.md
Due: none

chore: split out source-mssql bump into follow-up PR
  airbyte-integrations/connectors/source-mssql/gradle.properties
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  docs/integrations/sources/mssql.md
Due: none

fix(bulk-cdk-extract): classify broken-pipe on source-to-destination socket as transient error
  airbyte-cdk/bulk/core/extract/changelog.md
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/output/sockets/SocketProtobufOutputConsumer.kt
  airbyte-cdk/bulk/core/extract/version.properties
Due: addlicense, spotless

fix(destination-snowflake): reject timestamps with year > 9999 in CDK coercer
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/AirbyteValueCoercer.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/data/AirbyteValueCoercerTest.kt
  airbyte-cdk/bulk/core/load/version.properties
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/snowflake.md
Due: addlicense, spotless

fix(source-postgres): improve error message for Postgres replication conflicts on hot standby replicas
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/resources/application.yml
  docs/integrations/sources/postgres.md
Due: none

fix(destination-bigquery): recreate table when a clustering/partitioning column's type changes
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadNativeTableOperations.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/typing_deduping/direct_load_tables/BigqueryDirectLoadNativeTableOperationsTest.kt
  docs/integrations/destinations/bigquery.md
Due: addlicense, spotless

docs(source-postgres): update changelog with PR number
  docs/integrations/sources/postgres.md
Due: none

feat(source-jira): support Atlassian Service Account API tokens via optional Cloud ID
  airbyte-integrations/connectors/source-jira/manifest.yaml
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/unit_tests/test_url_routing.py
  docs/integrations/sources/jira.md
Due: addlicense

chore: split connector bump out to a follow-up PR, add CDK changelog
  airbyte-cdk/bulk/core/load/changelog.md
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/snowflake.md
Due: none

docs(source-jira): fill in PR number in changelog entry
  docs/integrations/sources/jira.md
Due: none

chore(destination-snowflake): bump to CDK 1.0.10 (year-range guard)
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/snowflake.md
Due: none

fix(destination-redshift): drop blank cursor and missing primary key columns before dedup SQL generation
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/kotlin/io/airbyte/integrations/destination/redshift/RedshiftDestination.kt
  airbyte-integrations/connectors/destination-redshift/src/main/kotlin/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftCatalogSanitizer.kt
  airbyte-integrations/connectors/destination-redshift/src/test/kotlin/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftCatalogSanitizerTest.kt
  docs/integrations/destinations/redshift.md
Due: addlicense, spotless

docs: fix snowflake changelog PR reference to #76900
  docs/integrations/destinations/snowflake.md
Due: none

fix(source-jira): gracefully handle 404 on deprecated issue_field_configurations endpoint
  airbyte-integrations/connectors/source-jira/manifest.yaml
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/unit_tests/mock_server/test_issue_field_configurations.py
  docs/integrations/sources/jira.md
Due: addlicense

chore: apply ktfmt / spotless formatting
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadNativeTableOperations.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/typing_deduping/direct_load_tables/BigqueryDirectLoadNativeTableOperationsTest.kt
Due: addlicense, spotless

style: reflow javadoc comment per spotless/ktfmt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/AirbyteValueCoercer.kt
Due: addlicense, spotless

chore(destination-redshift): apply spotless formatting
  airbyte-integrations/connectors/destination-redshift/src/main/kotlin/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftCatalogSanitizer.kt
Due: addlicense, spotless

fix(destination-bigquery): alias source table in recreateTable/copyTable/upsertTable SELECT
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadNativeTableOperations.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/typing_deduping/direct_load_tables/BigqueryDirectLoadNativeTableOperationsTest.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/typing_deduping/direct_load_tables/BigqueryDirectLoadSqlGeneratorTest.kt
  docs/integrations/destinations/bigquery.md
Due: addlicense, spotless

docs(source-github): document max_waiting_time option and rate limit wait behavior
  docs/integrations/sources/github.md
Due: none

fix(destination-bigquery): alias table in alterTable UPDATE to match getColumnCastStatement qualifications
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadNativeTableOperations.kt
Due: addlicense, spotless

fix(source-trustpilot): surface 400/401/403/404 responses as config_error
  airbyte-integrations/connectors/source-trustpilot/manifest.yaml
  airbyte-integrations/connectors/source-trustpilot/metadata.yaml
  airbyte-integrations/connectors/source-trustpilot/unit_tests/__init__.py
  airbyte-integrations/connectors/source-trustpilot/unit_tests/_helpers.py
  airbyte-integrations/connectors/source-trustpilot/unit_tests/conftest.py
  airbyte-integrations/connectors/source-trustpilot/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-trustpilot/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-trustpilot/unit_tests/test_error_handling.py
  docs/integrations/sources/trustpilot.md
Due: addlicense

docs(source-trustpilot): link changelog entry to #76908
  docs/integrations/sources/trustpilot.md
Due: none

ci(source-trustpilot): apply ruff-format to unit tests
  airbyte-integrations/connectors/source-trustpilot/unit_tests/test_error_handling.py
Due: addlicense

chore(source-jira): align 5.0.0 upgradeDeadline with Atlassian sunset date
  airbyte-integrations/connectors/source-jira/metadata.yaml
  docs/integrations/sources/jira-migrations.md
Due: none

Delete name from the dynamic stream
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
Due: none

fix(source-twilio): migrate services and roles streams to Conversations API
  airbyte-integrations/connectors/source-twilio/manifest.yaml
  airbyte-integrations/connectors/source-twilio/metadata.yaml
  airbyte-integrations/connectors/source-twilio/unit_tests/test_streams.py
  docs/integrations/sources/twilio-migrations.md
  docs/integrations/sources/twilio.md
Due: addlicense

chore(source-twilio): apply ruff-format to new tests
  airbyte-integrations/connectors/source-twilio/unit_tests/test_streams.py
Due: addlicense

feat(source-snapchat-marketing): add coupon_used_local and coupon_used_usd fields to all stats streams
  airbyte-integrations/connectors/source-snapchat-marketing/manifest.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/unit_tests/integration/test_adaccounts_stats.py
  airbyte-integrations/connectors/source-snapchat-marketing/unit_tests/integration/test_ads_stats.py
  airbyte-integrations/connectors/source-snapchat-marketing/unit_tests/integration/test_adsquads_stats.py
  airbyte-integrations/connectors/source-snapchat-marketing/unit_tests/integration/test_campaigns_stats.py
  airbyte-integrations/connectors/source-snapchat-marketing/unit_tests/resource/http/response/stats_lifetime.json
  airbyte-integrations/connectors/source-snapchat-marketing/unit_tests/resource/http/response/stats_timeseries.json
  docs/integrations/sources/snapchat-marketing.md
Due: addlicense

docs: set PR number in snapchat-marketing changelog
  docs/integrations/sources/snapchat-marketing.md
Due: none

chore(source-twilio): align upgradeDeadline with Twilio Programmable Chat EOL (2026-06-01)
  airbyte-integrations/connectors/source-twilio/metadata.yaml
Due: none

GA: Update condition for including startDate and endDate
  airbyte-integrations/connectors/source-google-analytics-data-api/manifest.yaml
Due: none

Update dockerImageTag to version 2.9.33
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
Due: none

Bump version to 6.48.17 in manifest.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/manifest.yaml
Due: none

fix(source-snapchat-marketing): AdAccount stats endpoint only supports 'spend' field
  airbyte-integrations/connectors/source-snapchat-marketing/manifest.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/unit_tests/integration/test_adaccounts_stats.py
Due: addlicense

Add release notes for Google Analytics Data API
  docs/integrations/sources/google-analytics-data-api.md
Due: none

chore(source-klaviyo): clarify log message when skipping unsupported conversion metrics
  airbyte-integrations/connectors/source-klaviyo/manifest.yaml
Due: none
