Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

fix(source-chargebee): Fix incremental sync test parameters to match manifest.yaml
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_attached_item.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_comment.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_contact.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_coupon.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_credit_note.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_event.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_gift.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_promotional_credit.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_quote.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_quote_line_group.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_subscription_with_scheduled_changes.py
Due: addlicense

docs(ai-agents): Remove 'Verify connector credentials' section and add troubleshooting
  docs/ai-agents/connectors/tutorial-python.md
Due: none

Add new line between column names.
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/client/ClickhouseSqlGenerator.kt
Due: addlicense, spotless

bump to latest cdk
  airbyte-integrations/connectors/destination-clickhouse/gradle.properties
Due: none

docs(ai-agents): Add 'Add tools to your agent' section to Python SDK tutorial
  docs/ai-agents/connectors/tutorial-python.md
Due: none

test(source-chargebee): Add missing incremental sync tests for 3 streams
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_site_migration_detail.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_transaction.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_unbilled_charge.py
Due: addlicense

test(source-chargebee): Consolidate pagination tests to single test in customer stream
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_customer.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_event.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_subscription.py
Due: addlicense

docs(ai-agents): Add 'Run your project' section to Python SDK tutorial
  docs/ai-agents/connectors/tutorial-python.md
Due: none

forgot to enable rollout
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
Due: none

Add ads_audience_reports_by_dma_daily stream to TikTok Marketing connector
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-tiktok-marketing/manifest.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  docs/integrations/sources/tiktok-marketing.md
Due: none

Fix: Update docker image tag to 4.9.0-rc.1 for progressive rollout
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  docs/integrations/sources/tiktok-marketing.md
Due: none

code refactor
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceJdbcPartitionFactory.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceJdbcPartitionsCreator.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/PostgresSourceSelectQueryGenerator.kt
Due: addlicense, spotless

docs(ai-agents): Change main.py to interactive input loop
  docs/ai-agents/connectors/tutorial-python.md
Due: none

Update tutorial-python.md
  docs/ai-agents/connectors/tutorial-python.md
Due: none

Some clean up for summary and next steps
  docs/ai-agents/connectors/tutorial-python.md
Due: none

chore(source-hubspot): forgot to enable rollout (#70880)
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
Due: none

test(source-chargebee): Add CONFIG_INCOMPATIBLE error handler tests to all streams
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_addon.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_attached_item.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_comment.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_contact.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_coupon.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_credit_note.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_differential_price.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_error_handling.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_event.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_gift.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_hosted_page.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_invoice.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_item.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_item_family.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_item_price.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_order.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_payment_source.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_plan.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_promotional_credit.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_quote.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_site_migration_detail.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_subscription.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_transaction.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_unbilled_charge.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_virtual_bank_account.py
Due: addlicense

Add dma_id field to audience_report schema
  airbyte-integrations/connectors/source-tiktok-marketing/manifest.yaml
Due: none

Add dma_id to dimensions.properties in audience_report schema
  airbyte-integrations/connectors/source-tiktok-marketing/manifest.yaml
Due: none

docs(ai-agents): Fix AgentRunResult attribute from .data to .output
  docs/ai-agents/connectors/tutorial-python.md
Due: none

test(source-chargebee): Add/update test_incremental_emits_state with cursor value verification for all 23 incremental streams
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_addon.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_comment.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_coupon.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_credit_note.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_customer.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_differential_price.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_event.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_gift.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_hosted_page.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_invoice.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_item.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_item_family.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_item_price.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_order.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_payment_source.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_plan.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_promotional_credit.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_quote.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_site_migration_detail.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_subscription.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_transaction.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_unbilled_charge.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_virtual_bank_account.py
Due: addlicense

fix(airbyte-ci): Update PYAIRBYTE_VERSION to 0.30.0 for airbyte-cdk 6.x compatibility
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/test/steps/python_connectors.py
Due: addlicense

Align columns and fix tests.
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/client/ClickhouseSqlGenerator.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test/kotlin/io/airbyte/integrations/destination/clickhouse/client/ClickhouseSqlGeneratorTest.kt
Due: addlicense, spotless

Update names to AI connectors and Agent engine
  docs/ai-agents/README.md
  docs/ai-agents/connectors/readme.md
  docs/ai-agents/connectors/tutorial-mcp.md
  docs/platform/readme.md
  docusaurus/src/data/embedded_api_spec.json
Due: none

test(source-jira): Add mock server test infrastructure
  airbyte-integrations/connectors/source-jira/unit_tests/conftest.py
  airbyte-integrations/connectors/source-jira/unit_tests/integration/config.py
  airbyte-integrations/connectors/source-jira/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-jira/unit_tests/integration/response_builder.py
Due: addlicense

test(source-jira): Add projects stream tests with pagination and error handling
  airbyte-integrations/connectors/source-jira/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-jira/unit_tests/integration/test_projects.py
Due: addlicense

test(source-jira): Add users stream tests with pagination
  airbyte-integrations/connectors/source-jira/unit_tests/integration/test_users.py
Due: addlicense

test(source-jira): Add boards stream tests with pagination and project filter
  airbyte-integrations/connectors/source-jira/unit_tests/integration/test_boards.py
Due: addlicense

test(source-jira): Add filters stream tests with pagination
  airbyte-integrations/connectors/source-jira/unit_tests/integration/test_filters.py
Due: addlicense

chore(source-jira): Set up mock server test infrastructure
  airbyte-integrations/connectors/source-jira/unit_tests/conftest.py
  airbyte-integrations/connectors/source-jira/unit_tests/integration/config.py
  airbyte-integrations/connectors/source-jira/unit_tests/mock_server/__init__.py
  airbyte-integrations/connectors/source-jira/unit_tests/mock_server/config.py
  airbyte-integrations/connectors/source-jira/unit_tests/mock_server/request_builder.py
  airbyte-integrations/connectors/source-jira/unit_tests/mock_server/response_builder.py
  airbyte-integrations/connectors/source-jira/unit_tests/mock_server/test_issues.py
Due: addlicense

feat: Refactor live-test and regression-test slash commands to use airbyte-ops CLI
  .github/workflows/run-live-tests-command-legacy.yml
  .github/workflows/run-live-tests-command.yml
  .github/workflows/run-regression-tests-command-legacy.yml
  .github/workflows/run-regression-tests-command.yml
  .github/workflows/slash-commands.yml
Due: none

Fix some bad naming juju
  docs/ai-agents/embedded/api/README.md
  docusaurus/src/pages/index.js
Due: none

Edits while testing
  docs/ai-agents/connectors/tutorial-python.md
Due: none

chore(source-jira): Add application_roles stream tests and fix formatting
  airbyte-integrations/connectors/source-jira/unit_tests/mock_server/response_builder.py
  airbyte-integrations/connectors/source-jira/unit_tests/mock_server/test_application_roles.py
Due: addlicense

chore(source-jira): Add dashboards stream tests with pagination
  airbyte-integrations/connectors/source-jira/unit_tests/mock_server/test_dashboards.py
Due: addlicense

chore(source-jira): Add projects stream tests with pagination and filter
  airbyte-integrations/connectors/source-jira/unit_tests/mock_server/test_projects.py
Due: addlicense

chore(source-jira): Add boards stream tests with transformations and filter
  airbyte-integrations/connectors/source-jira/unit_tests/mock_server/test_boards.py
Due: addlicense

chore(source-jira): Add sprints substream tests with parent boards
  airbyte-integrations/connectors/source-jira/unit_tests/mock_server/test_sprints.py
Due: addlicense

chore(source-jira): Add issues stream tests with incremental sync and JQL pagination
  airbyte-integrations/connectors/source-jira/unit_tests/mock_server/test_issues_stream.py
Due: addlicense

chore(source-jira): Add project_categories stream tests with 400/403 error handling
  airbyte-integrations/connectors/source-jira/unit_tests/mock_server/test_project_categories.py
Due: addlicense
