Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

A few more edits and fixed a code sample that wasn't filled out all the way
  docs/ai-agents/tools/readme.md
Due: none

fix(source-gong): Use use_client_credentials_in_refresh option for Gong OAuth
  airbyte-integrations/connectors/source-gong/manifest.yaml
  airbyte-integrations/connectors/source-gong/metadata.yaml
Due: none

fix(source-gong): Revert to Basic auth header approach for OAuth token refresh
  airbyte-integrations/connectors/source-gong/manifest.yaml
Due: none

🐙 source-lemlist: run up-to-date pipeline [2026-01-14] (#61084)
  airbyte-integrations/connectors/source-lemlist/metadata.yaml
  docs/integrations/sources/lemlist.md
Due: none

docs: sync agent connector docs from airbyte-agent-connectors repo
  docs/ai-agents/connectors/asana/CHANGELOG.md
  docs/ai-agents/connectors/asana/README.md
  docs/ai-agents/connectors/github/CHANGELOG.md
  docs/ai-agents/connectors/github/README.md
  docs/ai-agents/connectors/github/REFERENCE.md
  docs/ai-agents/connectors/gong/CHANGELOG.md
  docs/ai-agents/connectors/gong/README.md
  docs/ai-agents/connectors/google-drive/CHANGELOG.md
  docs/ai-agents/connectors/google-drive/README.md
  docs/ai-agents/connectors/greenhouse/CHANGELOG.md
  docs/ai-agents/connectors/greenhouse/README.md
  docs/ai-agents/connectors/hubspot/CHANGELOG.md
  docs/ai-agents/connectors/hubspot/README.md
  docs/ai-agents/connectors/hubspot/REFERENCE.md
  docs/ai-agents/connectors/intercom/CHANGELOG.md
  docs/ai-agents/connectors/intercom/README.md
  docs/ai-agents/connectors/jira/CHANGELOG.md
  docs/ai-agents/connectors/jira/README.md
  docs/ai-agents/connectors/jira/REFERENCE.md
  docs/ai-agents/connectors/linear/CHANGELOG.md
  docs/ai-agents/connectors/linear/README.md
  docs/ai-agents/connectors/salesforce/CHANGELOG.md
  docs/ai-agents/connectors/salesforce/README.md
  docs/ai-agents/connectors/salesforce/REFERENCE.md
  docs/ai-agents/connectors/stripe/CHANGELOG.md
  docs/ai-agents/connectors/stripe/README.md
  docs/ai-agents/connectors/stripe/REFERENCE.md
  docs/ai-agents/connectors/zendesk-support/CHANGELOG.md
  docs/ai-agents/connectors/zendesk-support/README.md
Due: none

fix(docs): Update insecure http:// links to https://
  docs/integrations/destinations/chargify.md
  docs/integrations/destinations/gcs.md
  docs/integrations/destinations/mqtt.md
  docs/integrations/destinations/r2.md
  docs/integrations/destinations/s3.md
  docs/integrations/sources/assemblyai.md
  docs/integrations/sources/weatherstack.md
  docs/integrations/sources/zuora.md
  docs/platform/understanding-airbyte/json-avro-conversion.md
  docs/platform/using-airbyte/core-concepts/sync-schedules.md
  docs/release_notes/december_2022.md
Due: none

bump version on metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
Due: none

chore: bump-version
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  docs/integrations/sources/mongodb-v2.md
Due: none

docs(source-linkedin-ads): Fix broken references in acceptance-test-config.yml and README
  airbyte-integrations/connectors/source-linkedin-ads/README.md
  airbyte-integrations/connectors/source-linkedin-ads/acceptance-test-config.yml
Due: none

fix(source-facebook-marketing): Add retry logic for ConnectionError (RemoteDisconnected)
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/api.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/common.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_client.py
Due: addlicense

Update README.md
  airbyte-integrations/connectors/source-linkedin-ads/README.md
Due: none

test(source-tiktok-marketing): Add unit tests for pixel_events_statistics pixel_ids format
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/integration/test_pixel_events_statistics.py
Due: addlicense

fix(source-shopify): Pass logger to HttpStatusErrorHandler to fix AttributeError
  airbyte-integrations/connectors/source-shopify/source_shopify/utils.py
Due: addlicense

style(source-tiktok-marketing): Fix ruff-format string concatenation
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/integration/test_pixel_events_statistics.py
Due: addlicense

chore(source-pokeapi): Add custom Pokemon 'devinmon' to enum
  airbyte-integrations/connectors/source-pokeapi/manifest.yaml
Due: none

upgrade cdk
  airbyte-integrations/connectors/destination-redshift-v2/gradle.properties
Due: none

fix(source-gong): Upgrade to cleaned-up CDK prerelease 7.6.3.post5.dev21001445621
  airbyte-integrations/connectors/source-gong/metadata.yaml
Due: none

fix(destination-postgres): improve error message for dependent views/rules
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/client/PostgresAirbyteClient.kt
Due: addlicense, spotless

remove clickhouse changes
  airbyte-integrations/connectors/destination-clickhouse/gradle.properties
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseAcceptanceTest.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseRegressionTest.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseSchemaDumper.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseJsonRegressionTest/schema-regression/column_names/append.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseJsonRegressionTest/schema-regression/column_names/dedup_colliding_names.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseJsonRegressionTest/schema-regression/column_names/dedup_funky_chars_cursor.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseJsonRegressionTest/schema-regression/column_names/dedup_funky_chars_pk.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseJsonRegressionTest/schema-regression/column_names/dedup_reserved_word.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseJsonRegressionTest/schema-regression/column_names/dedup_simple.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseNonJsonRegressionTest/schema-regression/column_names/append.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseNonJsonRegressionTest/schema-regression/column_names/dedup_colliding_names.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseNonJsonRegressionTest/schema-regression/column_names/dedup_funky_chars_cursor.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseNonJsonRegressionTest/schema-regression/column_names/dedup_funky_chars_pk.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseNonJsonRegressionTest/schema-regression/column_names/dedup_reserved_word.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseNonJsonRegressionTest/schema-regression/column_names/dedup_simple.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/nonjson_proto/schema-regression/column_names/dedup_funky_chars_pk.txt
Due: addlicense, spotless

chore(source-monday): Add changelog and API versioning URLs to external documentation
  airbyte-integrations/connectors/source-monday/metadata.yaml
Due: none

logistics
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/version.properties
Due: none

chore(source-twilio): Update stale authentication documentation URL
  airbyte-integrations/connectors/source-twilio/metadata.yaml
Due: none

remove cdk changes
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/SchemaDumper.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/RegressionTestFixtures.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/RegressionTestSuite.kt
Due: addlicense, spotless

Destination clickhouse: add table names regression test (#71167)
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/Utils.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseAcceptanceTest.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseRegressionTest.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseSchemaDumper.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/nonjson_proto/schema-regression/column_names/dedup_funky_chars_pk.txt
Due: addlicense, spotless

bulk load cdk: implement table name regression test (#71166)
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/SchemaDumper.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/RegressionTestFixtures.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/RegressionTestSuite.kt
  airbyte-cdk/bulk/version.properties
Due: addlicense, spotless

fix: retain original exception as cause in ConfigErrorException
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/client/PostgresAirbyteClient.kt
Due: addlicense, spotless

fix(source-github): Emit warning message when releases pagination limit is reached
  airbyte-integrations/connectors/source-github/source_github/streams.py
Due: addlicense

fix compilei
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseAcceptanceTest.kt
Due: addlicense, spotless

yellow squiggles
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseAcceptanceTest.kt
Due: addlicense, spotless

readd golden files???
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseJsonRegressionTest/schema-regression/column_names/append.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseJsonRegressionTest/schema-regression/column_names/dedup_colliding_names.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseJsonRegressionTest/schema-regression/column_names/dedup_funky_chars_cursor.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseJsonRegressionTest/schema-regression/column_names/dedup_funky_chars_pk.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseJsonRegressionTest/schema-regression/column_names/dedup_reserved_word.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseJsonRegressionTest/schema-regression/column_names/dedup_simple.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseNonJsonRegressionTest/schema-regression/column_names/append.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseNonJsonRegressionTest/schema-regression/column_names/dedup_colliding_names.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseNonJsonRegressionTest/schema-regression/column_names/dedup_funky_chars_cursor.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseNonJsonRegressionTest/schema-regression/column_names/dedup_funky_chars_pk.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseNonJsonRegressionTest/schema-regression/column_names/dedup_reserved_word.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseNonJsonRegressionTest/schema-regression/column_names/dedup_simple.txt
Due: none

test
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/config/PostgresSourceConfiguration.kt
Due: addlicense, spotless

fix(docs): persist Ask AI button across SPA navigation
  docusaurus/src/scripts/kapaWithOsanoConsent.js
Due: none

fix(docs): poll for Osano before initializing Kapa consent handler
  docusaurus/src/scripts/kapaWithOsanoConsent.js
Due: none

docs(source-mongodb-v2): Add MongoDB CDC Limitations section for BSONObjectTooLarge error
  docs/integrations/sources/mongodb-v2.md
  docs/integrations/sources/mongodb-v2/mongodb-v2-troubleshooting.md
Due: none

feat(source-zendesk-support): Add user-configurable page_size option
  airbyte-integrations/connectors/source-zendesk-support/manifest.yaml
Due: none

cdk artifact
  airbyte-integrations/connectors/destination-clickhouse/gradle.properties
Due: none

logistics
  airbyte-integrations/connectors/destination-clickhouse/metadata.yaml
  docs/integrations/destinations/clickhouse.md
Due: none

fix(source-zendesk-support): Update CDK version to ^7 and add page_size_option to paginators
  airbyte-integrations/connectors/source-zendesk-support/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/pyproject.toml
Due: none

chore(source-zendesk-support): Regenerate poetry.lock for CDK ^7
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/poetry.lock
Due: none

test
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSource.kt
Due: addlicense, spotless

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

