Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

fix: fixed broken Outbrain connector pagination (#67079)
  airbyte-integrations/connectors/source-outbrain-amplify/metadata.yaml
  airbyte-integrations/connectors/source-outbrain-amplify/pyproject.toml
  airbyte-integrations/connectors/source-outbrain-amplify/source_outbrain_amplify/source.py
  airbyte-integrations/connectors/source-outbrain-amplify/unit_tests/test_streams.py
  docs/integrations/sources/outbrain-amplify.md
Due: addlicense

docs: update Outbrain Amplify connector documentation
  docs/integrations/sources/outbrain-amplify.md
Due: none

chore: unpin s3 (#67566)
  airbyte-integrations/connectors/source-s3/metadata.yaml
Due: none

Ensure domain_url starts with 'https://' for client_credentials authentication
  airbyte-integrations/connectors/source-salesforce/source_salesforce/api.py
Due: addlicense

fix min time to wait on token rate limits
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/pyproject.toml
  airbyte-integrations/connectors/source-github/source_github/utils.py
  docs/integrations/sources/github.md
Due: addlicense

updated changelog
  docs/integrations/sources/github.md
Due: none

Update metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
Due: none

fix(source-github): fix min time to wait on token rate limits (#67589)
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/pyproject.toml
  airbyte-integrations/connectors/source-github/source_github/utils.py
  docs/integrations/sources/github.md
Due: addlicense

zstd and other fixes
  airbyte-integrations/connectors/destination-snowflake/build.gradle.kts
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBufferTest.kt
Due: addlicense, spotless

fix: dockerImageTag to the correct version
  airbyte-integrations/connectors/source-apify-dataset/metadata.yaml
Due: none

update unit tests
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/check/SnowflakeCheckerTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClientTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBufferTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeRawRecordFormatterTest.kt
Due: addlicense, spotless

update acceptance tests
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeAcceptanceTest.kt
Due: addlicense, spotless

no upcase
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
Due: addlicense, spotless

wip: zstd + csv file
  airbyte-integrations/connectors/destination-snowflake/build.gradle.kts
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBufferTest.kt
Due: addlicense, spotless

Destination Snowflake: revert type changes (#67575)
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeColumnUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDataType.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeRecordFormatter.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeAcceptanceTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/check/SnowflakeCheckerTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClientTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeColumnUtilsTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBufferTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeRawRecordFormatterTest.kt
  docs/integrations/destinations/snowflake.md
Due: addlicense, spotless

logistics
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/snowflake.md
Due: none

feat: set gzip compression level for snowflake destination csv files
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBufferTest.kt
Due: addlicense, spotless

Destination Snowflake: do not upcase column name in DROP COLUMN (#67582)
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  docs/integrations/destinations/snowflake.md
Due: addlicense, spotless

increment version for e2e destination
  airbyte-integrations/connectors/destination-dev-null/gradle.properties
  airbyte-integrations/connectors/destination-dev-null/metadata.yaml
Due: none

Fix speed mode
  airbyte-integrations/connectors/source-mssql/gradle.properties
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDebeziumOperations.kt
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlSourceOperations.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDatatypeIntegrationTest.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerExcludeTodaysDataIntegrationTest.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerSourceDatatypeIntegrationTest.kt
Due: addlicense, spotless

Formatting
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
Due: addlicense, spotless

Prepare release
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/snowflake.md
Due: none

fix(source-google-ads): prevent StreamSlice mutation to fix cursor validation error
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
Due: addlicense

Test
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/cdk/WriteOperationV2.kt
Due: addlicense, spotless

Fix comment
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
Due: addlicense, spotless

Update error handler to immediately use includeGridData=false
  airbyte-integrations/connectors/source-google-sheets/components.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/test_components.py
  docs/integrations/sources/google-sheets.md
Due: addlicense

Precommit
  airbyte-integrations/connectors/source-google-sheets/unit_tests/test_components.py
Due: addlicense

GZIP compression
  airbyte-integrations/connectors/destination-snowflake/build.gradle.kts
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBufferTest.kt
Due: addlicense, spotless

docs: add V2 Helm Chart versions 2.0.13-2.0.17 to release notes
  docs/release_notes/helm-chart-v2-release-notes.md
Due: none

Rbroughan/better interleaved streams (#67583)
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/aggregate/AggregateStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/config/AggregatePublishingConfig.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/config/DispatcherBeanFactory.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/config/InputBeanFactory.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/config/MemoryAndParallelismConfig.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/pipeline/DataFlowPipeline.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/test/config/TestBeanOverrideFactory.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/aggregate/AggregateStoreTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/config/InputBeanFactoryTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/pipeline/DataFlowPipelineTest.kt
  airbyte-cdk/bulk/version.properties
Due: addlicense, spotless

chore(source-google-ads): bump version to 4.1.0-rc.7
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  docs/integrations/sources/google-ads.md
Due: none

Inline file format definition
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeSqlNameUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClientTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeSqlNameUtilsTest.kt
Due: addlicense, spotless

Update docs/integrations/destinations/snowflake.md
  docs/integrations/destinations/snowflake.md
Due: none

feat: set gzip compression level for snowflake destination csv files (#67590)
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeSqlNameUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClientTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeSqlNameUtilsTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBufferTest.kt
  docs/integrations/destinations/snowflake.md
Due: addlicense, spotless

Formatting
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBufferTest.kt
Due: addlicense, spotless

up cdk version
  airbyte-integrations/connectors/source-freshdesk/metadata.yaml
  airbyte-integrations/connectors/source-freshdesk/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-freshdesk/unit_tests/pyproject.toml
Due: none

docs: update AKS support statement to indicate it is currently supported
  docs/platform/enterprise-setup/implementation-guide.md
Due: none

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-freshdesk/unit_tests/integration/config_builder.py
  airbyte-integrations/connectors/source-freshdesk/unit_tests/integration/test_tickets.py
  airbyte-integrations/connectors/source-freshdesk/unit_tests/resource/http/response/tickets.json
Due: addlicense

changelog
  docs/integrations/sources/freshdesk.md
Due: none

progressive rollout
  airbyte-integrations/connectors/source-freshdesk/metadata.yaml
  docs/integrations/sources/freshdesk.md
Due: none
