Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

include null mappings, legacy tests expect them
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/write/load/PostgresRecordFormatter.kt
Due: addlicense, spotless

write value as string, otherwise format might change
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/write/load/PostgresRecordFormatter.kt
Due: addlicense, spotless

docs(source-db2-enterprise): Address CDC schema configurability feedback
  docs/integrations/enterprise-connectors/source-db2-enterprise.md
Due: none

empty schema issue
  airbyte-integrations/connectors/source-snowflake/src/main/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeSource.kt
  airbyte-integrations/connectors/source-snowflake/src/main/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeSourceMetadataQuerier.kt
Due: addlicense, spotless

Update understand-airbyte-cloud-limits.md
  docs/platform/cloud/managing-airbyte-cloud/understand-airbyte-cloud-limits.md
Due: none

Update understand-airbyte-cloud-limits.md (#69092)
  docs/platform/cloud/managing-airbyte-cloud/understand-airbyte-cloud-limits.md
Due: none

update cdk min
  airbyte-integrations/connectors/source-github/poetry.lock
  airbyte-integrations/connectors/source-github/pyproject.toml
Due: none

snowflake table filtering
  airbyte-integrations/connectors/source-snowflake/src/main/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeSource.kt
  airbyte-integrations/connectors/source-snowflake/src/main/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeSourceMetadataQuerier.kt
Due: addlicense, spotless

chore(source-github): Upgrade to Python 3.13 (#68637)
  airbyte-integrations/connectors/source-github/fixtures/github.py
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/poetry.lock
  airbyte-integrations/connectors/source-github/pyproject.toml
  airbyte-integrations/connectors/source-github/source_github/__init__.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  docs/integrations/sources/github.md
Due: addlicense

update lockfile
  airbyte-integrations/connectors/source-facebook-marketing/poetry.lock
Due: none

revert mysql changes
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceConfiguration.kt
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceConfigurationSpecification.kt
  airbyte-integrations/connectors/source-snowflake/gradle.properties
  airbyte-integrations/connectors/source-snowflake/metadata.yaml
  airbyte-integrations/connectors/source-snowflake/src/main/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeSource.kt
Due: addlicense, spotless

chore(source-s3): Upgrade to Python 3.13 (#68640)
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/poetry.lock
  airbyte-integrations/connectors/source-s3/pyproject.toml
  docs/integrations/sources/s3.md
Due: none

Fix state parsing error for integer and number
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerJdbcPartition.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerJdbcPartitionFactoryTest.kt
  docs/integrations/sources/mssql.md
Due: addlicense, spotless

final cdk changes
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/command/JdbcSourceConfiguration.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/command/JdbcSourceConfigurationSpecification.kt
  airbyte-cdk/bulk/version.properties
Due: addlicense, spotless

delete planning doc
  table-filtering-implementation-plan.md
Due: none

[mssql] Fix state parsing error for integer and number (#69093)
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerJdbcPartition.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerJdbcPartitionFactoryTest.kt
  docs/integrations/sources/mssql.md
Due: addlicense, spotless

Support Glue catalogs using S3 Table Buckets
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/io/IcebergTableCleaner.kt
Due: addlicense, spotless

Note on supporting ec2 instance profile IAM role when using abctl
  docs/platform/deploying-airbyte/abctl-ec2.md
Due: none

fix(dataflow-cdk) : fix bug related to index of state messages
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateKeyClient.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateStore.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/state/StateKeyClientTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/state/StateStoreTest.kt
Due: addlicense, spotless

increment version
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/version.properties
Due: none

fix: upgrade cdk version for snowflake+clickhouse destinations for state message index fix
  airbyte-integrations/connectors/destination-clickhouse/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
Due: none

add integration test
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
Due: addlicense, spotless

revert aggressive error handling
  airbyte-integrations/connectors/source-tiktok-marketing/manifest.yaml
Due: none

up release information
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  docs/integrations/sources/tiktok-marketing.md
Due: none

fix unit tests
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/test_source.py
Due: addlicense

chore: revert aggressive error handling (#69101)
  airbyte-integrations/connectors/source-tiktok-marketing/manifest.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/test_source.py
  docs/integrations/sources/tiktok-marketing.md
Due: addlicense

fix assertion
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
Due: addlicense, spotless

Update airbyte-integrations/connectors/source-youtube-analytics/metadata.yaml
  airbyte-integrations/connectors/source-youtube-analytics/metadata.yaml
Due: none

Update docs/integrations/sources/youtube-analytics-migrations.md
  docs/integrations/sources/youtube-analytics-migrations.md
Due: none

Update docs/integrations/sources/youtube-analytics.md
  docs/integrations/sources/youtube-analytics.md
Due: none

[source-youtube-analytics] fix deprecated channel reports (#66558)
  airbyte-integrations/connectors/source-youtube-analytics/acceptance-test-config.yml
  airbyte-integrations/connectors/source-youtube-analytics/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-youtube-analytics/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-youtube-analytics/metadata.yaml
  airbyte-integrations/connectors/source-youtube-analytics/pyproject.toml
  airbyte-integrations/connectors/source-youtube-analytics/source_youtube_analytics/defaults/channel_reports.json
  airbyte-integrations/connectors/source-youtube-analytics/source_youtube_analytics/schemas/channel_basic_a3.json
  airbyte-integrations/connectors/source-youtube-analytics/source_youtube_analytics/schemas/channel_combined_a3.json
  airbyte-integrations/connectors/source-youtube-analytics/source_youtube_analytics/schemas/channel_device_os_a3.json
  airbyte-integrations/connectors/source-youtube-analytics/source_youtube_analytics/schemas/channel_playback_location_a3.json
  airbyte-integrations/connectors/source-youtube-analytics/source_youtube_analytics/schemas/channel_province_a3.json
  airbyte-integrations/connectors/source-youtube-analytics/source_youtube_analytics/schemas/channel_subtitles_a3.json
  airbyte-integrations/connectors/source-youtube-analytics/source_youtube_analytics/schemas/channel_traffic_source_a3.json
  airbyte-integrations/connectors/source-youtube-analytics/source_youtube_analytics/schemas/playlist_basic_a2.json
  airbyte-integrations/connectors/source-youtube-analytics/source_youtube_analytics/schemas/playlist_combined_a2.json
  airbyte-integrations/connectors/source-youtube-analytics/source_youtube_analytics/schemas/playlist_device_os_a2.json
  airbyte-integrations/connectors/source-youtube-analytics/source_youtube_analytics/schemas/playlist_playback_location_a2.json
  airbyte-integrations/connectors/source-youtube-analytics/source_youtube_analytics/schemas/playlist_province_a2.json
  airbyte-integrations/connectors/source-youtube-analytics/source_youtube_analytics/schemas/playlist_traffic_source_a2.json
  airbyte-integrations/connectors/source-youtube-analytics/unit_tests/test_streams.py
  docs/integrations/sources/youtube-analytics-migrations.md
  docs/integrations/sources/youtube-analytics.md
Due: addlicense

docs(source-youtube-analytics): improve migration guide and fix typo
  docs/integrations/sources/youtube-analytics-migrations.md
  docs/integrations/sources/youtube-analytics.md
Due: none

fix: correct dates to 2025 and remove fragile anchor link
  docs/integrations/sources/youtube-analytics-migrations.md
Due: none

fix CreationLimiterSession
  airbyte-integrations/connectors/source-amazon-seller-partner/components.py
Due: addlicense

add comment
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationRecordRaw.kt
Due: addlicense, spotless

add another comment
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableStreamLoader.kt
Due: addlicense, spotless

disable some tests
  airbyte-integrations/connectors/destination-postgres/src/integrationTestLegacy/kotlin/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresRawOverrideDisableTypingDedupingTest.kt
Due: addlicense, spotless

test
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/jdbc/DefaultJdbcConstants.kt
  airbyte-integrations/connectors/source-mysql/gradle.properties
Due: addlicense, spotless

test
  airbyte-integrations/connectors/source-mysql/metadata.yaml
Due: none

Update docs/integrations/sources/google-search-console.md
  docs/integrations/sources/google-search-console.md
Due: none
