Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

derp, undelete this file
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/legacy_typing_deduping/AlterTableReport.kt
Due: addlicense, spotless

also touch bigquery metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
Due: none

fix components reference
  airbyte-integrations/connectors/source-google-search-console/manifest.yaml
Due: none

more fix biuld
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/typing_deduping/BigqueryDatabaseInitialStatusGatherer.kt
Due: addlicense, spotless

🐙 destination-snowflake-cortex: run up-to-date pipeline [2025-05-17] (#51743)
  airbyte-integrations/connectors/destination-snowflake-cortex/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake-cortex/poetry.lock
  airbyte-integrations/connectors/destination-snowflake-cortex/pyproject.toml
  docs/integrations/destinations/snowflake-cortex.md
Due: none

🐙 destination-pgvector: run up-to-date pipeline [2025-05-17] (#51728)
  airbyte-integrations/connectors/destination-pgvector/integration_tests/spec.json
  airbyte-integrations/connectors/destination-pgvector/metadata.yaml
  airbyte-integrations/connectors/destination-pgvector/poetry.lock
  airbyte-integrations/connectors/destination-pgvector/pyproject.toml
  docs/integrations/destinations/pgvector.md
Due: none

Destination bigquery: fix build; really roll back (#61480)
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/legacy_typing_deduping/AlterTableReport.kt
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/typing_deduping/BigqueryDatabaseInitialStatusGatherer.kt
Due: addlicense, spotless

chore: update lockfile for regression tests
  airbyte-integrations/connectors/source-bing-ads/poetry.lock
Due: none

feat(source-bing-ads): migrate account_performance_report and labels streams to low-code (#61325)
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/poetry.lock
  airbyte-integrations/connectors/source-bing-ads/pyproject.toml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/components.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/manifest.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_hourly_reports.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/account_performance_report_hourly_incremental_with_records_further_cursor.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/account_performance_report_hourly_with_records_further_config_start_date.csv
  docs/integrations/sources/bing-ads.md
Due: addlicense

Unit tests and make client mockkable.
  airbyte-integrations/connectors/destination-clickhouse-v2/build.gradle
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/check/ClickhouseChecker.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test/kotlin/io/airbyte/integrations/destination/clickhouse_v2/check/ClickhouseCheckerTest.kt
Due: addlicense, spotless

Rbroughan/productionalize check (#61442)
  airbyte-integrations/connectors/destination-clickhouse-v2/build.gradle
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/check/ClickhouseChecker.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test/kotlin/io/airbyte/integrations/destination/clickhouse_v2/check/ClickhouseCheckerTest.kt
Due: addlicense, spotless

tmp
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoader.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoadWriter.kt
Due: addlicense, spotless

A few adjustments based on review with Alex, and removed some things that aren't shipping yet.
  docs/release_notes/v-1.7.md
Due: none

More rm
  .github/workflows/slash-commands.yml
Due: none

Add fleshed out spec.
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/spec/ClickHouseSpecification.kt
Due: addlicense, spotless

Init module
  airbyte-integrations/connectors/destination-clickhouse-v2/.gitignore
  airbyte-integrations/connectors/destination-clickhouse-v2/README.md
  airbyte-integrations/connectors/destination-clickhouse-v2/bootstrap.md
  airbyte-integrations/connectors/destination-clickhouse-v2/build.gradle
  airbyte-integrations/connectors/destination-clickhouse-v2/icon.svg
  airbyte-integrations/connectors/destination-clickhouse-v2/metadata.yaml
  airbyte-integrations/connectors/destination-clickhouse-v2/poe_tasks.toml
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integration/destination/clickhousev2/ClickHouseDestinationV2.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/resources/hidden-credentials.json
Due: addlicense, spotless

Working with log
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseBeanFactory.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseV2Destination.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoader.kt
Due: addlicense, spotless

Dont need those doc and this comment is bad
  docs/debugging-connector-tests.md
  docs/debugging-github-actions.md
Due: none

Re-org
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseBeanFactory.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/ClickhouseWriter.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoader.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoaderFactory.kt
Due: addlicense, spotless

TMP
  airbyte-integrations/connectors/destination-clickhouse-v2/build.gradle
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integration/destination/clickhouse/v2/ClickHouseBulkLoader.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integration/destination/clickhouse/v2/ClickHouseDestinationV2.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integration/destination/clickhouse/v2/direct/ClickhouseDirectLoader.kt
Due: addlicense, spotless

Revert ssh stuff
  .github/workflows/debug-connector-test.yml
  .github/workflows/slash-commands.yml
Due: none

Check working
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/check/ClickhouseChecker.kt
Due: addlicense, spotless

Wire config to client instantiation.
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseBeanFactory.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/check/ClickhouseChecker.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/spec/ClickhouseConfiguration.kt
Due: addlicense, spotless

Working spec
  airbyte-integrations/connectors/destination-clickhouse-v2/build.gradle
  airbyte-integrations/connectors/destination-clickhouse-v2/metadata.yaml
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickHouseBulkLoader.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseV2Destination.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/direct/ClickhouseDirectLoader.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/spec/ClickHouseSpecification.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/spec/ClickhouseConfiguration.kt
  airbyte-integrations/connectors/destination-pubsub/src/test/java/io/airbyte/integrations/destination/pubsub/PubsubConsumerTest.java
Due: addlicense, spotless

test
  airbyte-integrations/connectors/destination-clickhouse-v2/.gitignore
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/resources/hidden-credentials.json
Due: none

Wire up config. Add notes to DirectLoader.
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/spec/ClickhouseConfiguration.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoader.kt
Due: addlicense, spotless

Test ssh gh
  .github/workflows/debug-connector-test.yml
  docs/debugging-github-actions.md
Due: none

Update metadata
  airbyte-integrations/connectors/destination-clickhouse-v2/metadata.yaml
Due: none

Bla
  .github/workflows/slash-commands.yml
Due: none

Add defaults for database and username.
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/spec/ClickHouseSpecification.kt
Due: addlicense, spotless

More tests
  docs/debugging-connector-tests.md
Due: none

destination bigquery: start direct-load implementation (#59757)
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryBeansFactory.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/check/BigqueryCheckCleaner.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/bulk_loader/BigQueryBulkLoader.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/bulk_loader/BigQueryBulkLoaderConfiguration.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/standard_insert/BigqueryBatchStandardInsertLoader.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/BigQueryDatabaseHandler.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/BigqueryNameGenerators.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadDatabaseInitialStatusGatherer.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadNativeTableOperations.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadTableExistenceChecker.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/legacy_raw_tables/BigqueryRawTableOperations.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/legacy_raw_tables/BigqueryTypingDedupingDatabaseInitialStatusGatherer.kt
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryDataDumper.kt
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryWriteTest.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/typing_deduping/BigqueryDestinationHandlerTest.kt
Due: addlicense, spotless

bigquery / bulk load cdk: support warehouse behavior (#60800)
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryWriteTest.kt
Due: addlicense, spotless

bigquery direct-load: schema evolution (#60822)
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableWriter.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/legacy_typing_deduping/AlterTableReport.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryBeansFactory.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/BigQueryDatabaseHandler.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadNativeTableOperations.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadSqlTableOperations.kt
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryWriteTest.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/typing_deduping/direct_load_tables/BigqueryDirectLoadNativeTableOperationsTest.kt
  buildSrc/src/main/groovy/airbyte-bulk-connector.gradle
Due: addlicense, spotless

bigquery direct-load: implement soft deletes (#60297)
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/BigQueryConsts.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryBeansFactory.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/spec/BigqueryConfiguration.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/spec/BigquerySpecification.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigQueryDestinationTestUtils.kt
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryWriteTest.kt
Due: addlicense, spotless

compile?
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseBeanFactory.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickHouseDirectLoadSqlTableOperations.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoadTableExistenceChecker.kt
Due: addlicense, spotless

Fix config wiring.
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseBeanFactory.kt
Due: addlicense, spotless

tmp
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseBeanFactory.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseDatabaseHandler.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseDirectLoadDatabaseInitialStatusGatherer.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/ClickhouseWriter.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoadSqlGenerator.kt
Due: addlicense, spotless

bigquery direct load: fix dedup? (#60223)
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryWriteTest.kt
Due: addlicense, spotless

bigquery direct load: update spec/config options (#59760)
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryBeansFactory.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/spec/BigqueryConfiguration.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/spec/BigquerySpecification.kt
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/expected-spec-oss.json
Due: addlicense, spotless

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

