Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

fix(source-google-ads): Clamp start_date to 37-month retention window
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
Due: addlicense

fix(source-google-ads): Fallback to segments.month for data beyond 37-month retention window
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
Due: addlicense

feat(source-snowflake): support PAT auth
  airbyte-integrations/connectors/source-snowflake/metadata.yaml
  airbyte-integrations/connectors/source-snowflake/src/main/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeSourceConfiguration.kt
  airbyte-integrations/connectors/source-snowflake/src/main/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeSourceConfigurationSpecification.kt
  airbyte-integrations/connectors/source-snowflake/src/test/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeSourceConfigurationTest.kt
  docs/integrations/sources/snowflake.md
Due: addlicense, spotless

fix(source-gong): handle 429 rate limits
  airbyte-integrations/connectors/source-gong/manifest.yaml
  airbyte-integrations/connectors/source-gong/metadata.yaml
  airbyte-integrations/connectors/source-gong/unit_tests/test_record_filter.py
  docs/integrations/sources/gong.md
Due: addlicense

Fix resource leak in PartitionsCreatorFactory
  airbyte-cdk/bulk/core/extract/changelog.md
  airbyte-cdk/bulk/core/extract/version.properties
Due: none

chore: auto-fix lint and format issues
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/Partitions.kt
Due: addlicense, spotless

Update gradle.properties
  airbyte-integrations/connectors/source-postgres/gradle.properties
Due: none

Refactor resource acquisition in PostgresSourceJdbcPartitionsCreator
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceJdbcPartitionsCreator.kt
Due: addlicense, spotless

chore(source-bing-ads): add num_workers config and HTTP API budget for concurrency tuning (#78470)
  airbyte-integrations/connectors/source-bing-ads/manifest.yaml
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  docs/integrations/sources/bing-ads.md
Due: none

chore(source-sentry): bump to 0.9.22-rc.2 for concurrency tuning iteration 2 (#78468)
  airbyte-integrations/connectors/source-sentry/manifest.yaml
  airbyte-integrations/connectors/source-sentry/metadata.yaml
  docs/integrations/sources/sentry.md
Due: none

fix(source-snowflake): pass PAT as JDBC token
  airbyte-integrations/connectors/source-snowflake/src/main/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeSourceConfiguration.kt
  airbyte-integrations/connectors/source-snowflake/src/test/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeSourceConfigurationTest.kt
Due: addlicense, spotless

chore(source-jira): revert concurrency to 5, add HTTP API budget (10 req/s)
  airbyte-integrations/connectors/source-jira/manifest.yaml
  airbyte-integrations/connectors/source-jira/metadata.yaml
  docs/integrations/sources/jira.md
Due: none

chore(source-jira): remove HTTP API budget per review feedback
  airbyte-integrations/connectors/source-jira/manifest.yaml
Due: none

chore(source-jira): fix changelog PR number and description
  docs/integrations/sources/jira.md
Due: none

fix(source-snowflake): drop username from PAT auth
  airbyte-integrations/connectors/source-snowflake/src/main/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeSourceConfiguration.kt
  airbyte-integrations/connectors/source-snowflake/src/main/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeSourceConfigurationSpecification.kt
  airbyte-integrations/connectors/source-snowflake/src/test/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeSourceConfigurationTest.kt
  docs/integrations/sources/snowflake.md
Due: addlicense, spotless

feat(source-amazon-ads): add Sponsored Brands cost reports
  airbyte-integrations/connectors/source-amazon-ads/manifest.yaml
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/integrations/test_report_streams.py
  docs/integrations/sources/amazon-ads.md
Due: addlicense

feat(source-monday): add subscription_tier spec field and tier-aware HTTPAPIBudget for concurrency tuning
  airbyte-integrations/connectors/source-monday/metadata.yaml
Due: none

chore(source-monday): remove registry override dockerImageTag pinning
  airbyte-integrations/connectors/source-monday/metadata.yaml
Due: none

fix: expand impactedScopes to multi-line format for prettier
  airbyte-integrations/connectors/source-monday/metadata.yaml
Due: none

feat(source-monday): reduce concurrency to 4 and enable tier-aware HTTPAPIBudget
  airbyte-integrations/connectors/source-monday/manifest.yaml
Due: none

chore(source-monday): bump to 2.5.9-rc.2
  airbyte-integrations/connectors/source-monday/metadata.yaml
  docs/integrations/sources/monday.md
Due: none

chore: update changelog PR number
  docs/integrations/sources/monday.md
Due: none

test(source-amazon-ads): format report stream tests
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/integrations/test_report_streams.py
Due: addlicense

fix(source-facebook-marketing): strip breakdown columns from PK before field-split
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/async_job.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_async_job.py
  docs/integrations/sources/facebook-marketing.md
Due: addlicense

docs(source-facebook-marketing): fill in PR number in 5.2.13 changelog row
  docs/integrations/sources/facebook-marketing.md
Due: none

fix(source-monday): use static basic-tier rate limit for api_budget schema compatibility
  airbyte-integrations/connectors/source-monday/manifest.yaml
Due: none

fix(source-monday): add required matchers field, upgrade CDK to ^7, skip CDK-incompatible retry tests
  airbyte-integrations/connectors/source-monday/manifest.yaml
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/test_teams_stream.py
  airbyte-integrations/connectors/source-monday/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-monday/unit_tests/pyproject.toml
Due: addlicense

fix(source-facebook-marketing): exclude breakdown fields from split recovery
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/async_job.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_async_job.py
  docs/integrations/sources/facebook-marketing.md
Due: addlicense

docs(source-snowflake): add 1.0.12 changelog entry
  docs/integrations/sources/snowflake.md
Due: none

style: fix ruff import formatting
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/test_teams_stream.py
Due: addlicense

feat(source-snowflake): bump PAT auth release to 1.1.0
  airbyte-integrations/connectors/source-snowflake/metadata.yaml
  docs/integrations/sources/snowflake.md
Due: none

docs(ai-agents): link CLI agent skill guidance
  docs/ai-agents/interfaces/cli/readme.md
Due: none

revert: remove unnecessary CDK upgrade and test skip markers
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/test_teams_stream.py
  airbyte-integrations/connectors/source-monday/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-monday/unit_tests/pyproject.toml
Due: addlicense

fix(source-monday): use tier-specific api_budget limit via Jinja template
  airbyte-integrations/connectors/source-monday/manifest.yaml
Due: none

feat(source-monday): reduce concurrency to 4 and enable tier-aware HTTPAPIBudget (#78489)
  airbyte-integrations/connectors/source-monday/manifest.yaml
  airbyte-integrations/connectors/source-monday/metadata.yaml
  docs/integrations/sources/monday.md
Due: none

docs(source-snowflake): update Snowflake setup docs
  docs/integrations/sources/snowflake.md
Due: none

fix(source-google-analytics-data-api): revert unnecessary manifest schema version bump
  airbyte-integrations/connectors/source-google-analytics-data-api/manifest.yaml
Due: none

docs(ai-agents): Add Agent CLI interface section (#78448)
  docs/ai-agents/README.md
  docs/ai-agents/concepts/architecture/connectors-and-credentials.md
  docs/ai-agents/concepts/architecture/readme.md
  docs/ai-agents/concepts/connect-ask-act.md
  docs/ai-agents/concepts/readme.md
  docs/ai-agents/get-started/choose-how-to-use.md
  docs/ai-agents/get-started/what-is-airbyte-agents.md
  docs/ai-agents/interfaces/api/readme.md
  docs/ai-agents/interfaces/cli/_category_.json
  docs/ai-agents/interfaces/cli/add-connector.md
  docs/ai-agents/interfaces/cli/authenticate.md
  docs/ai-agents/interfaces/cli/command-reference.md
  docs/ai-agents/interfaces/cli/describe-connector.md
  docs/ai-agents/interfaces/cli/execute.md
  docs/ai-agents/interfaces/cli/readme.md
  docs/ai-agents/interfaces/cli/troubleshooting.md
  docs/ai-agents/interfaces/cli/using-with-ai-agents.md
  docs/ai-agents/interfaces/cli/workspaces.md
  docs/ai-agents/interfaces/readme.md
  docusaurus/static/_ai-agents-sdk-vs-api.md
Due: none

fix(source-shopify): split order refunds from fulfillment fix
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/query.py
  airbyte-integrations/connectors/source-shopify/source_shopify/streams/streams.py
  airbyte-integrations/connectors/source-shopify/unit_tests/conftest.py
  airbyte-integrations/connectors/source-shopify/unit_tests/graphql_bulk/test_job.py
  airbyte-integrations/connectors/source-shopify/unit_tests/test_source.py
  docs/integrations/sources/shopify.md
Due: addlicense

test(source-shopify): restore order refunds error handler coverage
  airbyte-integrations/connectors/source-shopify/unit_tests/test_limit_reducing_error_handler.py
Due: addlicense
