Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

Destination S3 Data Lake: exclude invalid fields from identifier fields (#55700)
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/data/iceberg/parquet/AirbyteTypeToIcebergSchema.kt
Due: addlicense, spotless

[source-mysql] pin to cdk 0.342 (#55754)
  airbyte-integrations/connectors/source-mysql/build.gradle
Due: spotless

bump cdk version + metadata
  airbyte-integrations/connectors/destination-s3-data-lake/build.gradle
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
Due: spotless

changelog
  docs/integrations/destinations/s3-data-lake.md
Due: none

docs: add enterprise connector documentation (#55751)
  docs/integrations/enterprise-connectors/destination-salesforce.md
Due: none

(fix: Source-Workday): Add date and datetime datatypes in schema_helper (#109)
  airbyte-integrations/connectors/source-workday/metadata.yaml
  airbyte-integrations/connectors/source-workday/pyproject.toml
  airbyte-integrations/connectors/source-workday/source_workday/schema_helper.py
  airbyte-integrations/connectors/source-workday/unit_tests/resource/http/response/xml/report_with_dates.xml
  airbyte-integrations/connectors/source-workday/unit_tests/test_schema_helper.py
Due: addlicense

Add UTM source (#55733)
  docs/using-airbyte/getting-started/academy.md
Due: none

update manifest
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/manifest.yaml
Due: none

Matteogp/docs sap hana update 1 (#55696)
  docs/integrations/enterprise-connectors/source-netsuite.md
  docs/integrations/enterprise-connectors/source-sap-hana.md
Due: none

Destination S3 Data Lake: Handle number in primary key (#55755)
  airbyte-integrations/connectors/destination-s3-data-lake/build.gradle
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
  docs/integrations/destinations/s3-data-lake.md
Due: spotless

Save work
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/config/SyncBeanFactory.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/internal/InputConsumerTask.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeWriteTest.kt
Due: addlicense, spotless

Save
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/pipeline/DirectLoadPipelineStep.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/pipeline/DirectLoadRecordAccumulator.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/pipeline/InputPartitioner.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncher.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/internal/InputConsumerTask.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/write/DirectLoader.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeDirectLoader.kt
Due: addlicense, spotless

partitioning without using airbyteValues
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakePartitioner.kt
Due: addlicense, spotless

Status quo
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakePartitioner.kt
Due: addlicense, spotless

chore: auto-fix lint and format issues
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/config/SyncBeanFactory.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/pipeline/DirectLoadPipelineStep.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/pipeline/DirectLoadRecordAccumulator.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/pipeline/InputPartitioner.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncher.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/internal/InputConsumerTask.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/write/DirectLoader.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeDirectLoader.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakePartitioner.kt
Due: addlicense, spotless

keep rawData private
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakePartitioner.kt
Due: addlicense, spotless

DevNullDirectLoader fix
  airbyte-integrations/connectors/destination-dev-null/src/main/kotlin/io/airbyte/integrations/destination/dev_null/DevNullDirectLoader.kt
Due: addlicense, spotless

Version bump
  airbyte-integrations/connectors/destination-dev-null/metadata.yaml
  docs/integrations/destinations/dev-null.md
  docs/integrations/destinations/s3-data-lake.md
Due: none

Fix reversed assertions in MySQL source tests
  airbyte-integrations/connectors/source-mysql/src/test/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceCdcIntegrationTest.kt
  airbyte-integrations/connectors/source-mysql/src/test/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceCursorBasedIntegrationTest.kt
Due: addlicense, spotless

Update asRawJson to not force cast into a JsonNode
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
Due: addlicense, spotless

And again
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/internal/InputConsumerTaskUTest.kt
Due: addlicense, spotless

And again
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncherUTest.kt
Due: addlicense, spotless

More compile errors
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncherTest.kt
Due: addlicense, spotless

Version and typo
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncherUTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
Due: addlicense, spotless

Typos in doc for S3dl
  docs/integrations/destinations/s3-data-lake.md
Due: none

Remove overriden test
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeWriteTest.kt
Due: addlicense, spotless

remove unwanted parameters
  airbyte-integrations/connectors/source-prestashop/components.py
Due: addlicense

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-prestashop/components.py
Due: addlicense

update components
  airbyte-integrations/connectors/source-prestashop/components.py
Due: addlicense

update test scenarios
  airbyte-integrations/connectors/source-prestashop/acceptance-test-config.yml
  airbyte-integrations/connectors/source-prestashop/metadata.yaml
Due: none

Fix reversed assertions in MySQL source tests (#55756)
  airbyte-integrations/connectors/source-mysql/src/test/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceCdcIntegrationTest.kt
  airbyte-integrations/connectors/source-mysql/src/test/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceCursorBasedIntegrationTest.kt
Due: addlicense, spotless

Bump cdk version
  airbyte-integrations/connectors/destination-dev-null/build.gradle
  airbyte-integrations/connectors/destination-s3-data-lake/build.gradle
Due: spotless

Update CDK to pass DestinationRecordRaw around (#55737)
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/config/SyncBeanFactory.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/pipeline/DirectLoadPipelineStep.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/pipeline/DirectLoadRecordAccumulator.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/pipeline/InputPartitioner.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncher.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/internal/InputConsumerTask.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/write/DirectLoader.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncherTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncherUTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/internal/InputConsumerTaskUTest.kt
  airbyte-integrations/connectors/destination-dev-null/build.gradle
  airbyte-integrations/connectors/destination-dev-null/metadata.yaml
  airbyte-integrations/connectors/destination-dev-null/src/main/kotlin/io/airbyte/integrations/destination/dev_null/DevNullDirectLoader.kt
  airbyte-integrations/connectors/destination-s3-data-lake/build.gradle
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeDirectLoader.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakePartitioner.kt
  docs/integrations/destinations/dev-null.md
  docs/integrations/destinations/s3-data-lake.md
Due: addlicense, spotless

update CDK version and poetry lock
  airbyte-integrations/connectors/source-amazon-seller-partner/poetry.lock
  airbyte-integrations/connectors/source-amazon-seller-partner/pyproject.toml
Due: none

update description for board ids config field
  airbyte-integrations/connectors/source-monday/source_monday/spec.json
Due: none

fix typo and improve clarity
  airbyte-integrations/connectors/source-monday/source_monday/spec.json
Due: none

remove debugging breakpoint
  airbyte-integrations/connectors/source-monday/source_monday/graphql_requester.py
Due: addlicense

update CDK
  airbyte-integrations/connectors/source-salesforce/poetry.lock
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
Due: none

Adjustments Jonathan suggested
  docs/operator-guides/collecting-metrics.md
Due: none
