Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

feat(source-gong): Add transcripts stream to sync call transcripts
  airbyte-integrations/connectors/source-gong/manifest.yaml
Due: none

ci: Remove playbook-macro from ai-review-command workflow
  .github/workflows/ai-review-command.yml
Due: none

docs: sync agent connector docs from airbyte-agent-connectors repo
  docs/ai-agents/connectors/gong/CHANGELOG.md
  docs/ai-agents/connectors/gong/README.md
Due: none

chore(source-amazon-seller-partner): Update test CDK dependency to 7.5.1+ for RESET_PAGINATION support
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/pyproject.toml
Due: none

docs: Document Extract Bulk CDK architecture
  connector-writer/source/architecture.md
Due: none

Adjust timezone passing, use safer .get methods to access suppressions and adjust tests to use list wrapped objects
  airbyte-integrations/connectors/source-klaviyo/manifest.yaml
  airbyte-integrations/connectors/source-klaviyo/unit_tests/mock_server/test_global_exclusions.py
Due: addlicense

fix(source-github): Handle GitHub API 10,000 result limit for releases stream
  airbyte-integrations/connectors/source-github/source_github/errors_handlers.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
Due: addlicense

chore: bump-version
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/pyproject.toml
  docs/integrations/sources/github.md
Due: none

make associations streams dynamic
  airbyte-integrations/connectors/source-hubspot/manifest.yaml
Due: none

fix(source-amazon-ads): fix off-by-one error in 60-day data retention cap
  airbyte-integrations/connectors/source-amazon-ads/manifest.yaml
Due: none

fix unit tests
  airbyte-integrations/connectors/source-hubspot/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-hubspot/unit_tests/pyproject.toml
Due: none

chore(source-amazon-ads): bump version to 7.3.12
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  docs/integrations/sources/amazon-ads.md
Due: none

add unit tests
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_association_streams.py
Due: addlicense

format fix
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_association_streams.py
Due: addlicense

format fix
  airbyte-integrations/connectors/source-hubspot/components.py
Due: addlicense

feat(source-amazon-ads): add Sponsored Brands report streams with clicks, cost, and sales
  airbyte-integrations/connectors/source-amazon-ads/manifest.yaml
Due: none

fix(source-amazon-ads): correct column names and groupBy for Sponsored Brands report streams
  airbyte-integrations/connectors/source-amazon-ads/manifest.yaml
Due: none

fix(source-amazon-ads): add adGroupName to primary key for ad groups report streams
  airbyte-integrations/connectors/source-amazon-ads/manifest.yaml
Due: none

test(source-amazon-ads): add Sponsored Brands report streams to unit tests
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/integrations/test_report_streams.py
Due: addlicense

feat(source-amazon-seller-partner): Add hourly granularity option for financial_events_step
  airbyte-integrations/connectors/source-amazon-seller-partner/manifest.yaml
Due: none

fixed pagination
  airbyte-integrations/connectors/source-hubspot/components.py
  airbyte-integrations/connectors/source-hubspot/manifest.yaml
Due: addlicense

Update CDK version
  airbyte-integrations/connectors/source-intercom/metadata.yaml
Due: none

fix(source-gong): Add 404 error handlers to ignore empty data responses
  airbyte-integrations/connectors/source-gong/manifest.yaml
Due: none

fix pagination
  airbyte-integrations/connectors/source-hubspot/components.py
Due: addlicense

fix(source-gong): Update CDK import path for DatetimeBasedCursor
  airbyte-integrations/connectors/source-gong/components.py
Due: addlicense

chore(source-gong): Bump version to 0.4.14
  airbyte-integrations/connectors/source-gong/metadata.yaml
  docs/integrations/sources/gong.md
Due: none

docs(source-google-ads): document empty list field format change from v4.1.0
  docs/integrations/sources/google-ads.md
Due: none

fix(source-gong): Use legacy CDK import path for DatetimeBasedCursor
  airbyte-integrations/connectors/source-gong/components.py
Due: addlicense

Format
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/client/PostgresAirbyteClient.kt
  airbyte-integrations/connectors/destination-postgres/src/test/kotlin/io/airbyte/integrations/destination/postgres/client/PostgresAirbyteClientTest.kt
Due: addlicense, spotless

fix(source-gong): Replace CustomIncrementalSync with standard DatetimeBasedCursor
  airbyte-integrations/connectors/source-gong/components.py
  airbyte-integrations/connectors/source-gong/manifest.yaml
Due: addlicense

fix(source-gong): Use field_path for nested body_json injection
  airbyte-integrations/connectors/source-gong/manifest.yaml
  airbyte-integrations/connectors/source-gong/unit_tests/test_request_with_filter.py
Due: addlicense

docs: add guidance for handling dependent objects errors in Postgres destination
  docs/integrations/destinations/postgres.md
Due: none

ci: Delete stale /run-cat-tests and orphaned run-live-tests workflows
  .github/workflows/run-cat-tests-command.yml
  .github/workflows/run-live-tests-command.yml
  .github/workflows/slash-commands.yml
Due: none

docs(source-gong): Improve documentation clarity and update API links
  docs/integrations/sources/gong.md
Due: none

docs: sync agent connector docs from airbyte-agent-connectors repo
  docs/ai-agents/connectors/asana/CHANGELOG.md
  docs/ai-agents/connectors/asana/README.md
  docs/ai-agents/connectors/github/CHANGELOG.md
  docs/ai-agents/connectors/github/README.md
  docs/ai-agents/connectors/gong/CHANGELOG.md
  docs/ai-agents/connectors/gong/README.md
  docs/ai-agents/connectors/google-drive/CHANGELOG.md
  docs/ai-agents/connectors/google-drive/README.md
  docs/ai-agents/connectors/greenhouse/CHANGELOG.md
  docs/ai-agents/connectors/greenhouse/README.md
  docs/ai-agents/connectors/hubspot/CHANGELOG.md
  docs/ai-agents/connectors/hubspot/README.md
  docs/ai-agents/connectors/intercom/CHANGELOG.md
  docs/ai-agents/connectors/intercom/README.md
  docs/ai-agents/connectors/jira/CHANGELOG.md
  docs/ai-agents/connectors/jira/README.md
  docs/ai-agents/connectors/linear/CHANGELOG.md
  docs/ai-agents/connectors/linear/README.md
  docs/ai-agents/connectors/salesforce/CHANGELOG.md
  docs/ai-agents/connectors/salesforce/README.md
  docs/ai-agents/connectors/stripe/CHANGELOG.md
  docs/ai-agents/connectors/stripe/README.md
  docs/ai-agents/connectors/zendesk-support/CHANGELOG.md
  docs/ai-agents/connectors/zendesk-support/README.md
Due: none

docs(source-shopify): Clarify custom app creation paths for legacy vs Dev Dashboard apps
  docs/integrations/sources/shopify.md
Due: none

feat(source-shopify): Add client credentials grant authentication support
  airbyte-integrations/connectors/source-shopify/source_shopify/auth.py
  airbyte-integrations/connectors/source-shopify/source_shopify/spec.json
Due: addlicense

chore: Fixing source.py
  airbyte-integrations/connectors/source-biggeo/integration_tests/config.json
  airbyte-integrations/connectors/source-biggeo/source_biggeo/source.py
Due: addlicense

style(source-shopify): Fix ruff-format style for boolean expression
  airbyte-integrations/connectors/source-shopify/source_shopify/auth.py
Due: addlicense

fix(source-shopify): Remove sensitive data from error logs
  airbyte-integrations/connectors/source-shopify/source_shopify/auth.py
Due: addlicense
