Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

docs(source-quickbooks): fill changelog PR link
  docs/integrations/sources/quickbooks.md
Due: none

fix(source-youtube-data): classify API errors, add backoff and API budget
  airbyte-integrations/connectors/source-youtube-data/manifest.yaml
  airbyte-integrations/connectors/source-youtube-data/metadata.yaml
  airbyte-integrations/connectors/source-youtube-data/unit_tests/conftest.py
  airbyte-integrations/connectors/source-youtube-data/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-youtube-data/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-youtube-data/unit_tests/test_error_handling.py
  docs/integrations/sources/youtube-data.md
Due: addlicense

fix(source-apple-search-ads): classify API errors
  airbyte-integrations/connectors/source-apple-search-ads/manifest.yaml
  airbyte-integrations/connectors/source-apple-search-ads/metadata.yaml
  airbyte-integrations/connectors/source-apple-search-ads/unit_tests/_helpers.py
  airbyte-integrations/connectors/source-apple-search-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-apple-search-ads/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-apple-search-ads/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-apple-search-ads/unit_tests/test_error_handling.py
  airbyte-integrations/connectors/source-apple-search-ads/unit_tests/test_manifest.py
  docs/integrations/sources/apple-search-ads.md
Due: addlicense

fix(source-youtube-data): partition channel_ids across requests and classify invalid channel IDs as config errors
  airbyte-integrations/connectors/source-youtube-data/manifest.yaml
  airbyte-integrations/connectors/source-youtube-data/metadata.yaml
  airbyte-integrations/connectors/source-youtube-data/unit_tests/__init__.py
  airbyte-integrations/connectors/source-youtube-data/unit_tests/_helpers.py
  airbyte-integrations/connectors/source-youtube-data/unit_tests/conftest.py
  airbyte-integrations/connectors/source-youtube-data/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-youtube-data/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-youtube-data/unit_tests/test_channel_id_partitioning.py
  docs/integrations/sources/youtube-data.md
Due: addlicense

docs(source-apple-search-ads): reference PR 85209 in the changelog entry
  docs/integrations/sources/apple-search-ads.md
Due: none

fix(source-apple-search-ads): reword token refresh endpoint description
  airbyte-integrations/connectors/source-apple-search-ads/manifest.yaml
Due: none

docs(source-youtube-data): separate channel ID note from the list
  docs/integrations/sources/youtube-data.md
Due: none

chore(source-apple-search-ads): tighten error messages
  airbyte-integrations/connectors/source-apple-search-ads/manifest.yaml
  airbyte-integrations/connectors/source-apple-search-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-apple-search-ads/unit_tests/test_error_handling.py
  airbyte-integrations/connectors/source-apple-search-ads/unit_tests/test_manifest.py
Due: addlicense

docs(source-quickbooks): clarify Intuit concurrency limit wording
  airbyte-integrations/connectors/source-quickbooks/CONTRIBUTING.md
  airbyte-integrations/connectors/source-quickbooks/manifest.yaml
  docs/integrations/sources/quickbooks.md
Due: none

test(source-youtube-data): assert classified errors from read output
  airbyte-integrations/connectors/source-youtube-data/unit_tests/test_error_handling.py
  docs/integrations/sources/youtube-data.md
Due: addlicense

docs(source-youtube-data): link changelog entry to PR 85211
  docs/integrations/sources/youtube-data.md
Due: none

test(source-apple-search-ads): assert surfaced error messages
  airbyte-integrations/connectors/source-apple-search-ads/unit_tests/test_error_handling.py
  docs/integrations/sources/apple-search-ads.md
Due: addlicense

fix(source-quickbooks): use compatible declarative manifest base image
  airbyte-integrations/connectors/source-quickbooks/metadata.yaml
  airbyte-integrations/connectors/source-quickbooks/unit_tests/test_config_migrations.py
Due: addlicense

feat(source-quickbooks): improve error handling and token refresh
  airbyte-integrations/connectors/source-quickbooks/manifest.yaml
  airbyte-integrations/connectors/source-quickbooks/metadata.yaml
  airbyte-integrations/connectors/source-quickbooks/unit_tests/conftest.py
  airbyte-integrations/connectors/source-quickbooks/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-quickbooks/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-quickbooks/unit_tests/test_quickbooks.py
  docs/integrations/sources/quickbooks.md
Due: addlicense

chore(source-youtube-data): align tests with connector base image
  airbyte-integrations/connectors/source-youtube-data/unit_tests/conftest.py
  airbyte-integrations/connectors/source-youtube-data/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-youtube-data/unit_tests/pyproject.toml
Due: addlicense

test(source-apple-search-ads): clarify manifest helper
  airbyte-integrations/connectors/source-apple-search-ads/unit_tests/_helpers.py
Due: addlicense

test(source-youtube-data): assert query param cardinality before indexing
  airbyte-integrations/connectors/source-youtube-data/unit_tests/test_channel_id_partitioning.py
Due: addlicense

docs(source-quickbooks): add PR link to changelog entry
  docs/integrations/sources/quickbooks.md
Due: none

fix(source-quickbooks): normalize migrated config value types
  airbyte-integrations/connectors/source-quickbooks/manifest.yaml
Due: none

fix(docs): refine inline connector configuration lookup UI
  docusaurus/src/components/ConnectorSpecPicker.jsx
  docusaurus/src/components/ConnectorSpecPicker.module.css
  docusaurus/src/scripts/prepare-connector-spec-assets.js
  docusaurus/src/theme/SchemaItem/styles.module.css
Due: none

fix(source-quickbooks): use shared manifest base image
  airbyte-integrations/connectors/source-quickbooks/metadata.yaml
Due: none

fix(source-quickbooks): address review feedback on config migration tests and docs
  airbyte-integrations/connectors/source-quickbooks/unit_tests/test_config_migrations.py
  docs/integrations/sources/quickbooks-migrations.md
Due: addlicense

fix(source-apple-search-ads): declare manifest version 7.4.2 for OAuthAuthenticator refresh_token_error fields
  airbyte-integrations/connectors/source-apple-search-ads/manifest.yaml
Due: none

Promote YouTube Data connector to certified
  airbyte-integrations/connectors/source-youtube-data/metadata.yaml
Due: none

Set heartbeat timeout for YouTube Data connector
  airbyte-integrations/connectors/source-youtube-data/metadata.yaml
Due: none

List exact API and OAuth hosts in allowedHosts
  airbyte-integrations/connectors/source-youtube-data/metadata.yaml
Due: none

Add suggested streams for YouTube Data connector
  airbyte-integrations/connectors/source-youtube-data/metadata.yaml
Due: none

Upgrade YouTube Data base image to source-declarative-manifest 7.28.3
  airbyte-integrations/connectors/source-youtube-data/metadata.yaml
Due: none

Document incremental posture and key derivation
  airbyte-integrations/connectors/source-youtube-data/CONTRIBUTING.md
Due: none

Add primary keys, date-time formats, and video-only search filter
  airbyte-integrations/connectors/source-youtube-data/manifest.yaml
Due: none

Classify YouTube API errors with actionable messages
  airbyte-integrations/connectors/source-youtube-data/CONTRIBUTING.md
  airbyte-integrations/connectors/source-youtube-data/manifest.yaml
Due: none

List OAuth first in the authentication options
  airbyte-integrations/connectors/source-youtube-data/manifest.yaml
Due: none

Add API budget, concurrency, backoff, and self-contained spec tooltips
  airbyte-integrations/connectors/source-youtube-data/manifest.yaml
Due: none

Document quota model, record quirks, and Fivetran parity
  airbyte-integrations/connectors/source-youtube-data/AGENTS.md
  airbyte-integrations/connectors/source-youtube-data/CLAUDE.md
Due: none

Bump YouTube Data connector to 0.1.0 with changelog
  airbyte-integrations/connectors/source-youtube-data/metadata.yaml
  docs/integrations/sources/youtube-data.md
Due: none

Set PR number in changelog
  docs/integrations/sources/youtube-data.md
Due: none

Partition videos and channel_comments per channel and suggest detailed video stream
  airbyte-integrations/connectors/source-youtube-data/manifest.yaml
  airbyte-integrations/connectors/source-youtube-data/metadata.yaml
Due: none

fix(destination-gcs-data-lake): refresh table metadata before planning a positional flush
  airbyte-integrations/connectors/destination-gcs-data-lake/src/main/kotlin/io/airbyte/integrations/destination/gcs_data_lake/dataflow/GcsDataLakeAggregate.kt
Due: addlicense, spotless

docs(destination-gcs-data-lake): note the positional delete flush key ceiling
  airbyte-integrations/connectors/destination-gcs-data-lake/src/main/kotlin/io/airbyte/integrations/destination/gcs_data_lake/spec/GcsDataLakeSpecification.kt
  airbyte-integrations/connectors/destination-gcs-data-lake/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-gcs-data-lake/src/test-integration/resources/expected-spec-oss.json
  docs/integrations/destinations/gcs-data-lake.md
Due: addlicense, spotless

feat(destination-gcs-data-lake): commit positional deletes with suppression and index toggles
  airbyte-integrations/connectors/destination-gcs-data-lake/gradle.properties
  airbyte-integrations/connectors/destination-gcs-data-lake/metadata.yaml
  airbyte-integrations/connectors/destination-gcs-data-lake/src/main/kotlin/io/airbyte/integrations/destination/gcs_data_lake/GcsDataLakeBeanFactory.kt
  airbyte-integrations/connectors/destination-gcs-data-lake/src/main/kotlin/io/airbyte/integrations/destination/gcs_data_lake/dataflow/GcsDataLakeAggregate.kt
  airbyte-integrations/connectors/destination-gcs-data-lake/src/main/kotlin/io/airbyte/integrations/destination/gcs_data_lake/dataflow/GcsDataLakeAggregateFactory.kt
  airbyte-integrations/connectors/destination-gcs-data-lake/src/main/kotlin/io/airbyte/integrations/destination/gcs_data_lake/spec/GcsDataLakeConfiguration.kt
  airbyte-integrations/connectors/destination-gcs-data-lake/src/main/kotlin/io/airbyte/integrations/destination/gcs_data_lake/spec/GcsDataLakeSpecification.kt
  airbyte-integrations/connectors/destination-gcs-data-lake/src/main/kotlin/io/airbyte/integrations/destination/gcs_data_lake/write/GcsDataLakeStreamLoader.kt
  airbyte-integrations/connectors/destination-gcs-data-lake/src/main/kotlin/io/airbyte/integrations/destination/gcs_data_lake/write/GcsDataLakeStreamState.kt
  airbyte-integrations/connectors/destination-gcs-data-lake/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-gcs-data-lake/src/test-integration/resources/expected-spec-oss.json
  airbyte-integrations/connectors/destination-gcs-data-lake/src/test/kotlin/io/airbyte/integrations/destination/gcs_data_lake/write/GcsDataLakeStreamLoaderTest.kt
  docs/integrations/destinations/gcs-data-lake.md
Due: addlicense, spotless

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

