Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

Socket error handling
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/output/sockets/SocketWrapper.kt
Due: addlicense, spotless

Set up ssh access if build fails.
  .github/workflows/connector-ci-checks.yml
Due: none

Update poetry.lock
  airbyte-integrations/connectors/source-google-analytics-data-api/poetry.lock
Due: none

feat(source-bing-ads): migrate ad_performance_reports and campaigns lo low_code (#59750)
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/poetry.lock
  airbyte-integrations/connectors/source-bing-ads/pyproject.toml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/components.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/manifest.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/reports/__init__.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/reports/ad_performance_report.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/reports/bing_ads_reporting_service_performance_stream.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/reports/bing_ads_reporting_service_stream.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/reports/hourly_report_transformer_mixin.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/base_test.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/protocol_helpers.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/request_builder.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_hourly_reports.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_report_stream.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/http/response/accounts_search_for_report.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/http/response/generate_report.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/http/response/generate_report_poll.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/ad_performance_report_hourly_incremental_with_records_further_cursor.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/ad_performance_report_hourly_with_records_further_config_start_date.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/hourly_reports_state_after_migration.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/hourly_reports_state_after_migration_with_cursor_further_config_start_date.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/hourly_reports_state_legacy.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_components.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_reports.py
  docs/integrations/sources/bing-ads.md
Due: addlicense

🐙 source-twilio: per partition states for nested streams (#49097)
  airbyte-integrations/connectors/source-twilio/metadata.yaml
  airbyte-integrations/connectors/source-twilio/pyproject.toml
  airbyte-integrations/connectors/source-twilio/source_twilio/streams.py
  airbyte-integrations/connectors/source-twilio/unit_tests/test_streams.py
  docs/integrations/sources/twilio.md
Due: addlicense

refactor: update Amazon Ads brand campaigns report stream schema and fields
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/configured_catalog_report.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/manifest.yaml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_brands_campaigns_report_stream.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_brands_campaigns_report_stream_daily.json
Due: none

Update manifest.yaml
  airbyte-integrations/connectors/source-chargify/manifest.yaml
Due: none

Add error handling and bump CDK version
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/cdc/MssqlDebeziumStateUtil.java
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MSSqlSourceExceptionHandler.kt
  docs/integrations/sources/mssql.md
Due: addlicense, spotless

update formatting and changelog
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MSSqlSourceExceptionHandler.kt
  docs/integrations/sources/mssql.md
Due: addlicense, spotless

derp
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/check/BigqueryCheckCleaner.kt
Due: addlicense, spotless

logistics
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  docs/integrations/destinations/bigquery.md
Due: none

Introduce the DefaultCsvValueProcessor
  airbyte-cdk/bulk/toolkits/load-csv/src/main/kotlin/io/airbyte/cdk/load/data/csv/AirbyteValueToCsvRow.kt
  airbyte-cdk/bulk/toolkits/load-csv/src/main/kotlin/io/airbyte/cdk/load/data/csv/CsvValueProcessor.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/command/object_storage/ObjectStorageFormatSpecification.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStorageFormattingWriter.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/bulk_loader/BigQueryObjectStorageFormattingWriter.kt
  airbyte-integrations/connectors/destination-mssql/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLCsvRowGenerator.kt
Due: addlicense, spotless

Adding AirbyteValueToCsvRowTest
  airbyte-cdk/bulk/toolkits/load-csv/src/test/kotlin/io/airbyte/cdk/load/data/csv/AirbyteValueToCsvRowTest.kt
Due: addlicense, spotless

It is 2025
  airbyte-cdk/bulk/toolkits/load-csv/src/main/kotlin/io/airbyte/cdk/load/data/csv/CsvValueProcessor.kt
Due: addlicense, spotless

This is dumb
  airbyte-integrations/connectors/destination-mssql/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLContainerHelper.kt
Due: addlicense, spotless

mssql version
  airbyte-integrations/connectors/destination-mssql/metadata.yaml
  docs/integrations/destinations/mssql.md
Due: none

back to -1
  airbyte-integrations/connectors/destination-mssql/gradle.properties
Due: none

1 now
  airbyte-integrations/connectors/destination-mssql/gradle.properties
Due: none

Bigquery version
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  docs/integrations/destinations/bigquery.md
Due: none

Does that help?
  airbyte-integrations/connectors/destination-mssql/gradle.properties
Due: none

Format
  airbyte-cdk/bulk/toolkits/load-csv/src/main/kotlin/io/airbyte/cdk/load/data/csv/CsvValueProcessor.kt
  airbyte-cdk/bulk/toolkits/load-csv/src/test/kotlin/io/airbyte/cdk/load/data/csv/AirbyteValueToCsvRowTest.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/bulk_loader/BigQueryObjectStorageFormattingWriter.kt
Due: addlicense, spotless

Revert
  airbyte-integrations/connectors/destination-mssql/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLContainerHelper.kt
Due: addlicense, spotless

format
  airbyte-integrations/connectors/destination-mssql/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLContainerHelper.kt
Due: addlicense, spotless

Introducing the BigQueryCsvValueProcessor
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/command/object_storage/ObjectStorageFormatSpecification.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/bulk_loader/BigQueryBulkLoader.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/bulk_loader/BigQueryCsvValueProcessor.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/bulk_loader/BigQueryObjectStorageFormattingWriter.kt
Due: addlicense, spotless

Format
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/bulk_loader/BigQueryCsvValueProcessor.kt
Due: addlicense, spotless

Cleaner tests
  airbyte-cdk/bulk/toolkits/load-csv/src/test/kotlin/io/airbyte/cdk/load/data/csv/AirbyteValueToCsvRowTest.kt
Due: addlicense, spotless

Rename to clickhouse
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseBeanFactory.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseBulkLoader.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/spec/ClickhouseConfiguration.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/spec/ClickhouseSpecification.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoadSqlTableOperations.kt
Due: addlicense, spotless

remove local in mysql cdk version (#61014)
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  docs/integrations/sources/mysql.md
Due: spotless

Destination bigquery: no need to drop namespace anymore (#61321)
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/check/BigqueryCheckCleaner.kt
  docs/integrations/destinations/bigquery.md
Due: addlicense, spotless

feat: migrate account_performance_report_daily to low-code
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/manifest.yaml
Due: none

chore: replace python stream for testing
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/manifest.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
Due: addlicense

DO NOT MERGE: Testing ci
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeDirectLoader.kt
  docs/integrations/destinations/s3-data-lake.md
Due: addlicense, spotless

bump version to 4.1.1
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/pyproject.toml
  docs/integrations/sources/instagram.md
Due: none

chore: bump-version
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/pyproject.toml
  docs/integrations/sources/google-sheets.md
Due: none

🐙 source-gitlab: run up-to-date pipeline [2025-05-31] (#57264)
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/poetry.lock
  airbyte-integrations/connectors/source-gitlab/pyproject.toml
  docs/integrations/sources/gitlab.md
Due: none

🐙 source-google-ads: run up-to-date pipeline [2025-05-31] (#51664)
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/poetry.lock
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  docs/integrations/sources/google-ads.md
Due: none

migrate site analytics by device
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/manifest.yaml
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/streams.py
Due: addlicense
