Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

source-thinkific-courses contribution from gueroverde (#54173)
  airbyte-integrations/connectors/source-thinkific-courses/README.md
  airbyte-integrations/connectors/source-thinkific-courses/acceptance-test-config.yml
  airbyte-integrations/connectors/source-thinkific-courses/icon.svg
  airbyte-integrations/connectors/source-thinkific-courses/manifest.yaml
  airbyte-integrations/connectors/source-thinkific-courses/metadata.yaml
  docs/integrations/sources/thinkific-courses.md
Due: none

Update Formatting for Manifest
  airbyte-integrations/connectors/source-typeform/manifest.yaml
  docs/integrations/sources/typeform.md
Due: none

Remove Pin
  airbyte-integrations/connectors/source-typeform/metadata.yaml
Due: none

bump requests-mock version
  airbyte-integrations/connectors/source-avni/metadata.yaml
  airbyte-integrations/connectors/source-avni/poetry.lock
  airbyte-integrations/connectors/source-avni/pyproject.toml
  airbyte-integrations/connectors/source-freshdesk/metadata.yaml
  airbyte-integrations/connectors/source-freshdesk/poetry.lock
  airbyte-integrations/connectors/source-freshdesk/pyproject.toml
  airbyte-integrations/connectors/source-youtube-analytics/metadata.yaml
  airbyte-integrations/connectors/source-youtube-analytics/poetry.lock
  airbyte-integrations/connectors/source-youtube-analytics/pyproject.toml
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/poetry.lock
  airbyte-integrations/connectors/source-zendesk-support/pyproject.toml
  docs/integrations/sources/avni.md
  docs/integrations/sources/freshdesk.md
  docs/integrations/sources/youtube-analytics.md
  docs/integrations/sources/zendesk-support.md
Due: none

update pr #
  docs/integrations/sources/avni.md
  docs/integrations/sources/freshdesk.md
  docs/integrations/sources/youtube-analytics.md
  docs/integrations/sources/zendesk-support.md
Due: none

Remove duplicate fields and tables
  airbyte-integrations/connectors/source-track-pms/manifest.yaml
  airbyte-integrations/connectors/source-track-pms/metadata.yaml
  docs/integrations/sources/track-pms-migrations.md
  docs/integrations/sources/track-pms.md
Due: none

Docs terraform context (#53242)
  docs/terraform-documentation.md
  docs/using-airbyte/getting-started/readme.md
  docusaurus/docusaurus.config.js
Due: none

✨ Source Partnerstack : Migrate to Manifest-only (#47280)
  airbyte-integrations/connectors/source-partnerstack/README.md
  airbyte-integrations/connectors/source-partnerstack/__init__.py
  airbyte-integrations/connectors/source-partnerstack/acceptance-test-config.yml
  airbyte-integrations/connectors/source-partnerstack/main.py
  airbyte-integrations/connectors/source-partnerstack/manifest.yaml
  airbyte-integrations/connectors/source-partnerstack/metadata.yaml
  airbyte-integrations/connectors/source-partnerstack/poetry.lock
  airbyte-integrations/connectors/source-partnerstack/pyproject.toml
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/__init__.py
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/components.py
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/manifest.yaml
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/run.py
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/schemas/customers.json
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/schemas/deals.json
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/schemas/groups.json
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/schemas/leads.json
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/schemas/partnerships.json
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/schemas/rewards.json
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/schemas/transactions.json
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/source.py
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/spec.yaml
  docs/integrations/sources/partnerstack.md
Due: addlicense

fix(source-typeform) Record selector for nested streams & formatting (#54690)
  airbyte-integrations/connectors/source-typeform/manifest.yaml
  airbyte-integrations/connectors/source-typeform/metadata.yaml
  docs/integrations/sources/typeform.md
Due: none

update
  airbyte-integrations/connectors/source-freshcaller/manifest.yaml
Due: none

Add bamboo timesheet_entries stream
  airbyte-integrations/connectors/source-bamboo-hr/manifest.yaml
Due: none

Bump bamboo-hr connector version
  airbyte-integrations/connectors/source-bamboo-hr/metadata.yaml
Due: none

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-monday/unit_tests/test_components.py
Due: addlicense

fix linter
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/client.py
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/spec.json
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_client.py
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_data/sample_config_service.json
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_destination.py
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_helpers.py
Due: addlicense

update connector version, fix doc
  airbyte-integrations/connectors/destination-google-sheets/README.md
  airbyte-integrations/connectors/destination-google-sheets/metadata.yaml
  airbyte-integrations/connectors/destination-google-sheets/pyproject.toml
Due: none

updated source.py and run.py
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/run.py
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/source.py
Due: addlicense

removed custom cursors and added custom state migration
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/components.py
Due: addlicense

removed custom cursor usage from manifest
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/manifest.yaml
Due: none

updated unit tests
  airbyte-integrations/connectors/source-greenhouse/unit_tests/conftest.py
  airbyte-integrations/connectors/source-greenhouse/unit_tests/test_components.py
  airbyte-integrations/connectors/source-greenhouse/unit_tests/test_streams.py
Due: addlicense

fix cursors for eeoc_stream
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/manifest.yaml
Due: none

update imports
  airbyte-integrations/connectors/source-posthog/components.py
Due: addlicense

Submission for source-uk-bank-holidays from Connector Builder
  airbyte-integrations/connectors/source-uk-bank-holidays/README.md
  airbyte-integrations/connectors/source-uk-bank-holidays/acceptance-test-config.yml
  airbyte-integrations/connectors/source-uk-bank-holidays/icon.svg
  airbyte-integrations/connectors/source-uk-bank-holidays/manifest.yaml
  airbyte-integrations/connectors/source-uk-bank-holidays/metadata.yaml
  docs/integrations/sources/uk-bank-holidays.md
Due: none

fix build + bugs
  airbyte-cdk/bulk/toolkits/load-csv/src/main/kotlin/io/airbyte/cdk/load/data/csv/AirbyteValueToCsvRow.kt
  airbyte-cdk/bulk/toolkits/load-csv/src/main/kotlin/io/airbyte/cdk/load/data/csv/MSSQLCsvRowValidator.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStorageFormattingWriter.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLBulkLoadHandler.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLBulkLoadStreamLoader.kt
Due: addlicense, spotless

format
  airbyte-cdk/bulk/toolkits/load-csv/src/main/kotlin/io/airbyte/cdk/load/data/csv/MSSQLCsvRowValidator.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStorageFormattingWriter.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLBulkLoadHandler.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLBulkLoadStreamLoader.kt
Due: addlicense, spotless

Add Docker network
  airbyte-integrations/connectors/destination-mssql-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/BulkInsertContainerHelper.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLContainerHelper.kt
Due: addlicense, spotless

feat: use azurite for integration tests
  airbyte-cdk/bulk/toolkits/load-azure-blob-storage/src/main/kotlin/io/airbyte/cdk/load/command/azureBlobStorage/AzureBlobStorageSpecification.kt
  airbyte-cdk/bulk/toolkits/load-azure-blob-storage/src/main/kotlin/io/airbyte/cdk/load/file/azureBlobStorage/AzureBlobStorageClientFactory.kt
  airbyte-integrations/connectors/destination-mssql-v2/build.gradle.kts
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLWriter.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/config/LoadTypeSpecification.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/BulkInsertContainerHelper.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLContainerHelper.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLWriterTest.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/test-integration/resources/check/valid-bulk.json
  airbyte-integrations/connectors/destination-mssql-v2/src/test-integration/resources/check/valid.json
Due: addlicense, spotless

hack fix to make integration tests work
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/write/object_storage/RecordToPartAccumulator.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/config/MSSQLConfiguration.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLWriterTest.kt
Due: addlicense, spotless

test fixes
  airbyte-cdk/bulk/toolkits/load-azure-blob-storage/src/main/kotlin/io/airbyte/cdk/load/file/azureBlobStorage/AzureBlobStreamingUpload.kt
  airbyte-integrations/connectors/destination-mssql-v2/build.gradle.kts
  airbyte-integrations/connectors/destination-mssql-v2/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/config/MSSQLConfiguration.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/BulkInsertContainerHelper.kt
Due: addlicense, spotless

Increase token expiration time
  airbyte-integrations/connectors/destination-mssql-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/BulkInsertContainerHelper.kt
Due: addlicense, spotless

Use account SAS token
  airbyte-integrations/connectors/destination-mssql-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/BulkInsertContainerHelper.kt
Due: addlicense, spotless

Formatting
  airbyte-cdk/bulk/toolkits/load-azure-blob-storage/src/main/kotlin/io/airbyte/cdk/load/file/azureBlobStorage/AzureBlobStreamingUpload.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/BulkInsertContainerHelper.kt
Due: addlicense, spotless

Fix database setup logic
  airbyte-integrations/connectors/destination-mssql-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/BulkInsertContainerHelper.kt
Due: addlicense, spotless

Add nginx proxy
  airbyte-integrations/connectors/destination-mssql-v2/build.gradle.kts
  airbyte-integrations/connectors/destination-mssql-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/BulkInsertContainerHelper.kt
Due: addlicense, spotless

More cleanup
  airbyte-integrations/connectors/destination-mssql-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/BulkInsertContainerHelper.kt
Due: addlicense, spotless

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-posthog/components.py
Due: addlicense

removed requests-mock usage
  airbyte-integrations/connectors/source-klaviyo/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-klaviyo/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_components.py
Due: addlicense

update changelog
  docs/integrations/destinations/google-sheets.md
Due: none

update to latest cdk, bump version
  airbyte-integrations/connectors/source-greenhouse/metadata.yaml
  airbyte-integrations/connectors/source-greenhouse/poetry.lock
  airbyte-integrations/connectors/source-greenhouse/pyproject.toml
  docs/integrations/sources/greenhouse.md
Due: none

source-hubspot add unit tests for casting and minor changes to reduce code duplicatoin
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
Due: addlicense

source-hubspot: ruff format
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
Due: addlicense

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

