Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

use single quote for literals
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresDirectLoadSqlGenerator.kt
Due: addlicense, spotless

change access modifier
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresDirectLoadSqlGenerator.kt
Due: addlicense, spotless

delete outdated comment
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresDirectLoadSqlGenerator.kt
Due: addlicense, spotless

tiktok-marketing: enable prog rollout
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
Due: none

fix: flag authentication issues as config errors (#69279)
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  docs/integrations/sources/google-analytics-data-api.md
Due: none

chore(source-tiktok-marketing): enable prog rollout (#69299)
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
Due: none

use unquoted index names to be used as literals
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresColumnUtils.kt
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresDirectLoadSqlGenerator.kt
Due: addlicense, spotless

rename
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/client/PostgresAirbyteClient.kt
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresDirectLoadSqlGenerator.kt
Due: addlicense, spotless

always match schemas
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/client/PostgresAirbyteClient.kt
Due: addlicense, spotless

add missing tests
  airbyte-integrations/connectors/destination-postgres/src/test/kotlin/io/airbyte/integrations/destination/postgres/client/PostgresAirbyteClientTest.kt
Due: addlicense, spotless

add assert function that runs trimindent
  airbyte-integrations/connectors/destination-postgres/src/test/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresDirectLoadSqlGeneratorTest.kt
Due: addlicense, spotless

format
  airbyte-integrations/connectors/destination-postgres/src/test/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresDirectLoadSqlGeneratorTest.kt
Due: addlicense, spotless

update existing test
  airbyte-integrations/connectors/destination-postgres/src/test/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresDirectLoadSqlGeneratorTest.kt
Due: addlicense, spotless

test index recreation
  airbyte-integrations/connectors/destination-postgres/src/test/kotlin/io/airbyte/integrations/destination/postgres/sql/PostgresDirectLoadSqlGeneratorTest.kt
Due: addlicense, spotless

update test
  airbyte-integrations/connectors/destination-postgres/src/test/kotlin/io/airbyte/integrations/destination/postgres/write/transform/PostgresValueCoercerTest.kt
Due: addlicense, spotless

Some CSS adjustments to ensure everything fits nicely at different resolutions
  docusaurus/src/css/custom.css
Due: none

Source MSSQL: Add Debezium heartbeat logging for troubleshooting
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/debezium/internals/DebeziumRecordIterator.kt
  airbyte-integrations/connectors/source-mssql/build.gradle
Due: addlicense, spotless

feat(connectors): Add externalDocumentationUrls to 30 connectors
  airbyte-integrations/connectors/source-airtable/metadata.yaml
  airbyte-integrations/connectors/source-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-freshdesk/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-search-console/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-harvest/metadata.yaml
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-sendgrid/metadata.yaml
  airbyte-integrations/connectors/source-sentry/metadata.yaml
  airbyte-integrations/connectors/source-slack/metadata.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  airbyte-integrations/connectors/source-typeform/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-chat/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-talk/metadata.yaml
Due: none

update sdm to use base image with additional logging
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
Due: none

Turn this tabular list into a table.
  docs/integrations/destinations/clickhouse.md
Due: none

update to latest cdk and remove deprecated parameter from custom IntercomScrollRetriever component
  airbyte-integrations/connectors/source-intercom/components.py
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  docs/integrations/sources/intercom.md
Due: addlicense

fix(docs): Improve enterprise connector detection in ConnectorRegistry
  docusaurus/src/components/ConnectorRegistry.jsx
Due: none

feat(connectors): Add externalDocumentationUrls to 30 connectors (#69290)
  airbyte-integrations/connectors/source-airtable/metadata.yaml
  airbyte-integrations/connectors/source-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-freshdesk/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-search-console/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-harvest/metadata.yaml
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-sendgrid/metadata.yaml
  airbyte-integrations/connectors/source-sentry/metadata.yaml
  airbyte-integrations/connectors/source-slack/metadata.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  airbyte-integrations/connectors/source-typeform/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-chat/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-talk/metadata.yaml
Due: none

feat(destination-snowflake-cortex): Add keypair authentication support
  airbyte-integrations/connectors/destination-snowflake-cortex/README.md
  airbyte-integrations/connectors/destination-snowflake-cortex/destination_snowflake_cortex/config.py
  airbyte-integrations/connectors/destination-snowflake-cortex/destination_snowflake_cortex/cortex_processor.py
  airbyte-integrations/connectors/destination-snowflake-cortex/destination_snowflake_cortex/destination.py
Due: addlicense

better names
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/component/ClickhouseTableSchemaEvolutionTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/component/SnowflakeTableSchemaEvolutionTest.kt
Due: addlicense, spotless

style: Apply pre-commit formatting fixes
  airbyte-integrations/connectors/destination-snowflake-cortex/destination_snowflake_cortex/config.py
  airbyte-integrations/connectors/destination-snowflake-cortex/destination_snowflake_cortex/destination.py
Due: addlicense

docs(clickhouse): Clarify Protocol field is self-hosted only
  docs/integrations/destinations/clickhouse.md
Due: none

better names
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/component/TableSchemaEvolutionSuite.kt
Due: addlicense, spotless

feat(docs): Add alphabetical sorting and display name override for enterprise connectors
  docusaurus/src/components/ConnectorRegistry.jsx
Due: none

update changelog with pr number
  docs/integrations/sources/intercom.md
Due: none

blegh
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/formatter/BigQueryRecordFormatter.kt
Due: addlicense, spotless

refactor(docs): Remove ServiceNow display name override
  docusaurus/src/components/ConnectorRegistry.jsx
Due: none

Final edits
  docs/integrations/destinations/clickhouse.md
Due: none

logistics
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  docs/integrations/destinations/bigquery.md
Due: none

fix(source-service-now): Update metadata to use correct display name and documentationUrl
  airbyte-integrations/connectors/source-service-now/metadata.yaml
Due: none

revert: Remove alphabetical sorting logic for enterprise connectors
  docusaurus/src/components/ConnectorRegistry.jsx
Due: none

docs(service-now): add 0.1.1 changelog entry
  docs/integrations/enterprise-connectors/source-service-now.md
Due: none

fix(source-service-now): Add maxSecondsBetweenMessages field
  airbyte-integrations/connectors/source-service-now/metadata.yaml
Due: none

Fix duplicate metadata key in JdbcMetadataQuerier
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/discover/JdbcMetadataQuerier.kt
  airbyte-cdk/bulk/version.properties
Due: addlicense, spotless

unit test
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/formatter/BigQueryRecordFormatterTest.kt
Due: addlicense, spotless
