Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

v2 state compatiblity
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceJdbcPartitionFactory.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceJdbcV2CompatibilityStreamStateValue.kt
Due: addlicense, spotless

v2 state compatiblity
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceJdbcV2CompatibilityStreamStateValue.kt
Due: addlicense, spotless

use better interceptor
  airbyte-cdk/bulk/core/base/src/testFixtures/kotlin/io/airbyte/cdk/extensions/JunitTimeoutInvocationInterceptor.kt
  airbyte-cdk/bulk/core/base/src/testFixtures/kotlin/io/airbyte/cdk/extensions/LoggingInvocationInterceptor.kt
  airbyte-cdk/bulk/core/base/src/testFixtures/resources/META-INF.services/org.junit.jupiter.api.extension.Extension
  airbyte-cdk/bulk/core/base/src/testFixtures/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Due: addlicense, spotless

comment
  airbyte-cdk/bulk/core/base/src/testFixtures/kotlin/io/airbyte/cdk/extensions/JunitTimeoutInvocationInterceptor.kt
Due: addlicense, spotless

mysql no-op change
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSource.kt
Due: addlicense, spotless

Update the number of cloud limits for September plan changes (#66702)
  docs/platform/cloud/managing-airbyte-cloud/understand-airbyte-cloud-limits.md
Due: none

mssql no-op change
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
Due: addlicense, spotless

postgres no-op change
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
Due: addlicense, spotless

REVERT ME
  airbyte-integrations/connectors/destination-dev-null/src/main/kotlin/io/airbyte/integrations/destination/dev_null/DevNullDirectLoader.kt
Due: addlicense, spotless

Revert "REVERT ME"
  airbyte-integrations/connectors/destination-dev-null/src/main/kotlin/io/airbyte/integrations/destination/dev_null/DevNullDirectLoader.kt
Due: addlicense, spotless

format and pk fix
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/DataGenSourceConfigurationSpecification.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/DataGenSourceMetadataQuerier.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/flavor/Flavor.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/flavor/increment/IncrementDataGenerator.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/flavor/increment/IncrementFlavor.kt
Due: addlicense, spotless

feat: Switch Autodoc workflow trigger from pull_request to push
  .github/workflows/autodoc.yml
Due: none

format fix
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/DataGenSourceMetadataQuerier.kt
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/flavor/increment/IncrementDataGenerator.kt
Due: addlicense, spotless

fix: Remove trailing whitespace to resolve Format Check CI failure
  .github/workflows/autodoc.yml
Due: none

format fix
  airbyte-integrations/connectors/source-datagen/src/main/kotlin/io/airbyte/integrations/source/datagen/DataGenSourceMetadataQuerier.kt
Due: addlicense, spotless

fix: Change exit 1 to exit 0 when no files changed in push
  .github/workflows/autodoc.yml
Due: none

feat: Use github.event.before for more robust file change detection
  .github/workflows/autodoc.yml
Due: none

Allow InfFieldType as a cursor
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/PostgresSourceFieldTypeMapper.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/types/InfFieldType.kt
Due: addlicense, spotless

Allow InfFieldType as a cursor
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/types/InfFieldType.kt
Due: addlicense, spotless

v2 state compatibility
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceJdbcV2CompatibilityStreamStateValue.kt
Due: addlicense, spotless

proto encode missing values
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/output/NativeRecord.kt
Due: addlicense, spotless

docs(platform): fix Vale linter violations in writing-docs.md
  docs/platform/contributing-to-airbyte/writing-docs.md
Due: none

Remove punctuation.yml Vale rule causing false positives
  docs/platform/contributing-to-airbyte/writing-docs.md
  docs/vale-styles/airbyte/punctuation.yml
Due: none

Address PR feedback from Ian Alton
  docs/platform/contributing-to-airbyte/writing-docs.md
Due: none

Submission for source-dmp---eduzz from Connector Builder
  airbyte-integrations/connectors/source-dmp---eduzz/README.md
  airbyte-integrations/connectors/source-dmp---eduzz/acceptance-test-config.yml
  airbyte-integrations/connectors/source-dmp---eduzz/icon.svg
  airbyte-integrations/connectors/source-dmp---eduzz/manifest.yaml
  airbyte-integrations/connectors/source-dmp---eduzz/metadata.yaml
  docs/integrations/sources/dmp---eduzz.md
Due: none

docs(platform): remove webapp references from version 1.8 docs
  docusaurus/platform_versioned_docs/version-1.8/connector-development/debugging-docker.md
  docusaurus/platform_versioned_docs/version-1.8/connector-development/writing-connector-docs.md
  docusaurus/platform_versioned_docs/version-1.8/contributing-to-airbyte/developing-locally.md
  docusaurus/platform_versioned_docs/version-1.8/deploying-airbyte/abctl/index.md
  docusaurus/platform_versioned_docs/version-1.8/deploying-airbyte/deploying-airbyte.md
  docusaurus/platform_versioned_docs/version-1.8/deploying-airbyte/integrations/custom-image-registries.md
  docusaurus/platform_versioned_docs/version-1.8/deploying-airbyte/integrations/ingress-1-7.md
  docusaurus/platform_versioned_docs/version-1.8/deploying-airbyte/integrations/ingress.md
  docusaurus/platform_versioned_docs/version-1.8/enterprise-setup/implementation-guide.md
  docusaurus/platform_versioned_docs/version-1.8/enterprise-setup/upgrading-from-community.md
  docusaurus/platform_versioned_docs/version-1.8/operator-guides/configuring-airbyte.md
  docusaurus/platform_versioned_docs/version-1.8/understanding-airbyte/high-level-view.md
Due: none

docs(platform): complete webapp reference removal from version 1.8 docs
  docusaurus/platform_versioned_docs/version-1.8/enterprise-setup/api-access-config.md
  docusaurus/platform_versioned_docs/version-1.8/operator-guides/scaling-airbyte.md
  docusaurus/platform_versioned_docs/version-1.8/operator-guides/upgrading-airbyte.md
  docusaurus/platform_versioned_docs/version-1.8/understanding-airbyte/high-level-view.md
  docusaurus/platform_versioned_docs/version-1.8/using-airbyte/configuring-api-access.md
Due: none

Remove references to webapp in the docs (#64540)
  docs/platform/connector-development/debugging-docker.md
  docs/platform/deploying-airbyte/deploying-airbyte.md
  docs/platform/deploying-airbyte/integrations/custom-image-registries.md
  docs/platform/deploying-airbyte/integrations/ingress.md
  docs/platform/enterprise-setup/implementation-guide.md
  docs/platform/enterprise-setup/scaling-airbyte.md
  docs/platform/enterprise-setup/upgrading-from-community.md
  docs/platform/operator-guides/configuring-airbyte.md
  docs/platform/operator-guides/scaling-airbyte.md
  docs/platform/operator-guides/upgrading-airbyte.md
  docs/platform/understanding-airbyte/high-level-view.md
  docusaurus/platform_versioned_docs/version-1.8/connector-development/debugging-docker.md
  docusaurus/platform_versioned_docs/version-1.8/connector-development/writing-connector-docs.md
  docusaurus/platform_versioned_docs/version-1.8/contributing-to-airbyte/developing-locally.md
  docusaurus/platform_versioned_docs/version-1.8/deploying-airbyte/abctl/index.md
  docusaurus/platform_versioned_docs/version-1.8/deploying-airbyte/deploying-airbyte.md
  docusaurus/platform_versioned_docs/version-1.8/deploying-airbyte/integrations/custom-image-registries.md
  docusaurus/platform_versioned_docs/version-1.8/deploying-airbyte/integrations/ingress-1-7.md
  docusaurus/platform_versioned_docs/version-1.8/deploying-airbyte/integrations/ingress.md
  docusaurus/platform_versioned_docs/version-1.8/enterprise-setup/api-access-config.md
  docusaurus/platform_versioned_docs/version-1.8/enterprise-setup/implementation-guide.md
  docusaurus/platform_versioned_docs/version-1.8/enterprise-setup/upgrading-from-community.md
  docusaurus/platform_versioned_docs/version-1.8/operator-guides/configuring-airbyte.md
  docusaurus/platform_versioned_docs/version-1.8/operator-guides/scaling-airbyte.md
  docusaurus/platform_versioned_docs/version-1.8/operator-guides/upgrading-airbyte.md
  docusaurus/platform_versioned_docs/version-1.8/understanding-airbyte/high-level-view.md
  docusaurus/platform_versioned_docs/version-1.8/using-airbyte/configuring-api-access.md
Due: none

fix(source-european-central-bank): add ecb icon
  airbyte-integrations/connectors/source-european-central-bank/icon.svg
Due: none

Fix errors after merging master
  airbyte-integrations/connectors/source-pinterest/source_pinterest/manifest.yaml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/reports/reports.py
Due: addlicense

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-pinterest/source_pinterest/manifest.yaml
Due: none

Update CDK version
  airbyte-integrations/connectors/source-pinterest/poetry.lock
  airbyte-integrations/connectors/source-pinterest/pyproject.toml
Due: none

Update CDK to main version
  airbyte-integrations/connectors/source-pinterest/poetry.lock
  airbyte-integrations/connectors/source-pinterest/pyproject.toml
Due: none

updating facebook marketing airbyte README
  airbyte-integrations/connectors/source-facebook-marketing/README.md
Due: none

update source
  airbyte-integrations/connectors/source-github/source_github/config_migrations.py
  airbyte-integrations/connectors/source-github/source_github/errors_handlers.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/source_github/utils.py
Due: addlicense

updated and fix unit tests
  airbyte-integrations/connectors/source-github/unit_tests/conftest.py
  airbyte-integrations/connectors/source-github/unit_tests/integration/test_assignees.py
  airbyte-integrations/connectors/source-github/unit_tests/integration/test_events.py
  airbyte-integrations/connectors/source-github/unit_tests/test_multiple_token_authenticator.py
  airbyte-integrations/connectors/source-github/unit_tests/test_source.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  airbyte-integrations/connectors/source-github/unit_tests/utils.py
Due: addlicense

bump version
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/pyproject.toml
  docs/integrations/sources/github.md
Due: none

updated changelog
  docs/integrations/sources/github.md
Due: none

feat(source-pinterest): Release 2.1.11
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/pyproject.toml
  docs/integrations/sources/pinterest.md
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

