Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

Refined the organization explanation a bit, and added somewhat better colors for Mermaid diagrams
  docs/platform/organizations-workspaces/organizations/readme.md
  docusaurus/docusaurus.config.js
Due: none

Remove unused find_non_rate_limited_PAT script and all references
  .github/workflows/connector-performance-command.yml
  .github/workflows/test-performance-command.yml
  tools/bin/find_non_rate_limited_PAT
Due: none

update license version
  airbyte-integrations/connectors/source-freshcaller/pyproject.toml
Due: none

Update README.md
  docs/ai-agents/README.md
Due: none

data activation dynamically create destination catalog
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/discoverer/operation/InsertionMethod.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/lowcode/DeclarativeDestinationFactory.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/model/discover/AirbyteType.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/model/discover/CatalogOperation.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/model/discover/DestinationObjects.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/model/discover/InsertionMethod.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/model/discover/SchemaConfiguration.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/model/discover/TypesMap.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/model/retriever/Retriever.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/test/kotlin/io/airbyte/cdk/load/lowcode/DeclarativeDestinationFactoryTest.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/test/kotlin/io/airbyte/cdk/load/lowcode/ManifestBuilder.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotBeanFactory.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotDiscoverer.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/resources/manifest.yaml
Due: addlicense, spotless

enable progressive rollout
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  docs/integrations/sources/shopify.md
Due: none

fix(source-shopify) add filter checkpoint cursor to be used to adjust slice end when stream's cursor field is ID not datetime (#65987)
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/job.py
  airbyte-integrations/connectors/source-shopify/source_shopify/streams/base_streams.py
  airbyte-integrations/connectors/source-shopify/unit_tests/integration/api/bulk.py
  airbyte-integrations/connectors/source-shopify/unit_tests/integration/test_bulk_stream.py
  docs/integrations/sources/shopify.md
Due: addlicense

updated version in manifest
  airbyte-integrations/connectors/source-notion/source_notion/manifest.yaml
Due: none

enable progressive rollout
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-notion/pyproject.toml
Due: none

updated changelog
  docs/integrations/sources/notion.md
Due: none

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-notion/source_notion/manifest.yaml
Due: none

add known source limitation
  docs/platform/move-data/rejected-records.md
Due: none

add other CDK migrations
  airbyte-integrations/connectors/source-freshcaller/metadata.yaml
  airbyte-integrations/connectors/source-freshcaller/source_freshcaller/run.py
  airbyte-integrations/connectors/source-freshcaller/source_freshcaller/source.py
Due: addlicense

poe use-later-cdk
  airbyte-integrations/connectors/source-freshcaller/poetry.lock
  airbyte-integrations/connectors/source-freshcaller/pyproject.toml
Due: none

fix source-us-census acceptance-test-config.yml
  airbyte-integrations/connectors/source-us-census/acceptance-test-config.yml
Due: none

fix aircall expected records
  airbyte-integrations/connectors/source-aircall/integration_tests/expected_records.jsonl
Due: none

chore: s3 cdk 7 migration (#66023)
  airbyte-integrations/connectors/source-s3/integration_tests/test_acceptance.py
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/poetry.lock
  airbyte-integrations/connectors/source-s3/pyproject.toml
  docs/integrations/sources/s3.md
Due: addlicense

chore: sendgrid cdk 7 migration (#66078)
  airbyte-integrations/connectors/source-sendgrid/metadata.yaml
  docs/integrations/sources/sendgrid.md
Due: none

chore: twilio cdk 7 migration (#66090)
  airbyte-integrations/connectors/source-twilio/metadata.yaml
  docs/integrations/sources/twilio.md
Due: none

chore: typeform cdk 7 migration (#66140)
  airbyte-integrations/connectors/source-typeform/components.py
  airbyte-integrations/connectors/source-typeform/metadata.yaml
  docs/integrations/sources/typeform.md
Due: addlicense

Source-Salesforce: Update docs due to connected apps usage restrictions change (#66135)
  docs/integrations/sources/salesforce.md
Due: none

chore: salesforce cdk 7 migration (#66136)
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/poetry.lock
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  docs/integrations/sources/salesforce.md
Due: addlicense

fix sftp-bulk
  airbyte-integrations/connectors/source-sftp-bulk/pyproject.toml
  docs/integrations/sources/sftp-bulk.md
Due: none

poe use-cdk-latest
  airbyte-integrations/connectors/source-sftp-bulk/poetry.lock
  airbyte-integrations/connectors/source-sftp-bulk/pyproject.toml
Due: none

Submission for source-gorgias from Connector Builder
  airbyte-integrations/connectors/source-gorgias/manifest.yaml
  airbyte-integrations/connectors/source-gorgias/metadata.yaml
Due: none

update generic-oidc key to genericOidc
  docs/platform/access-management/sso-providers/azure-entra-id.md
  docs/platform/access-management/sso-providers/okta.md
  docusaurus/platform_versioned_docs/version-1.8/access-management/sso-providers/azure-entra-id.md
  docusaurus/platform_versioned_docs/version-1.8/access-management/sso-providers/okta.md
Due: none

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-pinterest/source_pinterest/reports/reports.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/conftest.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_reports.py
Due: addlicense

Fix report unit tests
  airbyte-integrations/connectors/source-pinterest/source_pinterest/manifest.yaml
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_reports.py
Due: addlicense

fix(source-hubspot): set schema to include `string` for `numbers` and `booleans` (#65947)
  airbyte-integrations/connectors/source-hubspot/components.py
  airbyte-integrations/connectors/source-hubspot/manifest.yaml
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_components.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
  docs/integrations/sources/hubspot.md
Due: addlicense

Update test dependencies
  airbyte-integrations/connectors/source-pinterest/pyproject.toml
Due: none

Update poetry.lock
  airbyte-integrations/connectors/source-pinterest/poetry.lock
Due: none

update generic-oidc key to genericOidc (#66232)
  docs/platform/access-management/sso-providers/azure-entra-id.md
  docs/platform/access-management/sso-providers/okta.md
  docusaurus/platform_versioned_docs/version-1.8/access-management/sso-providers/azure-entra-id.md
  docusaurus/platform_versioned_docs/version-1.8/access-management/sso-providers/okta.md
Due: none

Add notes that support must enter SSO config info
  docs/platform/access-management/sso-providers/azure-entra-id.md
  docs/platform/access-management/sso-providers/okta.md
  docusaurus/platform_versioned_docs/version-1.8/access-management/sso-providers/azure-entra-id.md
  docusaurus/platform_versioned_docs/version-1.8/access-management/sso-providers/okta.md
Due: none

chore: destination-salesforce using declarative spec (#226)
  airbyte-integrations/connectors/destination-salesforce/build.gradle.kts
  airbyte-integrations/connectors/destination-salesforce/metadata.yaml
  airbyte-integrations/connectors/destination-salesforce/src/main/kotlin/SalesforceBeanFactory.kt
  airbyte-integrations/connectors/destination-salesforce/src/main/kotlin/SalesforceChecker.kt
  airbyte-integrations/connectors/destination-salesforce/src/main/kotlin/SalesforceConfiguration.kt
  airbyte-integrations/connectors/destination-salesforce/src/main/kotlin/SalesforceConfigurationFactory.kt
  airbyte-integrations/connectors/destination-salesforce/src/main/kotlin/SalesforceDiscoverer.kt
  airbyte-integrations/connectors/destination-salesforce/src/main/kotlin/SalesforceSpecification.kt
  airbyte-integrations/connectors/destination-salesforce/src/main/kotlin/SalesforceSpecificationExtender.kt
  airbyte-integrations/connectors/destination-salesforce/src/main/resources/manifest.yaml
  airbyte-integrations/connectors/destination-salesforce/src/test-integration/kotlin/SalesforceCheckTest.kt
  airbyte-integrations/connectors/destination-salesforce/src/test-integration/kotlin/SalesforceDiscoverTest.kt
  airbyte-integrations/connectors/destination-salesforce/src/test-integration/kotlin/SalesforceWriterTest.kt
  airbyte-integrations/connectors/destination-salesforce/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-salesforce/src/test-integration/resources/expected-spec-oss.json
  airbyte-integrations/connectors/destination-salesforce/src/test/kotlin/SalesforceCheckerTest.kt
Due: addlicense, spotless

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-freshcaller/source_freshcaller/source.py
Due: addlicense

bump version for sources using cdk v6 and used by tier 0 customers (#66197)
  airbyte-integrations/connectors/source-aircall/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-aircall/metadata.yaml
  airbyte-integrations/connectors/source-apple-search-ads/metadata.yaml
  airbyte-integrations/connectors/source-insightly/metadata.yaml
  airbyte-integrations/connectors/source-sftp-bulk/metadata.yaml
  airbyte-integrations/connectors/source-sftp-bulk/poetry.lock
  airbyte-integrations/connectors/source-sftp-bulk/pyproject.toml
  airbyte-integrations/connectors/source-us-census/acceptance-test-config.yml
  airbyte-integrations/connectors/source-us-census/metadata.yaml
  docs/integrations/sources/aircall.md
  docs/integrations/sources/apple-search-ads.md
  docs/integrations/sources/insightly.md
  docs/integrations/sources/sftp-bulk.md
  docs/integrations/sources/us-census.md
Due: none

convert query and codetable streams to stream templates
  airbyte-integrations/connectors/source-blackbaud-sky-nxt/manifest.yaml
Due: none

add tests to verify config error
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/common.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_errors.py
Due: addlicense

remove subcode 2446289
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/common.py
Due: addlicense

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

