Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

Shut down Snowflake OAuth refresh executor
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactoryTest.kt
  docs/integrations/destinations/snowflake.md
Due: addlicense, spotless

fix(source-mssql): point CDC catalog fixtures at the source-defined cursor
  airbyte-integrations/connectors/source-mssql/.agents/skills/source-mssql-e2e-cdc-tests/fixtures/catalogs/order-items-cdc.json
  airbyte-integrations/connectors/source-mssql/.agents/skills/source-mssql-e2e-cdc-tests/fixtures/catalogs/users-cdc.json
  airbyte-integrations/connectors/source-mssql/AGENTS.md
Due: none

fix(source-mssql): clarify Maven mirror fallback
  airbyte-integrations/connectors/source-mssql/.agents/skills/source-mssql-e2e-tests/fixtures/gradle/maven-mirror-init.gradle
  airbyte-integrations/connectors/source-mssql/.agents/skills/source-mssql-e2e-tests/scripts/run.sh
Due: spotless

Enforce HTTPS for Snowflake OAuth token requests
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/auth/SnowflakeOAuthTokenProvider.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/auth/SnowflakeOAuthTokenProviderTest.kt
Due: addlicense, spotless

chore(source-mssql): bump to 5.0.1 for the e2e harness changes
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  docs/integrations/sources/mssql.md
Due: none

Keep local OAuth test endpoint out of HTTPS scan
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/auth/SnowflakeOAuthTokenProviderTest.kt
Due: addlicense, spotless

Avoid literal HTTP URL in OAuth URI test
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/auth/SnowflakeOAuthTokenProviderTest.kt
Due: addlicense, spotless

docs(source-mssql): tighten the 5.0.1 changelog row
  docs/integrations/sources/mssql.md
Due: none

docs(source-linear): qualify issue_history.toDueDate with its stream
  docs/integrations/sources/linear.md
Due: none

docs(source-linear): document 1.0.0 typed date columns and removed fields
  docs/integrations/sources/linear.md
Due: none

docs(source-greenhouse): list real stream names and fix 0.8.0 release date
  docs/integrations/sources/greenhouse.md
Due: none

docs(source-greenhouse): drop inferred rationale from job_posts note
  docs/integrations/sources/greenhouse.md
Due: none

docs(source-mssql): correct the Maven Central 429 rationale
  airbyte-integrations/connectors/source-mssql/.agents/skills/source-mssql-e2e-tests/fixtures/gradle/maven-mirror-init.gradle
  airbyte-integrations/connectors/source-mssql/.agents/skills/source-mssql-e2e-tests/scripts/run.sh
  airbyte-integrations/connectors/source-mssql/AGENTS.md
Due: spotless

docs(source-greenhouse): fix stream table formatting
  docs/integrations/sources/greenhouse.md
Due: none

feat(source-greenhouse): add ClientCredentials authentication branch
  airbyte-integrations/connectors/source-greenhouse/AGENTS.md
  airbyte-integrations/connectors/source-greenhouse/CONTRIBUTING.md
  airbyte-integrations/connectors/source-greenhouse/manifest.yaml
  airbyte-integrations/connectors/source-greenhouse/metadata.yaml
  airbyte-integrations/connectors/source-greenhouse/unit_tests/test_pagination.py
  docs/integrations/sources/greenhouse-migrations.md
  docs/integrations/sources/greenhouse.md
Due: addlicense

docs(source-greenhouse): add PR link to 1.1.0 changelog entry
  docs/integrations/sources/greenhouse.md
Due: none

test(source-greenhouse): assert absent sub with keep_blank_values
  airbyte-integrations/connectors/source-greenhouse/unit_tests/test_pagination.py
Due: addlicense

docs(source-greenhouse): revert migration guide edit for additive auth change
  docs/integrations/sources/greenhouse-migrations.md
Due: none

ci: exclude connector agent-harness files from modified-connector detection
  airbyte-integrations/connectors/source-mssql/AGENTS.md
  poe-tasks/get-modified-connectors.sh
Due: none

revert(source-mssql): drop the harness-only version bump
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  docs/integrations/sources/mssql.md
Due: none

docs: link base image docs to the internal lifecycle runbook
  .github/workflows/docker-connector-image-publishing.yml
  docker-images/README.md
Due: none

docs: Update airbyte-agent-sdk API reference documentation (sonar@fb1624e)
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/greenhouse/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/greenhouse/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/greenhouse/models.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/greenhouse/types.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/linear/connector.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/linear/index.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/linear/models.md
  docs/ai-agents/reference/sdk/airbyte_agent_sdk/connectors/linear/types.md
Due: none

docs: sync agent connector docs from airbyte-agent-sdk repo
  docs/ai-agents/connectors/greenhouse/AUTH.md
  docs/ai-agents/connectors/greenhouse/README.md
  docs/ai-agents/connectors/greenhouse/REFERENCE.md
  docs/ai-agents/connectors/linear/REFERENCE.md
Due: none

Fix interviews stream schema to match interview.list response
  airbyte-integrations/connectors/source-ashby/manifest.yaml
  airbyte-integrations/connectors/source-ashby/metadata.yaml
  docs/integrations/sources/ashby.md
Due: none

Set PR number in changelog
  docs/integrations/sources/ashby.md
Due: none

fix(source-ashby): declare the fields interview.list actually returns
  airbyte-integrations/connectors/source-ashby/manifest.yaml
  airbyte-integrations/connectors/source-ashby/metadata.yaml
Due: none

docs(source-ashby): add 1.2.0 changelog entry
  docs/integrations/sources/ashby.md
Due: none

Ship the interviews schema fix as a single 1.1.1 version
  airbyte-integrations/connectors/source-ashby/metadata.yaml
  docs/integrations/sources/ashby.md
Due: none

docs(source-ashby): explain what the interviews stream returns
  docs/integrations/sources/ashby.md
Due: none

🚨🚨 fix(source-ashby): remove always-null scheduled-interview fields from interviews stream
  airbyte-integrations/connectors/source-ashby/AGENTS.md
  airbyte-integrations/connectors/source-ashby/manifest.yaml
  airbyte-integrations/connectors/source-ashby/metadata.yaml
  airbyte-integrations/connectors/source-ashby/unit_tests/conftest.py
  airbyte-integrations/connectors/source-ashby/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-ashby/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-ashby/unit_tests/test_interviews_schema.py
  docs/integrations/sources/ashby-migrations.md
Due: addlicense

docs(source-ashby): add 2.0.0 changelog entry
  docs/integrations/sources/ashby.md
Due: none

docs(source-ashby): list all twelve always-null interview columns
  docs/integrations/sources/ashby.md
Due: none

test(source-ashby): preserve empty unit test state
  airbyte-integrations/connectors/source-ashby/unit_tests/conftest.py
Due: addlicense

fix(source-tiktok-marketing): retry transient TikTok API error 51002
  airbyte-integrations/connectors/source-tiktok-marketing/AGENTS.md
  airbyte-integrations/connectors/source-tiktok-marketing/manifest.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/integration/test_creative_assets_portfolios.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/integration/test_reports_hourly.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/test_source.py
  docs/integrations/sources/tiktok-marketing.md
Due: addlicense

docs(source-tiktok-marketing): fill in changelog PR link
  docs/integrations/sources/tiktok-marketing.md
Due: none

fix(cdk): make nested iceberg metadata optional
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/data/iceberg/parquet/AirbyteTypeToIcebergSchema.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergTableSynchronizer.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergTypesComparator.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/test/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergTableSynchronizerTest.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/test/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergTypesComparatorTest.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/AirbyteTypeToIcebergSchemaTest.kt
Due: addlicense, spotless

chore(destination-s3-data-lake): bump version to 0.3.53
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
  docs/integrations/destinations/s3-data-lake.md
Due: none

docs(destination-s3-data-lake): link changelog entry to PR
  docs/integrations/destinations/s3-data-lake.md
Due: none

fix(cdk): preserve nullable schema comparison semantics
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergTableSynchronizer.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergTypesComparator.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/test/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergTableSynchronizerTest.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/test/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergTypesComparatorTest.kt
Due: addlicense, spotless

fix(cdk): skip optionality for replaced columns
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergTableSynchronizer.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergTypesComparator.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/test/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/IcebergTableSynchronizerTest.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/AirbyteTypeToIcebergSchemaTest.kt
Due: addlicense, spotless

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

