Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

chore(source-google-ads): add Google Ads API developer policies URL to external docs
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
Due: none

chore(source-hubspot): add HubSpot legacy API and app migration guides to metadata
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
Due: none

docs(source-pinterest): document PINNER_DATA_ACCESS_DENIED for apps registered on or after 2026-09-14
  docs/integrations/sources/pinterest.md
Due: none

chore(source-ashby): add API versions lifecycle page to external docs URLs
  airbyte-integrations/connectors/source-ashby/metadata.yaml
Due: none

chore(source-orb): migrate acceptance-test-config.yml to acceptance_tests format
  airbyte-integrations/connectors/source-orb/acceptance-test-config.yml
Due: none

chore(source-orb): fix empty_streams format in acceptance test config
  airbyte-integrations/connectors/source-orb/acceptance-test-config.yml
Due: none

fix(source-s3): csv newlines_in_values option silently dropped in v4 migration
  airbyte-integrations/connectors/source-s3/source_s3/v4/config.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/legacy_config_transformer.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/stream_reader.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_legacy_config_transformer.py
Due: addlicense

Summary Fixed PR title validation by amending commit message to conventional commit format
  KNOWLEDGE_BASE.md
Due: none

Summary Fixed encoding field handling in CSV config transformer and bumped version to 4.15.25
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/pyproject.toml
  airbyte-integrations/connectors/source-s3/source_s3/v4/legacy_config_transformer.py
Due: addlicense

fix(source-shopify): fail FAILED bulk jobs that return no result, classify them as system errors
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/exceptions.py
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/job.py
  airbyte-integrations/connectors/source-shopify/unit_tests/graphql_bulk/test_job.py
  docs/integrations/sources/shopify.md
Due: addlicense

docs(source-greenhouse): record that Harvest v3 `lte` is exclusive at an exact boundary
  airbyte-integrations/connectors/source-greenhouse/AGENTS.md
  airbyte-integrations/connectors/source-greenhouse/CONTRIBUTING.md
Due: none

fix(source-shopify): do not skip the slice when a failed bulk job leaves nothing to resume from
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/exceptions.py
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/job.py
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/retry.py
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/status.py
  airbyte-integrations/connectors/source-shopify/unit_tests/graphql_bulk/test_job.py
  docs/integrations/sources/shopify.md
Due: addlicense

fix(source-shopify): show the failed bulk job details instead of a fixed message, pin the checkpoint flag reset
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/job.py
  airbyte-integrations/connectors/source-shopify/unit_tests/graphql_bulk/test_job.py
  docs/integrations/sources/shopify.md
Due: addlicense

fix(destination-milvus): pin setuptools below 82 for pymilvus 2.3.0
  airbyte-integrations/connectors/destination-milvus/metadata.yaml
  airbyte-integrations/connectors/destination-milvus/poetry.lock
  airbyte-integrations/connectors/destination-milvus/pyproject.toml
  docs/integrations/destinations/milvus.md
Due: none

docs(destination-milvus): add PR link to the changelog entry
  docs/integrations/destinations/milvus.md
Due: none

chore(source-uptick): pin to released CDK 7.30.1 and document conservative max_requests_per_minute default
  airbyte-integrations/connectors/source-uptick/manifest.yaml
  airbyte-integrations/connectors/source-uptick/metadata.yaml
  airbyte-integrations/connectors/source-uptick/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-uptick/unit_tests/pyproject.toml
  docs/integrations/sources/uptick.md
Due: none

docs(source-google-calendar): align markdown table separators
  docs/integrations/sources/google-calendar.md
Due: none

fix(source-google-calendar): declare explicit 250x250 icon dimensions
  airbyte-integrations/connectors/source-google-calendar/icon.svg
Due: none

source-linkly: add mock-server unit tests and run CATs without secrets
  airbyte-integrations/connectors/source-linkly/acceptance-test-config.yml
  airbyte-integrations/connectors/source-linkly/unit_tests/_helpers.py
  airbyte-integrations/connectors/source-linkly/unit_tests/conftest.py
  airbyte-integrations/connectors/source-linkly/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-linkly/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-linkly/unit_tests/test_streams.py
Due: addlicense

fix(source-shopify): fail bulk jobs without result URL (#86966)
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/exceptions.py
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/job.py
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/retry.py
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/status.py
  airbyte-integrations/connectors/source-shopify/unit_tests/conftest.py
  airbyte-integrations/connectors/source-shopify/unit_tests/graphql_bulk/test_job.py
  docs/integrations/sources/shopify.md
Due: addlicense

source-linkly: page conversions and sync them incrementally
  airbyte-integrations/connectors/source-linkly/acceptance-test-config.yml
  airbyte-integrations/connectors/source-linkly/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-linkly/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-linkly/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-linkly/manifest.yaml
  airbyte-integrations/connectors/source-linkly/unit_tests/test_streams.py
  docs/integrations/sources/linkly.md
Due: addlicense

fix(source-snowflake): discover skips a broken object instead of failing entirely (#85081) (#86936)
  airbyte-integrations/connectors/source-snowflake/metadata.yaml
  airbyte-integrations/connectors/source-snowflake/src/main/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeSourceMetadataQuerier.kt
  airbyte-integrations/connectors/source-snowflake/src/main/resources/application.yml
  airbyte-integrations/connectors/source-snowflake/src/test/kotlin/io/airbyte/integrations/source/snowflake/SnowflakeSourceMetadataQuerierTest.kt
  docs/integrations/sources/snowflake.md
Due: addlicense, spotless

docs(source-snowflake): document skipped objects during discovery, fix grants, cursor semantics, type mapping, and changelog
  docs/integrations/sources/snowflake.md
Due: none

docs(source-uptick): clarify rate limits, add troubleshooting, fix 1.3.0 changelog date
  docs/integrations/sources/uptick.md
Due: none

docs(source-monday): move the 2.6.0 upgrade notes from the migration guide into the connector docs
  docs/integrations/sources/monday-migrations.md
  docs/integrations/sources/monday.md
Due: none

style(source-github): ruff-format the drilldown-root test
  airbyte-integrations/connectors/source-github/unit_tests/test_manifest_graphql_streams.py
Due: addlicense

ci(source-github): run the standard tests on the airbyte-python-cdk#1174 prerelease
  airbyte-integrations/connectors/source-github/poe_tasks.toml
Due: none

feat(source-greenhouse): add the `candidate_attribute_types` and `job_notes` streams (#86478)
  airbyte-integrations/connectors/source-greenhouse/AGENTS.md
  airbyte-integrations/connectors/source-greenhouse/CONTRIBUTING.md
  airbyte-integrations/connectors/source-greenhouse/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-greenhouse/integration_tests/incremental_configured_catalog.json
  airbyte-integrations/connectors/source-greenhouse/manifest.yaml
  airbyte-integrations/connectors/source-greenhouse/metadata.yaml
  airbyte-integrations/connectors/source-greenhouse/unit_tests/test_pagination.py
  docs/integrations/sources/greenhouse.md
Due: addlicense

docs(source-greenhouse): cover 1.4.0 scopes for OAuth and Client Credentials, remove inaccurate Harvest v3 parity claim
  docs/integrations/sources/greenhouse.md
Due: none

refactor(source-mongodb-v2): slim iterator hardening per review
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoDbInitialLoadRecordIterator.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoDbInitialLoadRecordIteratorTest.java
Due: addlicense, spotless

feat(source-faker): add payments stream
  airbyte-integrations/connectors/source-faker/acceptance-test-config.yml
  airbyte-integrations/connectors/source-faker/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-faker/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-faker/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/payment_generator.py
  airbyte-integrations/connectors/source-faker/source_faker/schemas/payments.json
  airbyte-integrations/connectors/source-faker/source_faker/source.py
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
  airbyte-integrations/connectors/source-faker/unit_tests/test_payments.py
  airbyte-integrations/connectors/source-faker/unit_tests/unit_test.py
  docs/integrations/sources/faker.md
Due: addlicense

docs(source-faker): link changelog to PR 87041
  docs/integrations/sources/faker.md
Due: none

style(source-faker): prettier-format payments entry in configured catalog
  airbyte-integrations/connectors/source-faker/integration_tests/configured_catalog.json
Due: none

test(source-faker): isolate payments tests from multiprocessing worker identity counter
  airbyte-integrations/connectors/source-faker/unit_tests/test_payments.py
Due: addlicense

feat(destination-snowflake): add Fusion S3 sync copies (#85803)
  airbyte-integrations/connectors/destination-snowflake/S3_COPY_IMPLEMENTATION_PLAN.md
  airbyte-integrations/connectors/destination-snowflake/build.gradle.kts
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/copy/S3CopyMetadata.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/copy/SnowflakeCopyStreamLoader.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/copy/SnowflakeS3Copy.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/dataflow/SnowflakeAggregateFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeWriter.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/component/config/SnowflakeTestTableOperationsClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/copy/S3CopyMetadataTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/copy/SnowflakeCopyStreamLoaderTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/copy/SnowflakeStreamCompletionTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBufferDualUploadTest.kt
Due: addlicense, spotless

docs: sync agent connector docs from airbyte-agent-sdk repo
  docs/ai-agents/connectors/amplitude/README.md
  docs/ai-agents/connectors/customer-io/README.md
  docs/ai-agents/connectors/facebook-marketing/README.md
  docs/ai-agents/connectors/freshdesk/README.md
  docs/ai-agents/connectors/github/README.md
  docs/ai-agents/connectors/google-analytics-data-api/README.md
  docs/ai-agents/connectors/granola/README.md
  docs/ai-agents/connectors/jira/README.md
  docs/ai-agents/connectors/klaviyo/README.md
  docs/ai-agents/connectors/mailchimp/README.md
  docs/ai-agents/connectors/monday/README.md
  docs/ai-agents/connectors/orb/README.md
  docs/ai-agents/connectors/salesforce/README.md
  docs/ai-agents/connectors/sendgrid/README.md
  docs/ai-agents/connectors/stripe/README.md
  docs/ai-agents/connectors/zendesk-chat/README.md
  docs/ai-agents/connectors/zendesk-support/README.md
Due: none

fix(source-reddit-ads): add actionable errors, API budget, concurrency, and tests
  airbyte-integrations/connectors/source-reddit-ads/CONTRIBUTING.md
  airbyte-integrations/connectors/source-reddit-ads/manifest.yaml
  airbyte-integrations/connectors/source-reddit-ads/metadata.yaml
  airbyte-integrations/connectors/source-reddit-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-reddit-ads/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-reddit-ads/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-reddit-ads/unit_tests/test_campaign_report.py
  airbyte-integrations/connectors/source-reddit-ads/unit_tests/test_error_handling.py
  airbyte-integrations/connectors/source-reddit-ads/unit_tests/test_manifest_config.py
  docs/integrations/sources/reddit-ads.md
Due: addlicense

docs(source-reddit-ads): link changelog entry to PR
  docs/integrations/sources/reddit-ads.md
Due: none

docs(source-monday): clarify OAuth 2.1 prerequisites and upgrade steps, fix 2.6.0 changelog date
  docs/integrations/sources/monday.md
Due: none
