Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

chore: upgrade bulk CDK for destination-azure-blob-storage
  airbyte-integrations/connectors/destination-azure-blob-storage/gradle.properties
  airbyte-integrations/connectors/destination-azure-blob-storage/metadata.yaml
Due: none

chore: upgrade bulk CDK for destination-databricks
  airbyte-integrations/connectors/destination-databricks/gradle.properties
  airbyte-integrations/connectors/destination-databricks/metadata.yaml
Due: none

chore: upgrade bulk CDK for destination-gcs-data-lake
  airbyte-integrations/connectors/destination-gcs-data-lake/gradle.properties
  airbyte-integrations/connectors/destination-gcs-data-lake/metadata.yaml
Due: none

chore: upgrade bulk CDK for destination-postgres
  airbyte-integrations/connectors/destination-postgres/gradle.properties
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
Due: none

chore: upgrade bulk CDK for destination-mssql
  airbyte-integrations/connectors/destination-mssql/gradle.properties
  airbyte-integrations/connectors/destination-mssql/metadata.yaml
Due: none

chore: upgrade bulk CDK for destination-redshift
  airbyte-integrations/connectors/destination-redshift/gradle.properties
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
Due: none

chore: upgrade bulk CDK for destination-s3
  airbyte-integrations/connectors/destination-s3/gradle.properties
  airbyte-integrations/connectors/destination-s3/metadata.yaml
Due: none

chore: upgrade bulk CDK for destination-s3-data-lake
  airbyte-integrations/connectors/destination-s3-data-lake/gradle.properties
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
Due: none

chore: upgrade bulk CDK for source-mssql
  airbyte-integrations/connectors/source-mssql/gradle.properties
  airbyte-integrations/connectors/source-mssql/metadata.yaml
Due: none

chore: upgrade bulk CDK for source-mysql
  airbyte-integrations/connectors/source-mysql/gradle.properties
  airbyte-integrations/connectors/source-mysql/metadata.yaml
Due: none

fix(source-greenhouse): un-bypass seeded streams and correct 1.5.0 docs
  airbyte-integrations/connectors/source-greenhouse/AGENTS.md
  airbyte-integrations/connectors/source-greenhouse/CONTRIBUTING.md
  airbyte-integrations/connectors/source-greenhouse/acceptance-test-config.yml
  airbyte-integrations/connectors/source-greenhouse/manifest.yaml
  docs/integrations/sources/greenhouse.md
Due: none

chore: upgrade bulk CDK for source-postgres
  airbyte-integrations/connectors/source-postgres/gradle.properties
  airbyte-integrations/connectors/source-postgres/metadata.yaml
Due: none

chore: upgrade bulk CDK for source-snowflake
  airbyte-integrations/connectors/source-snowflake/gradle.properties
  airbyte-integrations/connectors/source-snowflake/metadata.yaml
Due: none

docs(source-greenhouse): date the 1.5.0 changelog row 2026-10-01
  docs/integrations/sources/greenhouse.md
Due: none

fix(source-ashby): re-read applications updated mid-sync with a 1-day lookback
  airbyte-integrations/connectors/source-ashby/AGENTS.md
  airbyte-integrations/connectors/source-ashby/CONTRIBUTING.md
  airbyte-integrations/connectors/source-ashby/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-ashby/manifest.yaml
  airbyte-integrations/connectors/source-ashby/unit_tests/mock_server/test_application_history.py
  airbyte-integrations/connectors/source-ashby/unit_tests/mock_server/test_applications.py
  docs/integrations/sources/ashby.md
Due: addlicense

test(source-mssql): simplify offset tests and tighten comparator fixtures
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerCdcHeartbeatSchemaChangeIntegrationTest.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDebeziumOperationsFixtures.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDebeziumOperationsOffsetTest.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerSchemaHistoryComparatorTest.kt
Due: addlicense, spotless

chore(source-mssql): document offset fix ordering and lower heartbeat log level
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDebeziumOperations.kt
Due: addlicense, spotless

docs(source-ashby): note lookback re-emission for applications, Ashby's per-key rate limit, and Refresh and remove records
  docs/integrations/sources/ashby.md
Due: none

ci: use `airbytehq` forks of `aaronsteers` GitHub Actions
  .github/workflows/poe-command.yml
  .github/workflows/tk-todo-check.yml
Due: none

ci: use airbytehq forks of aaronsteers actions
  .github/workflows/poe-command.yml
  .github/workflows/tk-todo-check.yml
Due: none

Update docs/integrations/sources/ramp.md
  docs/integrations/sources/ramp.md
Due: none

fix(source-bigquery): set the 1.0.0 upgrade deadline to 2026-12-01 with auto_upgrade
  airbyte-integrations/connectors/source-bigquery/CONTRIBUTING.md
  airbyte-integrations/connectors/source-bigquery/metadata.yaml
Due: none

chore(source-bigquery): mark 1.0.0 generally available and certified
  airbyte-integrations/connectors/source-bigquery/metadata.yaml
Due: none

fix(source-postgres): fail on array types without "_" prefix, rename test type, upgrade CDK to 1.1.12
  airbyte-integrations/connectors/source-postgres/gradle.properties
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/PostgresSourceFieldTypeMapper.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceFieldTypeMapperTest.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/operations/PgSystemTypeTest.kt
  docs/integrations/sources/postgres.md
Due: addlicense, spotless

docs(destination-gcs-data-lake): fix IAM roles, BigLake/Polaris setup, field names, name normalization, changelog dates
  docs/integrations/destinations/gcs-data-lake.md
Due: none

docs(destination-postgres): carry accumulated doc corrections onto master (3.0.23)
  docs/integrations/destinations/postgres.md
  docs/integrations/destinations/postgres/postgres-troubleshooting.md
Due: none

docs(destination-s3): Fix filename placeholders, path variables, and changelog entries
  docs/integrations/destinations/s3.md
Due: none

docs(destination-clickhouse): correct dedup, types, cluster options, and changelog details
  docs/integrations/destinations/clickhouse.md
Due: none

docs(destination-clickhouse): note replicated engine variants
  docs/integrations/destinations/clickhouse.md
Due: none

docs(destination-gcs-data-lake): scope Service Usage Consumer to BigLake, document column collisions, align tables
  docs/integrations/destinations/gcs-data-lake.md
Due: none

docs(destination-mssql): document SQL Server permissions, fix SSH tunnel guidance, correct changelog date
  docs/integrations/destinations/mssql.md
Due: none

feat(source-google-ads): split interrupted report windows with the CDK's request window splitting
  airbyte-integrations/connectors/source-google-ads/AGENTS.md
  airbyte-integrations/connectors/source-google-ads/CONTRIBUTING.md
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/poetry.lock
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/mock_server/test_chunked_encoding_error.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_components.py
  docs/integrations/sources/google-ads.md
Due: addlicense

docs(source-google-ads): add PR number to changelog
  docs/integrations/sources/google-ads.md
Due: none

feat(destination-bigquery): archive batched inserts to Fusion S3 (#85832)
  airbyte-integrations/connectors/destination-bigquery/S3_COPY_IMPLEMENTATION_PLAN.md
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/copy/BigqueryCopyMetadata.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/copy/BigqueryS3Copy.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/copy/S3ArchiveUploader.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/copy/StandardInsertArchiveBatch.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/copy/StreamingS3ArchiveUpload.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/standard_insert/BigqueryBatchStandardInsertLoader.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/copy/BigqueryCopyMetadataTest.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/copy/BigqueryS3CopyTest.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/copy/BigqueryStandardInsertCheckpointTest.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/copy/S3ArchiveUploaderMultipartTest.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/copy/StreamingS3ArchiveUploadTest.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/write/standard_insert/BigqueryBatchStandardInsertCopyTest.kt
Due: addlicense, spotless

chore(destination-bigquery): release 3.2.0 with Fusion S3 archiving
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
Due: none

docs(destination-bigquery): add 3.2.0 changelog entry
  docs/integrations/destinations/bigquery.md
Due: none

docs(cloud): update remaining 30-day trial references
  docusaurus/docusaurus.config.ts
  docusaurus/platform_versioned_docs/version-1.6/cloud/managing-airbyte-cloud/manage-credits.md
  docusaurus/platform_versioned_docs/version-1.6/readme.md
  docusaurus/platform_versioned_docs/version-1.7/cloud/managing-airbyte-cloud/manage-credits.md
  docusaurus/platform_versioned_docs/version-1.7/readme.md
  docusaurus/platform_versioned_docs/version-1.8/cloud/managing-airbyte-cloud/manage-credits.md
  docusaurus/platform_versioned_docs/version-1.8/readme.md
  docusaurus/platform_versioned_docs/version-2.0/cloud/managing-airbyte-cloud/manage-credits.md
  docusaurus/platform_versioned_docs/version-2.0/readme.md
  docusaurus/platform_versioned_docs/version-2.1/cloud/managing-airbyte-cloud/manage-credits.md
  docusaurus/platform_versioned_docs/version-2.1/readme.md
  docusaurus/src/components/AppliesTo.jsx
Due: none

docs(source-bigquery): act on the 1.0.0 breaking change review
  airbyte-integrations/connectors/source-bigquery/metadata.yaml
  airbyte-integrations/connectors/source-bigquery/src/test/kotlin/io/airbyte/integrations/source/bigquery/BigQuerySourceReadTest.kt
  docs/integrations/sources/bigquery-migrations.md
  docs/integrations/sources/bigquery.md
Due: addlicense, spotless

refactor(source-ramp): request every read scope in one shared token call
  airbyte-integrations/connectors/source-ramp/manifest.yaml
  airbyte-integrations/connectors/source-ramp/unit_tests/_helpers.py
  airbyte-integrations/connectors/source-ramp/unit_tests/test_auth_pagination_incremental.py
  airbyte-integrations/connectors/source-ramp/unit_tests/test_parity_streams.py
Due: addlicense
