Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

clickhouse
  airbyte-integrations/connectors/destination-clickhouse/gradle.properties
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseAcceptanceTest.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseSchemaDumper.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/schema-regression/column_names/append.txt
Due: addlicense, spotless

just use classname as path element
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseAcceptanceTest.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithJson/schema-regression/column_names/append.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithJson/schema-regression/column_names/dedup_colliding_names.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithJson/schema-regression/column_names/dedup_funky_chars_cursor.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithJson/schema-regression/column_names/dedup_funky_chars_pk.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithJson/schema-regression/column_names/dedup_reserved_word.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithJson/schema-regression/column_names/dedup_simple.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithJsonProto/schema-regression/column_names/append.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithJsonProto/schema-regression/column_names/dedup_colliding_names.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithJsonProto/schema-regression/column_names/dedup_funky_chars_cursor.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithJsonProto/schema-regression/column_names/dedup_funky_chars_pk.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithJsonProto/schema-regression/column_names/dedup_reserved_word.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithJsonProto/schema-regression/column_names/dedup_simple.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithoutJson/schema-regression/column_names/append.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithoutJson/schema-regression/column_names/dedup_colliding_names.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithoutJson/schema-regression/column_names/dedup_funky_chars_cursor.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithoutJson/schema-regression/column_names/dedup_funky_chars_pk.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithoutJson/schema-regression/column_names/dedup_reserved_word.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithoutJson/schema-regression/column_names/dedup_simple.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithoutJsonProto/schema-regression/column_names/append.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithoutJsonProto/schema-regression/column_names/dedup_colliding_names.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithoutJsonProto/schema-regression/column_names/dedup_funky_chars_cursor.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithoutJsonProto/schema-regression/column_names/dedup_funky_chars_pk.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithoutJsonProto/schema-regression/column_names/dedup_reserved_word.txt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/resources/golden_files/ClickhouseDirectLoadWriterWithoutJsonProto/schema-regression/column_names/dedup_simple.txt
Due: addlicense, spotless

full test
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
Due: addlicense, spotless

derp, need to close the reader
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseSchemaDumper.kt
Due: addlicense, spotless

use classname as path element; extract constant
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/CharacterizationTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
Due: addlicense, spotless

stuff
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/CharacterizationTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/SchemaDumper.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
Due: addlicense, spotless

revert: Remove markdown.format detect to fix MDX rendering
  docusaurus/docusaurus.config.ts
Due: none

comment
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/SchemaDumper.kt
Due: addlicense, spotless

docs(source-hubspot): Fix typos in property_history stream documentation
  docs/integrations/sources/hubspot.md
Due: none

revert: Restore ai-agents connector README files to state before curly braces
  docs/ai-agents/connectors/asana/README.md
  docs/ai-agents/connectors/github/README.md
  docs/ai-agents/connectors/greenhouse/README.md
  docs/ai-agents/connectors/hubspot/README.md
  docs/ai-agents/connectors/jira/README.md
  docs/ai-agents/connectors/linear/README.md
  docs/ai-agents/connectors/salesforce/README.md
  docs/ai-agents/connectors/stripe/README.md
  docs/ai-agents/connectors/zendesk-support/README.md
Due: none

ci(ai-docs-review): Add pull-requests write permission
  .github/workflows/ai-docs-review-command.yml
Due: none

Apply suggestion from @aaronsteers
  .github/workflows/oss-issue-triage.yml
Due: none

ci: Add OSS issue triage workflow for community issues (#71155)
  .github/workflows/oss-issue-triage.yml
Due: none

ci: Update pr-ai-review-command.yml to Phase C
  .github/workflows/pr-ai-review-command.yml
Due: none

Bulk load CDK: identifier munging test (#70995)
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/component/SchemaMapperSuite.kt
  airbyte-cdk/bulk/version.properties
Due: addlicense, spotless

Add page for external secrets manager setup
  docs/platform/enterprise-flex/external-secrets.md
  docusaurus/sidebar-platform.js
Due: none

test: Update to non-comment change with changelog for Gate 6 PR description test
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  docs/integrations/sources/stripe.md
Due: none

ci: Extend MDX sanitizer to escape angle brackets in type annotations
  .github/workflows/pyairbyte-docs-generate.yml
Due: none

test dockerhub ci issue
  airbyte-ci/connectors/metadata_service/lib/metadata_service/docker_hub.py
Due: addlicense

fix python
  airbyte-ci/connectors/metadata_service/lib/metadata_service/docker_hub.py
Due: addlicense

spaces in username
  airbyte-ci/connectors/metadata_service/lib/metadata_service/docker_hub.py
Due: addlicense

debug http
  airbyte-ci/connectors/metadata_service/lib/metadata_service/docker_hub.py
Due: addlicense

remove sleep
  airbyte-ci/connectors/metadata_service/lib/metadata_service/docker_hub.py
Due: addlicense

log response
  airbyte-ci/connectors/metadata_service/lib/metadata_service/docker_hub.py
Due: addlicense

chore(docs): add MCP install menu to Kapa widget
  docusaurus/docusaurus.config.ts
Due: none

Linting feedback
  docs/platform/enterprise-flex/external-secrets.md
Due: none

don't 404 on enterprise connector metadata
  airbyte-ci/connectors/connectors_qa/src/connectors_qa/checks/version.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/docker_hub.py
Due: addlicense

Destination Postgres: Remove PostgresTableSchemaMapper
  airbyte-integrations/connectors/destination-postgres/src/main/kotlin/io/airbyte/integrations/destination/postgres/schema/PostgresTableSchemaMapper.kt
Due: addlicense, spotless

docs: sync agent connector docs from airbyte-agent-connectors repo
  docs/ai-agents/connectors/asana/CHANGELOG.md
  docs/ai-agents/connectors/asana/README.md
  docs/ai-agents/connectors/github/CHANGELOG.md
  docs/ai-agents/connectors/github/README.md
  docs/ai-agents/connectors/gong/CHANGELOG.md
  docs/ai-agents/connectors/gong/README.md
  docs/ai-agents/connectors/greenhouse/CHANGELOG.md
  docs/ai-agents/connectors/greenhouse/README.md
  docs/ai-agents/connectors/hubspot/CHANGELOG.md
  docs/ai-agents/connectors/hubspot/README.md
  docs/ai-agents/connectors/jira/CHANGELOG.md
  docs/ai-agents/connectors/jira/README.md
  docs/ai-agents/connectors/linear/CHANGELOG.md
  docs/ai-agents/connectors/linear/README.md
  docs/ai-agents/connectors/salesforce/CHANGELOG.md
  docs/ai-agents/connectors/salesforce/README.md
  docs/ai-agents/connectors/stripe/CHANGELOG.md
  docs/ai-agents/connectors/stripe/README.md
  docs/ai-agents/connectors/zendesk-support/CHANGELOG.md
  docs/ai-agents/connectors/zendesk-support/README.md
Due: none

chore(docs): update MCP server URL to airbyte.mcp.kapa.ai
  docusaurus/docusaurus.config.ts
Due: none

chore(source-paddle): Remove discounts stream for slash command testing
  airbyte-integrations/connectors/source-paddle/manifest.yaml
Due: none

extract fixtures
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/RegressionTestFixtures.kt
Due: addlicense, spotless

add request header
  airbyte-ci/connectors/metadata_service/lib/metadata_service/docker_hub.py
Due: addlicense

chore(destination-duckdb, destination-motherduck): upgrade DuckDB client and bump base image to python-connector-base:4.0.0 (Python 3.10+) (#71063)
  airbyte-integrations/connectors/destination-duckdb/destination_duckdb/__init__.py
  airbyte-integrations/connectors/destination-duckdb/metadata.yaml
  airbyte-integrations/connectors/destination-duckdb/poetry.lock
  airbyte-integrations/connectors/destination-duckdb/pyproject.toml
  airbyte-integrations/connectors/destination-motherduck/metadata.yaml
  airbyte-integrations/connectors/destination-motherduck/poetry.lock
  airbyte-integrations/connectors/destination-motherduck/pyproject.toml
  docs/integrations/destinations/duckdb.md
  docs/integrations/destinations/motherduck.md
Due: none

docs(destination-duckdb): update troubleshooting and migration guide for DuckDB 1.4.x
  docs/integrations/destinations/duckdb-migrations.md
  docs/integrations/destinations/duckdb.md
Due: none

feat(source-youtube-analytics): add optional content_owner_id and improve error handling
  airbyte-integrations/connectors/source-youtube-analytics/components.py
  airbyte-integrations/connectors/source-youtube-analytics/manifest.yaml
  airbyte-integrations/connectors/source-youtube-analytics/metadata.yaml
Due: addlicense

fix(destination-snowflake): Increase HikariCP connection pool size to prevent exhaustion with many streams
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
Due: addlicense, spotless
