Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

fix(source-shopify): add second bulk job via metafieldDefinitions to mitigate nested-connection limitation in metafield_customers
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/query.py
  airbyte-integrations/connectors/source-shopify/source_shopify/streams/streams.py
  airbyte-integrations/connectors/source-shopify/unit_tests/graphql_bulk/test_query.py
  docs/integrations/sources/shopify.md
Due: addlicense

chore(source-zendesk-talk): comment out HTTPAPIBudget instead of removing it
  airbyte-integrations/connectors/source-zendesk-talk/manifest.yaml
Due: none

style: ruff auto-fix
  airbyte-integrations/connectors/source-shopify/source_shopify/streams/streams.py
Due: addlicense

feat(source-snapchat-marketing): revert to concurrency 4 without api_budget for tuning iteration 4
  airbyte-integrations/connectors/source-snapchat-marketing/manifest.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
  docs/integrations/sources/snapchat-marketing.md
Due: none

docs(ai-agents): explain OAuth versus access token trade-offs for adding a connector (#76873)
  docs/ai-agents/interfaces/ui/add-connector.md
Due: none

chore: update changelog with PR number for rc.4
  docs/integrations/sources/snapchat-marketing.md
Due: none

chore(source-freshdesk): re-enable HTTPAPIBudget, keep c=5 for Full Tier 2 rollout (3.2.14-rc.5)
  airbyte-integrations/connectors/source-freshdesk/manifest.yaml
  airbyte-integrations/connectors/source-freshdesk/metadata.yaml
  docs/integrations/sources/freshdesk.md
Due: none

chore: comment out api_budget instead of removing per Sophie's request
  airbyte-integrations/connectors/source-snapchat-marketing/manifest.yaml
Due: none

test(source-stripe): trigger CI to verify `airbyte-ops secrets fetch` works in prod workflows
  airbyte-integrations/connectors/source-stripe/README.md
Due: none

test(source-stripe): switch dummy trigger from README to CONTRIBUTING
  airbyte-integrations/connectors/source-stripe/CONTRIBUTING.md
  airbyte-integrations/connectors/source-stripe/README.md
Due: none

ci: bump actions/upload-artifact v4.6.2 -> v7.0.1 (Node 24)
  .github/workflows/connector-ci-checks.yml
  .github/workflows/publish_connectors.yml
Due: none

docs(ai-agents): overhaul SDK section with end-to-end Python flow
  docs/ai-agents/interfaces/api/authenticate.md
  docs/ai-agents/interfaces/api/readme.md
  docs/ai-agents/interfaces/sdk/add-connector.md
  docs/ai-agents/interfaces/sdk/authenticate.md
  docs/ai-agents/interfaces/sdk/authenticate/open-source.md
  docs/ai-agents/interfaces/sdk/authenticate/readme.md
  docs/ai-agents/interfaces/sdk/execute.md
  docs/ai-agents/interfaces/sdk/readme.md
  docs/ai-agents/interfaces/sdk/workspaces.md
  docs/vale-styles/config/vocabularies/Airbyte/accept.txt
  docusaurus/static/_ai-agents-sdk-vs-api.md
  docusaurus/vercel.json
Due: none

docs(ai-agents): clarify SDK/API are programmatic interfaces
  docusaurus/static/_ai-agents-sdk-vs-api.md
Due: none

docs(ai-agents): address SDK review findings (typed vs HostedExecutor, lifecycle, headings)
  docs/ai-agents/interfaces/api/authenticate.md
  docs/ai-agents/interfaces/sdk/add-connector.md
  docs/ai-agents/interfaces/sdk/authenticate.md
  docs/ai-agents/interfaces/sdk/execute.md
  docs/ai-agents/interfaces/sdk/readme.md
  docs/ai-agents/interfaces/sdk/workspaces.md
Due: none

fix(bulk-cdk): make catalog validation failure messages actionable
  airbyte-cdk/bulk/core/extract/changelog.md
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/output/CatalogValidationFailureHandler.kt
  airbyte-cdk/bulk/core/extract/src/test/kotlin/io/airbyte/cdk/output/CatalogValidationFailureHandlerTest.kt
  airbyte-cdk/bulk/core/extract/version.properties
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/test/resources/h2source/expected-messages-stream-bad-catalog.json
Due: addlicense, spotless

docs(ai-agents): overhaul SDK section with end-to-end Python flow (#76879)
  docs/ai-agents/interfaces/api/authenticate.md
  docs/ai-agents/interfaces/api/readme.md
  docs/ai-agents/interfaces/sdk/add-connector.md
  docs/ai-agents/interfaces/sdk/authenticate.md
  docs/ai-agents/interfaces/sdk/authenticate/open-source.md
  docs/ai-agents/interfaces/sdk/authenticate/readme.md
  docs/ai-agents/interfaces/sdk/execute.md
  docs/ai-agents/interfaces/sdk/readme.md
  docs/ai-agents/interfaces/sdk/workspaces.md
  docs/vale-styles/config/vocabularies/Airbyte/accept.txt
  docusaurus/static/_ai-agents-sdk-vs-api.md
  docusaurus/vercel.json
Due: none

docs(ai-agents): restructure API section around Authentication
  docs/ai-agents/interfaces/api/add-connector.md
  docs/ai-agents/interfaces/api/authenticate.md
  docs/ai-agents/interfaces/api/authentication-module.md
  docs/ai-agents/interfaces/api/authentication/build-your-own.md
  docs/ai-agents/interfaces/api/authentication/readme.md
  docs/ai-agents/interfaces/api/execute.md
  docs/ai-agents/interfaces/api/readme.md
  docs/ai-agents/interfaces/api/workspaces.md
Due: none

docs(ai-agents): add unique key to Authentication category
  docs/ai-agents/interfaces/api/authentication/_category_.json
Due: none

feat(source-mssql): upgrade Debezium to 3.5 and wire Entra ID via driver.authentication
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDebeziumOperations.kt
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerSourceConfiguration.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerEntraIdAuthTest.kt
Due: addlicense, spotless

fix(source-mssql): drop TABLESAMPLE from cursor-incremental samplingQuery to support views
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerJdbcPartition.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerJdbcPartitionFactoryTest.kt
  docs/integrations/sources/mssql.md
Due: addlicense, spotless

chore(source-mssql): bump mssql-jdbc to 13.4.0 and azure-identity to 1.18.2
  airbyte-integrations/connectors/source-mssql/build.gradle
Due: spotless

chore(source-mssql): hide Entra ID tenant_id field until future rework
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerSourceConfigurationSpecification.kt
Due: addlicense, spotless

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDebeziumOperations.kt
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerSourceConfiguration.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerEntraIdAuthTest.kt
Due: addlicense, spotless

docs(ai-agents): restructure API section around Authentication (#76881)
  docs/ai-agents/interfaces/api/add-connector.md
  docs/ai-agents/interfaces/api/authenticate.md
  docs/ai-agents/interfaces/api/authentication-module.md
  docs/ai-agents/interfaces/api/authentication/_category_.json
  docs/ai-agents/interfaces/api/authentication/build-your-own.md
  docs/ai-agents/interfaces/api/authentication/readme.md
  docs/ai-agents/interfaces/api/execute.md
  docs/ai-agents/interfaces/api/readme.md
  docs/ai-agents/interfaces/api/workspaces.md
Due: none

Unused doc
  docs/ai-agents/interfaces/sdk/overview.md
Due: none

docs(ai-agents): drop per-end-user framing from SDK section (#76883)
  docs/ai-agents/interfaces/sdk/add-connector.md
  docs/ai-agents/interfaces/sdk/execute.md
  docs/ai-agents/interfaces/sdk/readme.md
  docs/ai-agents/interfaces/sdk/workspaces.md
Due: none

docs(ai-agents): correct API reference drift and gaps
  docs/ai-agents/interfaces/api/add-connector.md
  docs/ai-agents/interfaces/api/authentication/build-your-own.md
  docs/ai-agents/interfaces/api/execute.md
  docs/ai-agents/interfaces/api/readme.md
  docs/ai-agents/interfaces/api/workspaces.md
Due: none

docs(ai-agents): correct SDK reference drift and gaps
  docs/ai-agents/interfaces/sdk/add-connector.md
  docs/ai-agents/interfaces/sdk/execute.md
  docs/ai-agents/interfaces/sdk/workspaces.md
Due: none

docs(ai-agents): correct API reference drift and gaps (#76884)
  docs/ai-agents/interfaces/api/add-connector.md
  docs/ai-agents/interfaces/api/authentication/build-your-own.md
  docs/ai-agents/interfaces/api/execute.md
  docs/ai-agents/interfaces/api/readme.md
  docs/ai-agents/interfaces/api/workspaces.md
Due: none

docs(ai-agents): correct SDK reference drift and gaps (#76885)
  docs/ai-agents/interfaces/sdk/add-connector.md
  docs/ai-agents/interfaces/sdk/execute.md
  docs/ai-agents/interfaces/sdk/workspaces.md
Due: none

docs(source-intercom): correct changelog dates to match PR merge dates
  docs/integrations/sources/intercom.md
Due: none

docs(source-jira): fix changelog date, remove stale pull_requests content, add missing streams
  docs/integrations/sources/jira.md
Due: none

fix(source-facebook-marketing): treat empty child-id split as no-data slice
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/async_job.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_async_job.py
  docs/integrations/sources/facebook-marketing.md
Due: addlicense

style: apply ruff format to async_job.py logger.info call
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/async_job.py
Due: addlicense

chore(source-google-ads): retry HTTP 500 from Google Ads API instead of failing
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
  docs/integrations/sources/google-ads.md
Due: none

fix(source-s3): warn when v3 CSV `newlines_in_values` is dropped during migration
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/pyproject.toml
  airbyte-integrations/connectors/source-s3/source_s3/v4/legacy_config_transformer.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_legacy_config_transformer.py
  docs/integrations/sources/s3-migrations.md
  docs/integrations/sources/s3.md
Due: addlicense

fix(source-postgres): skip redundant replication-slot acknowledgement when slot is already advanced
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/cdc/ReplicationSlotManager.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/cdc/ReplicationSlotManagerTest.kt
  docs/integrations/sources/postgres.md
Due: addlicense, spotless

docs(source-s3): use correct PR number in 4.15.4 changelog entry
  docs/integrations/sources/s3.md
Due: none

🚨🚨fix(source-marketo): filter Bulk Lead Extract on updatedAt so incremental syncs capture lead updates
  airbyte-integrations/connectors/source-marketo/metadata.yaml
  airbyte-integrations/connectors/source-marketo/pyproject.toml
  airbyte-integrations/connectors/source-marketo/source_marketo/source.py
  airbyte-integrations/connectors/source-marketo/unit_tests/test_source.py
  docs/integrations/sources/marketo-migrations.md
  docs/integrations/sources/marketo.md
Due: addlicense

chore(source-s3): ruff-format test file
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_legacy_config_transformer.py
Due: addlicense
