Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

chore(source-youtube-analytics): address review feedback on report_types stream
  airbyte-integrations/connectors/source-youtube-analytics/components.py
  airbyte-integrations/connectors/source-youtube-analytics/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-youtube-analytics/manifest.yaml
  airbyte-integrations/connectors/source-youtube-analytics/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-youtube-analytics/unit_tests/test_report_types.py
  docs/integrations/sources/youtube-analytics.md
Due: addlicense

perf(cdk): prune positional scans with disjoint ranges
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/io/SupersededRowFinder.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/test/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/io/PositionalDeleteEndToEndTest.kt
Due: addlicense, spotless

fix(cdk): score textual positional key gaps
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/io/SupersededRowFinder.kt
Due: addlicense, spotless

fix(source-youtube-analytics): rename custom requester field to unbreak report streams
  airbyte-integrations/connectors/source-youtube-analytics/components.py
  airbyte-integrations/connectors/source-youtube-analytics/manifest.yaml
  airbyte-integrations/connectors/source-youtube-analytics/unit_tests/test_report_types.py
Due: addlicense

fix(gcs-data-lake): capture validation snapshot before resolution
  airbyte-integrations/connectors/destination-gcs-data-lake/src/main/kotlin/io/airbyte/integrations/destination/gcs_data_lake/dataflow/GcsDataLakeAggregate.kt
  docs/integrations/destinations/gcs-data-lake.md
Due: addlicense, spotless

fix(s3-data-lake): capture validation snapshot before resolution
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/dataflow/S3DataLakeAggregate.kt
  docs/integrations/destinations/s3-data-lake.md
Due: addlicense, spotless

test(s3-data-lake): stub staging snapshot lookup
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/dataflow/S3DataLakeAggregateFactoryTest.kt
Due: addlicense, spotless

feat(source-youtube-analytics): explain 401s from accounts with no YouTube channel
  airbyte-integrations/connectors/source-youtube-analytics/manifest.yaml
  airbyte-integrations/connectors/source-youtube-analytics/unit_tests/test_report_types.py
  docs/integrations/sources/youtube-analytics.md
Due: addlicense

perf(cdk): tune positional sub-range heuristic
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/toolkits/iceberg/parquet/io/SupersededRowFinder.kt
Due: addlicense, spotless

fix(source-reddit-ads): parse campaign_report start_time with offset-aware format
  airbyte-integrations/connectors/source-reddit-ads/manifest.yaml
Due: none

fix(source-reddit-ads): recover from stale tokens, clamp report window, document start_time
  airbyte-integrations/connectors/source-reddit-ads/manifest.yaml
  docs/integrations/sources/reddit-ads.md
Due: none

fix(source-zendesk-support): revert tickets stream to generated_timestamp incremental export (#81640)
  airbyte-integrations/connectors/source-zendesk-support/components.py
  airbyte-integrations/connectors/source-zendesk-support/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/helpers.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/request_builder.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/response_builder.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/test_ticket_metrics.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/mock_server/test_tickets.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/resource/http/response/tickets_search.json
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/test_components.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support-migrations.md
  docs/integrations/sources/zendesk-support.md
Due: addlicense

docs(source-zendesk-support): correct sync-mode labels, search-index guidance, and 5.5.0 changelog date
  docs/integrations/sources/zendesk-support.md
Due: none

fix(source-reddit-ads): stop refreshing OAuth token on every request (#83266)
  airbyte-integrations/connectors/source-reddit-ads/manifest.yaml
  airbyte-integrations/connectors/source-reddit-ads/metadata.yaml
  docs/integrations/sources/reddit-ads.md
Due: none

docs(source-reddit-ads): document optional start_time, token refresh behavior, and 0.0.3 changelog
  docs/integrations/sources/reddit-ads.md
Due: none

deps(destination-motherduck): update dependencies [skip ci]
  airbyte-integrations/connectors/destination-motherduck/metadata.yaml
  airbyte-integrations/connectors/destination-motherduck/poetry.lock
Due: none

deps(source-7shifts): update dependencies [skip ci]
  airbyte-integrations/connectors/source-7shifts/metadata.yaml
Due: none

deps(source-azure-blob-storage): update dependencies [skip ci]
  airbyte-integrations/connectors/source-azure-blob-storage/poetry.lock
Due: none

deps(source-adobe-commerce-magento): update dependencies [skip ci]
  airbyte-integrations/connectors/source-adobe-commerce-magento/metadata.yaml
Due: none

deps(destination-pinecone): update dependencies [skip ci]
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/poetry.lock
Due: none

deps(source-algolia): update dependencies [skip ci]
  airbyte-integrations/connectors/source-algolia/metadata.yaml
Due: none

deps(source-airbyte): update dependencies [skip ci]
  airbyte-integrations/connectors/source-airbyte/metadata.yaml
Due: none

deps(source-airtable): update dependencies [skip ci]
  airbyte-integrations/connectors/source-airtable/metadata.yaml
Due: none

deps(source-agilecrm): update dependencies [skip ci]
  airbyte-integrations/connectors/source-agilecrm/metadata.yaml
Due: none

deps(source-apple-search-ads): update dependencies [skip ci]
  airbyte-integrations/connectors/source-apple-search-ads/metadata.yaml
Due: none

deps(source-babelforce): update dependencies [skip ci]
  airbyte-integrations/connectors/source-babelforce/metadata.yaml
Due: none

deps(source-awin-advertiser): update dependencies [skip ci]
  airbyte-integrations/connectors/source-awin-advertiser/metadata.yaml
Due: none

deps(source-appfigures): update dependencies [skip ci]
  airbyte-integrations/connectors/source-appfigures/metadata.yaml
Due: none

deps(source-bamboo-hr): update dependencies [skip ci]
  airbyte-integrations/connectors/source-bamboo-hr/metadata.yaml
Due: none

deps(source-apptivo): update dependencies [skip ci]
  airbyte-integrations/connectors/source-apptivo/metadata.yaml
Due: none

deps(source-azure-table): update dependencies [skip ci]
  airbyte-integrations/connectors/source-azure-table/metadata.yaml
  airbyte-integrations/connectors/source-azure-table/poetry.lock
Due: none

deps(source-basecamp): update dependencies [skip ci]
  airbyte-integrations/connectors/source-basecamp/metadata.yaml
Due: none

deps(source-alpaca-broker-api): update dependencies [skip ci]
  airbyte-integrations/connectors/source-alpaca-broker-api/metadata.yaml
Due: none

deps(source-appsflyer): update dependencies [skip ci]
  airbyte-integrations/connectors/source-appsflyer/poetry.lock
Due: none

deps(source-avni): update dependencies [skip ci]
  airbyte-integrations/connectors/source-avni/metadata.yaml
  airbyte-integrations/connectors/source-avni/poetry.lock
Due: none

deps(source-aha): update dependencies [skip ci]
  airbyte-integrations/connectors/source-aha/metadata.yaml
Due: none

deps(source-aviationstack): update dependencies [skip ci]
  airbyte-integrations/connectors/source-aviationstack/metadata.yaml
Due: none

deps(source-100ms): update dependencies [skip ci]
  airbyte-integrations/connectors/source-100ms/metadata.yaml
Due: none
