Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

Split CDK compatibility tests by connector type (#73257)
  .github/workflows/cdk-destination-connector-compatibility-test.yml
  .github/workflows/cdk-source-connector-compatibility-test.yml
  tools/bin/bulk-cdk/get-certified-connectors.sh
Due: none

Update changelog check to support split CDK versions (#73255)
  .github/workflows/changelog_update_check.yml
Due: none

ci: update workflow-actions pinned SHA to include connector label removal (#73368)
  .github/workflows/label-github-issues-by-context.yml
  .github/workflows/label-prs-by-context.yml
Due: none

Source monday add user id field (#72192)
  airbyte-integrations/connectors/source-monday/manifest.yaml
  airbyte-integrations/connectors/source-monday/metadata.yaml
  docs/integrations/sources/monday.md
Due: none

feat(source-ashby): add interviews, interview_stages, and application_criteria_evaluations streams (#73244)
  airbyte-integrations/connectors/source-ashby/acceptance-test-config.yml
  airbyte-integrations/connectors/source-ashby/manifest.yaml
  airbyte-integrations/connectors/source-ashby/metadata.yaml
  docs/integrations/sources/ashby.md
Due: none

🐙 source-ashby: run up-to-date pipeline [2026-02-17] (#60692)
  airbyte-integrations/connectors/source-ashby/metadata.yaml
  docs/integrations/sources/ashby.md
Due: none

ci: escape backticks and bash-special chars in discussion prompt-text (#73620)
  .github/workflows/oss-issue-triage.yml
Due: none

fix: source-mssql: update LSN range validation (#72935)
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDebeziumOperations.kt
  docs/integrations/sources/mssql.md
Due: addlicense, spotless

ci: expand OSS triage bot to respond to discussions in addition to issues (#73618)
  .github/workflows/oss-issue-triage.yml
Due: none

ci: remove unnecessary checkout steps from OSS triage workflow (#73622)
  .github/workflows/oss-issue-triage.yml
Due: none

ci: enforce semantic PR titles and fix bot title formats (#73608)
  .github/workflows/semantic-pr-check.yml
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/publish/pipeline.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/up_to_date/pipeline.py
Due: addlicense

ci: run semantic title check on draft PRs (#73612)
  .github/workflows/semantic-pr-check.yml
Due: none

feat(source-amazon-seller-partner): add marketplaceId to sales and traffic report and add monthly granularity stream (#72837)
  airbyte-integrations/connectors/source-amazon-seller-partner/manifest.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
  docs/integrations/sources/amazon-seller-partner.md
Due: addlicense

feat(source-klaviyo): Add new campaign_values_reports and flow_series_reports streams (#73642)
  airbyte-integrations/connectors/source-klaviyo/acceptance-test-config.yml
  airbyte-integrations/connectors/source-klaviyo/manifest.yaml
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/unit_tests/mock_server/test_lists_detailed.py
  docs/integrations/sources/klaviyo.md
Due: addlicense

feat(source-feishu): initial Feishu/Lark source connector (#71256)
  airbyte-integrations/connectors/source-feishu/README.md
  airbyte-integrations/connectors/source-feishu/acceptance-test-config.yml
  airbyte-integrations/connectors/source-feishu/icon.svg
  airbyte-integrations/connectors/source-feishu/manifest.yaml
  airbyte-integrations/connectors/source-feishu/metadata.yaml
  docs/integrations/sources/feishu.md
Due: none

docs: slim Terraform docs page to registry landing page, add pre-1.0 reference (#73670)
  docs/developers/terraform-documentation.md
  docs/developers/terraform-provider-pre-1.0.md
  docusaurus/platform_versioned_docs/version-1.6/terraform-documentation.md
  docusaurus/platform_versioned_docs/version-1.7/terraform-documentation.md
  docusaurus/platform_versioned_docs/version-1.8/terraform-documentation.md
  docusaurus/platform_versioned_docs/version-2.0/terraform-documentation.md
  docusaurus/sidebar-developers.js
Due: none

ci: mark draft PRs as ready-for-review when /ai-review starts (#73741)
  .github/workflows/ai-review-command.yml
Due: none

docs: add file download documentation to execute operations page (#73699)
  docs/ai-agents/platform/execute.md
Due: none

fix(source-mssql): Update CDC curor calculation to avoid integer overflow (#73606)
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerDebeziumOperations.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerCdcCursorTest.kt
  docs/integrations/sources/mssql.md
Due: addlicense, spotless

feat(source-uptick): add more fields to defect quote and projects (0.5.3) (#72302)
  airbyte-integrations/connectors/source-uptick/manifest.yaml
  airbyte-integrations/connectors/source-uptick/metadata.yaml
  docs/integrations/sources/uptick.md
Due: none

docs: add Hydra SDLC cross-link to PR welcome messages (#74005)
  .github/pr-welcome-community.md
  .github/pr-welcome-internal.md
Due: none

chore: bump transitive deps with CVEs in unmaintained json schema lib. (#74014)
  airbyte-cdk/bulk/core/base/build.gradle.kts
  airbyte-cdk/bulk/core/base/changelog.md
  airbyte-cdk/bulk/core/base/version.properties
Due: none

chore: remove unused dd java tracer. (#73680)
  docker-images/Dockerfile.java-connector
  docker-images/Dockerfile.java-connector-base
  docker-images/Dockerfile.java-connector-non-airbyte-ci
Due: none

fix(source-instagram): use day_delta(1) for end_datetime to cover UTC+ accounts (#74006)
  airbyte-integrations/connectors/source-instagram/manifest.yaml
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/unit_tests/mock_server/test_user_insights.py
  docs/integrations/sources/instagram.md
Due: addlicense

docs(docker-images): scrub stale content, clarify DockerHub opt-in publishing (#74018)
  docker-images/README.md
Due: none

fix(docs): prevent version dropdown from showing on /ai-agents/platform/ (#73729)
  docusaurus/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.js
Due: none

fix(source-gcs): fix zip file extraction crash due to incorrect DeliverRawFiles class attribute access (#73332)
  airbyte-integrations/connectors/source-gcs/metadata.yaml
  airbyte-integrations/connectors/source-gcs/pyproject.toml
  airbyte-integrations/connectors/source-gcs/source_gcs/stream_reader.py
  docs/integrations/sources/gcs.md
Due: addlicense

deps(source-postgres): use `pgjdbc` version `42.6.1` (#72475)
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
Due: spotless

feat(source-zendesk-support): add missing SLA fields to ticket_metric_events (#67077)
  airbyte-integrations/connectors/source-zendesk-support/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  docs/integrations/sources/zendesk-support.md
Due: none

feat(source-amazon-seller-partner): Add GET_SALES_AND_TRAFFIC_REPORT_BY_DATE stream (#72258)
  airbyte-integrations/connectors/source-amazon-seller-partner/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-seller-partner/manifest.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
  docs/integrations/sources/amazon-seller-partner.md
Due: addlicense

source-criteo-marketing contribution from mvfc (#72827)
  airbyte-integrations/connectors/source-criteo-marketing/README.md
  airbyte-integrations/connectors/source-criteo-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-criteo-marketing/icon.svg
  airbyte-integrations/connectors/source-criteo-marketing/manifest.yaml
  airbyte-integrations/connectors/source-criteo-marketing/metadata.yaml
  docs/integrations/sources/criteo-marketing.md
Due: none

fix(source-xero): resolve JsonDecoder generator decode and refactor manifest (#74028)
  airbyte-integrations/connectors/source-xero/components.py
  airbyte-integrations/connectors/source-xero/manifest.yaml
  airbyte-integrations/connectors/source-xero/metadata.yaml
  airbyte-integrations/connectors/source-xero/unit_tests/pyproject.toml
  docs/integrations/sources/xero.md
Due: addlicense

chore: bump load cdk base version to pick up CVE fix. (#74019)
  airbyte-cdk/bulk/core/load/build.gradle
  airbyte-cdk/bulk/core/load/changelog.md
  airbyte-cdk/bulk/core/load/version.properties
Due: spotless

chore: bump extract cdk base version to pick up CVE fix. (#74020)
  airbyte-cdk/bulk/core/extract/build.gradle
  airbyte-cdk/bulk/core/extract/changelog.md
  airbyte-cdk/bulk/core/extract/version.properties
Due: spotless

fix(source-firehydrant)!: rename `enviroments` stream to `environments` (#74008)
  airbyte-integrations/connectors/source-firehydrant/manifest.yaml
  airbyte-integrations/connectors/source-firehydrant/metadata.yaml
  docs/integrations/sources/firehydrant-migrations.md
  docs/integrations/sources/firehydrant.md
Due: none

chore: bump CDK to 1.0.2 and base image to 2.0.4 for CVE patches (#74041)
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/snowflake.md
Due: none

chore: bump CDK to 1.0.2 and base image to 2.0.4 for CVE patches (#74040)
  airbyte-integrations/connectors/destination-postgres/gradle.properties
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  docs/integrations/destinations/postgres.md
Due: none

docs(ai-agents): add Agent Engine MCP server documentation (#73648)
  docs/ai-agents/mcp-server/cli-reference.md
  docs/ai-agents/mcp-server/configuration.md
  docs/ai-agents/mcp-server/readme.md
  docs/ai-agents/mcp-server/troubleshooting.md
  docs/ai-agents/mcp-server/usage.md
  docs/ai-agents/tutorials/quickstarts/tutorial-mcp-server.md
Due: none

docs(ai-agents): add LangChain and FastMCP quickstart guides (#74135)
  docs/ai-agents/connectors/readme.md
  docs/ai-agents/tutorials/quickstarts/readme.md
  docs/ai-agents/tutorials/quickstarts/tutorial-fastmcp.md
  docs/ai-agents/tutorials/quickstarts/tutorial-hosted.md
  docs/ai-agents/tutorials/quickstarts/tutorial-langchain.md
  docs/ai-agents/tutorials/quickstarts/tutorial-mcp-server.md
  docs/ai-agents/tutorials/quickstarts/tutorial-pydantic.md
  docs/vale-styles/config/vocabularies/Airbyte/accept.txt
  docusaurus/vercel.json
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

