Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

.pre-commit-config.yaml:

exclude: |
  (?x)(
    # Python/system files
    ^.*/__init__\.py$|
    ^.*?/\.venv/.*$|
    ^.*?/node_modules/.*$|

    ^.*?/charts/.*$|
    ^airbyte-integrations/bases/base-normalization/.*$|
    ^.*?/normalization_test_output/.*$|

    ^.*?/pnpm-lock\.yaml$|
    ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

    # Generated/test files
    ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
    ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
    ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
    ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
          - --select=I

      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml]
        additional_dependencies:
          - prettier@3.0.3

  - repo: local
    hooks:
      - id: addlicense
        name: Add license headers
        entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
        language: golang
        additional_dependencies: [github.com/google/addlicense@v1.1.1]
        files: \.(java|kt|py)$

      - id: spotless
        name: Format Java files with Spotless
        entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
        language: system
        files: \.(java|kt|gradle)$
        pass_filenames: false

testing
  .github/workflows/connector-image-build-push.yml
  .github/workflows/david-dummy-workflow.yml
Due: none

Revert "Enable new cdk for CH."
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/cdk/WriteOperationV2.kt
Due: addlicense, spotless

run formatter and make everything harder to read.
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowStageIO.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/PipelineCompletionHandler.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/aggregate/Aggregate.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/aggregate/AggregateStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/input/DataFlowPipelineInputFlow.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/input/DestinationMessageInputFlow.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/AggregateStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/ParseStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateHistogram.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateKeyClient.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateWatermarkStore.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/dataflow/ClickhouseAggregate.kt
Due: addlicense, spotless

Save reconciler work.
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/PipelineCompletionHandler.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/input/DataFlowPipelineInputFlow.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/ParseStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateKeyClient.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StatePublisher.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateReconciler.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateWatermarkStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/state/CheckpointManager.kt
Due: addlicense, spotless

Enable new cdk for CH.
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/cdk/WriteOperationV2.kt
Due: addlicense, spotless

Set state expected and state aggregate counts.
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/PipelineCompletionHandler.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/aggregate/Aggregate.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/StateStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateHistogram.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateKeyClient.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateWatermarkStore.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/dataflow/ClickhouseAggregate.kt
Due: addlicense, spotless

Finish reconciler work for speed partition stuff.
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowStageIO.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/PipelineCompletionHandler.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/aggregate/AggregateStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/input/DataFlowPipelineInputFlow.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/AggregateStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/ParseStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/StateStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateClient.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateHistogram.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StatePublisher.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateReconciler.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateWatermarkStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/transform/RecordDTO.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/state/CheckpointManager.kt
Due: addlicense, spotless

Save work.
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowStageIO.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/aggregate/AggregateStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/input/DataFlowPipelineInputFlow.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/input/DestinationMessageInputFlow.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/AggregateStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/FlushStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/ParseStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/StateStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateHistogram.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateKeyClient.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateWatermarkStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/transform/RecordDTO.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
Due: addlicense, spotless

Wire up loop
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowPipeline.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/PipelineCompletionHandler.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/PipelineStartHandler.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateReconciler.kt
Due: addlicense, spotless

Fmt.
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateReconciler.kt
Due: addlicense, spotless

Remove loop for now.
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/PipelineCompletionHandler.kt
Due: addlicense, spotless

Rev version.
  airbyte-cdk/bulk/build.gradle
Due: spotless

attempt to integrate into publish workflow
  .github/workflows/publish_connectors.yml
Due: none

Rbroughan/dataflow state (#64514)
  airbyte-cdk/bulk/build.gradle
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowPipeline.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DataFlowStageIO.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/PipelineCompletionHandler.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/PipelineStartHandler.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/aggregate/Aggregate.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/aggregate/AggregateStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/input/DataFlowPipelineInputFlow.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/input/DestinationMessageInputFlow.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/AggregateStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/FlushStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/ParseStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/StateStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateClient.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateHistogram.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StatePublisher.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateReconciler.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/state/StateWatermarkStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/transform/RecordDTO.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/state/CheckpointManager.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/dataflow/ClickhouseAggregate.kt
Due: addlicense, spotless

Restore login-customer-id in the spec
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
Due: none

Migrate API version to v20
  airbyte-integrations/connectors/source-google-ads/poetry.lock
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/components.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/manifest.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/utils.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/common.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_empty_streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_google_ads.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_utils.py
Due: addlicense

Submission for source-pokeapi-pedro-test from Connector Builder
  airbyte-integrations/connectors/source-pokeapi-pedro-test/README.md
  airbyte-integrations/connectors/source-pokeapi-pedro-test/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pokeapi-pedro-test/icon.svg
  airbyte-integrations/connectors/source-pokeapi-pedro-test/manifest.yaml
  airbyte-integrations/connectors/source-pokeapi-pedro-test/metadata.yaml
  docs/integrations/sources/pokeapi-pedro-test.md
Due: none

feat(source-lotr): Add LOTR API connector with fixed cursor pagination
  airbyte-integrations/connectors/source-lotr/.env
  airbyte-integrations/connectors/source-lotr/README.md
  airbyte-integrations/connectors/source-lotr/lotr_manifest.yaml
Due: none

fix(source-lotr): Add required Airbyte connector structure files
  airbyte-integrations/connectors/source-lotr/acceptance-test-config.yml
  airbyte-integrations/connectors/source-lotr/manifest.yaml
  airbyte-integrations/connectors/source-lotr/metadata.yaml
Due: none

fix(source-lotr): Add missing integration test files and documentation
  airbyte-integrations/connectors/source-lotr/icon.svg
  airbyte-integrations/connectors/source-lotr/integration_tests/configured_catalog.json
  docs/integrations/sources/lotr.md
Due: none

Update metadata.yaml
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
Due: none

fix(source-lotr): Bypass acceptance tests requiring secrets for public API
  airbyte-integrations/connectors/source-lotr/acceptance-test-config.yml
Due: none

deleted unused backoff strategy
  airbyte-integrations/connectors/source-slack/source_slack/components/slack_backoff_strategy.py
Due: addlicense

updated unit tests
  airbyte-integrations/connectors/source-slack/unit_tests/test_components.py
Due: addlicense

bump version
  airbyte-integrations/connectors/source-slack/metadata.yaml
  airbyte-integrations/connectors/source-slack/pyproject.toml
  docs/integrations/sources/slack.md
Due: none

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-slack/source_slack/manifest.yaml
Due: none

feat(metadata_service): creates `publish_stale_metadata_report` operation (#64502)
  .github/workflows/publish-stale-metadata-report.yml
  airbyte-ci/connectors/metadata_service/lib/metadata_service/commands.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/constants.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/gcs_upload.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/helpers/gcs.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/helpers/slack.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/stale_metadata_report.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/validators/metadata_validator.py
  airbyte-ci/connectors/metadata_service/lib/poetry.lock
  airbyte-ci/connectors/metadata_service/lib/pyproject.toml
  airbyte-ci/connectors/metadata_service/lib/tests/conftest.py
  airbyte-ci/connectors/metadata_service/lib/tests/fixtures/stale_metadata_report_fixtures.py
  airbyte-ci/connectors/metadata_service/lib/tests/helpers/test_slack.py
  airbyte-ci/connectors/metadata_service/lib/tests/test_docker_hub.py
  airbyte-ci/connectors/metadata_service/lib/tests/test_gcs_upload.py
  airbyte-ci/connectors/metadata_service/lib/tests/test_stale_metadata_report.py
  airbyte-ci/connectors/metadata_service/lib/tests/test_validators/test_metadata_validators.py
Due: addlicense

PR comments
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/lifecycle/DestinationLifecycle.kt
Due: addlicense, spotless

Bump version
  airbyte-cdk/bulk/build.gradle
  airbyte-cdk/bulk/changelog.md
Due: spotless

Update xml parser
  airbyte-cdk/bulk/build.gradle
Due: spotless

Format
  airbyte-cdk/bulk/build.gradle
Due: spotless

turns off dagster report, turns on GHA report
  .github/workflows/publish-stale-metadata-report.yml
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/__init__.py
Due: none

delete metadata report job
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/__init__.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/assets/github.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/jobs/metadata.py
  airbyte-ci/connectors/metadata_service/orchestrator/pyproject.toml
  airbyte-ci/connectors/metadata_service/orchestrator/tests/test_debug.py
Due: addlicense

update cron to 1-hour
  .github/workflows/publish-stale-metadata-report.yml
Due: none

chore: format
  .github/workflows/publish-stale-metadata-report.yml
Due: none

Updates
  docs/release_notes/v-1.8.md
Due: none

Add a new env variable
  docs/platform/operator-guides/configuring-airbyte.md
Due: none

prestashop: add suite acceptance tests
  airbyte-integrations/connectors/source-prestashop/metadata.yaml
Due: none
