Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

update segments stream
  airbyte-integrations/connectors/source-intercom/integration_tests/expected_records.jsonl
Due: none

update segments stream validation
  airbyte-integrations/connectors/source-intercom/integration_tests/expected_records.jsonl
Due: none

added new fields to schema
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/manifest.yaml
Due: none

format fix
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_streams.py
Due: addlicense

Update poetry.lock
  airbyte-integrations/connectors/source-amazon-seller-partner/poetry.lock
  airbyte-integrations/connectors/source-amazon-seller-partner/pyproject.toml
Due: none

bump cdk and manifest version
  airbyte-integrations/connectors/source-commercetools/metadata.yaml
  airbyte-integrations/connectors/source-commercetools/poetry.lock
  airbyte-integrations/connectors/source-commercetools/pyproject.toml
  airbyte-integrations/connectors/source-commercetools/source_commercetools/components.py
  airbyte-integrations/connectors/source-commercetools/source_commercetools/manifest.yaml
Due: addlicense

Adding custom connector for CustomerBalanceTransactions using parents invoices and customers
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
Due: addlicense

test
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Due: addlicense

Update metadata.yaml
  airbyte-integrations/connectors/source-brevo/metadata.yaml
Due: none

format files
  airbyte-integrations/connectors/source-commercetools/source_commercetools/components.py
Due: addlicense

hash contacts_pii_redacted secondary email
  airbyte-integrations/connectors/source-track-pms/manifest.yaml
Due: none

Update icon.svg
  airbyte-integrations/connectors/source-payfit/icon.svg
Due: none

fix base image
  airbyte-integrations/connectors/source-commercetools/metadata.yaml
Due: none

Update metadata.yaml
  airbyte-integrations/connectors/source-clockify/metadata.yaml
Due: none

source-payfit contribution from remilapeyre (#52111)
  airbyte-integrations/connectors/source-payfit/README.md
  airbyte-integrations/connectors/source-payfit/acceptance-test-config.yml
  airbyte-integrations/connectors/source-payfit/icon.svg
  airbyte-integrations/connectors/source-payfit/manifest.yaml
  airbyte-integrations/connectors/source-payfit/metadata.yaml
  docs/integrations/sources/payfit.md
Due: none

update changelog
  docs/integrations/sources/clockify.md
Due: none

🐛 Source E-Commerce: fix start date parameter in spec (#48564)
  airbyte-integrations/connectors/source-commercetools/metadata.yaml
  airbyte-integrations/connectors/source-commercetools/poetry.lock
  airbyte-integrations/connectors/source-commercetools/pyproject.toml
  airbyte-integrations/connectors/source-commercetools/source_commercetools/components.py
  airbyte-integrations/connectors/source-commercetools/source_commercetools/manifest.yaml
  docs/integrations/sources/commercetools.md
Due: addlicense

Update manifest.yaml
  airbyte-integrations/connectors/source-opsgenie/manifest.yaml
Due: none

bump metadata connector version
  airbyte-integrations/connectors/source-opsgenie/metadata.yaml
Due: none

(Do Not Merge) GoogleSearchConsole - Keywords Missing Data
  airbyte-integrations/connectors/source-google-search-console/metadata.yaml
  airbyte-integrations/connectors/source-google-search-console/pyproject.toml
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/streams.py
Due: addlicense

[source-opsgenie] add support for additional incident fields (#50880)
  airbyte-integrations/connectors/source-opsgenie/manifest.yaml
  airbyte-integrations/connectors/source-opsgenie/metadata.yaml
  docs/integrations/sources/opsgenie.md
Due: none

run format
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
Due: addlicense

Update s3-data-lake.md
  docs/integrations/destinations/s3-data-lake.md
Due: none

Remove Order from Spec
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/spec.yaml
Due: none

✨ Source Zendesk Support: add new streams Categories and Sections (#48761)
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/pyproject.toml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/categories.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/sections.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Due: addlicense

Update metadata.yaml
  airbyte-integrations/connectors/source-bamboo-hr/metadata.yaml
Due: none

🐛 Source Twitter : Add new stream `authors` + add new fields for tweets (#48870)
  airbyte-integrations/connectors/source-twitter/manifest.yaml
  airbyte-integrations/connectors/source-twitter/metadata.yaml
  docs/integrations/sources/twitter.md
Due: none

🐛 Source BambooHR: fix incremental for TimeOff Requests + add new columns for Employee Directories (#48759)
  airbyte-integrations/connectors/source-bamboo-hr/manifest.yaml
  airbyte-integrations/connectors/source-bamboo-hr/metadata.yaml
  docs/integrations/sources/bamboo-hr.md
Due: none

Update poetry lock
  airbyte-integrations/connectors/source-amazon-seller-partner/poetry.lock
  airbyte-integrations/connectors/source-amazon-seller-partner/pyproject.toml
Due: none

Okay only the chucnk size now
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeConfiguration.kt
Due: addlicense, spotless

Version .3.8
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
  docs/integrations/destinations/s3-data-lake.md
Due: none

typos
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeSpecification.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/resources/expected-spec-oss.json
  docs/integrations/destinations/s3-data-lake.md
Due: addlicense, spotless

stuff
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/command/iceberg/parquet/IcebergCatalogSpecifications.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/resources/expected-spec-oss.json
  docs/integrations/destinations/s3-data-lake.md
Due: addlicense, spotless

also this
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeSpecification.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/resources/expected-spec-oss.json
Due: addlicense, spotless

Small tweak to the Dremio Rest catalog warehouse location comment
  docs/integrations/destinations/s3-data-lake.md
Due: none

Replace ZendeskSupportAuditLogsIncrementalSync with low-code
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/components.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/test_backoff_on_rate_limit.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/test_components.py
Due: addlicense

Update the warning about the destination stability
  docs/integrations/destinations/s3-data-lake.md
Due: none

Update version and docs
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/pyproject.toml
  docs/integrations/sources/zendesk-support.md
Due: none

chore: auto-fix lint and format issues
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/test_components.py
Due: addlicense

Version bump
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
  docs/integrations/destinations/s3-data-lake.md
Due: none

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

