Repository airbytehq/airbyte: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense, spotless

addlicense:
  name: Add license headers
  entry: addlicense -c "Airbyte, Inc." -l apache -v -f LICENSE_SHORT
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

spotless:
  name: Format Java files with Spotless
  entry: bash -c 'command -v mvn >/dev/null 2>&1 || { if [ -z "$CI" ]; then echo "Maven not installed, skipping spotless" >&2; exit 0; fi }; mvn -f spotless-maven-pom.xml spotless:apply'
  language: system
  pass_filenames: false

chore: cut release. (#78333)
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  docs/integrations/destinations/bigquery.md
Due: none

feat(source-amazon-seller-partner): Restore JsonItemsDecoder test
  airbyte-integrations/connectors/source-amazon-seller-partner/manifest.yaml
Due: none

feat(source-chargebee): Prepare c5 GA rollout
  airbyte-integrations/connectors/source-chargebee/manifest.yaml
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
  docs/integrations/sources/chargebee.md
Due: none

fix(source-facebook-pages): keep default page fields
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/manifest.yaml
  airbyte-integrations/connectors/source-facebook-pages/unit_tests/test_streams.py
Due: addlicense

docs(source-facebook-pages): narrow changelog entry
  docs/integrations/sources/facebook-pages.md
Due: none

fix(source-google-search-console): add per-worker jitter to rate-limit backoff (2.0.3)
  airbyte-integrations/connectors/source-google-search-console/components.py
  airbyte-integrations/connectors/source-google-search-console/manifest.yaml
  airbyte-integrations/connectors/source-google-search-console/metadata.yaml
  airbyte-integrations/connectors/source-google-search-console/unit_tests/test_components.py
  docs/integrations/sources/google-search-console.md
Due: addlicense

docs(connector-development): clarify source IP allow list requirement
  docs/platform/connector-development/testing-connectors/connector-acceptance-tests-reference.md
  docs/platform/connector-development/writing-connector-docs.md
Due: none

docs(source-mixpanel): Update revenue removal docs
  docs/integrations/sources/mixpanel-migrations.md
  docs/integrations/sources/mixpanel.md
Due: none

Patch changelog PR number
  docs/integrations/sources/google-search-console.md
Due: none

Apply ruff-format (v0.8.3) to test_components.py jitter test
  airbyte-integrations/connectors/source-google-search-console/unit_tests/test_components.py
Due: addlicense

docs(connectors): fix IP allow list markdown lint
  docs/integrations/sources/appsflyer.md
  docs/integrations/sources/box-data-extract.md
  docs/integrations/sources/breezy-hr.md
  docs/integrations/sources/dbt.md
  docs/integrations/sources/goldcast.md
  docs/integrations/sources/hibob.md
  docs/integrations/sources/high-level.md
  docs/integrations/sources/leadfeeder.md
  docs/integrations/sources/linkedin-pages.md
  docs/integrations/sources/newsdata-io.md
  docs/integrations/sources/onfleet.md
  docs/integrations/sources/oracle.md
  docs/integrations/sources/pennylane.md
  docs/integrations/sources/postgres.md
  docs/integrations/sources/recharge.md
  docs/integrations/sources/reddit.md
  docs/integrations/sources/retailexpress-by-maropost.md
  docs/integrations/sources/sentry.md
  docs/integrations/sources/serpstat.md
  docs/integrations/sources/service-now.md
  docs/integrations/sources/shopify.md
  docs/integrations/sources/slack.md
  docs/integrations/sources/stockdata.md
Due: none

docs(source-mixpanel): Revert migration guide edits
  docs/integrations/sources/mixpanel-migrations.md
Due: none

fix(destination-gcs-data-lake): refresh GCS credentials
  airbyte-integrations/connectors/destination-gcs-data-lake/metadata.yaml
  airbyte-integrations/connectors/destination-gcs-data-lake/src/main/kotlin/io/airbyte/integrations/destination/gcs_data_lake/catalog/GcsDataLakeCatalogUtil.kt
  airbyte-integrations/connectors/destination-gcs-data-lake/src/test/kotlin/io/airbyte/integrations/destination/gcs_data_lake/catalog/GcsDataLakeCatalogUtilTest.kt
  docs/integrations/destinations/gcs-data-lake.md
Due: addlicense, spotless

docs(source-mixpanel): Remove redundant revenue note
  docs/integrations/sources/mixpanel.md
Due: none

docs(connectors): normalize remaining destination spacing
  docs/integrations/destinations/singlestore.md
  docs/integrations/destinations/xata.md
Due: none

docs(source-facebook-pages): clarify app approval errors
  docs/integrations/sources/facebook-pages.md
Due: none

docs(source-mixpanel): Apply review feedback
  docs/integrations/sources/mixpanel.md
Due: none

docs(source-facebook-pages): wrap long guidance lines
  docs/integrations/sources/facebook-pages.md
Due: none

chore: cut release. (#78332)
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  docs/integrations/destinations/s3.md
Due: none

style(destination-gcs-data-lake): apply spotless formatting
  airbyte-integrations/connectors/destination-gcs-data-lake/src/main/kotlin/io/airbyte/integrations/destination/gcs_data_lake/catalog/GcsDataLakeCatalogUtil.kt
  airbyte-integrations/connectors/destination-gcs-data-lake/src/test/kotlin/io/airbyte/integrations/destination/gcs_data_lake/catalog/GcsDataLakeCatalogUtilTest.kt
Due: addlicense, spotless

test: dummy change for hydra automerge dry-run
  airbyte-integrations/connectors/source-faker/metadata.yaml
Due: none

fix(source-s3): size boto3 connection pool to match concurrent reader concurrency
  airbyte-integrations/connectors/source-s3/source_s3/v4/stream_reader.py
  docs/integrations/sources/s3.md
Due: addlicense

docs(destination-s3): Update release documentation
  docs/integrations/destinations/s3.md
Due: none

docs(source-postgres): fix markdownlint spacing
  docs/integrations/sources/postgres.md
Due: none

feat: use tables for eval report, only show matched scopes
  .github/workflows/hydra-automerge.yml
Due: none

feat(source-faker): add debug logging to utils
  airbyte-integrations/connectors/source-faker/source_faker/utils.py
Due: addlicense

docs(destination-gcs-data-lake): link changelog PR
  docs/integrations/destinations/gcs-data-lake.md
Due: none

Apply suggestion from @github-actions[bot]
  docs/integrations/sources/pardot.md
Due: none

docs(connector-development): use full IP allowlist URL
  docs/platform/connector-development/writing-connector-docs.md
Due: none

fix(source-s3): cap concurrent partition reader count at 20
  airbyte-integrations/connectors/source-s3/source_s3/v4/source.py
  docs/integrations/sources/s3.md
Due: addlicense

Pivot to manifest-only Jinja random jitter (Option A)
  airbyte-integrations/connectors/source-google-search-console/components.py
  airbyte-integrations/connectors/source-google-search-console/manifest.yaml
  airbyte-integrations/connectors/source-google-search-console/unit_tests/test_components.py
  docs/integrations/sources/google-search-console.md
Due: addlicense

docs: sync agent connector docs from airbyte-agent-sdk repo
  docs/ai-agents/connectors/salesforce/README.md
  docs/ai-agents/connectors/salesforce/REFERENCE.md
Due: none

fix(source-mssql): make inclusive cursor lower bounds opt-in
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerJdbcPartitionFactory.kt
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerSourceConfiguration.kt
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerSourceConfigurationSpecification.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerJdbcPartitionFactoryTest.kt
  airbyte-integrations/connectors/source-mssql/src/test/kotlin/io/airbyte/integrations/source/mssql/MsSqlServerSourceConfigurationSpecificationTest.kt
  docs/integrations/sources/mssql.md
Due: addlicense, spotless

test
  airbyte-cdk/bulk/core/base/src/main/resources/log4j2.xml
Due: none

revert(source-s3): drop the 20-worker concurrency cap
  airbyte-integrations/connectors/source-s3/source_s3/v4/source.py
  docs/integrations/sources/s3.md
Due: addlicense

fix(source-salesloft): classify missing email content access
  airbyte-integrations/connectors/source-salesloft/manifest.yaml
  airbyte-integrations/connectors/source-salesloft/metadata.yaml
  airbyte-integrations/connectors/source-salesloft/unit_tests/conftest.py
  airbyte-integrations/connectors/source-salesloft/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-salesloft/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-salesloft/unit_tests/test_emails_scoped_fields.py
  docs/integrations/sources/salesloft.md
Due: addlicense

Path conditions:
  addlicense: any of: \.(java|kt|py)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

  spotless: any of: \.(java|kt|gradle)$, but not: (?x)(
  # Python/system files
  ^.*/__init__\.py$|
  ^.*?/\.venv/.*$|
  ^.*?/node_modules/.*$|

  ^.*?/charts/.*$|
  ^airbyte-integrations/bases/base-normalization/.*$|
  ^.*?/normalization_test_output/.*$|

  ^.*?/pnpm-lock\.yaml$|
  ^.*?/source-amplitude/unit_tests/api_data/zipped\.json$|

  # Generated/test files
  ^airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/.*$|
  ^.*?/airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^airbyte-ci/connectors/metadata_service/lib/tests/fixtures/.*/invalid/.*$|
  ^.*?/airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^airbyte-ci/connectors/pipelines/tests/test_format/non_formatted_code/.*$|
  ^.*?/airbyte-integrations/connectors/destination-.*/expected-spec\.json$
)

